ul
{
	list-style: none;
	padding: 0px
}
.carousel-inner
{
	position: relative;
	overflow: hidden;
}
.carousel-inner > .item
{
	position: relative;
	display: none;
	-webkit-transition: 0.6s ease-in-out left;
	-o-transition: 0.6s ease-in-out left;
	transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img { line-height: 1; }

@media all and (transform-3d), (-webkit-transform-3d) {
.carousel-inner > .item
{
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
	-o-transition: -o-transform 0.6s ease-in-out;
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
.carousel-inner > .item.next, .carousel-inner > .item.active.right
{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	left: 0;
	background-color: #fff;
}
.carousel-inner > .item.prev, .carousel-inner > .item.active.left
{
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	left: 0;
}
.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active
{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	left: 0;
}
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev
{
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }
.tab-pane { display: none; }
.tab-pane.active { display: block; }
.arows, .hidethisarrow { display: none; }
#myTab li a { color: #6a6a6a; }
#myTab li:hover a, #myTab li a.active { color: #ffffff; }
.agenda
{
	margin-right: 10%;
	margin-top: 68px
}

@media screen and (max-width: 1024px) {
.agenda
{
	margin-right: 0%;
	text-align: center
}
}
.agenda h1
{
	font-size: 75px;
	line-height: 62px;
	color: #FBB615;
	letter-spacing: -1.73077px;
	margin-bottom: 23px;
	font-weight: 600;
	font-family: 'DIN-Condensed-Bold';
}

@media screen and (max-width: 1024px) {
/*.agenda h1 {*/
    /*	font-size: 45px*/
    /*}*/
.agenda { text-align: left; }
}
.agenda h2
{
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.461538px;
	color: #4D4D4D;
	margin-bottom: 83px;
	font-weight: 400
}

@media screen and (max-width: 1024px) {
.agenda h2 { font-size: 16px }
}
.boxs
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 68px;
	margin-bottom: 10px
}

@media screen and (max-width: 1024px) {
.boxs { margin-top: 0px }
}
.boxs .box
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 53px;
	width: 50%;
	padding-right: 10%;
	box-sizing: border-box
}

@media screen and (max-width: 1024px) {
.boxs .box { padding-right: 10% }
}

@media screen and (max-width: 1024px) {
.boxs .box { width: 100% }
}
.boxs .box_round
{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	position: relative
}
.boxs .box_round.yellow
{
	background: #FBB615;
	color: #FBB615
}
.boxs .box_round.blue
{
	background: #43BFC5;
	color: #43BFC5
}
.boxs .box_round.pink
{
	background: #f04b53;
	color: #f04b53;
}
.boxs .box_round.green
{
	background: #A3BC3A;
	color: #A3BC3A
}
.boxs .box_round:before
{
	content: " ";
	position: absolute;
	z-index: -1;
	top: -7px;
	left: -7px;
	right: 0px;
	bottom: 0px;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	border: 2px solid
}
.boxs .box_content
{
	width: calc(100% - 72px);
	color: #4D4D4D
}
.boxs .box_content h2
{
	font-size: 14px;
	line-height: 16px;
	color: #4D4D4D;
	margin-bottom: 5px
}
.boxs .box_content p
{
	font-size: 14px;
	line-height: 19px;
	color: #4D4D4D
}
.box_content p
{
	font-size: 14px;
	line-height: 19px;
	color: #4D4D4D
}
.page_content p
{
	font-size: 14px;
	line-height: 19px;
	color: #4D4D4D;
	padding: 0 0 20px 0
}
.button_group
{
	display: flex;
	align-items: center;
	padding: 0px 0px 0px 180px;
	margin-top: 40px;
	position: relative;
	margin-right: 0;
	margin-left: 0;
	justify-content: start;
}
.nav-item.active { color: #fff; }

@media screen and (max-width: 1024px) {
.button_group
{
	padding: 0px 0px;
	margin-top: 32px
}
}

@media screen and (max-width: 767px) {
.button_group
{
	flex-direction: row;
	max-width: 600px;
	overflow: scroll;
	scroll-behavior: smooth;
}
.mobile_view
{
	width: 100%;
	overflow: scroll;
}
.mobile_ui_tabs
{
	width: 100%;
	overflow: scroll;
	scroll-behavior: smooth;
}
.table_bar .teb li { display: inherit; }
a.previous
{
	text-decoration: none;
	padding: 1px 7px 7px 5px;
	font-size: 36px;
	margin: 31px 0px 20px 0;
	position: absolute;
	z-index: 99;
	left: 0;
	line-height: 1.2;
}
a.previous2
{
	text-decoration: none;
	padding: 1px 7px 5px 5px;
	font-size: 36px;
	margin: 1px 0px 20px 0;
	position: absolute;
	z-index: 99;
	left: 0;
	line-height: 1.2;
}
a.next
{
	text-decoration: none;
	display: none;
	padding: 1px 7px 7px 5px;
	font-size: 36px;
	margin: 32px 0px 20px 0;
	position: absolute;
	right: 0;
	z-index: 999;
	line-height: 1.2;
}
a.next2
{
	text-decoration: none;
	display: none;
	padding: 1px 7px 6.5px 5px;
	font-size: 36px;
	margin: 0px 0px 20px 0;
	position: absolute;
	right: 0;
	z-index: 999;
	line-height: 1.2;
}
a.previous:hover, a.previous2:hover, a.next:hover, a.next2:hover
{
	background-color: #7b7070;
	color: #fff;
}
.previous, .previous2
{
	background-color: #4d4d4d;
	color: #fff;
}
.next, .next2
{
	background-color: #4d4d4d;
	color: #fff;
}
}
.table_bar
{
	margin-top: 30px;
	position: relative
}

@media screen and (max-width: 1024px) {
.table_bar { overflow: auto }
}

@media screen and (max-width: 767px) {
.table_bar { margin-top: 20px }
}
.table_bar .teb
{
	display: flex;
	background: #dadada;
	padding-left: 175px
}

@media screen and (max-width: 1024px) {
.table_bar .teb
{
	padding-left: 150px;
	width: 870px
}
}

@media screen and (max-width: 767px) {
.table_bar .teb { padding-left: 0; }
}
.table_bar .teb li
{
	width: calc(100% / 5);
	text-align: center;
	background: #DADADA;
	border: 0 solid #DADADA;
	display: flex;
	height: 49px;
	justify-content: center;
	cursor: pointer
}
.table_bar .teb li a
{
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.table_bar .teb li a.active
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 1px solid #DADADA;
	border-radius: 0;
	color: #fff;
}
.table_bar .teb li a:hover
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 1px solid #1A2852;
	border-radius: 0;
	color: #fff;
}
.table_bar .teb li a.focus
{
	background: #1A2852;
	border: 1px solid #1A2852
}
.table_bar .row { display: flex }

@media screen and (max-width: 1024px) {
.table_bar .row { width: 1020px }
}

@media screen and (max-width: 767px) {
.table_bar .row
{
	flex-direction: column;
	width: auto;
}
}
.table_bar .row > .call:not(:last-child)
{
	width: 175px;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 30px;
	box-sizing: border-box
}

@media screen and (max-width: 1024px) {
.table_bar .row > .call:not(:last-child) { width: 150px }
}

@media screen and (max-width: 767px) {
.table_bar .row > .call:not(:last-child)
{
	width: 100%;
	justify-content: flex-start
}
}
.table_bar .row > .call:not(:last-child) .time
{
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.323077px;
	margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
.table_bar .row > .call:not(:last-child) .time { font-size: 14px }
}

@media screen and (max-width: 767px) {
.table_bar .row > .call:not(:last-child) .time
{
	padding: 10px 10px;
	margin-bottom: 0;
}
}
.table_bar .row > .call
{
	width: calc(100% - 175px);
	padding: 15px 15px;
	position: relative;
	box-sizing: border-box
}

@media screen and (max-width: 1024px) {
.table_bar .row > .call { width: 870px }
}

@media screen and (max-width: 767px) {
.table_bar .row > .call
{
	width: 100%;
	padding: 0px
}
}
.table_bar .row > .call > svg
{
	width: 100%;
	background: #ECECEC
}
.table_bar .row > .call.paper h4
{
	font-size: 18px;
	line-height: 21px;
	color: #181818;
	top: 40%;
	left: 30px
}

@media screen and (max-width: 1024px) {
.table_bar .row > .call.paper h4 { font-size: 14px }
}
.table_bar .row > .call .call_row
{
	display: flex;
	padding-bottom: 0;
	border-bottom: 0 none #DADADA;
}

@media screen and (max-width: 767px) {
.table_bar .row > .call .call_row { flex-direction: column }
}
.table_bar .row > .call .call_row > .call.ab
{
	border-left: 20px solid;
	padding: 12px 30px 12px 20px;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.table_bar .row > .call .call_row > .call.ab.border { border-right: 1px solid #DADADA !important }

@media screen and (max-width: 1024px) {
.table_bar .row > .call .call_row > .call.ab { width: 25% }
}

@media screen and (max-width: 767px) {
.table_bar .row > .call .call_row > .call.ab
{
	width: 100%;
	box-sizing: border-box;
	margin: 15px 0 15px;
}
}
.table_bar .row > .call .call_row > .call.ab h3
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.323077px;
	margin-bottom: 10px;
	font-weight: 500
}
.table_bar .row > .call .call_row > .call.paper { border-color: #ffffff; }
.table_bar .row > .call .call_row > .call.paper h3
{
	color: #4d4d4d;
	margin: 0;
}

@media screen and (max-width: 1024px) {
.table_bar .row > .call .call_row > .call.ab h3 { font-size: 16px }
}
.table_bar .row > .call .call_row > .call.ab p
{
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.323077px;
	color: #4D4D4D
}

@media screen and (max-width: 1024px) {
.table_bar .row > .call .call_row > .call.ab p { font-size: 14px }
}
.table_bar .row > .call .call_row .user_list
{
	width: calc(100% - 20%);
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
}

@media screen and (max-width: 767px) {
.table_bar .row > .call .call_row .user_list
{
	width: 100%;
	flex-direction: column;
	margin-top: 10px
}
}
.table_bar .row > .call .call_row .call.user_list h3
{
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	margin-bottom: 5px
}
.table_bar .row > .call .call_row .call.user_list p
{
	font-size: 12px;
	line-height: 14px
}
.table_bar .row > .call .call_row .user_list > span
{
	display: flex;
	align-items: center;
	margin: 0px 0px 10px;
	flex: 0 0 260px;
	width: 260px;
}

@media screen and (max-width: 767px) {
.table_bar .row > .call .call_row .user_list > span
{
	width: 100%;
	margin: 0 0 6px;
	flex: 0 0 auto;
}
}
.table_bar .row > .call .call_row .user_list > span img
{
	width: 60px;
	height: 60px;
	margin-right: 10px
}
.table_bar .row > .call .call_row .user_list > span:not(:last-child) { margin-right: 0px }
.table_bar .row > .call .call_row.green > .call.ab { border-color: #A3BC3A }
.table_bar .row > .call .call_row.green h3 { color: #A3BC3A }
.table_bar .row > .call .call_row.pink > .call.ab { border-color: #f04b53; }
.table_bar .row > .call .call_row.pink h3 { color: #f04b53; }
.table_bar .row > .call .call_row.blue > .call.ab { border-color: #0093ba; }
.table_bar .row > .call .call_row.blue h3 { color: #0093ba; }
.table_bar .row > .call .call_row.yellow > .call.ab { border-color: #FBB615 }
.table_bar .row > .call .call_row.yellow h3 { color: #FBB615 }
.btn
{
	padding: 15px 10px;
	font-size: 10px;
	background: #DADADA
}

@media screen and (max-width: 1024px) {
.btn { font-size: 12px }
}
.btn.download
{
	border-radius: 5px;
	transform: rotate(-180deg);
	background: #1A2852;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
	color: #fff
}
.btn.download:hover { background: #43BFC5; }
.btn.register
{
	border-radius: 5px;
	transform: rotate(-180deg);
	background: #43BFC5;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
	transform: rotate(-180deg);
	color: #fff
}
.btn.register:hover { background: #1A2852; }
.button_group .btn
{
	background: #DADADA;
	border-radius: 56px;
	padding: 15px 60px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	letter-spacing: -0.323077px;
	color: #000;
	width: 18%;
	font-weight: 500;
	position: relative;
	z-index: 2;
	margin-right: 10px;
	height: auto;
	text-indent: 0;
	opacity: 1;
}

@media screen and (max-width: 1024px) {
.button_group .btn
{
	font-size: 14px;
	padding: 14.5px 10px
}
}

@media screen and (max-width: 767px) {
/*.button_group .btn
{
	width: 200px;
	margin-bottom: 20px;
	margin-right: 0;
	flex: 1 0 auto;
}*/
.button_group .btn
{
	width: 150px;
	margin-bottom: 20px;
	margin-right: 0;
	flex: none;
}
}

@media screen and (max-width: 767px) {
.button_group .btn:not(:first-child):before
{
	content: "";
	background: transparent;
	position: absolute;
	top: -14px;
	left: calc(50% - 10px);
	height: 10px;
	width: 20px;
	z-index: 1;
	transform: rotate(90deg)
}
}
.button_group .btn.active
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	color: #fff;
}
.button_group .btn:focus
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	color: #fff;
	outline: none
}
.button_group .btn:hover
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	color: #fff;
	outline: none
}
.button_group .btn:focus:before { background: #1A2852 }
#carousel-agenda .tab-content>.tab-pane
{
	padding-left: 15px;
	padding-right: 15px;
}
