
@media (min-width: 1366px) {
.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1300px; }
}

@media (min-width: 1440px) {
.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1300px; }
}
.container, .container-lg, .container-md, .container-sm, .container-xl { z-index: 9; }
html, body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5
{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
a
{
	color: #0093BA;
	text-decoration: none;
}
footer
{
	background: #0093BA;
	color: #fff;
}
.bg-blue { background: #0093BA; }

@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link
{
	padding-right: .75rem;
	padding-left: .75rem;
	line-height: 40px;
}
}
.navbar-dark .navbar-nav .nav-link
{
	color: #fff;
	font-size: 14px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link { color: #0093BA; font-weight:500; }
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #0093BA;
}
.sticky-header.navbar-dark .navbar-nav .nav-link { color: #0093ba; }
.dropdown-menu
{
	min-width: 15rem;
	padding: 0;
	border-radius: 0;
}
.dropdown-item:focus, .dropdown-item:hover
{
	color: #fff;
	text-decoration: none;
	background-color: #8f1596;
	outline: 0 none;
}
.dropdown-item { padding: .5rem 1.5rem; }
.bg-primary { background-color: #554bb9; }
.section-title
{
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
.btn-show-more
{
	font-size: 15px;
	letter-spacing: 2px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 0 none;
}
.btn-submit, .btn-purple
{
	font-size: 16px;
	letter-spacing: 2px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 12px 25px;
	text-transform: uppercase;
	border: 0 none;
}
button.close
{
	z-index: 99999;
	position: relative;
}
[data-toggle="modal"] { cursor: pointer; }
.bg-dark { background-color: #262627!important; }
.page-header { background-color: #262627; }
.parallax
{
	position: relative;
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.has-overlay:after
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
}
.form-control:focus
{
	box-shadow: none;
	border-color: #111;
}
.btn.focus, .btn:focus
{
	outline: 0;
	box-shadow: none;
}
.btn-primary.js-btn-next, .btn-primary.js-btn-prev
{
	font-size: 16px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 4px;
	padding: 8px 20px 8px 20px;
	text-transform: uppercase;
}
.btn-success
{
	font-size: 16px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 8px 20px 8px 20px;
	text-transform: uppercase;
	border: 0 none;
}
.btn-view
{
	font-size: 14px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	text-transform: uppercase;
	border: 0 none;
	padding: 6px 20px;
}

.purple-bg
{
	background: #630868;
	background: -moz-linear-gradient(left, #630868 0%, #8f1596 54%, #8f1596 100%);
	background: -webkit-linear-gradient(left, #630868 0%, #8f1596 54%, #8f1596 100%);
	background: linear-gradient(to right, #630868 0%, #8f1596 54%, #8f1596 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
}
header
{
	position: absolute;
	z-index: 999;
	width: 100%;
	direction: initial;
	top: 0;
	height: 0;
	-webkit-transition: background .5s, height .2s;
	-moz-transition: background .5s, height .2s;
	transition: background .5s, height .2s;
}
header .sticky-header
{
	background-color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
	position: fixed;
	-webkit-animation: slide-down 0.5s;
	-moz-animation: slide-down 0.5s;
	animation: slide-down 0.5s;
	width: 100%;
}
.bg-purple
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
}
.modal-header { }
.mobile-menu-close
{
	padding: 20px 15px 8px 15px;
	text-align: right;
	cursor: pointer;
}
.mobile-menu-close .ti-close
{
	font-size: 20px;
	color: #6a7c92;
	line-height: 1;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
#registration-form label
{
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 14px;
}
#registration-form .form-group { margin-bottom: 8px; }
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus { box-shadow: none; }
.custom-select:focus
{
	border-color: #000;
	outline: 0;
	box-shadow: none;
}
#loginModal .close, #registrationModal .close, .close
{
	color: #fff;
	text-shadow: none;
	opacity: 1;
}
.modal-content
{
	border: 0 none;
	border-radius: 0;
	outline: 0;
}
.modal-header
{
	background: #630868;
	color: #fff;
	border-radius: 0;
	font-size: 18px;
}
#registrationModal .modal-content { background: #fff; }
.modal { z-index: 999999; }
.modal-backdrop { z-index: 99999; }
.profile-img
{
	overflow: hidden;
	width: 100%;
	height: 150px;
	margin-right: 0;
	vertical-align: middle;
	border: solid 1px #ccc;
	outline: 0 none;
	box-shadow: none;
	border-radius: 0;
	MARGIN: 0 auto;
}
.profile-img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.file
{
	visibility: hidden;
	position: absolute;
}
.file-upload
{
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
}
.custom-file-upload .btn
{
	margin-top: 21px;
	height: 80px;
}
button.browse.btn.btn-primary
{
	position: absolute;
	right: 0px;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	top: 115px;
}
button.browse1.btn.btn-primary
{
	position: absolute;
	right: 0px;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	top: 115px;
}
.custom-file-upload .file
{
	visibility: hidden;
	position: absolute;
	padding: 0;
	height: 0;
}
.custom-file-upload .input-group { height: 0; }
.custom-file-upload .file-upload
{
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
}
#payment-info .card:hover
{
	background: #1b364f;
	color: #fff;
}
.select2-container { width: 100%!important; }
.select2-container--default .select2-selection--multiple
{
	border: 1px solid #ccc;
	border-radius: 0;
}
.select2-container--default .select2-selection--single
{
	border: 1px solid #ccc;
	border-radius: 0;
	height: 32px;
	text-align: left;
}
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 36px; }
.select2-container--default .select2-selection--single .select2-selection__arrow
{
	height: 32px;
	top: 0;
	right: 1px;
	width: 28px;
	border-left: none 0 #ccc;
}
.select2-search--dropdown .select2-search__field:focus, span.select2-selection.select2-selection--single:focus
{
	outline: 0 none;
	border-radius: 0;
	border: 1px solid #ccc;
}
/** Custom field plugin **/
/* SELECT */
.selectCF
{
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	z-index: 999;
	border: 1px solid #ccc;
}
.selectCF li
{
	list-style: none;
	cursor: pointer;
	perspective: 900px;
	-webkit-perspective: 900px;
	text-align: left;
}
.selectCF > li
{
	position: relative;
	font-size: 0;
}
.selectCF span
{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	z-index: 1;
}
.selectCF .arrowCF
{
	transition: .3s;
	-webkit-transition: .3s;
	width: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	border-top: 6px solid gray;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: absolute;
	top: 14px;
	right: 10px;
}
.selectCF .titleCF
{
	padding: 0 10px 0 10px;
	/*border-right: dotted 1px rgba(0,0,0,.5);*/
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.selectCF .searchCF
{
	padding: 0 10px;
	/*border-right: dotted 1px rgba(0,0,0,.5);*/
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	display: none;
}
.selectCF li ul li:first-child:hover { background: transparent; }
.list-country span.searchCF
{
	left: 0;
	right: 0;
	display: block;
}
.select2-results__option { text-align: left; }
/*@keyframes searchActive {
	from{ transform: rotateY(180deg) }
	to{ transform: rotateY(0deg); }
}@-moz-keyframes searchActive {
	from{ transform: rotateY(180deg) }
	to{ transform: rotateY(0deg); }
}
@-webkit-keyframes searchActive {
	from{ -webkit-transform: rotateY(180deg) }
	to{ -webkit-transform: rotateY(0deg); }
}*/
.searchActive .searchCF
{
	z-index: 1;
	animation: searchActive 0.3s alternate 1;
	-moz-animation: searchActive 0.3s alternate 1;
	-webkit-animation: searchActive 0.3s alternate 1;
}
.searchActive .titleCF { opacity: 0; }
.selectCF .searchCF input
{
	font-family: 'Neucha', cursive;
	line-height: 45px;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	font-size: 17px;
}
.selectCF .searchCF input:active, .selectCF .searchCF input:focus
{
	box-shadow: none;
	border: none;
	outline: none;
}
.selectCF li ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	padding: 0 !important;
	width: 100.35%;
	background: #FFF;
	max-height: 255px;
	overflow-y: auto;
	transition: .2s;
	-webkit-transition: .2s;
	z-index: 2;
	background: rgba(255,255,255,1);
}
.selectCF li ul li
{
	padding: 9px 0 9px 20px;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-size: 14px;
	transition: .2s;
	-webkit-transition: .2s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.selectCF li ul li:nth-child(even) { background: #f3f3f3; }
.selectCF li ul li:hover
{
	background: #630868;
	color: #FFF;
}
/*.selectCF .selected{
	background: #666;
	color:#FFF;
}*/
/*.selectCF li ul li:last-child{
	border-bottom: none;
}*/
/*.onCF .arrowCF{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
@-moz-keyframes effect1 {
	from{ transform: translateY(15px); opacity:0; }
	to{ transform: translateY(0px); opacity:1; }
}
@-webkit-keyframes effect1 {
	from{ -webkit-transform: translateY(15px); opacity:0; }
	to{ -webkit-transform: translateY(0px); opacity:1; }
}*/
.onCF li ul
{
	display: block;
	-moz-animation: effect1 0.3s alternate 1;
	-webkit-animation: effect1 0.3s alternate 1;
}
.btn-blue
{
	font-size: 16px;
	letter-spacing: 2px;
	fill: #FFFFFF;
	color: #FFFFFF;
	border-radius: 4px;
	padding: 12px 25px;
	text-transform: uppercase;
	border: 0 none;
	background-color: #0093BA;
}
button:focus
{
	outline: 0px dotted;
	outline: 0 auto -webkit-focus-ring-color;
	border: 0 none;
	box-shadow: none;
}
.stepwizard-step p { margin-top: 10px; }
.stepwizard-row { display: table-row; }
.stepwizard
{
	display: table;
	width: 100%;
	position: relative;
}
.stepwizard-step button[disabled]
{
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-row:before
{
	top: 11px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 2px;
	background-color: #ccc;
	z-order: 0;
}
.stepwizard-step
{
	display: table-cell;
	text-align: center;
	position: relative;
}
.btn-circle
{
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	border: 0 none;
	border: solid 2px #989ea4;
	background: #fff;
	color: #fff;
	overflow: hidden;
	text-indent: -99999px;
}
.btn-circle.btn-primary
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: solid 2px #630868;
	color: #fff;
}
.form-control
{
	height: calc(1.5em + .75rem);
	border: 1px solid #ced4da;
	border-radius: 0;
}
.has-error .form-control
{
	border-color: #dc3545;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.has-error label { color: #dc3545; }
.form-group.has-error .select2-container--default .select2-selection--single { border: solid 1px #dc3545; }
#registrationModal .modal-body { height: 550px; }
#select-user-type .select2-search--dropdown { display: none; }
.form-group.has-error .invalid-feedback { display: block; }
.page-item.active .page-link
{
	background-color: #0093BA;
	border-color: #0093BA;
}
.page-link:focus { box-shadow: none; }
.page-link
{
	color: #0093BA;
	border: 1px solid #dee2e6;
}
/*@media (min-width: 992px) {
.modal-lg, .modal-xl { max-width: 900px; }
}*/
.button-row
{
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
}
.button-row.row-submit { left: 0; }
.dropdown-menu i {
    color: #0093BA;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 300;
}
.dropdown-menu a:hover i, .dropdown-menu a:focus i {
    color: #fff;
}
@media only screen and (max-device-width: 1024px) {
.parallax { background-attachment: scroll; }
}

@media (max-width: 767px) {
#registrationModal .modal-body { height: 860px; }
.button-row, .button-row.row-submit
{
	position: relative;
	left: 15px;
	right: auto;
	bottom: auto;
	width: 93%;
}
header { background: #630868; }
.navbar-dark .navbar-toggler
{
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,1);
	border-width: 0;
}
.navbar-dark .navbar-toggler-icon { background-image: url(../images/menu.svg); }
.navbar-dark.sticky-header .navbar-toggler-icon { background-image: url(../images/menu2.svg); }
.navbar-dark.sticky-header .navbar-toggler
{
	color: rgba(0,0,0,1);
	border-color: rgba(0,0,0,.7);
}
.navbar-collapse
{
	padding: 55px 15px 15px;
	margin-top: -51px;
	z-index: -1;
	background: #0093BA;
	margin-left: -15px;
	margin-right: -15px;
}
.sticky-header.navbar-dark .navbar-nav .nav-link { color: #fff; }
.modal-footer { justify-content: center; }
.navbar-nav .nav-link
{
	color: #fff;
	padding: 10px 22px 10px 15px;
	border-bottom: 1px rgba(106, 124, 146, 0.10) solid;
}
.multisteps-form { height: auto; }
.multisteps-form__form { height: autox!important; }
.profile-img
{
	width: 140px;
	height: 150px;
	vertical-align: middle;
	border-radius: 0;
	margin: 0 auto;
}
button.browse.btn.btn-primary
{
	right: 25%;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	top: 110px;
}
button.browse1.btn.btn-primary
{
	right: 25%;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	top: 110px;
}
#speakerModal.modal
{
	overflow-x: hidden;
	overflow-y: auto;
}
}
@-webkit-keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}
 @-moz-keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}
 @keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}

/*Copied from bootstrap to handle input file multiple*/
.btn.fileinput-button {
    display: inline-flex;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    float: right;
}
/*Also */
.btn-success.fileinput-button {
  border: 1px solid #c5dbec;
  background: #d0e5f5;
  font-weight: bold;
  color: #2e6e9e;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.file-upload-custom .thumb {
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    object-fit: cover;
}

.file-upload-custom ul.thumb-Images li {
  width: 120px;
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 120px;
}

.file-upload-custom .img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 100px;
    height: 100px;
}


.file-upload-custom .img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: #d0e5f5;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bolder;
  cursor: pointer;
  opacity: 0.5;
  font-size: 23px;
  line-height: 10px;
  border-radius: 50%;
}

.file-upload-custom .img-wrap:hover .close {
  opacity: 1;
  background-color: #ff0000;
}

.file-upload-custom .FileNameCaptionStyle {
  font-size: 12px; display:none;
}
.bg-grey{background-color:rgba(227,227,227,1.00);}


/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {  
}
