/* 
Colors
#20C1C7
#204648
#189094
#61CED2
#0C4648
*/
.crop-img-wrap button, .crop-img-wrap a.btn
{
	background-color: #189094;
	color: white;
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	cursor: pointer;
}
.crop-img-wrap input[type="file"] { cursor: pointer; }
.crop-img-wrap button:focus { outline: 0; }
.crop-img-wrap .file-btn { position: relative; }
.crop-img-wrap .file-btn input[type="file"]
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.crop-img-wrap .actions { padding: 5px 0; }
.crop-img-wrap .actions button { margin-right: 5px; }
.crop-img-wrap
{
	border-bottom: 1px solid #ddd;
	padding-top: 20px;
}
.crop-img-wrap .container { padding-bottom: 10px; }
.crop-img-wrap strong
{
	font-size: 16px;
	display: block;
	font-weight: 400;
	color: #aaa;
	margin: 0 0 5px 0;
}
.upload-crop-tool .upload-img-wrap, .upload-crop-tool .upload-result, .upload-crop-tool.ready .upload-msg { display: none; }
.upload-crop-tool.ready .upload-img-wrap { display: block; }
.upload-crop-tool.ready .upload-result { display: inline-block; }
.upload-img-wrap
{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.upload-msg
{
	text-align: center;
	padding: 50px;
	font-size: 22px;
	color: #aaa;
	width: 260px;
	margin: 50px auto;
	border: 1px solid #aaa;
}
/* Sweet alert modifications */
.sweet-alert
{
	width: auto;
	max-width: 100%;
}

/* Grid - subset */
