.flyout {
    left: 0;
    position: fixed;
    right: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
}

.flyout.right {
    left: auto;
    right: 0;
    transform: translateX(100%);
    max-width: 260px;
    width: 100%;
}

.flyout.show {
    transform: translateX(0%);
}

.flyout-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

.navbar-flyout {
    background-clip: padding-box;
    background-color: #1b364f;
    border-right: 0 none;
    bottom: 0;
    padding:0;
    top: 0;
}

.navbar-flyout.right {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
}
