html, body { background-color: #000; }
#event-speakers-list.container, #partenrs-content.container, #favourite-users-list.container, #my-schedule, #quickpoll-section, #survey-section
{
	max-width: 480px;
	margin-left: -240px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 70px;
	z-index: 101;
}
#edit-user-profile
{
	max-width: 800px;
	margin-left: -400px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 60px;
	z-index: 101;
}
#imatch-main.container
{
	max-width: 360px;
	margin-left: -180px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 70px;
	z-index: 101;
}
#event-agenda
{
	background-color: #fff;
	margin-top: 70px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -350px;
	z-index: 101;
	max-width: 700px;
}
/*event mentors css*/
#event-mentors .list-view .single-speakers .img-holder
{
	width: 130px;
	display: flex;
	padding: 5px;
	height: 100px;
}

@media (min-width: 1440px) {
#event-mentors .list-view .single-speakers .img-holder { width: 130px; }
}
#event-mentors .single-speakers
{
	margin-bottom: 0px;
	color: #929FA8;
}
#event-mentors .single-speakers .info { padding: 10px; }
#event-mentors .single-speakers .info h3
{
	font-size: 16px;
	font-weight: 500;
	color: #374045;
	margin-bottom: 5px;
}
#event-mentors .single-speakers .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
	font-size: 12px;
}
#event-mentors .single-speakers .info p
{
	color: #929FA8;
	margin-bottom: 0;
	font-size: 14px;
}
#event-mentors .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 95%;
	height: 233px;
	margin-top: 8px;
}
#event-mentors .single-speakers
{
	margin-top: 30px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #dee2e6;
	font-size: 14px;
}
#event-registration h2 { font-size: 40px; }
.modal-content { border: 0 none; }
#event-mentors .list-view .single-speakers
{
	margin-top: 6px;
	padding: 0;
	margin-bottom: 0px;
}
#event-mentors .list-view .single-speakers .info
{
	text-align: left;
	font-size: 12px;
}
#event-mentors .list-view .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-radius: 0;
	width: 100%;
	margin: 0;
}
#event-mentors .list-view .single-speakers
{
	display: flex;
	border: 1px solid #dee2e6;
	/*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);*/
	background-color: #fff;
}
#event-mentors .list-view .single-speakers .info
{
	width: 100%;
	padding: 10px;
}

@media only screen and (max-width: 767px) {
.btn-list-view.active, .btn-grid-view.active, .btn-list-view:focus, .btn-grid-view:focus
{
	background-color: #dae0e5;
	box-shadow: none;
	outline: 0 none;
}
#event-mentors .single-speakers .img-holder .img-container { margin-top: 0; }
.modal-dialog, .modal-content
{
	height: 100%;
	margin: 0;
}
.close { color: #000; }
.profile-img-holder { height: 280px; }
.profile-img-holder img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
h2.modal-name { font-size: 22px; }
h2.modal-name+p { font-size: 18px; }
a.close-panel
{
	right: 15px;
	top: 10px;
	z-index: 9;
}
#event-speakers-list, #favourite-users-list
{
	margin-top: 0;
	position: absolute;
	top: 0;
	z-index: 999;
	margin-left: 0;
	overflow: auto;
	height: 100%;
}
}
/*ends here*/





/*event attende css*/
#event-attende .list-view .single-speakers .img-holder, .list-view-users .single-speakers .img-holder
{
	width: 130px;
	display: flex;
	padding: 5px;
	height: 100px;
}

@media (min-width: 1440px) {
#event-attende .list-view .single-speakers .img-holder, .list-view-users .single-speakers .img-holder { width: 130px; }
}
#event-attende .single-speakers, .list-view-users .single-speakers
{
	margin-bottom: 0px;
	color: #929FA8;
}
#event-attende .single-speakers .info, .list-view-users .single-speakers .info { padding: 10px; }
#event-attende .single-speakers .info h3, .list-view-users .single-speakers .info h3
{
	font-size: 16px;
	font-weight: 500;
	color: #374045;
	margin-bottom: 5px;
}
#event-attende .single-speakers .info span.position, .list-view-users .single-speakers .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
	font-size: 12px;
}
#event-attende .single-speakers .info p, .list-view-users .single-speakers .info p
{
	color: #929FA8;
	margin-bottom: 0;
	font-size: 14px;
}
#event-attende .single-speakers .img-holder .img-container, .list-view-users .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 95%;
	height: 233px;
	margin-top: 8px;
}
#event-attende .single-speakers, .list-view-users .single-speakers
{
	margin-top: 30px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #dee2e6;
	font-size: 14px;
}
#event-registration h2 { font-size: 40px; }
.modal-content { border: 0 none; }
#event-attende .list-view .single-speakers, .list-view-users .single-speakers
{
	margin-top: 6px;
	padding: 0;
	margin-bottom: 0px;
}
#event-attende .list-view .single-speakers .info, .list-view-users .single-speakers .info
{
	text-align: left;
	font-size: 12px;
}
#event-attende .list-view .single-speakers .img-holder .img-container, .list-view-users .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-radius: 0;
	width: 100%;
	margin: 0;
}
#event-attende .list-view .single-speakers, .list-view-users .single-speakers
{
	display: flex;
	border: 1px solid #dee2e6;
	/*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);*/
	background-color: #fff;
}
#event-attende .list-view .single-speakers .info, .list-view-users .single-speakers .info
{
	width: 100%;
	padding: 10px;
}

@media only screen and (max-width: 767px) {
.btn-list-view.active, .btn-grid-view.active, .btn-list-view:focus, .btn-grid-view:focus
{
	background-color: #dae0e5;
	box-shadow: none;
	outline: 0 none;
}
#event-attende .single-speakers .img-holder .img-container, .list-view-users .single-speakers .img-holder .img-container { margin-top: 0; }
.modal-dialog, .modal-content
{
	height: 100%;
	margin: 0;
}
.close { color: #000; }
.profile-img-holder { height: 280px; }
.profile-img-holder img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
h2.modal-name { font-size: 22px; }
h2.modal-name+p { font-size: 18px; }
a.close-panel
{
	right: 7px;
	top: 15px;
	z-index: 9;
}
#partenrs-content a.close-panel
{
	top: 13px;
	right: 10px;
}
#event-agenda a.close-panel
{
	right: 15px;
	top: 18px;
	z-index: 9;
}
}
/*ends here*/

/*my event css start*/
#mymeeting .list-view .single-speakers .img-holder
{
	width: 130px;
	display: flex;
	padding: 5px;
	height: 100px;
}

@media (min-width: 1440px) {
#mymeeting .list-view .single-speakers .img-holder { width: 130px; }
}
#mymeeting .single-speakers
{
	margin-bottom: 0px;
	color: #929FA8;
}
#mymeeting .single-speakers .info { padding: 10px; }
#mymeeting .single-speakers .info h3
{
	font-size: 16px;
	font-weight: 500;
	color: #374045;
	margin-bottom: 5px;
}
#mymeeting .single-speakers .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
	font-size: 12px;
}
#mymeeting .single-speakers .info p
{
	color: #929FA8;
	margin-bottom: 0;
	font-size: 14px;
}
#mymeeting .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 95%;
	height: 233px;
	margin-top: 8px;
}
#mymeeting .single-speakers
{
	margin-top: 30px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #dee2e6;
	font-size: 14px;
}
#event-registration h2 { font-size: 40px; }
.modal-content { border: 0 none; }
#mymeeting .list-view .single-speakers
{
	margin-top: 6px;
	padding: 0;
	margin-bottom: 0px;
}
#mymeeting .list-view .single-speakers .info
{
	text-align: left;
	font-size: 12px;
}
#mymeeting .list-view .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-radius: 0;
	width: 100%;
	margin: 0;
}
#mymeeting .list-view .single-speakers
{
	display: flex;
	border: 1px solid #dee2e6;
	/*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);*/
	background-color: #fff;
}
#mymeeting .list-view .single-speakers .info
{
	width: 100%;
	padding: 10px;
}

@media only screen and (max-width: 767px) {
.btn-list-view.active, .btn-grid-view.active, .btn-list-view:focus, .btn-grid-view:focus
{
	background-color: #dae0e5;
	box-shadow: none;
	outline: 0 none;
}
#mymeeting .single-speakers .img-holder .img-container { margin-top: 0; }
.modal-dialog, .modal-content
{
	height: 100%;
	margin: 0;
}
.close { color: #000; }
.profile-img-holder { height: 280px; }
.profile-img-holder img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
h2.modal-name { font-size: 22px; }
h2.modal-name+p { font-size: 18px; }
a.close-panel
{
	right: 15px;
	top: 10px;
	z-index: 9;
}
#event-speakers-list, #favourite-users-list
{
	margin-top: 0;
	position: absolute;
	top: 0;
	z-index: 999;
	margin-left: 0;
	overflow: auto;
	height: 100%;
}
}
/*my meeting css ends here*/

#event-speakers .list-view .single-speakers .img-holder, #favourite-users-list.list-view .single-speakers .img-holder
{
	width: 130px;
	display: flex;
	padding: 5px;
	height: 100px;
}
#speakerModalNew .modal-dialog, #speakerModal .modal-dialog { max-width: 360px; }
#speakerModalNew .modal-dialog-scrollable .modal-body { height: 400px; }
#partnersdetailModal .modal-dialog { max-width: 480px; }
.imatch-title h3 { font-size: 20px; }

@media (min-width: 576px) {
}

@media (min-width: 1366px) {
.container { max-width: 900px; }
}

@media (min-width: 1440px) {
#event-speakers .list-view .single-speakers .img-holder, #favourite-users-list.list-view .single-speakers .img-holder { width: 130px; }
}
.navbar.navbar-dark
{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 );
}
header .navbar.navbar-dark.sticky-header
{
	background-color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
	background-image: none;
}
video
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	transition: all .5s linear;
}
.hidden
{
	position: absolute;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}
#btnShowFS
{
	position: absolute;
	width: 100%;
	max-width: 640px;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -170px;
	z-index: 999999;
}
#btnCloseFS
{
	position: absolute;
	right: 10px;
	bottom: 20px;
	z-index: 999999;
}
#speakerModal button.close
{
	z-index: 99999;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 1;
}
/*Experience Zone Styles START*/
/*#experience-zone { margin-top: 70px; }*/

#experience-zone .mainbooth-container.card
{
	border: 1px solid #d8dee6;
	background: #fbfbfc;
}
#experience-zone .mTS_horizontal .mTSThumbContainer, #experience-zone .mTS_horizontal ul.mTSContainer > li
{
	float: left;
	margin-top: 265px;
	padding: 0 15px;
}
.widget
{
	border: 1px solid #e0e1e3;
	margin-bottom: 15px;
}
.widget-title h3
{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	background: #000;
	padding: 7px 10px;
	margin: 0;
}
.widget-content
{
	width: 100%;
	margin: 0;
	padding: 0px 0px 0px 0px;
	overflow: auto;
	height: 250px;
}
.widget .list-group-item { padding: .35rem .5rem; }
.widget-content ol { padding: 15px 30px; }
.widget-content ol li
{
	text-align: left;
	border-bottom: none;
	padding-left: 0;
	padding-bottom: 10px;
	line-height: 22px;
}
.btn:focus { box-shadow: none; }
#experience-zone .booth-main-menu a { color: #000; }
/*.nav-tabs .nav-link
{
	padding: 20px;
	border: 0 none;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}*/
/*.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus
{
	color: #fff;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 0;
}*/
/*#myTab > ul > li { border-right: 1px solid #AE4600; }
.nav-tabs .nav-link
{
	border: 0px solid transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.nav-tabs { border-bottom: 0px solid #dee2e6; }
.nav-tabs .nav-item { margin-bottom: 0; }
.tab-content>.tab-pane h1
{
	font-size: 22px;
	font-weight: nomral;
	text-align: left;
	line-height: 21px;
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 5px 0px;
	color: #3e3e3e;
}*/
#experience-zone .home-container p { font-size: 14px; }
/*.nav-tabs .nav-link
{
	font-size: 16px;
	font-weight: 500;
}
.tab-content>.tab-pane
{
	border-width: 0;
	padding: 10px 5px 5px 10px;
	background: none;
	height: 170px;
	overflow: auto;
}*/
#experience-zone .list-videos-docs .list-group-item { padding: .5rem; }
.progace-bar
{
	color: #9e9e9e;
	padding: 10px 10px;
	margin: 0px auto 0px auto;
	text-decoration: none;
	position: absolute;
	z-index: 2006 !important;
	background: #ffffff;
	border: 1px solid #ffffff;
	width: 100%;
	height: 520px;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}
.progace-bar .left
{
	width: 300px;
	height: 40px;
	margin: 190px auto 0 auto;
	padding: 0px 0px 0px 0px;
}
.progace-bar .right
{
	width: 900px;
	height: 40px;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	text-align: center;
}
/*Experience Zone Styles END*/
.presenter img
{
	width: 60px;
	height: 60px;
	object-fit: cover;
	object-position: top;
	margin-bottom: 5px;
}
#auditorium-section
{
	display: block;
	background: url(/eventTap/images/auditorium.png) no-repeat top center / cover;
}
#speakerModal .modal-content
{
	background-color: #fff;
	border: 0 none;
}
#auditorium-webinar-list h4
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
}
.presenter { font-size: 13px; }
#auditorium-main-content
{
	background-color: rgba(255, 255, 255, .95);
	z-index: 99;
	top: 70px;
}
#auditorium-webinar-list, .list-event-items, #resultDataAgenda, #event-partners-list, #partenrs-data, #imatch-wrapper .card-main-content
{
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
}
#imatch-wrapper { padding: 0; }
#imatch-wrapper .card-main-content { }
a.close-panel
{
	background-color: transparent;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 14px;
	top: 10px;
	z-index: 9;
	border: none 0 #ccc;
}
#show-booth-video a.close-panel, .show-booth-video a.close-panel
{
	position: absolute;
	top: 50%;
	right: 44px;
	border-radius: 5px;
	background-color: #f00;
	border: solid 1px #f00;
}
#imatch-wrapper a.close-panel
{
	background: transparent;
	left: 5px;
	top: 5px;
	border: solid 0px #ccc;
}
#auditorium-section a.close-panel
{
	top: 21px;
	height: 38px;
	right: 7px;
}
#partenrs-content a.close-panel
{
	top: 5px;
	right: 10px;
}
#request-meeting a.close-panel { top: 5px; }
#request-meeting
{
	width: 360px;
	position: absolute;
	z-index: 22;
	background: #fff;
	left: 0;
	overflow: hidden;
	height: 100%;
	padding: 0 15px;
}
#ScheduleMeetingModal #request-meeting
{
	position: relative;
	z-index: 22;
	background: #fff;
	left: auto;
	overflow: hidden;
	height: auto;
	padding: 0;
	width: auto;
}
.btn-group-toggle.btn-select
{
	position: absolute;
	right: 20px;
	top: 40px;
}
.btn-group-toggle.btn-select .btn-outline-secondary.active, .btn-group-toggle.btn-select .btn-outline-secondary:hover
{
	background-color: #0093BA;
	border-color: #0093BA;
	color: #0093BA;
}
.btn-group-toggle.btn-select .btn-outline-secondary.active:before, .btn-group-toggle.btn-select .btn-outline-secondary:hover::before
{
	content: "\2713";
	color: #fff;
	font-weight: bolder;
	text-align: center;
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	line-height: 2.5;
}
#VideoVaultModal .btn-success, #DocModal .btn-success
{
	font-size: 12px;
	letter-spacing: 1px;
	border-radius: 4px;
	padding: 8px 10px 8px 10px;
}
#VideoVaultModal .table td, #DocModal .table td { vertical-align: middle; }
#VideoVaultModal .table-striped tbody tr:nth-of-type(odd), #DocModal .table-striped tbody tr:nth-of-type(odd) { background-color: rgba(0,0,0,.02); }
#VideoVaultModal .table-sm td, #DocModal .table-sm td { padding: .3rem 15px; }

@media (min-width: 576px) {
#ScheduleMeetingModal .modal-sm, #QuickPollModal .modal-sm, #NetworkScheduleMeetingModal .modal-sm, #SurveyModal .modal-sm, #SocialWallModal .modal-sm
{
	max-width: 480px;
	margin-top: 70px;
}
#VideoVaultModal .modal-lg, #DocModal .modal-lg { margin-top: 70px; }
}
.add-to-fav
{
	position: absolute;
	right: 45px;
	top: 10px;
	font-size: 14px;
	z-index: 199;
	width: 20px;
	height: 20px;
	text-align: center;
}
.btn-sch-meeting
{
	position: absolute;
	right: 25px;
	top: 15px;
	font-size: 14px;
	z-index: 199;
	width: 100px;
	height: auto;
	text-align: center;
}
.add-to-fav .heart.fa.fa-heart-o { color: #8e8e8e; }
.add-to-fav .heart.fa.fa-heart { color: #0056b3; }

@media (min-width: 1200px) {
#speakerModal .modal-xl, #videoModal .modal-xl { max-width: 1140px; }
}

@media (max-width: 767px) {
#btnShowFS
{
	width: 90%;
	margin-left: -186px;
	margin-top: -170px;
}
.modal-dialog { margin: 0 auto; }
}
#event-speakers .single-speakers, #favourite-users-list .single-speakers
{
	margin-bottom: 0px;
	color: #929FA8;
}
#event-speakers .single-speakers .info, #favourite-users-list .single-speakers .info { padding: 10px; }
#event-speakers .single-speakers .info h3, #favourite-users-list .single-speakers .info h3
{
	font-size: 16px;
	font-weight: 500;
	color: #374045;
	margin-bottom: 5px;
}
#event-speakers .single-speakers .info span.position, #favourite-users-list .single-speakers .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
	font-size: 12px;
}
#event-speakers .single-speakers .info p, #favourite-users-list .single-speakers .info p
{
	color: #929FA8;
	margin-bottom: 0;
	font-size: 14px;
}
#event-speakers .single-speakers .img-holder .img-container, #favourite-users-list .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 95%;
	height: 233px;
	margin-top: 8px;
}
/*#event-speakers .single-speakers .img-holder img
{
	border-radius: 0;
	box-shadow: -2px 2px 0 -1px rgba(11, 186, 151, 0.7), 2px 2px 0 -1px rgba(247, 159, 255, 0.7);
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}*/
#event-speakers .single-speakers, #favourite-users-list .single-speakers
{
	margin-top: 30px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #dee2e6;
	font-size: 14px;
}
#event-registration h2 { font-size: 40px; }
.modal-content { border: 0 none; }
#event-speakers .list-view .single-speakers, #favourite-users-list.list-view .single-speakers
{
	margin-top: 6px;
	padding: 0;
	margin-bottom: 0px;
}
#event-speakers .list-view .single-speakers .info, #favourite-users-list.list-view .single-speakers .info
{
	text-align: left;
	font-size: 12px;
}
#event-speakers .list-view .single-speakers .img-holder .img-container, #favourite-users-list.list-view .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-radius: 0;
	width: 100%;
	margin: 0;
}
#event-speakers .list-view .single-speakers, #favourite-users-list.list-view .single-speakers
{
	display: flex;
	border: 1px solid #dee2e6;
	/*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);*/
	background-color: #fff;
}
#event-speakers .list-view .single-speakers .info, #favourite-users-list.list-view .single-speakers .info
{
	width: 100%;
	padding: 10px;
}

/*#event-speakers
{
	padding-top: 0;
	background: url(/eventTap/images/bg7.jpg);
	height: 100vh;
}*/


/*#agenda-container
{
	padding-top: 0;
	background: url("/eventTap/images/bg4.jpg");
	height: 100vh;
}*/

@media only screen and (max-width: 767px) {
.btn-list-view.active, .btn-grid-view.active, .btn-list-view:focus, .btn-grid-view:focus
{
	background-color: #dae0e5;
	box-shadow: none;
	outline: 0 none;
}
#event-speakers .single-speakers .img-holder .img-container, #favourite-users-list .single-speakers .img-holder .img-container { margin-top: 0; }
.modal-dialog, .modal-content
{
	height: 100%;
	margin: 0;
}
.close { color: #000; }
.profile-img-holder { height: 280px; }
.profile-img-holder img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
h2.modal-name { font-size: 22px; }
h2.modal-name+p { font-size: 18px; }
a.close-panel
{
	right: 15px;
	top: 10px;
	z-index: 9;
}
}
#filter-agenda .dropdown-toggle::after
{
	display: inline-block;
	margin-left: 0;
	vertical-align: middle;
	content: "";
	border-top: 0 none;
	border-right: 0 none transparent;
	border-bottom: 0;
	border-left: 0 none transparent;
}
#filter-agenda .btn
{
	padding: 0 6px;
	font-size: 18px;
	width: auto;
	height: auto;
	border: solid 0px #ccc;
	border-radius: 0;
	color: #8e8e8e;
}
#mobile-agenda-show .dropdown-toggle
{
	white-space: nowrap;
	text-align: start;
}
h3.modal-name.mt-3 { font-size: 21px; }
#agenda-list .card h1 { font-size: 21px; }
#agenda-list .card p
{
	font-size: 14px;
	margin-bottom: 0;
}
#agenda-list p+p { margin-bottom: 0; }
.agenda-list-items
{
	width: 100%;
	height: 100%;
}
#agendaModal.modal .list-group-item, #agendaModal.modal list-group { border-radius: 0; }
#agendaModal.list-group-item { background-color: transparent; }
#event-agenda .mTS_horizontal .mTSThumbContainer, #event-agenda .mTS_horizontal ul.mTSContainer > li
{
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#event-agenda .mTS_horizontal .mTSContainer
{
	display: flex;
	padding-bottom: 20px;
}
.button_group .btn
{
	background: #DADADA;
	border-radius: 0;
	padding: 12px 40px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	letter-spacing: -0.323077px;
	color: #000;
	font-weight: 500;
	position: relative;
	z-index: 2;
	margin-right: 2px;
	height: auto;
	text-indent: 0;
	opacity: 1;
}
#event-agenda .button_group .btn.active, #event-agenda .button_group .btn:hover
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	color: #fff;
}
#filter-agenda { margin-top: 0; }
#event-agenda .btn-next, #event-agenda .btn-prev, #imatch-main .btn-next, #imatch-main .btn-prev, #mainbooth-container .btn-next, #mainbooth-container .btn-prev
{
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 10px;
	background: rgba(204, 204, 204, 1);
	padding: 10px;
	opacity: .5;
}
#event-agenda .btn-next, #imatch-main .btn-next, #mainbooth-container .btn-next
{
	right: 10px;
	left: auto;
}
#event-agenda .btn-next:hover, #event-agenda .btn-prev:hover, #imatch-main .btn-next:hover, #imatch-main .btn-prev:hover, #mainbooth-container .btn-next:hover, #mainbooth-container .btn-prev:hover { opacity: 1; }
.agenda-list-items
{
	border: 0;
	box-sizing: border-box;
	padding: 1em 2em;
	position: relative;
	vertical-align: middle;
}
.agenda-list-items::before, .agenda-list-items::after
{
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}
#event-agenda li.mTSThumbContainer:hover { box-shadow: 0 0.5rem 1rem rgba(0,0,0,.25); }
.agenda-list-items h3 { font-size: 18px; }
.draw
{
	-webkit-transition: color 0.25s;
	transition: color 0.25s;
}
.draw::before, .draw::after
{
	border: 2px solid transparent;
	width: 0;
	height: 0;
}
.draw::before
{
	top: 0;
	left: 0;
}
.draw::after
{
	bottom: 0;
	right: 0;
}
.draw:hover { color: #630868; }
.draw:hover::before, .draw:hover::after
{
	width: 100%;
	height: 100%;
}
.draw:hover::before
{
	border-top-color: #630868;
	border-right-color: #630868;
	-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after
{
	border-bottom-color: #630868;
	border-left-color: #630868;
	-webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
	transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet:hover { color: #000; }
.meet::after
{
	top: 0;
	left: 0;
}
.meet:hover::before
{
	border-top-color: #000;
	border-right-color: #000;
}
.meet:hover::after
{
	border-bottom-color: #000;
	border-left-color: #000;
	-webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
	transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.center:hover { color: #630868; }
.center::before, .center::after
{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-transform-origin: center;
	transform-origin: center;
}
.center::before
{
	border-top: 2px solid #630868;
	border-bottom: 2px solid #630868;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}
.center::after
{
	border-left: 2px solid #630868;
	border-right: 2px solid #630868;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after
{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}
#filter-agenda .btn-icon-group
{
	position: absolute;
	top: -50px;
	right: 30px;
	border-radius: 0 !important;
	padding: 0;
	margin: 0;
	border: solid 0px #ccc !important;
	display: flex;
	font-size: 18px;
	color: #848484;
	font-weight: 300;
}
#agenda-list h5 { font-size: 16px; }
.btn-live
{
	background-color: #47cf73;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 5px 10px;
	text-align: center;
	width: 94px;
	text-decoration: none;
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
 0% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 3px #47cf73;
}
 50% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 40px #47cf73;
}
 100% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 3px #47cf73;
}
}
 @-moz-keyframes glowing {
 0% {
background-color: #47cf73;
-moz-box-shadow: 0 0 3px #47cf73;
}
 50% {
background-color: #47cf73;
-moz-box-shadow: 0 0 40px #47cf73;
}
 100% {
background-color: #47cf73;
-moz-box-shadow: 0 0 3px #47cf73;
}
}
 @-o-keyframes glowing {
 0% {
background-color: #47cf73;
box-shadow: 0 0 3px #47cf73;
}
 50% {
background-color: #47cf73;
box-shadow: 0 0 40px #47cf73;
}
 100% {
background-color: #47cf73;
box-shadow: 0 0 3px #47cf73;
}
}
 @keyframes glowing {
 0% {
background-color: #47cf73;
box-shadow: 0 0 3px #47cf73;
}
 50% {
background-color: #47cf73;
box-shadow: 0 0 40px #47cf73;
}
 100% {
background-color: #47cf73;
box-shadow: 0 0 3px #47cf73;
}
}

@media (min-width: 1366px) {
.btn-click-here
{
	background-color: #e6cb24;
	border-radius: 20px;
	border: none;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 5px 15px;
	text-align: center;
	width: auto;
	text-decoration: none;
	-webkit-animation: glowing2 1500ms infinite;
	-moz-animation: glowing2 1500ms infinite;
	-o-animation: glowing2 1500ms infinite;
	animation: glowing2 1500ms infinite;
	position: absolute;
	right: 505px;
	top: 42%;
}
}

@media (min-width: 1440px) {
.btn-click-here { right: 540px; }
}

@media (min-width: 1920px) {
.btn-click-here
{
	font-size: 14px;
	letter-spacing: 2px;
	padding: 5px 20px;
	right: 735px;
}
}
@-webkit-keyframes glowing2 {
 0% {
background-color: #e6cb24;
-webkit-box-shadow: 0 0 3px #e6cb24;
}
 50% {
background-color: #e6cb24;
-webkit-box-shadow: 0 0 40px #e6cb24;
}
 100% {
background-color: #e6cb24;
-webkit-box-shadow: 0 0 3px #e6cb24;
}
}
 @-moz-keyframes glowing2 {
 0% {
background-color: #e6cb24;
-moz-box-shadow: 0 0 3px #e6cb24;
}
 50% {
background-color: #e6cb24;
-moz-box-shadow: 0 0 40px #e6cb24;
}
 100% {
background-color: #e6cb24;
-moz-box-shadow: 0 0 3px #e6cb24;
}
}
 @-o-keyframes glowing2 {
 0% {
background-color: #e6cb24;
box-shadow: 0 0 3px #e6cb24;
}
 50% {
background-color: #e6cb24;
box-shadow: 0 0 40px #e6cb24;
}
 100% {
background-color: #e6cb24;
box-shadow: 0 0 3px #e6cb24;
}
}
 @keyframes glowing2 {
 0% {
background-color: #e6cb24;
box-shadow: 0 0 3px #e6cb24;
}
 50% {
background-color: #e6cb24;
box-shadow: 0 0 40px #e6cb24;
}
 100% {
background-color: #e6cb24;
box-shadow: 0 0 3px #e6cb24;
}
}
.filter-overlay
{
	width: 100%;
	display: flex;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	position: absolute;
	z-index: 100;
	position: fixed;
	overflow: hidden;
}
.filter-overlay-menu
{
	width: 100%;
	display: flex;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	position: absolute;
	z-index: 999;
	position: fixed;
	overflow: hidden;
}

@media only screen and (max-width: 767px) {
.filter-overlay { display: none !important; }
#filter-agenda { margin-top: 0; }
#filter-agenda .btn-group { width: 40px; }
.agenda-list-items { width: auto; }
.modal-dialog
{
	width: auto;
	margin: 0 auto;
}
#event-agenda .button_group .btn
{
	border-radius: 0;
	border-left: 0 none;
	border-right: 0 none;
}
#event-agenda .btn-next, #event-agenda .btn-prev { display: none; }
.profile-img-holder { height: 280px; }
#filter-agenda .btn
{
	width: auto;
	border-bottom: none 0 #ccc;
	border-radius: 0;
}
#form-filter, #form-search
{
	border-radius: 0;
	margin-bottom: 15px;
}
.card.card-single:hover::before
{
	content: "";
	background: rgba(0, 0, 0, .25);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
#event-agenda .card.card-single .card-body { z-index: 2; }
#event-agenda .card.card-single:hover::before
{
	content: "";
	background: rgba(0, 0, 0, .25);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
#event-agenda .card.card-single .card-body { z-index: 2; }
.btn-live { margin-top: 20px; }
}
#partners-categories .card-body a
{
	font-size: 18px;
	margin: 0;
	height: 100%;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-decoration: none;
}
#partners-categories .card .card-body
{
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0;
}
.carousel-control-prev-icon { background: url("/eventTap/images/back2.svg") no-repeat center center / cover; }
.carousel-control-next-icon { background: url("/eventTap/images/next.svg") no-repeat center center / cover; }

@media (max-width: 767px) {
#partners-categories .card .card-body { min-height: auto; }
}
.single-partners
{
	margin-bottom: 0px;
	color: #929FA8;
}
.single-partners .info { padding: 10px; }
.single-partners .info h3
{
	font-size: 18px;
	font-weight: bold;
	color: #374045;
	margin-bottom: 5px;
}
.single-partners .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
	font-size: 14px;
}
.single-partners .info p
{
	color: #929FA8;
	margin-bottom: 0;
	font-size: 14px;
}
.single-partners .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 95%;
	height: auto;
	margin-top: 8px;
	padding: 10px;
	border-bottom: 1px solid #dee2e6;
}
.single-partners .img-holder img
{
	border-radius: 0;
	box-shadow: none;
	width: 100%;
}
.single-partners
{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #dee2e6;
	font-size: 14px;
}
#event-registration h2 { font-size: 40px; }
.partners-logo { text-align: center; }
.partners-logo img
{
	max-width: 300px;
	width: 100%;
}
#show-booth-video, .show-booth-video
{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 99;
}
.icon-search
{
	position: absolute;
	left: 25px;
	top: 4px;
	font-size: 18px;
	color: #636363;
}
#search-panel input { padding-left: 40px; }
.profile-img-holder
{
	width: 100%;
	height: 340px;
	overflow: hidden;
}
.profile-img-holder img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
#speakerModalNew button.close
{
	position: absolute;
	right: 15px;
	top: 10px;
	background: #636363;
	padding: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#carousel-imatch .mTS_horizontal ul.mTSContainer > li ul > li { width: 100%; }
#carousel-imatch h5.card-title { font-size: 20px; }
#carouselImatch .card-img-overlay
{
	top: auto;
	bottom: 0;
	padding: 1rem;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 46%, rgba(0,0,0,0.45) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 46%, rgba(0,0,0,0.45) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 46%, rgba(0,0,0,0.45) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0 );
}
#carouselImatch .card h5
{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin-bottom: 0;
}
#carouselImatch .card-img-overlay h5
{
	font-size: 13px;
	margin: 0;
}
.imatch-img
{
	overflow: hidden;
	height: 340px;
}
.imatch-img > img
{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
#carouselImatch .mTS_horizontal .mTSThumbContainer, #carouselImatch .mTS_horizontal ul.mTSContainer > li
{
	max-width: 490px;
	margin: 0;
}
.bg-yellow { background-color: rgba(231,172,0,1.00); }
.carousel-control-next, .carousel-control-prev
{
	top: 45%;
	bottom: auto;
	width: 15%;
	opacity: .5;
	position: fixed;
}
.carousel-control-prev
{
	background: #fff;
	left: -34px;
	width: 30px;
	height: 30px;
	opacity: 1;
}
.carousel-control-next
{
	background: #fff;
	right: -34px;
	width: 30px;
	height: 30px;
	opacity: 1;
}
.carousel-control-prev:hover, .carousel-control-next:hover
{
	opacity: 1;
	background: rgba(255, 255, 255, 1);
}
.btn-success
{
	font-size: 14px;
	letter-spacing: 3px;
	border-radius: 4px;
	padding: 8px 15px 8px 15px;
	border: solid 1px #630868;
}
.btn-cancel
{
	font-size: 14px;
	letter-spacing: 3px;
	border-radius: 4px;
	padding: 8px 15px 8px 15px;
}
#columnchart_values { width: 100% !important; }
#event-speakers-list .fixed-bottom, #favourite-users-list .fixed-bottom { bottom: -20px; }
#btnCloseFS .btn-show-more
{
	font-size: 14px;
	letter-spacing: 1px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 10px 15px 10px 15px;
	text-transform: uppercase;
	border: 0 none;
}
.stage
{
	border-bottom: 0px solid #444;
	display: inline-flex;
	height: auto;
	width: auto;
	position: absolute;
	left: 40%;
	top: 32%;
}
.box
{
	align-self: flex-end;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
}
.bounce-1
{
	animation-name: bounce-1;
	animation-timing-function: linear;
}
 @keyframes bounce-1 {
 0% {
transform: translateY(0);
}
 50% {
transform: translateY(-100px);
}
 100% {
transform: translateY(0);
}
}
#favourite-users-list .nav-tabs .nav-item
{
	width: 33.33%;
	text-align: center;
}
#my-schedule .nav-tabs .nav-item
{
	width: 50%;
	text-align: center;
}
#favourite-users-list .list-event-items { padding: 0; }
.nav-tabs .nav-link { color: #000; }
#favourite-users-list .nav-tabs .nav-item.show .nav-link, #favourite-users-list .nav-tabs .nav-link.active, #my-schedule .nav-tabs .nav-item.show .nav-link, #my-schedule .nav-tabs .nav-link.active
{
	color: #0093BA;
	background-color: #fff;
	border-color: #fff #fff #0093BA;
	border-bottom-width: 2px;
}
#favourite-users-list .nav-tabs .nav-link:focus, #my-schedule .nav-tabs .nav-link:focus
{
	border-color: transparent transparent #dee2e6;
	outline: 0 none;
}
#favourite-users-list .nav-tabs .nav-link:hover, #favourite-users-list .nav-tabs .nav-link:focus.active, #my-schedule .nav-tabs .nav-link:hover, #my-schedule .nav-tabs .nav-link:focus.active
{
	border-color: #fff #fff #0093BA;
	border-bottom-width: 2px;
}
#booth-video
{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	height: 520px;
	width: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
#zmmtg-root
{
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99999999 !important;
}
#schedule-meeting.modal-body { height: 540px; }
#experience-zone .home-container .nav-tabs { border-bottom: 0px solid #dee2e6; }
#experience-zone.home-container .nav-tabs .nav-item { margin-bottom: 0; }
#experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus
{
	color: #fff;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 0;
}
#experience-zone .home-container .nav-tabs .nav-link
{
	padding: 15px 20px;
	border: 0 none;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}
#experience-zone .home-container .nav-tabs .nav-item { margin-bottom: 0; }
#experience-zone .home-container .tab-content>.tab-pane h1
{
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	line-height: 21px;
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #3e3e3e;
}
#experience-zone .home-container p { font-size: 14px; }
.btnBackExpZone
{
	position: absolute;
	bottom: 60px;
	right: 10px;
	z-index: 1;
}
#auditorium-banner, #networking-banner, #video-one
{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
.flyout .navbar-nav .dropdown-menu
{
	position: relative !important;
	float: none;
	top: 0px!important;
	transform: none !important;
}
.answer-choice .list-group-item-secondary
{
	color: #202020;
	background-color: #d5d5d5;
	border-color: #fff;
}
.answer-choice .list-group-item
{
	padding: 0;
	margin-bottom: 10px;
	border-radius: 5px;
}
.answer-choice .list-group-item:first-child, .answer-choice .list-group-item:last-child { border-radius: 5px; }
ul.answer-choice li
{
	font-size: 18px;
	font-weight: 500;
}
.answer-choice .custom-control
{
	min-height: 1.75rem;
	padding-left: 0;
	width: 100%;
}
.answer-choice .custom-control-label::before
{
	top: 10px;
	left: auto;
	width: 1.75rem;
	height: 1.75rem;
	content: "0";
	background-color: #6c6c6c;
	border: #adb5bd solid 0px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 15px;
}
#quickpoll-section .custom-radio .custom-control-input:checked~.custom-control-label::after { background-image: none; }
#quickpoll-section .custom-control-input:checked~.custom-control-label::before
{
	color: #fff;
	border-color: #000;
	background-color: #000;
	content: '1';
}
#quickpoll-section .custom-control-input:focus:not(:checked)~.custom-control-label::before
{
	border-color: transparent;
	box-shadow: none;
}
#quickpoll-section .custom-control-input:not(:disabled):active~.custom-control-label::before
{
	background-color: #000;
	border-color: transparent;
	outline: 0 none;
}
#quickpoll-section .custom-control-label:focus { outline: 0 none; }
.chart-col img.img-fluid
{
	max-width: 100%;
	height: auto;
	width: 100%;
}
#QuickPollModal .bg-purple, #QuickPollModal .bg-yellow, #QuickPollModal .bg-blue, #QuickPollModal .bg-green
{
	float: left;
	width: 40px;
	height: 25px;
	margin-right: 20px;
	vertical-align: middle
}
#QuickPollModal .bg-purple { background-color: #a654da; }
#QuickPollModal .bg-yellow { background-color: #ddb10a; }
#QuickPollModal .bg-blue { background-color: #00aaff; }
#QuickPollModal .bg-green { background-color: #27b60c; }
.chart-stats li
{
	margin-bottom: 25px;
	margin-left: 15px;
}
#quickpoll-section .custom-control-label
{
	width: 100%;
	padding: .75rem 1rem;
	cursor: pointer;
}
#quickpoll-section .custom-control-label::after
{
	top: .05rem;
	left: -1.5rem;
	width: 1.75rem;
	height: 1.75rem;
}
#ms_timer
{
	float: right;
	font-size: 24px;
	border: dashed 1px #000;
	padding: 5px 20px;
	font-weight: 600;
}
.answer-choice .list-group-item-secondary { color: #fff; }
.rating-system
{
	width: auto;
	display: inline-block;
	position: relative;
}
.rating-system input { display: none; }
.rating-system label
{
	display: inline-block;
	transition: all .3s;
}
/*second*/
.rating-system label
{
	width: 36px;
	height: 36px;
	border-radius: 0;
	margin: 0 12px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border: solid 1px #000;
	float: right;
}
.ratings-system label:before { display: none; }
.rating-system label:hover + label, .rating-system label:hover { }
.rating-system input:checked + label
{
	background: #0093BA;
	box-shadow: none;
	border-color: #0093BA;
	color: #fff;
}
/*selecting*/
.rating-system .text:before
{
	font-size: 14px;
	font-weight: 500;
	color: #0093BA;
}
.rating-system input:nth-of-type(1):checked ~ .text:before { content: "Extremely Likely"; }
.rating-system label:nth-of-type(1):hover ~ .text:before { content: "Extremely Likely"!important; }
.rating-system input:nth-of-type(2):checked ~ .text:before { content: "Very Good!"; }
.rating-system label:nth-of-type(2):hover ~ .text:before { content: "Very Good!"!important; }
.rating-system input:nth-of-type(3):checked ~ .text:before { content: "Good!"; }
.rating-system label:nth-of-type(3):hover ~ .text:before { content: "Good!"!important; }
.rating-system input:nth-of-type(4):checked ~ .text:before { content: "Its Ok"; }
.rating-system label:nth-of-type(4):hover ~ .text:before { content: "Its Ok"!important; }
.rating-system input:nth-of-type(5):checked ~ .text:before
{
	content: "Not at all likely";
	color: #f00;
}
.rating-system label:nth-of-type(5):hover ~ .text:before { content: "Not at all likely"!important; }
.rating-system .text
{
	position: absolute;
	top: 40px;
}
.rating-system input:nth-of-type(5):checked ~ .text { left: -15px; }
.rating-system input:nth-of-type(4):checked ~ .text { left: 23%; }
.rating-system input:nth-of-type(3):checked ~ .text { left: 43%; }
.rating-system input:nth-of-type(2):checked ~ .text { left: 57%; }
.rating-system input:nth-of-type(1):checked ~ .text
{
	left: 68%;
	width: 120px;
}
.rating-system input:nth-of-type(1) ~ .smiley { display: none; }
.rating-system input:nth-of-type(1):checked ~ .smiley
{
	left: 70%;
	width: 120px;
	position: absolute;
	top: -40px;
	display: block;
}
#SurveyModal .custom-control-label::before
{
	top: .20rem;
	left: -1.5rem;
	width: 1.15rem;
	height: 1.15rem;
	border: #0093BA solid 2px;
}
#SurveyModal .custom-control-input:checked~.custom-control-label::before
{
	color: #0093BA;
	border-color: #0093BA;
	background-color: #fff;
}
#SurveyModal .custom-checkbox .custom-control-input:checked~.custom-control-label::after { background-image: url(/techHr/img/check.png); }
#SurveyModal .custom-control-label::after { background: no-repeat 60%/70%; }
#SurveyModal textarea.form-control
{
	background-color: #d8d8d8;
	resize: none;
}
#SurveyModal button.btn.btn-submit.btn-block.btn-primary
{
	background-color: #0093BA;
	border-color: #0093BA;
}
#SurveyModal .highlight { color: #0093BA; }
.modal-content { background: #fff; }
#fullscreen
{
	position: absolute;
	right: 15px;
	top: 18px;
	z-index: 99999999;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
}
#map-section
{
	position: absolute;
	max-width: 1300px;
	left: 50%;
	margin-left: -650px;
	top: 80px;
	z-index: 101;
}
.booth-links
{
	position: absolute;
	width: 170px;
	height: 170px;
}
#auditorium-banner img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media only screen and (max-width: 767px) {
.imatch-img
{
	overflow: hidden;
	height: auto;
}
#search-panel { margin-top: 10px; }
.list-event-items, #resultDataAgenda, #event-partners-list { padding: 0 0 70px; }
.list-view .single-partners
{
	margin-top: 10px;
	padding: 0;
	margin-bottom: 0px;
}
.list-view .single-partners .info
{
	text-align: left;
	font-size: 14px;
}
.list-view .single-partners .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: flex;
	max-width: 100%;
	height: auto;
	border-radius: 0;
	width: 100%;
	margin: 0;
	justify-content: center;
	align-items: center;
}
.list-view .single-partners
{
	display: flex;
	border: 1px solid #dee2e6;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.list-view .single-partners .img-holder
{
	width: 30%;
	display: flex;
	padding: 5px;
}
.list-view .single-partners .info
{
	width: 70%;
	padding: 15px;
}
.single-partners .img-holder .img-container
{
	padding: 0;
	border-bottom: 0 none;
}
.single-partners .img-holder { border-right: 1px solid #dee2e6; }
.grid-view .single-partners .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: none;
	height: auto;
	border-radius: 0;
	border-right: 1px solid #dee2e6;
	border-bottom: 0 none;
}
.grid-view .single-partners
{
	margin-top: 0;
	padding: 0;
	margin-bottom: 0;
	border: 0 none;
	box-shadow: none;
}
.grid-view .single-partners .info { padding: 5px 0 10px; }
.grid-view .col-12
{
	padding: 0;
	max-width: 50%;
}
.btn-list-view.active, .btn-grid-view.active, .btn-list-view:focus, .btn-grid-view:focus
{
	background-color: #dae0e5;
	box-shadow: none;
	outline: 0 none;
}
.modal-dialog, .modal-content, .modal .card
{
	height: 100%;
	margin: 0;
}
#imatch-main.container
{
	background-color: #fff;
	margin-top: 0;
	position: absolute;
	z-index: 99999;
	top: 0;
	margin-left: 0;
	left: 0;
	max-width: 100%;
	height: 100%;
}
.imatch-title { margin-top: 0; }
#carouselImatch .mTS_horizontal .mTSThumbContainer, #carouselImatch .mTS_horizontal ul.mTSContainer > li
{
	max-width: 380px;
	margin: 0 5px 0;
}
.dropdown-toggle::after
{
	float: right;
	margin-top: 7px;
	border-top: .35em solid;
	border-right: .35em solid transparent;
	border-bottom: 0;
	border-left: .35em solid transparent;
}
#auditorium-main-content
{
	background-color: rgba(255, 255, 255, 1);
	z-index: 999;
	top: -10px;
	padding-top: 10px;
}
#search-panel input { width: 90%!important; }
#event-speakers-list.container, #partenrs-content.container, #favourite-users-list.container, #my-schedule, #quickpoll-section, #survey-section
{
	margin-left: 0;
	background-color: #fff;
	left: 0;
	top: 0;
	z-index: 999;
	padding-top: 16px;
	width: 100%;
	height: 100%;
}
#event-speakers-list #search-panel input { width: 100%!important; }
#speakerModalNew .modal-dialog, #speakerModal .modal-dialog
{
	max-width: none;
	height: 100%;
}
#event-agenda
{
	margin-top: 0;
	left: 0;
	top: 0;
	margin-left: 0;
	z-index: 9999;
	max-width: 700px;
	padding-top: 15px;
}
#filter-agenda .btn-icon-group { top: -44px; }
.carousel-control-prev
{
	background: #fff;
	left: 0;
	width: 40px;
	height: 40px;
}
.carousel-control-next
{
	background: #fff;
	right: 0;
	width: 40px;
	height: 40px;
}
.nav-link.nav-profile img
{
	width: 80px;
	display: block;
	clear: both;
	margin: 0 auto;
}
.nav-link.nav-profile { text-align: center; }
.nav-link.nav-profile.dropdown-toggle::after
{
	position: absolute;
	bottom: 19px;
	right: 78px;
}
}
.card-social-post h3, .slide-content h3 { font-size: 16px; }
.authors span { font-size: 12px; }
.card-social-post a
{
	color: #4A4A4A;
	font-size: 20px;
	margin-right: 15px;
	vertical-align: middle;
}
.add-new-post
{
	position: fixed;
	z-index: 999;
	border: 0;
	font-size: 25px;
	font-weight: 300;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-color: #8f1596;
	color: #fff;
	bottom: 30px;
	left: 285px;
}
.card-social-post a.lnkviews
{
	font-size: 14px;
	margin-right: 0;
	text-decoration: none;
}
#post-list-views, #post-comment, #SWStoriesModal .modal-content, #create-post, #add-participants { height: 100vh; }
#post-comment .card-footer, #create-post .card-footer
{
	position: absolute;
	width: 100%;
	bottom: 0;
}
#author-slider a, #carousel-sw-participants a
{
	color: #000;
	text-decoration: none;
}
.authors { position: relative; }
span.remove-user
{
	position: absolute;
	top: 2px;
	right: 5px;
	color: #fff;
	background: #f00;
	border-radius: 100%;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
}
.tns-nav { display: none; }
#carousel-img-preview-mw.tns-ovh
{
	background-color: #efefef;
	margin-bottom: 20px;
}
.carousel-indicators li
{
	box-sizing: content-box;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .5;
	transition: opacity .6s ease;
	border-radius: 100%;
}
.custom-checkbox .custom-control-label::before { border-radius: 0; }
.custom-control-label::before { top: .2rem; }
#create-post .browse.btn.btn-primary
{
	position: relative;
	right: 0px;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	top: 7px;
	vertical-align: middle;
	float: right;
}
.file
{
	visibility: hidden;
	position: absolute;
}
.file-upload
{
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
}
.custom-file-upload .btn
{
	margin-top: 21px;
	height: 80px;
}
.browse.btn.btn-primary span { position: relative; }
.custom-switch .custom-control-label::after { top: calc(.25rem + 1px); }
.preview-img-holder
{
	width: 160px;
	height: 180px;
	overflow: hidden;
}
.preview-img-holder img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#add-participants .custom-control-inline
{
	position: absolute;
	right: 10px;
	top: 10px;
}
#add-participants .list-items { position: relative; }
#add-participants .custom-control-label::before
{
	width: 1.5rem;
	height: 1.5rem;
}
#add-participants .custom-control-label::after
{
	width: 1.5rem;
	height: 1.5rem;
}
#selcontacts
{
	background: #8f1596;
	border: 0;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 30px;
	left: 285px;
}
#carousel-sw-authors-ow .tns-controls button:first-child
{
	border: 0;
	position: absolute;
	left: -5px;
	top: 35%;
	width: 25px;
	height: 25px;
	background: transparent url(/eventTap/images/slide-prev.svg) no-repeat center / 80% auto;
	overflow: hidden;
	color: #fff;
	border-radius: 0;
	z-index: 9;
	text-indent: -99999px;
}
#carousel-sw-authors-ow .tns-controls button:last-child
{
	border: 0;
	position: absolute;
	right: -5px;
	top: 35%;
	width: 25px;
	height: 25px;
	background: transparent url(/eventTap/images/slide-next.svg) no-repeat center / 80% auto;
	overflow: hidden;
	color: #fff;
	border-radius: 0;
	z-index: 9;
	text-indent: -99999px;
}
a .heart.fa.fa-heart { color: #ff9900; }
a.btn-social-wall
{
	background: rgba(40, 56, 82, .9);
	position: fixed;
	left: 0px;
	top: 50%;
	width: 40px;
	height: 70px;
	z-index: 2;
	border-radius: 0 8px 8px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#SocialWallModal.modal, #SWStoriesModal.modal
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1050;
	display: block;
	width: 360px;
	height: auto;
	overflow: hidden;
	outline: 0;
}
.sidenav
{
	height: 100%;
	width: 0;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow: hidden;
	transition: 0.5s;
	padding-top: 0;
}
.sidenav a
{
	text-decoration: none;
	transition: 0.3s;
}
.sidenav a:hover { color: #f1f1f1; }
.sidenav .closebtn
{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
#main { transition: margin-left .5s; }

@media screen and (max-height: 450px) {
.sidenav { padding-top: 15px; }
.sidenav a { font-size: 18px; }
}
#list-top-stories
{
	overflow-x: auto;
	width: 100%;
	white-space: nowrap;
	display: flex;
	overflow-y: hidden;
}
#list-top-stories .item { margin-right: 15px; }
.btnmeeting
{
	position: absolute;
	bottom: 80px;
	right: 50%;
	z-index: 1;
}
#show-booth-video .btnmeeting
{
	right: 25%;
	top: auto;
	bottom: 3px;
	height: 42px;
}
#SocialWallModal .modal-title, #SocialWallModal .card-title { font-size: 18px; }

@media (min-width: 576px) {
#SocialWallModal .modal-dialog, #SWStoriesModal .modal-dialog { margin: 0; }
}

@media (min-width: 576px) {
#ChatModal .modal-dialog { margin: 0 auto; }
}
#ChatModal .close.close-chat
{
	position: absolute;
	right: 15px;
	top: 12px;
	z-index: 9999;
}
.btn-live-connect {
    background-color: #187801;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 5px 15px;
    text-align: center;
    width: auto;
    text-decoration: none;
    -webkit-animation: glowing3 1500ms infinite;
    -moz-animation: glowing3 1500ms infinite;
    -o-animation: glowing3 1500ms infinite;
    animation: glowing3 1500ms infinite;
    position: absolute;
    top: 9px;
    right: 65px;
    z-index: 9;
}
@-webkit-keyframes glowing3 {
 0% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 3px #47cf73;
}
}
 @-moz-keyframes glowing3 {
 0% {
background-color: #47cf73;
-moz-box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #47cf73;
-moz-box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #47cf73;
-moz-box-shadow: 0 0 3px #187801;
}
}
 @-o-keyframes glowing3 {
 0% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #187801;
box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
}
 @keyframes glowing3 {
 0% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #187801;
box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
}
