<link rel="stylesheet" href="/ostrich/css/bootstrap-datepicker.min.css" />
<div class="outter-wp">
        <div class="title">
            <ul class="list-inline">
                <li><h1>Allocate Room</h1></li>
                <li class="pull-right">
                    <button type="button" class="telkom_btn add_btns" style="margin: 0px;min-width: 100px;" onclick="assignRoom();">Assign</button>
                </li>
            </ul>
        </div>
     <div class="row page-content tablefiled mg-0">
         <input type="hidden" name="pera" id="pera" value="<?php echo $pera; ?>">
              <input type="hidden" name="page" id="currentPage" value=1>
              <input type="hidden" name="page" id="spacerem" value="">
         <div class="col-xs-12 col-md-2 form-group">
          <label for="inputEmail4">SELECT HOTEL NAME</label>
          <select class="form-control" id="hotelname" onchange="getRoomList();"> 
          <option  value=""></option>
          <?php foreach($getHotelList as $hotel){?>
          <option  value="<?php echo $hotel['id']?>"><?php echo $hotel['hotelName']?></option>
          <?php }?>
          </select>
         </div>
         <div class="col-xs-12 col-md-2 form-group">
             <label for="inputEmail4">SELECT ROOM NO</label>
             <div id="roomlist"></div>
         </div>
         <div class="col-xs-12 col-md-2 form-group">
                <label for="inputEmail4">NO OF PAX</label>
                <input type="text" class="form-control" id="nofopax" disabled value="">
                <p style="color:green;"><span id="spaceLeft">0</span> LEFT</p>
         </div>
         <div class="col-xs-12 col-md-2 form-group">
             <label for="inputEmail4">ROOM TYPE</label>
             <input type="text" class="form-control" id="roomType" disabled value="">
          </div>
              
              
              
              
              
<!--           <div class="col-xs-12 col-md-2 form-group">
             <label for="inputEmail4">ChECK-IN</label>
                <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" data-toggle="datetimepicker"  value=""/>
                  <div class="input-group-addon" data-target="#datetimepicker7" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
          </div>
           <div class="col-xs-12 col-md-2 form-group">
             <label for="inputEmail4">CHECK-OUT</label>
                <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8"   value=""/>
                  <div class="input-group-addon" data-target="#datetimepicker8" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
          </div>   -->
      </div>
    <div class="content_padding" style="display:none;" id="assignList">
        <div id="resultData1"></div>
     </div>
     <div class="row page-content tablefiled mg-0">
        <p style="padding-left:20px;">Guest with No Room Assigned</p>       
     </div>   
    <div class="content_padding" style="">   
        <div id="resultData"></div>
      </div>
     </div>
<script type="text/javascript" src="/ostrich/js/bootstrap-datepicker.min.js"></script>
<script>
//  $(function(){
//	drooly.getGuestListForAuWithRoom();
//   }); 
   
   
   
   $(function(){
	drooly.getGuestListForAuWIthoutRoomAssign();
   });
   
   
 $('#search').keypress(function (e) {
      if (e.which == 13) {
       drooly.getGuestListForAu();
        return false;    //<---- Add this line
      }
    });
 $(function () {
                $('#datetimepicker7').datepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true
                });
                $('#datetimepicker8').datepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true
                });
            });
function getRoomList(){
 var hotelName = $('#hotelname :selected').val();
  $.ajax({
            type: "POST",
            url: '/event/room-list',
            data: {hotelName:hotelName},
            success: function (data) {
                     $('#roomlist').html("");
                     $('#roomlist').html(data);
            },
                    
               failure: (function () { alert("Failure!!"); })
      });    
     
 } 
function getRoomOtherData(){
         var hotelId = $('#hotelname :selected').val();
         var hotelName = $('#hotelname :selected').text();
         var roomNo = $('#roomId :selected').val();
  $.ajax({
            type: "POST",
            url: '/event/room-assign',
            data: {hotelName:hotelName,roomNo:roomNo,hotelId:hotelId},
            success: function (data) {
//                    alert(data); return false;
                     $("#assignList").show();
                     $('#resultData1').html("");
                     $('#resultData1').html(data);
                     drooly.getGuestListForAuWIthoutRoomAssign();
                     
            },
                    
               failure: (function () { alert("Failure!!"); })
      });    
     
 } 
</script>


    <script>
    function manageMultiSelection() {
     $(".check-all").click(function () {
          $('.check-sub').prop('checked', this.checked);
          var tonum = $(".check-sub:checked").length;
        if(tonum >0){  
        $('#option_box1').show();
         $('#option_box').show();
        $('#noselected').html(tonum+' Selected');
      }else{
        $('#option_box1').hide();
        $('#option_box').hide();
        $('#noselected').html(tonum+' Selected');
      }
    });
 
    $(".check-sub").click(function(){
        var tonum = $(".check-sub:checked").length;
        if(tonum>0){
        $('#option_box1').show();
        $('#option_box').show();
            $('#noselected').html(tonum+' Selected');
        }
        if($(".check-sub").length == $(".check-sub:checked").length) {
            $(".check-all").prop("checked", "checked");
            $('#option_box1').show();
             $('#option_box').show();
            $('#noselected').html(tonum+' Selected');
        } else {
            $(".check-all").removeAttr("checked");
            if(tonum =='0'){
            $('#option_box1').hide();
            $('#option_box').hide();
            
        }
            $('#noselected').html(tonum+' Selected');
        }
 
    });
}




function assignRoom(){
       var pushdata;
        var hotelId = $('#hotelname :selected').val();
         var hotelName = $('#hotelname :selected').text();
         var roomNo = $('#roomId :selected').val();
      var checkedValues = $('input:checkbox:checked').map(function() {
                return this.value;
                }).get();
     var spaceocupied = $("#spacerem").val();
     if(spaceocupied==0){
         alert("Room already Full,Please select another Room");
         return false;
     }
      
      pushdata = {checkedValues:checkedValues,hotelId:hotelId,hotelName:hotelName,roomNo:roomNo};  
        $.ajax({
            type: "POST",
            url: '/event/assignRoomToUser',
            data: pushdata,
            success: function (data) {
                 //alert(data); return false;
                 getRoomOtherData();
                 drooly.getGuestListForAuWIthoutRoomAssign();
             },
                failure: (function () { alert("Failure!!"); })
            });    
                  
                
  }
  
  
  
    function deleteUserFromRoom(userId){
//        alert(userId); return false;
            var jobdata;
             jobdata = {userId:userId};
        $.ajax({
            type: "POST",
            url: "/event/removeUserFromRoom",
            datatype:'html',
            data: jobdata,
            beforeSend: function (data) {
                         $("#startup").show();
                       },
            success: function (data) {
               getRoomOtherData();
                 drooly.getGuestListForAuWIthoutRoomAssign();
            },

                failure: (function () { alert("Failure!!"); })
            });
  }




    </script>  
   