<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">            
<div class="table-responsive">
              <table class="table table-bordered bg-white client_table table-hover" id="myTable2">
                <thead>
                  <tr>
                    <th>First Name <a href="javascript:void(0);" class="sort-asec text-white" onclick="settableorder('firstName','asc')"><i class="fa fa-angle-up"></i></a><a href="javascript:void(0);" class="sort-desc text-white" onclick="settableorder('firstName','desc')"><i class="fa fa-angle-down"></i></a></th>
                    <th>Last Name</th>
<!--                    <th>Confirmation Code</th>-->
                    <th>Attendee</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Organization Name</th>
                    <th>Designation</th>
                    <th>City</th>
                    <th>Registered Date</th>
                  </tr>
                </thead>
                <tbody>
                     <?php 
if($this->results['page']==1){
       
        $page = $this->results['page'];
    }else{
        $page = ($this->results['page']-1)*$this->results['pageCount'];  
        $page+=1;
    }
        foreach ($this->results['allData'] as $result){  
         ?> 
                  <tr id="<?php echo $result['username'];?>">
                     <td><?php echo $result['firstName']?></td>
                     <td><?php echo $result['lastName']?></td>
                    <td><?php echo $result['attendeType']?></td>
                    <td><?php echo $result['countryCode'].$result['phone']?></td>
                    <td><?php echo $result['email']?></td>
                    <td><?php echo $result['companyName']?></td>
                    <td><?php echo $result['designation']?></td>
                    <td><?php echo $result['city']?></td>
                    <td><?php echo $result['date']?></td>
                  </tr>
                  <?php
             $page++;
           } ?>
                </tbody>
              </table>
            </div>
            <div class="pagination-centered">
 <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'event','action' => 'manage-app-launch-data'));
 ?>
</div>
<script>
$(document).ready(function(){
  $("#RowCount").html("<?php echo $this->results['totalCount'];?>");
  var lastUserId = $("#lastUserId").val();
  if(lastUserId!=0){
  location.hash = '#'+$("#lastUserId").val();
 }
});
</script>