html{

    background: url("../assets/images/background_login.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
     font-family:'Conv_HLR', 'Arial', 'sans-serif';
     background-color: transparent;
	 overflow:hidden;
    font-size:12px;
    height: auto;
    min-height: 0%;
    max-height: 100%;
    }
::-webkit-input-placeholder {
   color: rgba(153,153,153,.6) !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(153,153,153,.6) !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(153,153,153,.6) !important;  
}

:-ms-input-placeholder {  
   color: rgba(153,153,153,.6) !important;  
}
	.no_padding{ padding:0 !important;}

    #list{text-align: center;padding: 20px 0 0 0;}
    #list img{
        margin-bottom:24px;
    }
.loginButton:hover{color: #fff !important;
    background-color: #2766ff !important;}
loginButton.active{color: #fff !important;background-color: #2766ff !important;}
.pd-0{
    padding:0;
}
.scanCode{
    padding-top: 25px;
    color: #fff;
    font-size: 19px;
}
.orCode{
    width: 27px;
    float: right;
    max-height: 372px;
    padding: 50px 0;
    overflow: hidden;
    height: 372px;
    min-height: 372px;
    position: relative;
}
.orCodeBorder{
    border: 1px solid rgba(151, 139, 133, 0.43);
    width: 2px;
    height: 45%;
    margin: 0 auto;
}
.orText{
    height: 10%;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
}
.loginButton{color:#2766ff !important;height: 45px;
    font-size: 20px;
    font-weight: bold;}
.loginButton1{background-color: #2766ff !important;color: #fff !important;height: 45px;
    font-size: 20px;
    font-weight: bold;}
    #login_main{
        background-color: #fff;
    max-width: 30% !important;
    /* height: 454px; */
    margin: -62px auto 24px;
    border-radius: 4px;/*
    padding: 90px 47px;*/
		-webkit-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
		-moz-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
		box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
       }	   
	.login_form  p{
	font-size: 14px;
	color: #999;
    margin: 12px 0 13px;	
	}
	.login_form  h4{	   
	font-weight:600;	
	}
	.login_form   .form-group{
	margin-bottom:22px !important;
	}
	.login_form label{
	font-weight: 400;
    color: #999;
    display: block;
    font-size: 14px;
	margin:0 !important;
	}
	.login_form input{
	color:#000;
	font-size: 13px;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
	box-shadow:none !important;
	padding: 6px 2px;
	}
	.login_form input:focus { 
	box-shadow:none !important;
	border-bottom: 1px solid #2766ff !important;
	}
	.input_code{padding:0 10px 0 0}
	.input_code  input{background:#fff !important;}    
    #footer{     
        text-align: center;
        clear: both;
    }
	#footer p{     
        color:#2766ff;   
    }
    .btn_custom {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .btn-primary {
        color: #fff;
        background-color: #2766ff !important;
        border-color: #2766ff !important;
        margin: 8px 0;
    }
    input, button, select, textarea {
        width: 100%;
    }
    #modal{
            padding: 10px;			
        }  

.modal_header_text{
    width: 56%;
    float: left;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
    .modal_header_textb{
        width: 72%;
        float: left;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
    }

    .modal_header_icon{
    color: #fff;
    opacity: 1.2;
    margin-top: 0;
    text-shadow: none;
    float: right;
    font-size: 17px;
    margin-right: 5px;
}
    .modal_header_icons{
        color: #000;
        float: right;
        font-size: 17px;
        vertical-align: middle;
    }
.select_Country ul{padding: 0;}
.select_Country ul li{
    list-style: none;
    padding: 12px 24px;
}
.select_Country_code{float: right;}
.select_Country ul li:hover, .select_Country ul li.active{
    background:rgba(39,102,255,0.5);
    color: #fff;
    cursor: pointer;
}

#custom_serch{position: relative;bottom: -24px;left: 10px;}
.modal_select_Country{background-color:transparent !important;
                      width: 100%;
                      }
#nunber_verification{
                           max-width: 500px !important;
                           margin: 0 auto;
                            padding: 10px 10px 24px 10px;
                            text-align: center;
                    }
 #nunber_verification p{font-size: 16px !important;margin: 15px 0 15px !important;color: rgba(000,000,000,0.6);}
#nunber_verification h5{font-weight:600 !important;}
.confirm_no  .form-group{
margin:2px !important;	
}				

.confirm_no button{
	background:none !important;
	border:none !important;	
}
.confirm_no button:focus{
	background:none !important;
	border:none !important;	
}

/*style for image gallery open*/
ul, ol { list-style: none; }
/*clearfix*/

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

/*jquery.picEyes*/

.picshade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.91;
  filter: alpha(opacity=91);
  z-index: 99;
  display: none;
}
.pictures_eyes_delete{
    
}
.gallary_icon{text-align: center; z-index: 100; position: fixed;top: 60px;right:486px;}
.gallary_icon ul{
    padding: 0;
}
.gallary_icon ul li{ display: inline-block;list-style: none;margin: 5px;}
.pictures_eyes_close {
  position: fixed;
  top: 60px;
  right: 30px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../assets/images/close.png) no-repeat;
  z-index: 100;
  display: none;
}

.pictures_eyes {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 199;
  display: none;
}

.pictures_eyes_in {
  position: relative;
  text-align: center;
}

.pictures_eyes_in img { max-height: 500px; }

.pictures_eyes_in .prev, .pictures_eyes_in .next {
  position: absolute;
  top: 50%;
  width: 51px;
  height: 51px;
  cursor: pointer;
}

.pictures_eyes_in .prev {
  left: 35px;
  background: url(../assets/images/Tleft.png) no-repeat;
}

.pictures_eyes_in .next {
  right: 35px;
  background: url("../assets/images/Tright.png") no-repeat;
}

.pictures_eyes_indicators {
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 299;
}

.pictures_eyes_indicators a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px 3px 0 3px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 2px #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  overflow: hidden;
}

.pictures_eyes_indicators img { height: 50px; }

.pictures_eyes_indicators .current {
  filter: alpha(opacity=100);
  opacity: 1;
}
.demo > li img { max-width:330px;height: auto; cursor:pointer;}


/*styl for barcode*/
#login_option_border{
    height: 100px;
    border-left: 1px solid rgba(128,128,128,0.3);
    margin: 0 50%;
}
#login_option_border1{
    height: 100px;
    border-left: 1px solid rgba(128,128,128,0.3);
    margin: 0 50%;
}
.media-list.contactList .contact_name{width:100%;padding: 0;}
.media-list.contactList p.contact_name_set {padding: 0px 5px 0px 0;}
.chat_body_widthG{position:relative;}
.contactlist_panal {

}
.contact_list{
   /* height: auto !important;*/}

.remButton {
    font-size: 20px;
    position: relative;
    z-index: 99999;
    top:-5px;
    right:10px;
    float: right;
}
.contactlist_panal .dropdown-menu {
    left: auto;
    right: 0;
    top: -43px;
    position: absolute;
    margin: 0;
    float: none;
    z-index: 9999999;
}
#contactsView .select_contact {
    overflow-x: hidden;
    overflow-y: hidden;
}
.group_hover{opacity:0;}
.group_hover:hover, .group_hover:focus, .group_hover:active{opacity:1;}

button.zoomout, button.zoomin, button.zoomout:focus, button.zoomin:focus  {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: solid 1px #ccc;
    margin-top: -1px;
    outline: 0 none;  
    overflow:hidden;
    text-align:center;

}
button.basic-result{background-color: #fff; border: solid 1px #ccc;padding: 8px 15px; outline:0 none;}

.open .group_hover{opacity:1;}

.open>.dropdown-menu {
    z-index: 99999999;
}
/* Small devices (tablets, 768px and up) */
@media (max-width:767px) {
    .login_option_border
    {
    width: 100px;
    border-bottom: 1px solid rgba(128,128,128,0.3);
    margin-left: 9px;
    height: 0;
       }
    #login_option_border{
    height:0;
    width:80%;
    margin: 0 auto;
}
#login_option_border1{
    height:0;
    width:80%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128,128,128,0.3);
}
    #login_main{
    height:981px;
            }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:991px){ 
/*.no_chat {
    margin-top: 5%;
}*/
/*.plusIcon, .crossIcon {
    margin-left: 0px !important;
    width: 45px;
} */
.plusIcon img, .crossIcon img {
    margin-bottom: 10px;
    margin-top: 7px;
    margin-left: 0;
} 
/*.chat-form .input-cont {
    width: 79% !important;
    margin-left: 5px !important;
}*/
/*.microphone-buttons{width: 45px;margin: 0;}*/
.red-tooltip {
    margin-bottom: 10px;
    margin-top: 7px;
    margin-left: 10px;
}

   #login_option_border{
    height:0;
    width:80%;
    margin: 0 auto;
}
#login_option_border1{
    height:0;
    width:80%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128,128,128,0.3);
}
    #login_main{
    height:981px;
            }
    #loginOption1{}
    #login_main{height:981px;}
     }
.custom_modalFooter{
    background: transparent;
    border-radius: 4px;
    border: none;
}
.pwd-header{
    border-top: none !important;
    background: #2766ff;
    min-height: 45px;
    padding: 12px 15px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.clock_status{
    float: right;
    position: absolute;
    font-size: 8px !important;
    color: #bfbfbf;
    right: 4px;
    bottom: 0px;
    padding-top: 0px;
    font-size: 13px !important;
   }
    .clock_status_img{
        float: right;
        position: absolute;
        font-size: 8px !important;
        color: white;
        right: 4px;
        bottom: 0px;
        padding-top: 0px;
        font-size: 13px !important;
    }
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 0px ;
    outline-offset:0 ;
}
.form-control:focus {
    /*border-color:#2766ff !important;*/
    outline:none !important;
    box-shadow: none !important;
    border:1.5px solid rgba(141, 141, 141,.2) !important;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.unselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.media h3{ color: #2766ff; margin-top: 5px !important;margin-bottom: 6px !important; }
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items .contact_alphabet:hover
{
  color: none !important;background: none !important;
}
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items .contact_alphabet
 {
  color: none !important;background: none !important;
}


    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

    /* style glyph */
 /*   .inner-addon .glyphicon {
        position: absolute;
        padding: 15px 16px 12px;
        pointer-events: none;
        font-size: 16px;
        color: rgba(128, 128, 128, 0.74);
        border-left: 1px solid rgba(128, 128, 128, 0.37);
    }

    !* align glyph *!
    .left-addon .glyphicon  { left:  0px;}
    .right-addon .glyphicon { right: 0px;}

    !* add padding  *!
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }*/



.container_setting{
        margin:5% auto 0px;
        text-align:center;
        max-width: 1000px;
}
.container_settings{
    margin:5% auto 0px;
    text-align:center;
    max-width: 500px;
}
    .form_bg_setting{
        height:auto;
        background-color: rgba(119, 119, 119, 0.30);
        margin-top:6%;
    }
    .form_area_set{
        padding:50px 35px;
    }
.forget-password-set{
        padding:20px 35px;
    }

    .opacity_set {
        background-color: transparent;
        border-radius: 3px !important;
        height: 50px;
        margin-top: 25px;
        font-size: 18px;
        color: rgba(255,255,255,1);
        padding: 13px 10px 13px 15px;
        line-height: 32px;
    }


    .glyphicon {
        position: absolute;
        top: 9px;
        font-size: 20px;
        border-left: 2px solid rgba(171,157,152,1);
        padding-left: 4%;
        margin-left: 5%;
        height: 32px;
        color: rgba(255,255,255,1);
        font-family: inherit;
        padding-top: 6px;
    }

    .caiom_set{
        height:50px;
        max-width: 100%;
        background-color: transparent;
        border:transparent;
        font-size:17px;
        color:rgba(255,255,255,1);
        padding: 13px 10px 13px 15px;


    }
.phoneNumber{
        height:50px;
        width: 100%;
        background-color: transparent;
        border:1px solid #ccc;
        font-size:17px;
        color:#333;
        padding: 13px 10px 13px 15px;


    }
.phoneNumber:focus, .phoneNumber:active{
    height:50px;
    width: 100%;
    background-color: transparent;
    border:2px solid #2766ff !important;
    font-size:17px;
    color:#333;
    padding: 13px 10px 13px 15px;


}
    .button_set{
        margin-top: 100px;
        background-color: rgba(255,255,255,.2);
        color: white;
        border-radius: 4px !important;
        font-weight: bold;
        border: 1px solid transparent;
        text-transform: capitalize;
    }
     .submit_set{
        margin-top: 50px;
        background-color: rgba(255,255,255,.2);
        color: white;
        border-radius: 4px !important;
        font-weight: bold;
        border: 1px solid transparent;
        text-transform: capitalize;
    }

    .button_setting{
        color:#2766ff;
        border-radius:4px !important;
        border:1px solid #2766ff;
        width: 100%;
        background: white !important;
    }
    .button_settingss{
        color:#ff5252;
        border-radius:4px !important;
        border:1px solid #ff5252;
        width: 100%;
        background: white !important;
        margin: 8px 0px;
    }
    .p_set{
        float:right;
        font-size:18px;
        text-align:right;
        color:rgba(255,255,255,1);
        text-decoration:none;
        font-family:inherit;
        padding: 0;
        width:155px;
    }
    .send-sms-message{
        text-align: center;
        color: #fff;
        font-size: 18px;
    }
    .forget-heading{
        margin: 0px 0px 15px;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }
.p_set:hover, .p_set:focus{
        float:right;
        font-size:18px;
        text-align:right;
        color:rgba(255,255,255,1);
        text-decoration:none;
        font-family:inherit;
    }
    .button_set:hover{
        color: #2766ff ;
        background-color:rgba(255,255,255,1);
        border:1px solid transparent;

    }
    .submit_set:hover{
        color: #2766ff ;
        background-color:rgba(255,255,255,1);
        border:1px solid transparent;

    }
.password-input{
    border: 1px solid #ccc;
    border-radius: 4px !important;
    position:relative;
    text-align: left;
    margin: 4px 0px 28px;
}
    .button_setting:hover{
        color: white !important;
        background-color:#2766ff !important;
    }
    .button_settingss:hover{
        color: white !important;
        background-color:#ff5252 !important;
    }
    .button_set:focus{
        outline: 0px  -webkit-focus-ring-color ;
        outline-offset: 0px ;
        color: #2766ff ;
        background-color:rgba(255,255,255,1);
        border:1px solid transparent;
    }
    .button_set:active{
        box-shadow:none ;
        color: #2266ff ;
        border:1px solid rgba(255,255,255,.6);
    }
    .opacity_set:focus{
        border:1px solid rgba(255,255,255,.6) !important;
        box-shadow: none !important;
    }
    .caiom_set:focus{
        border-color:transparent !important;
        box-shadow: none !important;

    }
    .p_set1{
        text-align:center;
        margin-top:20px;
        font-size:15px;
        color:rgba(255,255,255,1)
    }
.submit_set:focus{
    outline: 0px  -webkit-focus-ring-color ;
    outline-offset: 0px ;
    color: #2766ff ;
    background-color:rgba(255,255,255,1);
    border:1px solid transparent;
}
.submit_set:active{
    box-shadow:none ;
    color: #2266ff ;
    border:1px solid rgba(255,255,255,.6);
}
    /*media query for our requriments*/
    /* Small devices (tablets, 768px and up) */
    @media (max-width:767px) {
        .glyphicon{
            font-size:1.38em;
            margin-left:1%;
            padding-left:1%;
            top: 9px;
            height: 35px;
        }
        .caiom_set{
            font-size:13px;
            padding: 17px 6px 17px 8px;
        }
        .opacity_set{
            font-size:13px;

        }
    }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{background-color: transparent !important;}
.chat_body {width: 75%;}
@media (max-width: 1024px){
.chat_body {width: 65%;}
}
.contact_name {
    text-transform: capitalize;
}
#blocking_msg.chat-form {position:relative;}
@media (max-width: 980px){
.contactlist_panal {
    max-width: 100% !important;
}    
.page-header.navbar .page-logo .logo-default {
    margin: 6px 0 0 0 !important;
}
.page-header.navbar .top-menu {
    margin: 6px 0 0px !important;
}
}
