
@media (min-width: 1366px) {
.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1300px; }
}

@media (min-width: 1440px) {
.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1300px; }
}
.container, .container-lg, .container-md, .container-sm, .container-xl { z-index: 9; }
html, body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5
{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
footer
{
	background: #0093BA;
	color: #fff;
}

@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link
{
	padding-right: .75rem;
	padding-left: .75rem;
	line-height: 40px;
}
}
.navbar-dark .navbar-nav .nav-link
{
	color: #fff;
	font-size: 14px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link { color: #f00; }
.sticky-header.navbar-dark .navbar-nav .nav-link { color: #0093ba; }
.bg-primary { background-color: #554bb9; }
.section-title
{
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
.btn-show-more
{
	font-size: 16px;
	letter-spacing: 4px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 12px 25px 12px 25px;
	text-transform: uppercase;
	border: 0 none;
}
.btn-submit, .btn-purple
{
	font-size: 16px;
	letter-spacing: 4px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 12px 25px;
	text-transform: uppercase;
	border: 0 none;
}
button.close
{
	z-index: 99999;
	position: relative;
}
[data-toggle="modal"] { cursor: pointer; }
.bg-dark { background-color: #262627!important; }
.page-header { background-color: #262627; }
.parallax
{
	position: relative;
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.has-overlay:after
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	left: 0;
	top: 0;
}
.form-control:focus
{
	box-shadow: none;
	border-color: #111;
}
.btn.focus, .btn:focus
{
	outline: 0;
	box-shadow: none;
}
.btn-primary.js-btn-next, .btn-primary.js-btn-prev
{
	font-size: 16px;
	letter-spacing: 4px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 4px;
	padding: 12px 25px 12px 25px;
	text-transform: uppercase;
}
.btn-success
{
	font-size: 16px;
	letter-spacing: 4px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	padding: 12px 25px 12px 25px;
	text-transform: uppercase;
	border: 0 none;
}
.btn-view
{
	font-size: 14px;
	letter-spacing: 3px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border-radius: 4px;
	text-transform: uppercase;
	border: 0 none;
	padding:6px 20px;
}
.purple-bg
{
	background: #630868;
	background: -moz-linear-gradient(left, #630868 0%, #8f1596 54%, #8f1596 100%);
	background: -webkit-linear-gradient(left, #630868 0%, #8f1596 54%, #8f1596 100%);
	background: linear-gradient(to right, #630868 0%, #8f1596 54%, #8f1596 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
}
header
{
	position: absolute;
	z-index: 999;
	width: 100%;
	direction: initial;
	top: 0;
	height: 0;
	-webkit-transition: background .5s, height .2s;
	-moz-transition: background .5s, height .2s;
	transition: background .5s, height .2s;
}
header .sticky-header
{
	background-color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
	position: fixed;
	-webkit-animation: slide-down 0.5s;
	-moz-animation: slide-down 0.5s;
	animation: slide-down 0.5s;
	width: 100%;
}
.bg-purple
{
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
}
.modal-header { }
.mobile-menu-close
{
	padding: 20px 15px 8px 15px;
	text-align: right;
	cursor: pointer;
}
.mobile-menu-close .ti-close
{
	font-size: 20px;
	color: #6a7c92;
	line-height: 1;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
#registration-form label
{
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 14px;
}
#registration-form .form-group { margin-bottom: 8px; }
.multisteps-form__progress
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.multisteps-form__progress-btn
{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	position: relative;
	padding-top: 20px;
	color: rgba(108, 117, 125, 0.7);
	text-indent: 0;
	border: none;
	background-color: transparent;
	outline: none !important;
	cursor: pointer;
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus { box-shadow: none; }
.custom-select:focus
{
	border-color: #000;
	outline: 0;
	box-shadow: none;
}

@media (min-width: 500px) {
.multisteps-form__progress-btn { text-indent: 0; }
}
.multisteps-form__progress-btn:before
{
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 16px;
	height: 16px;
	content: '';
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	border: 2px solid currentColor;
	border-radius: 50%;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 3;
}
.multisteps-form__progress-btn:after
{
	position: absolute;
	top: 7px;
	left: calc(-50% - 13px / 2);
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	display: block;
	width: 100%;
	height: 2px;
	content: '';
	background-color: currentColor;
	z-index: 1;
}
.multisteps-form__progress-btn:first-child:after { display: none; }
.multisteps-form__progress-btn.js-active { color: #630868; }
.multisteps-form__progress-btn.js-active:before
{
	-webkit-transform: translateX(-50%) scale(1.2);
	transform: translateX(-50%) scale(1.2);
	background-color: currentColor;
}
.multisteps-form__form
{
	position: relative;
	margin-bottom: 0;
}

#loginModal .close, #registrationModal .close, .close
{
	color: #fff;
	text-shadow: none;
	opacity: .5;
}
.multisteps-form__panel
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	visibility: hidden;
	border: 0 none;
}
.multisteps-form__panel.js-active
{
	height: auto;
	opacity: 1;
	visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"]
{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active
{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] { left: 50px; }
.multisteps-form__panel[data-animation="slideHorz"].js-active
{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
	transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] { top: 30px; }
.multisteps-form__panel[data-animation="slideVert"].js-active
{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active
{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"]
{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active
{
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.multisteps-form__form input, .multisteps-form__form textarea, .multisteps-form__form select, .multisteps-form__form .custom-file-input
{
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	height: 35px;
}
.multisteps-form__form {
    height: 420px!important;
}
.multisteps-form__form label {
    font-size: 14px;
}
.modal-content
{
	border: 0 none;
	border-radius: 0;
	outline: 0;
}
.modal-header
{
	background: #630868;
	color: #fff;
	border-radius: 0;
}
#registrationModal .modal-content { background: #fff; }
.modal { z-index: 99999; }
.profile-img {
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-right: 0;
    vertical-align: middle;
    border: solid 1px #000;
    outline: 0 none;
    box-shadow: none;
    border-radius: 0;
    MARGIN: 0 auto;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.file
{
	visibility: hidden;
	position: absolute;
}
.file-upload
{
	width: 0;
	max-width: 0;
	padding: 0;
	border: 0 none;
}
.custom-file-upload .btn
{
	margin-top: 21px;
	height: 80px;
}
button.browse.btn.btn-primary {
    position: absolute;
    right: 0px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    top: 115px;
}
.custom-file-upload .file {
    visibility: hidden;
    position: absolute;
    padding: 0;
    height: 0;
}
.custom-file-upload .input-group {
    height: 0;
}
.multisteps-form__form .file-upload{
    width: 0;
    max-width: 0;
    padding: 0;
    border: 0 none;
}
#payment-info .card:hover {
    background: #1b364f;
    color: #fff;
}
.tag-ctn{
    position: relative;
	width:100% !important;
    height: auto !important;
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
   overflow:hidden;
    box-shadow: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    cursor: default;
    display: block;
}
.tag-ctn-invalid{
    border: 1px solid #CC0000;
}
.tag-ctn-readonly{
    cursor: pointer;
}
.tag-ctn-disabled{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn-bootstrap-focus,
.tag-ctn-bootstrap-focus .tag-res-ctn{
    border-color: #111 !important;
    /* IE6-9 */
    
    box-shadow: none !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tag-ctn input{
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    outline: none;
    display: block;
    padding: 8px 6px;
    line-height: normal;
    overflow: hidden;
    height: auto;
    border-radius: 0;
    float: left;
    margin: 2px 0 2px 2px;
}
.tag-ctn-disabled input{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn .tag-input-readonly{
    cursor: pointer;
}
.tag-ctn .tag-empty-text{
    color: #DDD;
}
.tag-ctn input:focus{
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    background: #FFF;
}
.tag-ctn .tag-trigger{
    float: right;
    width: 27px;
    height:100%;
    position:absolute;
    right:0;
    border-left: 1px solid #CCC;
    background: #fff;
    cursor: pointer;
}
.tag-ctn .tag-trigger .tag-trigger-ico {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 6px solid gray;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    margin-left: 7px;
    margin-top: 15px;
}
.tag-ctn .tag-trigger:hover{
    background: #fff;
}
.tag-ctn .tag-trigger:hover .tag-trigger-ico{
    background-position: 0 -4px;
}
.tag-ctn-disabled .tag-trigger{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn-bootstrap-focus{
    border-bottom: 1px solid #CCC;
}
.tag-res-ctn{
    position: relative;
    background: #FFF;
    overflow-y: auto;
    z-index: 9999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0 none;
    left: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	width:100% !important;
}
.tag-res-ctn .tag-res-group{
    line-height: 23px;
    text-align: left;
    padding: 2px 5px;
    font-weight: bold;
    border-bottom: 1px dotted #CCC;
    border-top: 1px solid #CCC;
    background: #f3edff;
    color: #333;
}
.tag-res-ctn .tag-res-item{
    line-height: 25px;
    text-align: left;
    padding: 2px 5px;
    color: #666;
    cursor: pointer;
}
.tag-res-ctn .tag-res-item-grouped{
    padding-left: 15px;
}
.tag-res-ctn .tag-res-odd{
    background: #F3F3F3;
}
.tag-res-ctn .tag-res-item-active{
    background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
    color: #fff;
}
.tag-sel-ctn{
    overflow: auto;
    line-height: 30px;
    padding-right:27px;
}
.tag-sel-ctn .tag-sel-item{
    background: #555;
    color: #EEE;
    float: left;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 4px;
}
.tag-sel-ctn .tag-sel-text{
    background: #FFF;
    color: #666;
    padding-right: 0;
    margin-left: 0;
    font-size: 14px;
    font-weight: normal;
}
.tag-res-ctn .tag-res-item em{
    font-style: normal;
    background: #565656;
    color: #FFF;
}
.tag-sel-ctn .tag-sel-item:hover{
    background: #565656;
}
.tag-sel-ctn .tag-sel-text:hover{
    background: #FFF;
}
.tag-sel-ctn .tag-sel-item-active{
    border: 1px solid red;
    background: #757575;
}
.tag-ctn .tag-sel-ctn .tag-sel-item{
    margin-top: 3px;
}
.tag-stacked .tag-sel-item{
    float: inherit;
}
.tag-sel-ctn .tag-sel-item .tag-close-btn {
    width: 7px;
    cursor: pointer;
    height: 7px;
    float: right;
    margin: 12px 2px 0 10px;
    background: url(../images/close2.svg) no-repeat center center / 100% auto;
}
.tag-sel-ctn .tag-sel-item .tag-close-btn:hover{
    background-position: 0 -7px;
}
.tag-helper{
    color: #AAA;
    font-size: 10px;
    position: absolute;
    top: -17px;
    right: 0;
}

@media (min-width: 992px){
.modal-lg, .modal-xl {
    max-width: 900px;
}}
@media only screen and (max-device-width: 1024px) {
.parallax { background-attachment: scroll; }
}

@media (max-width: 767px) {
header { background: #630868; }
.navbar-dark .navbar-toggler
{
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,1);
	border-width: 0;
}
.navbar-dark .navbar-toggler-icon { background-image: url(../images/menu.svg); }
.navbar-dark.sticky-header .navbar-toggler-icon { background-image: url(../images/menu2.svg); }
.navbar-dark.sticky-header .navbar-toggler
{
	color: rgba(0,0,0,1);
	border-color: rgba(0,0,0,.7);
}
.navbar-collapse
{
	padding: 55px 15px 15px;
	margin-top: -51px;
	z-index: -1;
	background: #0093BA;
	margin-left: -15px;
	margin-right: -15px;
}
.sticky-header.navbar-dark .navbar-nav .nav-link { color: #fff; }
.modal-footer { justify-content: center; }
.navbar-nav .nav-link
{
	color: #fff;
	padding: 10px 22px 10px 15px;
	border-bottom: 1px rgba(106, 124, 146, 0.10) solid;
}
.multisteps-form{
    height: auto;
}
.multisteps-form__form { height: autox!important; }
.profile-img {
    width: 140px;
    height: 150px;
    vertical-align: middle;
    border-radius: 0;
    margin: 0 auto;
}
button.browse.btn.btn-primary {
    right: 25%;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    top: 110px;
}
}
@-webkit-keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}
 @-moz-keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}
 @keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}

/** Custom field plugin **/
/* SELECT */
.selectCF{
	margin:0;
	padding:0;
	display:inline-block;
	position:relative;
	font-size:14px;
	font-weight:500;
	width:100%;
	z-index: 999;
  border: 1px solid #ccc;
}
.selectCF li{
	list-style:none;
	cursor: pointer;
	perspective: 900px;
	-webkit-perspective: 900px;
  text-align: left;
}
.selectCF > li{
	position:relative;
	font-size:0;
}
.selectCF span{
	display:inline-block;
	height:35px;
	line-height:35px;
	color:#FFF;
	z-index:1;
}
.selectCF .arrowCF {
    transition: .3s;
    -webkit-transition: .3s;
    width: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-top: 6px solid gray;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: 14px;
    right: 10px;
}
.selectCF .titleCF{
	padding: 0 10px 0 10px;
	/*border-right: dotted 1px rgba(0,0,0,.5);*/
	font-size:14px;
	font-weight:400;
	overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selectCF .searchCF{
	padding: 0 10px;
	/*border-right: dotted 1px rgba(0,0,0,.5);*/
	position: absolute;
	top:0;
	right:0;
	z-index:-1;
	display:none;
}
.selectCF li ul li:first-child:hover {
    background: transparent;
}
.list-country span.searchCF {
    left: 0;
    right: 0;
    display: block;
}
/*@keyframes searchActive {
	from{ transform: rotateY(180deg) }
	to{ transform: rotateY(0deg); }
}@-moz-keyframes searchActive {
	from{ transform: rotateY(180deg) }
	to{ transform: rotateY(0deg); }
}
@-webkit-keyframes searchActive {
	from{ -webkit-transform: rotateY(180deg) }
	to{ -webkit-transform: rotateY(0deg); }
}*/
.searchActive .searchCF{
	z-index:1;
	animation: searchActive 0.3s alternate 1;
	-moz-animation: searchActive 0.3s alternate 1;
	-webkit-animation: searchActive 0.3s alternate 1;
}
.searchActive .titleCF{
	opacity:0;
}
.selectCF .searchCF input{
	font-family: 'Neucha', cursive;
	line-height:45px;
	border:none;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	background:transparent;
	font-size:17px;
}
.selectCF .searchCF input:active, .selectCF .searchCF input:focus{
	box-shadow:none;
	border:none;
	outline: none;
}
.selectCF li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    padding: 0 !important;
    width: 100.35%;
    background: #FFF;
    max-height: 255px;
    overflow-y: auto;
    transition: .2s;
    -webkit-transition: .2s;
    z-index: 2;
    background: rgba(255,255,255,1);
}
.selectCF li ul li {
    padding: 9px 0 9px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 14px;
    transition: .2s;
    -webkit-transition: .2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.selectCF li ul li:nth-child(even) {background: #f3f3f3;}


.selectCF li ul li:hover{
	background: #630868;
	color:#FFF;
}
/*.selectCF .selected{
	background: #666;
	color:#FFF;
}*/
/*.selectCF li ul li:last-child{
	border-bottom: none;
}*/
/*.onCF .arrowCF{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
@-moz-keyframes effect1 {
	from{ transform: translateY(15px); opacity:0; }
	to{ transform: translateY(0px); opacity:1; }
}
@-webkit-keyframes effect1 {
	from{ -webkit-transform: translateY(15px); opacity:0; }
	to{ -webkit-transform: translateY(0px); opacity:1; }
}*/
.onCF li ul{
	display:block;
	-moz-animation: effect1 0.3s alternate 1;
	-webkit-animation: effect1 0.3s alternate 1;
}
