<div class="card-body text-center d-flex justify-content-center align-items-center pt-0">
                    <div class="capacity-eight">
                      <?php if(empty($one)){ ?>  
                      <div class="seat one" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','1')"></div>
                      <?php }else{?>
                      <div class="seat one booked"  data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$one[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $one[0]['firstName']?></h5><?php $one[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$one[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      <?php if(empty($two)){ ?>  
                      <div class="seat two" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','2')"></div>
                      <?php }else{?>
                      <div class="seat two booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$two[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $two[0]['firstName']?></h5><?php $two[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$two[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      <?php if(empty($three)){ ?>  
                      <div class="seat three" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','3')"></div>
                      <?php }else{?>
                      <div class="seat three booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$three[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $three[0]['firstName']?></h5><?php $three[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$three[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      
                      <?php if(empty($four)){ ?>  
                      <div class="seat four" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','4')"></div>
                      <?php }else{?>
                      <div class="seat four booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$four[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $four[0]['firstName']?></h5><?php $four[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$four[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      <?php if(empty($five)){ ?>  
                      <div class="seat five" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','5')"></div>
                      <?php }else{?>
                      <div class="seat five booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$five[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $five[0]['firstName']?></h5><?php $five[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$five[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      <?php if(empty($six)){ ?>  
                      <div class="seat six" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','6')"></div>
                      <?php }else{?>
                      <div class="seat six booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$six[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $six[0]['firstName']?></h5><?php $six[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$six[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      <?php if(empty($seven)){ ?>  
                      <div class="seat seven" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','7')"></div>
                      <?php }else{?>
                      <div class="seat seven booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$seven[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $seven[0]['firstName']?></h5><?php $seven[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$seven[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
                      
                      <?php if(empty($eight)){ ?>  
                      <div class="seat eight" data-backdrop="false" data-keyboard="false" onclick="grabSeat('1','8')"></div>
                      <?php }else{?>
                      <div class="seat eight booked" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<div class='media'><img src='<?php echo $mediaUrl."profile/".$eight[0]['userId'].".png"?>' width='75' class='mr-3' alt=''><div class='media-body'><h5 class='mt-0'><?php echo $eight[0]['firstName']?></h5><?php $eight[0]['designation'];?></div></div>"> <img src="<?php echo $mediaUrl."profile/".$eight[0]['userId'].".png"?>" class="attendee-pic" data-backdrop="false" data-keyboard="false"> </div>
                      <?php }?>
<!--                      <div class="seat two"></div>
                      <div class="seat three"></div>
                      <div class="seat four"></div>
                      <div class="seat five"></div>
                      <div class="seat six"></div>
                      <div class="seat seven"></div>
                      <div class="seat eight"></div>-->
                      <div class="center-table shadow text-white d-flex justify-content-center align-items-center">Sponsor 1</div>
                    </div>
                  </div>
                  <div class="card-footer border-0 bg-transparent p-2">
                    <?php if($bookSeat==0){?>  
                    <button class="btn btn-sel-seat btn-block pt-2 pb-2">Take a seat</button>
                    <?php }else{?>
                    <button class="btn btn-sel-seat btn-block pt-2 pb-2" type="button" onclick="endcall('1','1');">Leave seat</button>
                    <?php }?>
                  </div>
<script>

 $('[data-toggle="tooltip"]').tooltip(); 
 
function resetsizes(){
	var ts=$(".card-table-slots").outerWidth();
	var ct=$(".center-table").outerWidth();		
	var cts=parseInt((ts-ct)/2.0,10)
console.log('in resize'+cts);
	var ts2=$(".card-table-slots").outerHeight();
	var ct2=$(".center-table").outerHeight();		
	var bt=$(".card-footer").outerHeight();		
	var cts2=parseInt((ts2-ct2-bt)/2.0,10)
	
	$(".seat.three, .seat.four").css('right',cts-25+'px');
	$(".seat.seven, .seat.eight").css('left',cts-25+'px');
	
	$(".seat.one, .seat.two").css('top',cts2-10+'px');
	$(".seat.five, .seat.six").css('bottom',cts2+15+'px');
	
	$(".seat.one, .seat.six").css('left',cts+20+'px');
	$(".seat.two, .seat.five").css('right',cts+20+'px');
	
	$(".seat.three, .seat.eight").css('top',cts2+35+'px');
	$(".seat.four, .seat.seven").css('bottom',cts2+60+'px');
	
} 

$( document ).ready(function() {
	resetsizes();
	//condition started
	$(".seat.one").mouseover(function(){
    var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.one";
	var ts2=$(".card-table-slots").outerHeight();
	var ct2=$(".center-table").outerHeight();		
	var bt=$(".card-footer").outerHeight();		
	var cts2=parseInt((ts2-ct2-bt)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
	$(ff_id).css('top',cts2-40+'px');
	}
	});
	$(".seat.two").mouseover(function(){
		var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.two";
	var ts2=$(".card-table-slots").outerHeight();
	var ct2=$(".center-table").outerHeight();		
	var bt=$(".card-footer").outerHeight();		
	var cts2=parseInt((ts2-ct2-bt)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
		$(ff_id).css('top',cts2-40+'px');
	}

	});
	$(".seat.three").mouseover(function(){
		var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.three";
	var ts=$(".card-table-slots").outerWidth();
	var ct=$(".center-table").outerWidth();		
	var cts=parseInt((ts-ct)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
    $(ff_id).css('right',cts-50+'px');
	}

	});
	$(".seat.four").mouseover(function(){
	var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.four";
	var ts=$(".card-table-slots").outerWidth();
	var ct=$(".center-table").outerWidth();		
	var cts=parseInt((ts-ct)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
	$(ff_id).css('right',cts-50+'px');
	}
	});
	$(".seat.five").mouseover(function(){
		var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.five";
	var ts2=$(".card-table-slots").outerHeight();
	var ct2=$(".center-table").outerHeight();		
	var bt=$(".card-footer").outerHeight();		
	var cts2=parseInt((ts2-ct2-bt)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
	$(ff_id).css('bottom',cts2-10+'px');
	}
	});
	$(".seat.six").mouseover(function(){
		var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.six";
	var ts2=$(".card-table-slots").outerHeight();
	var ct2=$(".center-table").outerHeight();		
	var bt=$(".card-footer").outerHeight();		
	var cts2=parseInt((ts2-ct2-bt)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
    $(ff_id).css('bottom',cts2-10+'px');
	}

	});
	$(".seat.seven").mouseover(function(){
		var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.seven";
	var ts=$(".card-table-slots").outerWidth();
	var ct=$(".center-table").outerWidth();		
	var cts=parseInt((ts-ct)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
    $(ff_id).css('left',cts-50+'px');
	}

	});
	$(".seat.eight").mouseover(function(){
		var fid=$(this).parent().parent().parent().parent().parent().attr('id');
	var ff_id="#"+fid+" .seat.eight";
	var ts=$(".card-table-slots").outerWidth();
	var ct=$(".center-table").outerWidth();		
	var cts=parseInt((ts-ct)/2.0,10);
	if($(ff_id).hasClass('booked')){}
	else{
		$(ff_id).css('left',cts-50+'px');
	}
	});

  $(".seat").mouseout(function(){
    resetsizes();
  });                                         
$(".btn-sel-seat").click(function(){
	$("div.seat.booked").each(function(i,v){
		$(this).removeClass('booked');
	});
	var tbl_id=$(this).parent().parent().parent().attr('id');
	var divids=$("#"+tbl_id).find('.seat').not('.booked')[0];
	var div_class=$(divids).attr('class');
	console.log(div_class);
	if(div_class!==undefined){
	var dc_2=div_class.replace(" ",".");
	$("#"+tbl_id+" ."+dc_2).addClass('booked');
	}
});
});     
 </script> 