<input type="hidden" id="callerId" value="<?php echo $callerId;?>">
<input type="hidden" id="particpantId" value="<?php echo $particpantId;?>">
<div class="modal-body">
        <div class="row no-gutters grid-two">
          <div class="col-6 text-center mb-2">
              <div class="attendee-img p-2"> <img src="<?php echo $mediaUrl."profile/".$userDetail['userId'].".png"?>" class="img-fluid" id="localVideoImage">
              <video id="localVideo" class="img-fluid" autoplay playsinline="" style="display:none"></video> 
              <div class="caption">
                <button type="button" class="btn float-right text-success" id="umute"><i class="fa fa-microphone"></i></button>
                <button type="button" class="btn float-right text-danger" id="mute" style="display:none"><i class="fa fa-microphone-slash"></i></button>
                <p class="name mb-1"><?php echo $userDetail['firstName'];?></p>
                <p class="designation mb-1"><?php echo $userDetail['designation'];?></p>
                <p class="location mb-0"><?php echo $userDetail['country']?></p>
              </div>
            </div>
          </div>
        <?php foreach($particpantList as $value){?>   
          <div class="col-6 text-center mb-2">
              <div class="attendee-img p-2"><img src="<?php echo $mediaUrl."profile/".$value['userId'].".png"?>" class="img-fluid" id="remoteVideoImage">
                <video class="img-fluid" id="remoteVideo" data-user="114303259" autoplay playsinline="" style="display:none"></video>
              <div class="caption">
                <button type="button" class="btn float-right text-success" id="partipateumute"><i class="fa fa-microphone"></i></button>
                <button type="button" class="btn float-right text-danger" id="partipatemute" style="display:none"><i class="fa fa-microphone-slash"></i></button>
                <p class="name mb-1"><?php echo $value['firstName'];?></p>
                <p class="designation mb-1"><?php echo $value['designation'];?></p>
                <p class="location mb-0"><?php echo $value['country'];?></p>
              </div>
            </div>
            <a href="#" class="position-absolute btn-wifi"><i class="fa fa-wifi text-success"></i></a> 
          </div>
        <?php }?>    
<!--            <div id="remoteVideos"></div>-->
        </div>
      </div>
      <div class="modal-footer border-0 justify-content-center position-relative">
        <div id="table-chat" class="card table-chat bg-dark position-absolute rounded collapse" style="max-width:300px; width:100%;">
          <div class="card-header">
            <button class="btn float-right p-0" type="button" data-toggle="collapse" data-target="#table-chat" aria-expanded="false" aria-controls="table-chat"><img src="/eventTap/images/close2.svg" width="12" alt="Close"></button>
            <h5 class="card-title text-white-50 m-0">Table Chat</h5>
          </div>
          <div class="card-body text-white" style="height:200px;">
            <label class="message-text d-block"><span class="sender-name mb-2">Amit:</span> Hi</label>
            <label class="message-text d-block"><span class="sender-name mb-2">Palak:</span> Hi Amit</label>
          </div>
          <div class="card-footer border-0 p-2">
            <input type="text" class="form-control border-0" placeholder="Type here...">
            <small class="text-white-50 mt-2 d-block">250 characters limit</small> </div>
        </div>
        <div class="row no-gutters w-100">
          <div class="col-12 col-md-3 text-muted d-flex align-items-center">
            <label class="ml-3">Table 1</label>
          </div>
          <div class="col-12 col-md-6 text-center">
            <button type="button" class="btn btn-primary close-video position-relative btn-lg ml-2" onclick="disablevideo();" id="disablevideo"><i class="fa fa-video-camera"></i></button>
            <button type="button" class="btn btn-dark btn-lg ml-2" onclick="enablevideo();" id="enablevideo" style="display:none;"><i class="fa fa-video-camera"></i></button>
            <button type="button" class="btn btn-primary btn-lg ml-2" onclick="disableaudio();" id="disableaudio"><i class="fa fa-microphone-slash"></i></button>
            <button type="button" class="btn btn-dark btn-lg ml-2" onclick="enableaudio();" id="enableaudio" style="display:none;"><i class="fa fa-microphone"></i></button>
            <button type="button" class="btn btn-dark btn-lg ml-2"><img src="/eventTap/images/sharing.svg" width="26" alt="Share Screen"></button>
            <button type="button" class="btn btn-dark btn-lg position-relative" data-toggle="collapse" data-target="#table-chat" aria-expanded="false" aria-controls="table-chat"><i class="fa fa-commenting"></i><span class="unread-chat">2</span></button>
          </div>
          <div class="col-12 col-md-3 text-md-right text-center d-flex align-items-center justify-content-end">
              <a href="javascript:void(0);" class="mr-3" id="leaveTable" onclick="endcall('<?php echo $postData['tableId'];?>');">Leave Table</a>
              
          </div>
<!--          <div class="col-12 col-md-3 text-md-right text-center d-flex align-items-center justify-content-end"><a href="javascript:void(0);" class="mr-3" onclick="acceptcall();">Accept Call</a></div>-->
        </div>
      </div>