<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eventap</title>
<!--    <link rel="shortcut icon" href="https://quickblox.com/favicon.ico">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.css"/>
    <link rel="stylesheet" href="/quickblox/samples/video_conferencing/css/style.css">
</head>

<body>
<!-- Main block -->
<div class="container">
    <div id="main_block">

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">

                    <!-- History -->
<!--                    <div class="col-md-4" id="chat_history_col">
                        <div class="list-header">
                            <h4 class="list-header-title">History</h4>
                            <button id="updateHistory" class="update-history"></button>
                        </div>
                        <div class="list-group pre-scrollable nice-scroll" id="dialogs-list">

                             list of chat dialogs will be here 

                        </div>
                    </div>-->


                    <!-- Video Chat -->
                    <div class="col-md-4" id="video_chat_col">
                        <div class="list-header">
                            <h4 class="list-header-title">Video chat</h4>
                        </div>
                        <div class="list-group pre-scrollable nice-scroll" id="videos">
                            <div class="row">
                                <!-- list of video chat participants will be here -->
                            </div>
                        </div>
                    </div>



                    <div id="mcs_container" class="col-md-8">
                        <div class="container del-style">
                            <div class="content list-group pre-scrollable nice-scroll" id="messages-list">

                                <!-- list of chat messages will be here -->

                            </div>
                        </div>

                        <div><img src="/quickblox/samples/video_conferencing/images/ajax-loader.gif" class="load-msg"></div>
                        <form class="form-inline" role="form" method="POST" action="" onsubmit="return submit_handler(this)">
                            <div class="input-group">
                                    <span class="input-group-btn input-group-btn_change_load">
  	                  <input id="load-img" type="file">
  	                <button type="button" id="attach_btn" class="btn btn-default" onclick="$('#load-img').click();">
  		              <i class="icon-photo"></i>
  	                </button>
                    </span>
                                <span class="input-group-btn input-group-btn_change_load">
  	                </button>
                    </span>

                                <span class="input-group-btn" style="width: 100%;">
  	                 <input type="text" class="form-control" id="message_text" placeholder="Enter message">
                    </span>

                                <span class="input-group-btn">
  	                   <button  type="submit" id="send_btn" class="btn btn-primary" onclick="clickSendMessage()">Send</button>
                    </span>
                    <span class="input-group-btn">
<!--                       <a id="call_btn" href="#" tabindex="0" class="btn btn-success" data-toggle="popover" data-trigger="focus" data-placement="top" data-html='true' data-content='<button class="btn btn-default" onclick="clickVideo()">Video</button><button class="btn btn-default" onclick="clickAudio()">Audio</button>'>Start call</a>-->
                    <a id="call_btn" href="javascript:void(0);"  class="btn btn-success"  onclick="clickVideo()">Join call</a>
                    
                    </span>
                  </div>
                            <img src="/quickblox/samples/video_conferencing/images/ajax-loader.gif" id="progress">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
var params = { login: '<?php echo $userDetail['userId'];?>', password: '<?php echo $userDetail['password']?>',full_name: '<?php echo $userDetail['firstName']?>',tag_list:'Table1',chat_dialog:"<?php echo $chat_dialog;?>",quickBloxId: <?php echo $userDetail['quickBloxId'];?>};    
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quickblox/2.7.0/quickblox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>

<script src="/quickblox/samples/video_conferencing/js/video/soundmeter.js"></script>
<script src="/quickblox/samples/video_conferencing/js/helpers.js"></script>
<script src="/quickblox/samples/video_conferencing/js/connection.js"></script>
<script src="/quickblox/samples/video_conferencing/js/config/apps.js"></script>
<script src="/quickblox/samples/video_conferencing/js/config/main.js"></script>
<script src="/quickblox/samples/video_conferencing/js/messages.js"></script>
<script src="/quickblox/samples/video_conferencing/js/ui_helpers.js"></script>
<script src="/quickblox/samples/video_conferencing/js/dialogs.js"></script>
<script src="/quickblox/samples/video_conferencing/js/users.js"></script>

<!-- video conf -->
<script src="/quickblox/samples/video_conferencing/libs/bootbox.min.js"></script>
<script src="/quickblox/samples/video_conferencing/libs/spin.min.js"></script>
<script src="/quickblox/samples/video_conferencing/libs/jquery.blockUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/5.0.1/adapter.min.js" ></script>
<script src="/quickblox/samples/video_conferencing/libs/quickblox-multiparty-video-conferencing-client-0.2.1.min.js"></script>
<script src="/quickblox/samples/video_conferencing/js/video/core.js"></script>
<script src="/quickblox/samples/video_conferencing/js/video/ui_helpers.js"></script>
</body>
</html>