 <!--<div class="wrapper">-->
<footer class="border-top pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center"><small>Copyright 2020 Eventap All rights reserved.</small></div>
      </div>
    </div>
  </footer>
     <!--</div>-->