<?php 
$action = $this->actionName;
$controller = $this->moduleName;
$appName = $this->appName;
$custLib = new CustomLib\Controller\CustomController();
$userDetail  = $custLib->getLoggedInUserId();
$userId   = $userDetail['userId'];
?>
<header>
   <?php //if(empty($userId)){ ?> 
    <nav class="navbar navbar-expand-md navbar-dark text-uppercase"> <a class="navbar-brand" href="/application/index/index"><img src="/eventTap/images/eventap-logo-horizontal.svg" alt=""/></a>
      <button class="navbar-toggler" type="button" data-toggle="flyout" data-target="#mobilemenu"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <?php echo (($action=='index' && $controller=='Application')) ? 'active':''; ?>"> <a class="nav-link" href="/application/index/index">Home</a> </li>
          <li class="nav-item <?php echo (($action=='speaker' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/speaker">Speakers</a> </li>
          <li class="nav-item <?php echo (($action=='agenda' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/agenda">Agenda</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Mentors</a> </li>
          <li class="nav-item <?php echo (($action=='partners' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/partners">Partners</a></li>
          <li class="nav-item"> <a class="nav-link" href="#loginModal"  data-toggle="modal" data-target="#loginModal">Login</a> </li>
          <li class="nav-item"> <a class="nav-link"  href="#registrationModal"  data-toggle="modal" data-target="#registrationModal">Register</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-search"></i></a> </li>
        </ul>
      </div>
    </nav>
    <div class="flyout navbar-flyout right" id="mobilemenu">
      <div class="mobile-menu-close" data-toggle="flyout" data-target="#mobilemenu"> <span class="ti-close"><img src="/eventTap/images/close.svg" width="20px" alt=""/></span> </div>
      <ul class="navbar-nav">
        <li class="nav-item <?php echo (($action=='index' && $controller=='Application')) ? 'active':''; ?>"> <a class="nav-link" href="/application/index/index">Home</a> </li>
        <li class="nav-item <?php echo (($action=='speaker' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/speaker">Speakers</a> </li>
        <li class="nav-item <?php echo (($action=='agenda' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/agenda">Agenda</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Mentors</a> </li>
        <li class="nav-item <?php echo (($action=='partners' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/partners">Partners</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#loginModal"  data-toggle="modal" data-target="#loginModal">Login</a> </li>
        <li class="nav-item"> <a class="nav-link"  href="#registrationModal"  data-toggle="modal" data-target="#registrationModal">Register</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-search"></i></a> </li>
      </ul>
    </div>
   <?php //}else{?>
<!--    <nav class="navbar navbar-expand-md navbar-dark text-uppercase"> <a class="navbar-brand" href="/application/index/index"><img src="/eventTap/images/eventap-logo-horizontal.svg" alt=""/></a>
      <button class="navbar-toggler" type="button" data-toggle="flyout" data-target="#mobilemenu"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <?php echo (($action=='index' && $controller=='Application')) ? 'active':''; ?>"> <a class="nav-link" href="/application/index/index">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          <li class="nav-item <?php echo (($action=='speaker' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/speaker">Speakers</a> </li>
          <li class="nav-item <?php echo (($action=='agenda' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/agenda">Agenda</a> </li>
          <li class="nav-item <?php echo (($action=='user-suitcase' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/user-suitcase">My Schedule Bag</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Mentors</a> </li>
          <li class="nav-item <?php echo (($action=='partners' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/partners">Partners</a></li>
          <li class="nav-item"> <a class="nav-link" href="#loginModal"  data-toggle="modal" data-target="#loginModal">Login</a> </li>
          <li class="nav-item"> <a class="nav-link"  href="#registrationModal"  data-toggle="modal" data-target="#registrationModal">Register</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/application/index/logout">Logout</a></li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
    </nav>
    <div class="flyout navbar-flyout right" id="mobilemenu">
      <div class="mobile-menu-close" data-toggle="flyout" data-target="#mobilemenu"> <span class="ti-close"><img src="/eventTap/images/close.svg" width="20px" alt=""/></span> </div>
      <ul class="navbar-nav">
        <li class="nav-item <?php echo (($action=='index' && $controller=='Application')) ? 'active':''; ?>"> <a class="nav-link" href="/application/index/index">Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
        <li class="nav-item <?php echo (($action=='speaker' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/speaker">Speakers</a> </li>
        <li class="nav-item <?php echo (($action=='agenda' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/agenda">Agenda</a> </li>
        <li class="nav-item <?php echo (($action=='user-suitcase' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/user-suitcase">My Schedule Bag</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Mentors</a> </li>
        <li class="nav-item <?php echo (($action=='partners' && $controller=='Users')) ? 'active':''; ?>"> <a class="nav-link" href="/users/partners">Partners</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#loginModal"  data-toggle="modal" data-target="#loginModal">Login</a> </li>
        <li class="nav-item"> <a class="nav-link"  href="#registrationModal"  data-toggle="modal" data-target="#registrationModal">Register</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/application/index/logout">Logout</a></li>
<li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-search"></i></a> </li>
      </ul>
    </div>-->
   <?php //}?>
  </header>