<?php  echo $this->doctype();?>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Event</title>
<link rel="icon" href="/eventTap/images/cropped-app-icon_2@3x-32x32.png" sizes="32x32" />
<link rel="icon" href="/eventTap/images/cropped-app-icon_2@3x-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/eventTap/images/cropped-app-icon_2@3x-180x180.png" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
<?php echo $this->partial("layout/layoutscriptcss.phtml");?>
</head>
<body>
<div id="filter-overlay" class="filter-overlay" style="display:none;"></div>
<div class="wrapper"> <?php echo $this->partial("layout/header.phtml");?> <?php echo $this->content;?> <?php echo $this->partial("layout/footer.phtml");?> </div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">Login
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt=""/></span> </button>
      </div>
      <section id="login-form">
        <div class="card border-0 rounded-0">
          <div class="card-body pb-0">
            <form class="needs-validation" novalidate>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)" type="email" id="loginemail" class="form-control rounded-0" required>
                <div class="invalid-feedback"> Please provide a valid Email address. </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control rounded-0" id="exampleInputPassword1" required>
                <div class="invalid-feedback"> Please provide a valid password. </div>
                <small id="emailHelp" class="form-text text-muted text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#forgotpasswordModal" data-dismiss="modal">Forgot Password?</a></small> </div>
            </form>
          </div>
        </div>
      </section>
      <!--<div class="modal-footer"><a href="javascript:void(0);" data-toggle="modal" data-target="#registrationModal" data-dismiss="modal">New user? Register now</a>-->
       <div class="modal-footer"><a href="javascript:void(0);" data-toggle="modal" data-target="#registrationModal" data-dismiss="modal"></a>
          <button type="button" class="btn btn-submit" onclick="loginUser();">Login</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="forgotpasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotpasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">Forgot Password
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">
                <img src="/eventTap/images/close2.svg" width="15" alt=""/>
            </span> </button>
      </div>
      <section id="login-form">
        <div class="card border-0 rounded-0">
          <div class="card-body">
            <form class="needs-validation" novalidate>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)" type="email" id="forgetemail" class="form-control rounded-0" required>
                <div class="invalid-feedback"> Please provide a valid Email address. </div>
              </div>
              <button type="button" class="btn btn-submit" onclick="forgotpassword();">SEND</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<?php  echo $this->inlineScript();?>
<?php
$skills = $this->skills;
$countryList = $this->countryList;
?>
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pt-2 pb-2">Registration
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt=""/></span> </button>
      </div>
      <!-- Multistep Form (START) JUNE 05 2020 -->
      <div class="modal-body">
        <div class="stepwizard">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step"> <a href="#step-1" class="btn btn-primary btn-circle"></a>
              <p>Step 1</p>
            </div>
            <div class="stepwizard-step"> <a href="#step-2"  class="btn btn-default btn-circle">2</a>
              <p>Step 2</p>
            </div>
            <div class="stepwizard-step"> <a href="#step-3"  class="btn btn-default btn-circle" >3</a>
              <p>Step 3</p>
            </div>
          </div>
        </div>
        <form role="form" enctype="multipart/form-data" method="post" action="<?php echo htmlspecialchars("/eventprogram/add-agenda");?>" name="sendNotification" id="signupFirst">
          <div class="row setup-content" id="step-1">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-3 d-none">
                  <div id="crop-img-wrap" class="crop-img-wrap upload-crop-tool">
                    <div class="actions"> <a class="btn file-btn"> <span>Upload</span>
                      <input type="file" id="upload" value="Choose a file" accept="image/*" />
                      </a>
                      <button class="upload-result">Crop</button>
                    </div>
                    <div class="upload-msg"> Upload a file to start cropping </div>
                    <div class="upload-img-wrap">
                      <div id="upload-crop"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="profile-img"><img id="preview" src="/eventTap/images/TRA_Avatar.png" alt=""></div>
                  <div class="btncolumns1">
                    <button type="button" class="browse btn btn-primary"><i class="fa fa-camera"></i></button>
                    <button class="btn btn-primary btn-lg d-none" type="submit" id="btn-save1">Save</button>
                  </div>
                  <div class="custom-file-upload">
                    <div id="msg"></div>
                    <input type="file" name="attachment[]" class="file" accept="image/*" id="fup1">
                    <div class="input-group">
                      <input type="text" class="form-control file-upload border-0" disabled placeholder="Upload File" id="file1">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>First Name</label>
                        <input  pattern="[A-Za-z ]{3,25}" type="text" name="fname" id="fname" class="form-control" placeholder="" required/>
                        <div class="invalid-feedback">Please enter your first name.</div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input pattern="[A-Za-z ]{3,25}" type="text" name="lname" id="lname" class="form-control" required placeholder=""/>
                        <div class="invalid-feedback">Please enter your last name.</div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12">
                      <div id="select-user-type" class="form-group">
                        <label>Type of user</label>
                        <div class="style1">
                          <select id="user-type" class="form-control" name="userType" required>
                            <option selected="selected" value="">Select User Type</option>
                            <option value="VIP">VIP</option>
                            <option value="HRPRAC">HRPRAC</option>
                            <option value="SERVICEPRO">SERVICEPRO</option>
                          </select>
                          <div class="invalid-feedback">Please select type of user.</div>
                        </div>
                        <label id="event-change" class="d-none"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)" type="email" name="email" id="regemail" class="form-control" placeholder="" required  autofocus/>
                    <div class="invalid-feedback">Please provide valid email.</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="" required/>
                    <div class="invalid-feedback">Please provide valid password.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div id="select-country-code" class="form-group list-country">
                    <label>Country Code</label>
                    <select id="Country-Code" class="form-control" name="countryCode">
                      <option value="+91" selected>India (+91)</option>
                      <?php foreach($countryList as $phonecode){?>
                      <option value="<?php echo '+'.$phonecode['phonecode']?>"><?php echo $phonecode['nicename']." (+".$phonecode['phonecode'].")"?></option>
                      <?php }?>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Mobile Number</label>
                    <input pattern="[0-9]{10}" maxlength="10" type="tel" name="mobile" id="mobile" class="form-control" placeholder=""/>
                    <div class="invalid-feedback">Please provide valid mobile number.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-row d-flex mt-0">
              <button class="nextBtn btn btn-primary ml-auto js-btn-next float-right" type="button" >Next</button>
            </div>
          </div>
          <div class="row setup-content" id="step-2">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" name="companyName" class="form-control" placeholder="" required/>
                    <div class="invalid-feedback">Please provide company name.</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Designation</label>
                    <input type="text" name="designation" class="form-control" placeholder=""/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" placeholder=""/>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div id="select-country" class="form-group list-country">
                    <label>Country</label>
                    <select id="country" class="form-control sel-custom" name="country">
                      <option  value="India" selected>India</option>
                      <?php foreach($countryList as $phonecode){?>
                      <option value="<?php echo $phonecode['nicename']?>"><?php echo $phonecode['nicename']?></option>
                      <?php }?>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div id="select-gender" class="form-group">
                    <label>Gender</label>
                    <select id="gender" class="form-control sel-custom"  name="gender" required>
                      <option value="" selected>Select Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-row d-flex mt-0">
              <button data-target-id="#step-1" class="prevBtn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
              <button class="nextBtn btn btn-primary ml-auto js-btn-next float-right" type="button" >Next</button>
            </div>
          </div>
          <div class="row setup-content" id="step-3">
            <div id="form-step-4" class="w-100" style="display:block;">
              <div class="col-12">
                <div class="form-group">
                  <label>Area of Interest</label>
                  <select id="ddlAreaofInterest" class="js-example-basic-multiple form-control" name="areaOfInterest[]" multiple="multiple">
                    <?php foreach($skills as $skill){?>
                    <option value="<?php echo $skill['id']?>"><?php echo $skill['name']?></option>
                    <?php }?>
                  </select>
                </div>
                <div class="form-group">
                  <label>How would you describe your role</label>
                  <textarea class="form-control h-auto" rows="4" name="role"></textarea>
                </div>
              </div>
              <div class="button-row row-submit d-flex mt-0 col-12">
                <button data-target-id="#step-2" class="prevBtn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                <button type="submit" class="btn btn-success ml-auto float-right" type="SUBMIT" >
                SUBMIT
                </button>
              </div>
            </div>
            <div class="col-12" id="payment-info" style="display:none;">
              <div>
                <div class="row">
                  <div class="col-12">
                    <h4 class="text-center mb-4">Select Your Subscription Plan</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="card border shadow-sm mb-3">
                      <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="22500">
                          <label class="custom-control-label" for="customRadio1"><span class="plan-price">₹ 22,500</span><br>
                            1-3 Participants<br>
                            Savings - ₹ 7500</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card border shadow-sm mb-3">
                      <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="32500">
                          <label class="custom-control-label" for="customRadio2"><span class="plan-price">₹ 32,500</span><br>
                            1-3 Participants<br>
                            Savings - ₹ 7500</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card border shadow-sm">
                      <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="52500">
                          <label class="custom-control-label" for="customRadio3"><span class="plan-price">₹ 52,500</span><br>
                            1-3 Participants<br>
                            Savings - ₹ 7500</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button type="button" class="btn btn-purple pl-5 pr-5 pt-3 pb-3 mt-4" onclick="subscrptionplan();">Choose Plan</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <!-- Multistep Form (END) JUNE 05 2020 -->
      
      <select class="pick-animation__select form-control d-none">
        <option value="scaleIn" selected="selected">ScaleIn</option>
        <option value="scaleOut">ScaleOut</option>
        <option value="slideHorz">SlideHorz</option>
        <option value="slideVert">SlideVert</option>
        <option value="fadeIn">FadeIn</option>
      </select>
    </div>
  </div>
</div>
<div class="modal fade" id="speakerModal" tabindex="-1" role="dialog" aria-labelledby="speakerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="speakerdetail"></div>
    </div>
  </div>
</div>
<script src="/eventTap/js/custom.js"></script> 
<script src="/eventTap/js/jquery.imgareaselect.js" type="text/javascript"></script> 
<script>    
//   function showsubs(){
//
////$("#form-step-4").css('display','none');
////$("#payment-info").css('display','block');
////$("#pgbar").css('display','none');
//
//}  
   $(document).ready(function (e) { 
   
   
   
   
  $('#ddlAreaofInterest').select2({dropdownParent: $('#registrationModal')}); 
  
  $('#Country-Code').select2({dropdownPosition: 'above',dropdownParent: $('#select-country-code')});
  $('#user-type').select2({dropdownParent: $('#select-user-type')});
  $('#country').select2({dropdownParent: $('#select-country')});
  $('#gender').select2({dropdownPosition: 'above',dropdownParent: $('#select-gender')});
  
       
   $("#signupFirst").on('submit',(function(e) {
        e.preventDefault();
    $.ajax({
                type: "POST",
                url: '/application/index/registration',
                data:  new FormData(this), 
                datatype:'json',
                contentType: false,       
                 cache: false,             
                processData:false,
    success: function (data) {
                    //alert(data); return false;
                  if(data.send.status==1){
                   $("#userid").val(data.send.userId);
                   $("#regemail").val("");
                   $("#loginemail").val("");
                   $("#exampleInputPassword1").val("");
                   $("#form-step-4").css('display','none');
                   $("#payment-info").css('display','block');
                   $("#pgbar").css('display','none');
                  }else{
                   alert("Email already exist");
                   return false;
                  }
               // window.location.href = "/application/index/payment/"+data.send.userId;
               },
//                failure: (function () { alert("Failure!!"); })
          });
  }));
     });
     
     
 $(document).ready(function() {  
 
   $("#mobile").keypress(function(e){
    var keyCode = (e.keyCode ? e.keyCode : e.which);
    if ( (keyCode != 8 || keyCode ==32 ) && (keyCode < 48 || keyCode > 57)) {
      return false;
    }
  });
 $("#fname, #lname").keypress(function(e){
 var regex = new RegExp("^[a-zA-Z ]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        else
        {
        e.preventDefault();
        return false;
        }
  });
//  $('#regemail').on('change', function() {
//      var email = $("#regemail").val();
//      var countyCode = $("#Country-Code").val();
//      var mobile = $("#mobile").val();
//      var type =1;
//      if(email!=""){
// $.ajax({
//        type: "POST",
//        url: '/application/index/emailcheck',
//       data: {email:email,countyCode:countyCode,mobile:mobile,type:type},
//       datatype:'json',
//       beforeSend: function (data) {
//                $("#startup").show();
//            },
//       success: function (data) {
//            if(data.send.status==0){   
//                alert(data.send.message);
//                if(type==1){
//                  $("#regemail").val("");   
//                }else{
//                  $("#mobile").val("");   
//                }
//                return false;
//            } else {
//             return true;  
//           }
//        },
//       failure: (function () { alert("Failure!!"); })
//      });
//     }
//  
//  });
  
  
  
   
    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
	 $(document).on("click", ".browse", function() { 
  $("#fup1").trigger("click"); 
}); 
	$('#fup1').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file1").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
    // get loaded data and render thumbnail.
    document.getElementById("preview").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
  
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});
 });
$(function()
{
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();
		if($('.controls .entry').length < 5){
			var controlForm = $('.controls:first'),
				currentEntry = $(this).parents('.entry:first'),
				newEntry = $(currentEntry.clone()).appendTo(controlForm);
			$(this).parent().children('.fileName').css('background-image','url("")');
			newEntry.find('input').val('');
			controlForm.find('.entry:not(:first) .btn-add')
				.removeClass('btn-add').addClass('btn-remove')
				.html('<span class="fa fa-minus"></span>');
		}
    }).on('click', '.btn-remove', function(e)
    {
      $(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	}).on('change', '.attachment', function(e)
    {
//        var fileName = e.target.files[0].name;
//        $(this).parent().parent().children('.fileName').html(fileName);
		 readURL(this);
	});
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $(input).parents('.entry').children('#blah').css('background-image', 'url("'+ e.target.result+'")');
    }

    reader.readAsDataURL(input.files[0]);
  }
}	
});
function subscrptionplan(){
 var subscrptionplan = $('input[name="customRadio"]:checked').val();
 var userId = $("#userid").val();
 //alert(userId); return false;
 window.location.href = "/application/index/payment/"+userId+"?payment="+subscrptionplan;
}
 </script> 
<script>
 function isValidEmail(emailText) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(emailText);
};   
function loginUser(){
     var username = $("#loginemail").val();
     var pass = $("#exampleInputPassword1").val();
    if(username==""){
       alert("Email is required");   
       return false;
    }
    if( !isValidEmail(username) ) {
       alert("Email is not valid");  
       return false;
    }
    if(pass==""){
      alert("Password is required");  
       return false;
    }
     $.ajax({
        type: "POST",
        url: '/application/index/login',
       data: {username:username,password:pass},
       datatype:'json',
       
       beforeSend: function (data) {
                $("#startup").show();
            },
       success: function (data) {
            if(data.send.status==0){
                //$("#regemail").val("");
                //$("#loginemail").val("");
                //$("#exampleInputPassword1").val("");
                alert(data.send.message);
                return false;
            } else {
               //$("#regemail").val("");
              // $("#loginemail").val("");
              // $("#exampleInputPassword1").val(""); 
               window.location.href = data.send.url;
           }
       },
       failure: (function () { alert("Failure!!"); })
      });       
 }      
function cancelform(){
    window.history.back()
    return true;
}

//function checkEmail(type){
// var email = $("#regemail").val();
// var countyCode = $("#Country-Code").val();
// var mobile = $("#mobile").val();
// $.ajax({
//        type: "POST",
//        url: '/application/index/emailcheck',
//       data: {email:email,countyCode:countyCode,mobile:mobile,type:type},
//       datatype:'json',
//       beforeSend: function (data) {
//                $("#startup").show();
//            },
//       success: function (data) {
//            if(data.send.status==0){   
//                alert(data.send.message);
//                if(type==1){
//                  $("#regemail").val("");   
//                }else{
//                  $("#mobile").val("");   
//                }
//                return false;
//            } else {
//             return true;  
//           }
//        },
//       failure: (function () { alert("Failure!!"); })
//      });
//}
function clearmodelpopup(type){
 if(type==1){
   $('#speakerModal .speakerdetail').html("");  
   $('#speakerModal').modal('hide'); 
  return true; 
 }else{
   $('#agendaModal .appendAgenda').html("");
   $('#agendaModal').modal('hide');
   return true;
 }
}
function forgotpassword(){
  var username = $("#forgetemail").val();
    if(username==""){
       alert("Email is required");   
       return false;
    }
    if( !isValidEmail(username) ) {
       alert("Email is not valid");  
       return false;
    }
    
     $.ajax({
        type: "POST",
        url: '/application/index/forget-password',
       data: {username:username},
       datatype:'json',
       
       beforeSend: function (data) {
                $("#startup").show();
            },
       success: function (data) {
            if(data.send.status==0){   
                alert(data.send.message);
                return false;
            } else {
               alert(data.send.message);
               $("#forgetemail").val("");
               $('#forgotpasswordModal').modal('hide'); 
               return true;
          }
       },
       failure: (function () { alert("Failure!!"); })
      });  
}
//Select2 Position Update

</script>
<script>
	$(document).ready(function(){	
	Demo.init();
	<!-- $uploadCrop = $('#upload-crop').croppie({ -->
    <!-- enableExif: true, -->
    <!-- viewport: { -->
        <!-- width: 200, -->
        <!-- height: 200, -->
        <!-- type: 'circle' -->
    <!-- }, -->
    <!-- boundary: { -->
        <!-- width: 300, -->
        <!-- height: 300 -->
    <!-- } -->
	<!-- }); -->
	});
	</script>
</body>
</html>