<?php // echo $tabaction;?>
<?php if ($this->pageCount): ?>
    <div>
        <ul class="pagination">
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <li>
                    <a href="javascript:void(0)"  onclick="pageHit(<?php echo $this->previous; ?>,'<?php echo $this->tabaction; ?>')">
                        <<
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="javascript:void(0)">
                        <<
                    </a>
                </li>
            <?php endif; ?>
            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li>
                        <a  href="javascript:void(0)"  onclick="pageHit(<?php echo $page; ?>,'<?php echo $this->tabaction; ?>')">
                            <?php echo $page; ?>
                        </a>
                    </li>
                <?php else: ?>
                    <li class="active">
                        <a href="javascript:void(0)"><?php echo $page; ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
                <li>
                    <a  href="javascript:void(0)"  onclick="pageHit(<?php echo $this->next; ?>,'<?php echo $this->tabaction; ?>')">
                        >>
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="javascript:void(0)">
                        >>
                    </a>
                </li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>