<?php  
if ($this->pageCount): ?>
<!--//-->
<div style="text-align: center !important;">
  <ul class="pagination justify-content-center mt-3 mb-2">
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
    <li class="page-item"> <a class="page-link" onclick="paginatePrev('<?php echo $this->previous; ?>','<?php echo $this->action ?>')" href="javascript:void(0)"> << </a> </li>
    <?php else: ?>
    <li class="page-item disabled"> <a class="page-link" href="#"> << </a> </li>
    <?php endif; ?>
    
    <!-- Numbered page links -->
    <?php foreach ($this->pagesInRange as $page): ?>
    <?php if ($page != $this->current): ?>
    <li class="page-item"> <a class="page-link" onclick="pageChange('<?php echo $page; ?>','<?php echo $this->action ?>')" href="javascript:void(0)" > <?php echo $page; ?> </a> </li>
    <?php else: ?>
    <li class="page-item active"> <a class="page-link" href="#"><?php echo $page; ?></a> </li>
    <?php endif; ?>
    <?php endforeach; ?>
    
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
    <li class="page-item"> <a class="page-link" onclick="paginateNext('<?php echo $this->next; ?>','<?php echo $this->action ?>')" href="javascript:void(0)" > >> </a> </li>
    <?php else: ?>
    <li class="page-item disabled"> <a class="page-link" href="#"> >> </a> </li>
    <?php endif; ?>
  </ul>
</div>
<?php endif; ?>
<script type="text/javascript">
    function paginatePrev(page, CurrentAction)
    {
        var data = {};
        data['page'] = page;        
        data['countperPage'] = '12';
        data['search'] = $('#searchWebinarSpeaker').val();
        data['pera'] = $('#pera').val();
        data['filter'] = $('#exportAction').val();
        data['toDate'] = $('#toDate').val();
        data['fromDate'] = $('#fromDate').val();       
        data['agendaLocation'] = $('#agendaLocation').val();
        data['usergroup'] = $('#usergroup').val();
        data['uiType'] = $('#uiType').val();
//       data['searchSpeaker'] = $('#searchWebinarSpeaker').val();
        
        var action = CurrentAction;
        var url = '/<?php echo $this->route ?>/'+action;
        
        $.ajax({
                url: url,
                type: 'POST',
                datatype: 'html',
                data: data,
                success: function (data, status)
                {
                    $('#resultData').html(data);
                }
            });
    }
    
    function pageChange(page, CurrentAction)
    {
        var data = {};
        data['page'] = page;
        data['countperPage'] = '12';
        data['search'] = $('#searchWebinarSpeaker').val();
        data['pera'] = $('#pera').val();
        data['filter'] = $('#exportAction').val();
        data['toDate'] = $('#toDate').val();
        data['fromDate'] = $('#fromDate').val();
        data['agendaLocation'] = $('#agendaLocation').val();
        data['usergroup'] = $('#usergroup').val();
        data['uiType'] = $('#uiType').val();
//       data['searchSpeaker'] = $('#searchWebinarSpeaker').val();
        
        
        var action = CurrentAction;
        var url = '/<?php echo $this->route ?>/'+action;
        
        $.ajax({
                url: url,
                type: 'POST',
                datatype: 'html',
                data: data,
                success: function (data, status)
                {
                	$('#resultData').html(data);               
                }
            });
    }
    function paginateNext(page, CurrentAction)
    {
        var data = {};
        data['page'] = page;
        data['countperPage'] = '12';
        data['search'] = $('#searchWebinarSpeaker').val();
        data['pera'] = $('#pera').val();
        data['filter'] = $('#exportAction').val();
        data['toDate'] = $('#toDate').val();
        data['fromDate'] = $('#fromDate').val();
        data['agendaLocation'] = $('#agendaLocation').val();
        data['usergroup'] = $('#usergroup').val();
        data['uiType'] = $('#uiType').val();
//        data['searchSpeaker'] = $('#searchWebinarSpeaker').val();
       
        var action = CurrentAction;
        var url = '/<?php echo $this->route ?>/'+action;
        $.ajax({
                url: url,
                type: 'POST',
                datatype: 'html',
                data: data,
                success: function (data, status)
                { 
                	$('#resultData').html(data);
                }
            });
    }
</script>