<?php 
$action = $this->actionName;
$controller = $this->moduleName;
$appName = $this->appName;
$custLib = new CustomLib\Controller\CustomController();
$userDetail  = $custLib->getLoggedInUserId();
?> 
<!-- Sidebar Menu -->
    <div id="sidebar-container" class="sidebar-expanded border-right">
      <div class="list-group"> 
        <!-- Logo --> 
        <a href="javascript:void(0);" data-toggle="sidebar-colapse" class="list-group-item list-group-item-action d-none d-sm-none d-lg-flex align-items-center logo">
        <div class="d-flex w-100 justify-content-end align-items-center"><span id="collapse-text" class="menu-collapsed"></span> <span id="collapse-icon" class="collapse-icon"><i class="fa fa-bars"></i></span> </div>
        </a>
        <a href="/application/index/index" class="list-group-item list-group-item-action flex-column align-items-start <?php echo (($action=='index' && $controller=='Application')) ? 'active':''; ?>">
        <div class="d-flex w-100 align-items-center"> <i class="fa fa-dashboard" aria-hidden="true"></i> <span class="ml-3 menu-collapsed">Dashboard</span></div>
        </a>
        <a href="/event/manage-app-launch" class="list-group-item list-group-item-action flex-column align-items-start <?php echo (($action=='manage-app-launch' && $controller=='Users')) ? 'active':''; ?>">
        <div class="d-flex w-100 align-items-center"> <i class="fa fa-apple" aria-hidden="true"></i> <span class="ml-3 menu-collapsed">App Launch</span> </div>
        </a>
        <a href="/eventprogram/manage-user" class="list-group-item list-group-item-action flex-column align-items-start <?php echo (($action=='manage-user' && $controller=='Posts')) ? 'active':''; ?>">
        <div class="d-flex w-100 align-items-center"> <i class="fa fa-user" aria-hidden="true"></i> <span class="ml-3 menu-collapsed">Manage Attendee</span> </div>
        </a>
        <a href="/eventprogram/manage-speaker" class="list-group-item list-group-item-action flex-column align-items-start <?php echo (($action=='manage-speaker' && $controller=='Posts')) ? 'active':''; ?>">
        <div class="d-flex w-100 align-items-center"> <i class="fa fa-volume-up" aria-hidden="true"></i> <span class="ml-3 menu-collapsed">Manage Speaker</span> </div>
        </a>
        <a href="/eventprogram/manage-agenda" class="list-group-item list-group-item-action flex-column align-items-start <?php echo (($action=='manage-agenda' && $controller=='Posts')) ? 'active':''; ?>">
        <div class="d-flex w-100 align-items-center"> <i class="fa fa-calendar" aria-hidden="true"></i> <span class="ml-3 menu-collapsed">Manage Agenda</span> </div>
        </a>
      </div>
      <!-- List Group END--> 
    </div>
    <!-- sidebar-container END --> 
    <script>
    // Hide submenus
//$('#body-row .collapse').collapse('hide'); 

// Collapse/Expand icon
$('#collapse-icon').addClass(''); 
$('#collapse-icon2').addClass(''); 

// Collapse click
$('[data-toggle=sidebar-colapse]').click(function() {
    SidebarCollapse();
});

function SidebarCollapse () {
    $('.menu-collapsed').toggleClass('d-none');
    $('.sidebar-submenu').toggleClass('d-none');
    $('.submenu-icon').toggleClass('d-none');
    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
    
    // Treating d-flex/d-none on separators with title
    var SeparatorTitle = $('.sidebar-separator-title');
    if ( SeparatorTitle.hasClass('d-flex') ) {
        SeparatorTitle.removeClass('d-flex');
    } else {
        SeparatorTitle.addClass('d-flex');
    }
    
    // Collapse/Expand icon
    $('#collapse-icon').toggleClass('');
    $('#collapse-icon2').toggleClass('s');
}
$( document ).ready(function() {      
    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;


   if (isMobile) {
        $( document ).ready(function() {  
			$('.menu-collapsed').toggleClass('d-none');
			$('.sidebar-submenu').toggleClass('d-none');
			$('.submenu-icon').toggleClass('d-none');
			$('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
	 
		});
    }
 });    
    </script>    