<link rel="icon" href="/eventTap/images/expoodle/expoodle-icon-32x32.png" sizes="32x32" />
<link rel="icon" href="/eventTap/images/expoodle/expoodle-icon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/eventTap/images/expoodle/expoodle-icon-180x180.png" />

<style>
@font-face {
    font-family: 'Audiowide';
    src: url('/eventTap/fonts/Audiowide-Regular.woff2') format('woff2'),
        url('/eventTap/fonts/Audiowide-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.cover-image { background: url(/eventTap/images/eventech-bg.jpg) no-repeat center center / cover; }
.cover-image h1
{
	font-family: 'Audiowide';
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
}
.cover-image h3
{
	color: #fff;
	font-size: 21px;
}
.cover-image:before
{
	content: "";
	background: rgba(0, 0, 0, .5);
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
header, footer { display: none; }
#fullscreen {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
	
}
.btn{font-family: 'Audiowide';}
</style>
<main class="main-content">
  <div id="fullscreen"><a id="btnShowFS" href="#" onclick="openFullscreen();"><img src="/eventTap/images/expoodle/fullscreen.svg" width="18"></a><a id="closefs" href="#" onclick="closeFullscreen();"><img src="/eventTap/images/expoodle/exit-fullscreen.png" width="18"></a></div>
  <input type="hidden" id="userid" value="">
  <section id="intro-screen" class="cover-image vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 text-center"> <img src="/eventTap/images/expoodle/expoodle-logo.png" width="400">
          <h1 class="text-uppercase mt-3">Virtual Event Platform</h1>
          <button type="button" class="btn btn-submit mt-3 pl-5 pr-5" data-toggle="modal" data-target="#loginModal">Login</button>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
var elem = document.documentElement;
document.getElementById("closefs").style.display="none";
function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
  document.getElementById("btnShowFS").style.display="none";
  document.getElementById("closefs").style.display="block";
// $("body").addClass('overflow-hidden');
}

 
function closeFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.mozCancelFullScreen) { /* Firefox */
    document.mozCancelFullScreen();
  } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE/Edge */
    document.msExitFullscreen();
  }
  document.getElementById("btnShowFS").style.display="block";
  document.getElementById("closefs").style.display="none";
 // $("body").removeClass('overflow-hidden');
 
}
</script>
