<style>
.cover-image { background: url(/eventTap/images/eventech-bg.jpg) no-repeat center center / cover; }
.cover-image h1
{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
}
.cover-image h3
{
	color: #fff;
	font-size: 21px;
}
.cover-image:before {
    content: "";
    background: rgba(0, 0, 0, .5);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
header, footer{display:none;}
/*#event-speakers .single-speakers, #event-mentors .single-speakers
{
	margin-bottom: 0px;
	color: #929FA8;
}
#event-speakers .single-speakers .info, #event-mentors .single-speakers .info { padding: 25px 0; }
#event-speakers .single-speakers .info h3, #event-mentors .single-speakers .info h3
{
	font-size: 18px;
	font-weight: bold;
	color: #374045;
	margin-bottom: 5px;
}
#event-speakers .single-speakers .info span.position, #event-mentors .single-speakers .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
}
#event-speakers .single-speakers .info p, #event-mentors .single-speakers .info p
{
	color: #929FA8;
	margin-bottom: 30px;
}
#event-speakers .single-speakers .img-holder .img-container, #event-mentors .single-speakers .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
}
#event-speakers .single-speakers .img-holder img, #event-mentors .single-speakers .img-holder img
{
	border-radius: 50%;
	box-shadow: -2px 2px 0 -1px rgba(11, 186, 151, 0.7), 2px 2px 0 -1px rgba(247, 159, 255, 0.7);
}
#event-speakers .single-speakers, #event-mentors .single-speakers { margin-bottom: 0px; }
#event-speakers .single-speakers, #event-mentors .single-speakers { margin-top: 60px; }
#event-registration h2 { font-size: 40px; }
#speakerModal .modal-content
{
	background-color: transparent;
	border: 0 none;
}*/
/*.custom-select *
{
	border-radius: 0;
	background-color: fff;
	border: 0 none;
}
.custom-control
{
	padding: .7rem 1rem .7rem 2rem;
	cursor: pointer;
}

.custom-control-label
{
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	cursor: pointer;
}
.plan-price
{
	font-size: 24px;
	vertical-align: middle;
}
.custom-control-label::before { top: .7rem; }
.custom-control-label::after { top: .7rem; }
#select-gender .select2-search--dropdown { display: none; }
.card.card-single:hover::before
{
	content: "";
	background: rgba(0, 0, 0, .25);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
.card.card-single .card-body { z-index: 2; }

@media only screen and (max-width: 767px) {
#event-speakers .single-speakers .info, #event-mentors .single-speakers .info { text-align: center; }
.modal-dialog { margin: 0; }
}*/

</style>
<main class="main-content">
  <input type="hidden" id="userid" value="">
  <section class="cover-image vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 text-center">
        <!--<img src="/eventTap/images/eventap-logo2.svg" width="275">-->
          <!--<h1 class="text-uppercase mt-3">Virtual Event Tech Platform</h1>-->
         <!--<button type="button" class="btn btn-submit mt-3 pl-5 pr-5" data-toggle="modal" data-target="#loginModal">Login</button>-->
        </div>
      </div>
    </div>
  </section>
  <!--<section class="about-event"> </section>
  <section id="event-speakers" class="event-speakers pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center">
          <h2 class="section-title mb-3">Our Speakers</h2>
          <p>Learn from illuminating talks, case studies & hands-on masterclasses from leaders around the world on cutting edge application of technology</p>
        </div>
      </div>
      <div class="row">
        <?php //foreach($speakerList as $speaker) {?>
        <div class="col-12 col-md-6">
          <div class="single-speakers row d-flex align-items-center" data-toggle="modal" data-target="#speakerModal" onclick="appendUserDetail('<?php //echo base64_encode($speaker['userId']);?>','speaker');">
            <div class="info text-center text-md-right col-lg-6 col-md-7 col-sm-7 order-2 order-md-1">
              <h3><?php //echo $speaker['firstName'];?></h3>
              <span class="position"><?php //echo $speaker['designation'];?></span> <span class="company"><?php //echo $speaker['companyName'];?></span>
              <p><?php //echo $speaker['country'];?></p>
            </div>
            <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5 order-1 order-md-2">
              <div class="img-container"><img width="228" height="233" src="<?php //echo $mediaUrl."profile/".$speaker['userId'].".png"?>" class="attachment-eventtime_three size-eventtime_three wp-post-image" alt="4"></div>
            </div>
          </div>
        </div>
        <?php //}?>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-5"> <a class="btn btn-show-more" href="/users/speaker">VIEW ALL SPEAKERS</a> </div>
      </div>
    </div>
  </section>
  <section id="event-registration" class="p-5 purple-bg">
    <div class="container text-white text-center p-4">
      <h2 class="text-uppercase">Register to Eventap now!</h2>
      <p class="mb-5 mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting <br>
        industry. took a galley of type and scrambled it to make a type.</p>
      <a href="#registrationModal"  data-toggle="modal" data-target="#registrationModal" class="btn btn-lg btn-outline-light pl-5 pr-5">Register</a> </div>
  </section>
  <section id="event-mentors" class="event-mentors pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-center">
          <h2 class="section-title mb-3">Our Mentors</h2>
          <p>Take your HR & Work Tech venture to the next level through invaluable insights from the top investors of leading VC firms in India.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="single-speakers row d-flex align-items-center">
            <div class="info text-center text-md-right col-lg-6 col-md-7 col-sm-7 order-2 order-md-1">
              <h3>Rashed Kabir</h3>
              <span class="position">UI/UX Designer</span> <span class="company">Approutes</span>
              <p>India</p>
            </div>
            <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5 order-1 order-md-2">
              <div class="img-container"><img width="228" height="233" src="http://asianitbd.com/wp/eventtime/wp-content/uploads/2016/01/4-1-2.png" class="attachment-eventtime_three size-eventtime_three wp-post-image" alt="4"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="single-speakers row d-flex align-items-center">
            <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5">
              <div class="img-container"><img width="228" height="233" src="http://asianitbd.com/wp/eventtime/wp-content/uploads/2016/01/3-1-2.png" class="attachment-eventtime_three size-eventtime_three wp-post-image" alt="3"></div>
            </div>
            <div class="info text-center text-md-left col-lg-6 col-md-7 col-sm-7">
              <h3>Rafifa Nodi</h3>
              <span class="position">UI/UX Designer</span> <span class="company">Approutes</span>
              <p>India</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="single-speakers row d-flex align-items-center">
            <div class="info text-center text-md-right col-lg-6 col-md-7 col-sm-7 order-2 order-md-1">
              <h3>Rashed Kabir</h3>
              <span class="position">UI/UX Designer</span> <span class="company">Approutes</span>
              <p>India</p>
            </div>
            <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5 order-1 order-md-2">
              <div class="img-container"><img width="228" height="233" src="http://asianitbd.com/wp/eventtime/wp-content/uploads/2016/01/4-1-2.png" class="attachment-eventtime_three size-eventtime_three wp-post-image" alt="4"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="single-speakers row d-flex align-items-center">
            <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5">
              <div class="img-container"><img width="228" height="233" src="http://asianitbd.com/wp/eventtime/wp-content/uploads/2016/01/3-1-2.png" class="attachment-eventtime_three size-eventtime_three wp-post-image" alt="3"></div>
            </div>
            <div class="info text-center text-md-left col-lg-6 col-md-7 col-sm-7">
              <h3>Rafifa Nodi</h3>
              <span class="position">UI/UX Designer</span> <span class="company">Approutes</span>
              <p>India</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-5">
          <button class="btn btn-show-more">VIEW ALL MENTORS</button>
        </div>
      </div>
    </div>
  </section>-->
</main>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#loginModal').modal('show');
    });
</script>
