<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>Login</title>

<!-- Bootstrap core CSS -->
<link href="/eventTap/css/bootstrap.min.css" rel="stylesheet">

<!-- Favicons -->

<style>
html, body { height: 100%; }
body
{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #ededed;
}
.form-signin
{
	width: 100%;
	max-width: 480px;
	padding: 40px 25px;
	margin: auto;
	background-color: #fff;
}
.form-label-group
{
	position: relative;
	margin-bottom: 1rem;
}
.form-label-group > input, .form-label-group > label
{
	height: 3.125rem;
	padding: .75rem;
}
.form-label-group > label
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0; /* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text; /* Match the input under the label */
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}
 .form-label-group input::-webkit-input-placeholder {
 color: transparent;
}
 .form-label-group input:-ms-input-placeholder {
 color: transparent;
}
 .form-label-group input::-ms-input-placeholder {
 color: transparent;
}
 .form-label-group input::-moz-placeholder {
 color: transparent;
}
 .form-label-group input::placeholder {
 color: transparent;
}
.form-label-group input:not(:placeholder-shown)
{
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label
{
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
 .form-label-group > label {
 display: none;
}
 .form-label-group input::-ms-input-placeholder {
 color: #777;
}
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.form-label-group > label { display: none; }
 .form-label-group input:-ms-input-placeholder {
 color: #777;
}
}
.bd-placeholder-img
{
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn-primary
{
	color: #fff;
	background-color: #009de0;
	border-color: #009de0;
}
.form-control:focus {
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}
@media (min-width: 768px) {
.bd-placeholder-img-lg { font-size: 3.5rem; }
}
@media (max-width: 767px) {.form-signin {width: 90%;}}


    
</style>
<!-- Custom styles for this template -->
<link href="/eventTap/floating-labels.css" rel="stylesheet">
</head>
<body>
  <?php echo $this->partial("flash/message");?>  
<form class="form-signin shadow rounded-lg" action="<?php echo htmlspecialchars("/application/index/login");?>" method="post">
  <div class="text-center mb-4"> <img class="mb-4 mt-3" src="/eventTap/images/logo-web-transparent.png" alt="" height="72"> </div>
  <div class="form-label-group">
    <input type="text" id="inputEmail" class="form-control" placeholder="User Name" required autofocus name="username">
    <label for="inputEmail">User Name</label>
  </div>
  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
    <label for="inputPassword">Password</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<script src="/eventTap/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/eventTap/js/jstz-1.0.4.min.js" type="text/javascript"></script>
<script>
function gettimezone(){
        var tz = jstz.determine();
        var timezone = tz.name();
        jobdata = {timezone:timezone};
        $.ajax({
            type: "POST",
            url: "/application/index/settimezone",
            datatype:'json',
            data: jobdata,
            success: function (data) {
                return true;
            },
            failure: (function () { alert("Failure!!"); })
        });
 }  
$(function(){
	gettimezone();
 });    
</script>
</body>
</html>