<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Expoodle</title>
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-32x32.png" sizes="32x32" />
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-180x180.png" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/eventTap/css/bootstrap.min.css">
<style>
    
.meeting-response .card{
    max-width: 640;
    width: 100%;
}
</style>
</head>
<body class="overflow-hidden bg-light">
<div class="container meeting-response">
  <div class="row">
    <div class="col-12 vh-100 d-flex justify-content-center align-items-center">
      <div class="card">
      	<div class="card-header text-center">
        	<img src="/eventTap/images/expoodle/expoodle-logo2.png" width="175" alt="">
        </div>
          <div class="card-body text-center">
          <div id="meeting-schedule-success" class="text-center p-5" style="display:none">
          <img src="/eventTap/images/thank-you.svg" width="100" class="mb-3">
          <br>
          <span id="message"></span>
          </div>
          <div id="meeting-schedule-reject" class="text-center p-5" style="display:none">
          <img src="/eventTap/images/sad.svg" width="100" class="mb-3">
          <br>
          <span id="messagereject"></span>
          </div>    
              
          <div id="meeting-schedule-content">   
           Your meeting has been schedule with <img src="<?php echo $mediaUrl."profile/".$myLastEvents['userId'].".png"?>" width="125" height="125" style="width:125px;height:125px;border-radius:100%;object-fit:cover;display: block;margin: 10px auto;">
          <h1 style="font-size:20px;color:#000; margin-bottom:8px;"><?php echo $myLastEvents['firstName'];?></h1>
          <p style="font-size:16px;color:#000; margin-bottom:8px;"><?php echo $myLastEvents['title'];?></p>
          <p style="font-size:16px;color:#000; margin-bottom:8px;"><?php echo $myLastEvents['dateTime'];?></p>
          <p style="font-size:16px;color:#000;margin-bottom:0;"><?php echo $myLastEvents['description'];?></p>
          </div>
        </div>
        <div class="card-footer text-center" id="meeting-schedule-footer">
           <?php if($myLastEvents['userTagList'][0]['isAttending']=="pending"){?> 
            <a href="javascript:void(0);" class="btn btn-success text-uppercase mr-2" onclick="acceptMeeting('accepted');" style="letter-spacing:2px;">Accept Request</a><a href="javascript:void(0);" class="btn btn-success text-uppercase" onclick="acceptMeeting('rejected');" style="letter-spacing:2px;">Reject Request</a>
           <?php }elseif($myLastEvents['userTagList'][0]['isAttending']=="accepted"){?>
            <p>You already acccepted this meeting request.Please Check in My Schedule</p>   
           <?php }elseif($myLastEvents['userTagList'][0]['isAttending']=="rejected"){?>
            <p>You already rejected this meeting request.Please Check in My Schedule</p>
           <?php }else{?>
           <p>This meeting request has been cancelled.Please Check in My Schedule</p> 
           <?php }?>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/eventTap/js/jquery.min.js"></script> 
<script>
function acceptMeeting(action){
var userId = "<?php echo $userId;?>";
var meetingId = "<?php echo $meetingId;?>";
var jobdata;
jobdata = {action:action,userId:userId,meetingId:meetingId};
    $.ajax({
            type: "POST",
            url: '/application/index/accept-reject-meeting',
            data: jobdata,
            success: function (data) {
                if(data.send.status=='1'){
                   //alert(data.send.message);
                   //window.location.href = '/application/index/index';
                   $("#meeting-schedule-content, #meeting-schedule-footer").css('display','none');
                   $("#message").html(data.send.message);
                   $("#meeting-schedule-success").css('display','block');
                   return true;
                }else if(data.send.status='2'){
                 $("#meeting-schedule-content, #meeting-schedule-footer").css('display','none');
                 $("#messagereject").html(data.send.message);
                 $("#meeting-schedule-reject").css('display','block');
                   return true;   
                }
                else{
                  //alert(data.send.message);
                  $("#message").html(data.send.message);
                  $("#meeting-schedule-success").css('display','block');
                  return true;
               }   
            },
                    
               failure: (function () { alert("Failure!!"); })
       });

}     
</script>
</body>

</html>