<!doctype html>
<title>EvenTap Payment</title>
<link href="/css/font-awesome.min.css">
<script src="https://js.stripe.com/v3/"></script>
<script>
 var stripe = Stripe('pk_test_5VSSyTPW1D5aBegtJ1PRiIjd');
var elements = stripe.elements();
</script>
<div class="centerlizedi">
<div class="paymennt">
PAYMENT
</div>
<p style="color:red;"><?php echo $msg;?></p>    
<div class="upperdiv"><img src="/eventTap/images/eventap-logo-horizontal.svg" class="logoimage" alt="logoloading"><span class="nine">Rs<?php echo $amount;?></span></div>
<form action="/application/index/payment/<?php echo $pera."?payment=".$amount;?>" method="post" id="payment-form"  >
      <div class="formpay" >
  <label>
    <span>NAME</span>
    <input name="cardholder-name" class="field" placeholder="Enter Your Name" value="<?php echo $userDetail[0]['firstName']?>" />
  </label>
  <label>
    <span>PHONE</span>
    <input class="field" placeholder="(123) 456-7890" type="text" value="<?php echo $userDetail[0]['countryCode'].$userDetail[0]['phone']?>"/>
  </label>
  <label>
    <span>CARD</span>
    <div id="card-element" class="field"></div>
  </label>
    <!--<button type="submit" class="paybtn">Pay &pound;<?php echo $paymentinfo['total']?></button>-->
    <button type="submit" class="paybtn">Pay INR <?php echo $amount?></button>    
  <div class="outcome">
    <div class="error" role="alert"></div>
  </div>
  </div>
 </form>
<div class="divbottom">
<i class="fa fa-lock" aria-hidden="true"></i><b class="transcation">All transaction are securely encrypted using 256-bit SSL.</b>
</div>
<div class="divbottom" style="width: 47%;margin: 0 auto;    margin-top: 14px;">
<img src="/eventTap/images/stripe_logo.png" class="logoimage bottomimg" alt="logoloading"><img src="/eventTap/images/a.png" class="logoimage bottomimg" alt="logoloading">
</div>
</div>
<script>
var card = elements.create('card', {
  hidePostalCode: true,
  style: {
    base: {
      iconColor: '#F99A52',
      color: '#32315E',
      lineHeight: '48px',
      fontWeight: 400,
      fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
      fontSize: '16px',

      '::placeholder': {
        color: '#CFD7DF',
      }
    },
  }
});
card.mount('#card-element');



//function setOutcome(result) {
//  var successElement = document.querySelector('.success');
//  var errorElement = document.querySelector('.error');
//  successElement.classList.remove('visible');
//  errorElement.classList.remove('visible');
//
//  if (result.token) {
//    // Use the token to create a charge or a customer
//    // https://stripe.com/docs/charges
//    successElement.querySelector('.token').textContent = result.token.id;
//    successElement.classList.add('visible');
//  } else if (result.error) {
//    errorElement.textContent = result.error.message;
//    errorElement.classList.add('visible');
//  }
//}



card.on('change', function(event) {
  setOutcome(event);
});
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>

<style>
   * {
  font-family: 'Conv_LR';
  font-size: 18px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}
.recurren{
    font-size: 12px;
    color: red;
    padding-left: 13px;
    vertical-align: middle;
}
.paymennt
{
    text-align: center;
    color: #778799;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Conv_HLR';
    margin-top: 0px;
    margin-bottom: 4px;
}
.nine{
    font-size: 30px;
    color: #fff;
    text-align: right;
    float: right;
    padding: 15px;
}
.checktext{
    display: inline-block;
    font-size: 19px;
    color: #696969;
}
.logoimage{
        height: 44px;
    text-align: left;
    float: left;
    width: 142px;
    padding: 9px 12px;
}
.aligncheckbox{
    text-align: left;
    height: 39px;
    margin-top: 0px;
}
.divbottom{
    text-align: center;
    margin-top: 10px;
}
.transcation{
    font-size: 13px;
    color: #696969;
}
.bottomimg{

    width: 127px;
}
.centerlizedi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upperdiv{
       text-align: center;
    margin: 0 auto;
    height: 60px;
    background: #48a1bf;
    width: 653px;
    border-radius: 4px 4px 0px 0px;
}
.formpay{

    height: 278px;
    padding: 38px 27px 14px;
    width: 600px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 18px 1px rgba(204, 204, 204, 0.48);
}
html {
  height: 100%;
}

body {
  background: #fff;
        position: relative;
    height: 100%;
  min-height: 100%;
}

form {
         width: 656px;
    margin: 0 auto;
}

label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 20px;
  display: block;
}

label > span {
  float: left;
  color: #696969;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  outline: none;
  height: 43px;
  line-height: 48px;
  cursor: text;
  width: 76%;
  float: right;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #696969;
  font-size: 20px;
padding: 3px 10px;
}

.field::-webkit-input-placeholder { color: #CFD7DF; }
.field::-moz-placeholder { color: #CFD7DF; }
.field:-ms-input-placeholder { color: #CFD7DF; }

.field:focus,
.field.StripeElement--focus {
  border-color: #ccc;
}
.widthcon{
    width: 0px;
    height: 20px;
}
button {
  float: left;
  display: block;
  background-image: linear-gradient(-180deg, #F8B563 0%, #F99A52 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
  color: white;
  border-radius: 24px;
  border: 0;
  margin-top: 0px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 45px;
  line-height: 48px;
  outline: none;
}
.paybtn{
    background: #48a1bf;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.36), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
button:focus {
   background: #48a1bf;
  color:#fff;
}

button:active {
  background: #48a1bf;
  color:#fff;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #F8B563;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
        height: 20px;
    width: 20px;
    background-color: #eee;
        border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
        left: 6px;
    top: 1px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


</style>


