<div id="agenda-list" class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <?php foreach($record[0]['result'] as $result){  ?>
      <?php if(count($result['list']) > 1){?>
      <div class="card border-0 rounded-0 shadow-sm mt-3">
        <div class="card-header p-2 bg-purple text-white border-0">
          <h5 class="m-0"><?php echo $result['timeDuration']?></h5>
        </div>
        <div class="card-body text-center pb-1"> <a class="btn-prev" href="javascript:void(0);"><img src="/eventTap/images/back2.svg" alt="Back" width="20"></a> <a class="btn-next" href="javascript:void(0);"><img src="/eventTap/images/next.svg" alt="Next" width="20"></a>
          <div id="carousel-agenda" class="content carousel-agenda">
            <ul>
              <?php foreach($result['list'] as $value){?>
              <li style="background-color:<?php if($value['isLike']==1){ echo $value['bookedColorCode'];}else{ if(!empty($value['color'])){echo $value['color'];}else{ echo "#0093BA";} };?>; color:#fff;">
                <div class="agenda-list-items draw meet p-3 text-white"  data-toggle="modal" data-target="#agendaModal" onclick="appendAgenda('<?php echo $value['id'];?>');">
                  <h3><?php echo $value['title']?></h3>
                  <!--                        <h4>Qualifying Human</h4>-->
                  <p><?php echo $value['location']?></p>
                  <p><?php echo $value['theme']?></p>
                </div>
              </li>
              <?php }?>
            </ul>
          </div>
        </div>
      </div>
      <?php }else{$value = $result['list'][0];?>
      <div class="card card-single border-0 rounded-0 shadow-sm mt-3"  data-toggle="modal" data-target="#agendaModal" onclick="appendAgenda('<?php echo $value['id'];?>');" style="background-color:<?php if($value['isLike']==1){ echo $value['bookedColorCode'];}else{ if(!empty($value['color'])){echo $value['color'];}else{ echo "#0093BA";} };?>; color:#fff;">
        <div class="card-header p-2 bg-purple text-white border-0">
          <h5 class="m-0"><?php echo $value['timeDuration'];?></h5>
        </div>
        <div class="card-body p-2 text-center">
          <h1><?php echo $value['title']?></h1>
          <p><?php echo $value['location']?></p>
          <p><?php echo $value['theme']?></p>
        </div>
      </div>
      <?php }?>
      <?php }?>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $(".carousel-agenda").mThumbnailScroller();
});
</script>