<div class="modal-header bg-purple border-0 rounded-0">
  <h5 class="modal-title text-white" id="agendaModalLabel"><?php echo $getAgendaDetail['title'];?></h5>
  <button type="button" class="close" onclick="clearmodelpopup('2');"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt=""/></span> </button>
</div>
<ul class="list-group">
  <li class="list-group-item"><i class="fa fa-calendar"></i> <?php echo $getAgendaDetail['strStartDate'];?> </li>
  <li class="list-group-item"><i class="fa fa-clock-o"></i> <?php echo $getAgendaDetail['timeDuration'];?></li>
  <li class="list-group-item"><i class="fa fa-map-marker"></i> <?php echo $getAgendaDetail['location'];?></li>
  <?php if(!empty($getAgendaDetail['theme'])){?>
  <li class="list-group-item"><i class="fa fa-circle" style="color:<?php if(empty($getAgendaDetail['color'])){echo "#0093BA";}else{echo $getAgendaDetail['color'];}?>;"></i> <?php echo $getAgendaDetail['theme'];?></li>
  <?php }?>
  <?php foreach($getAgendaDetail['speakersName'] as $speaker){?>
  <li class="list-group-item"><a href="#"  data-toggle="modal" data-target="#speakerModalNew" data-dismiss="modal" onclick="appendUserDetailNew('<?php echo base64_encode($speaker['userId']);?>','speakerlogin');"><i class="fa fa-user"></i> <?php echo $speaker['firstName'];?></a></li>
  <?php }?>
  <li class="list-group-item">
    <p><?php echo $getAgendaDetail['description'];?> </p>
  </li>
</ul>
<div class="modal-footer bg-white rounded-0 border-0 justify-content-center">
  <?php if(!empty($userId)){ ?>
  <?php if($getAgendaDetail['isLike']==0){?>
  <button class="btn-submit text-uppercase" onclick="bookAgenda('<?php echo $getAgendaDetail['id'];?>','1');" type="button">Add to Schedule</button>
  <small><strong>Note: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </small>
  <?php }else{ ?>
  <button class="btn-blue text-uppercase" type="button" onclick="bookAgenda('<?php echo $getAgendaDetail['id'];?>','0');">UNBOOK NOW</button>
<!--  <a class="btn-submit text-uppercase" href="/users/user-suitcase/<?php //echo base64_encode($userId)?>">MY SCHEDULE</a>-->
  <?php }?>
  <?php }?>
</div>
<script>
 $(document).keyup(function(e) {
  if (e.keyCode === 27){
    clearmodelpopup('2');
  } 
});
</script>