
<div id="agenda-list" class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <?php foreach($record[0]['result'] as $result){  ?>
      <?php if(count($result['list']) > 1){?>
      <div class="card border-0 rounded-0 shadow-sm mt-3">
        <div class="card-header p-2 bg-purple text-white border-0">
          <h5 class="m-0"><?php echo $result['timeDuration']?></h5>
        </div>
        <div class="card-body text-center pb-1"> <a class="btn-prev" href="javascript:void(0);"><img src="/eventTap/images/back2.svg" alt="Back" width="20"></a> <a class="btn-next" href="javascript:void(0);"><img src="/eventTap/images/next.svg" alt="Next" width="20"></a>
          <div id="carousel-agenda" class="content carousel-agenda">
            <ul>
              <?php foreach($result['list'] as $value){?>
              <li style="background-color:<?php if($value['isLike']==1){ echo $value['bookedColorCode'];}else{ if(!empty($value['color'])){echo $value['color'];}else{ echo "#0093BA";} };?>; color:#fff;">
                <div class="agenda-list-items draw meet p-3 text-white" >
                  <div style="position:relative; z-index:999; cursor:pointer;" class="agenda content d-block" data-toggle="modal" data-target="#agendaModal" onclick="appendAgenda('<?php echo $value['id'];?>');">
                    <h3><?php echo $value['title']?></h3>
                    <!--                        <h4>Qualifying Human</h4>-->
                    <p><?php echo $value['location']?></p>
                    <p><?php echo $value['theme']?></p>
                  </div>
                  <?php if(!empty($value['meetingNumber'])){?>
                  <a style="position:relative; z-index:999;" class="btn btn-live pt-2 pb-2 pl-3 pr-3 mt-3" href="/users/meeting/<?php echo base64_encode($value['id']);?>" target="new">LIVE</a>
                  <?php }else{?>
                  <button style="position:relative; z-index:999;" class="btn btn-submit pt-2 pb-2 pl-3 pr-3 mt-3" data-toggle="modal" data-target="#videoModal" onclick="appendAgendaVideo('<?php echo $value['id'];?>');"><i class="fa fa-play-circle"></i> PLAY</button>
                  <?php }?>
                </div>
              </li>
              <?php }?>
            </ul>
          </div>
        </div>
      </div>
      <?php }else{$value = $result['list'][0];?>
      <div class="card card-single border-0 rounded-0 shadow-sm mt-3" style="background-color:<?php if($value['isLike']==1){ echo $value['bookedColorCode'];}else{ if(!empty($value['color'])){echo $value['color'];}else{ echo "#0093BA";} };?>; color:#fff;">
        <div class="card-header p-2 bg-purple text-white border-0" data-toggle="modal" data-target="#agendaModal" onclick="appendAgenda('<?php echo $value['id'];?>');">
          <h5 class="m-0"><?php echo $value['timeDuration'];?></h5>
        </div>
        <div class="card-body p-2 text-center" data-toggle="modal" data-target="#agendaModal" onclick="appendAgenda('<?php echo $value['id'];?>');">
          <h1><?php echo $value['title']?></h1>
          <p><?php echo $value['location']?></p>
          <p><?php echo $value['theme']?></p>
        </div>
        <?php if(!empty($value['meetingNumber'])){?>
        <div class="card-footer border-0 pt-0 pb-0 text-center bg-transparent"> <a class="btn btn-live pt-2 pb-2 pl-3 pr-3" href="/users/meeting/<?php echo base64_encode($value['id']);?>" target="new">LIVE</a> </div>
        <?php }else{?>
        <div class="card-footer border-0 pt-0 pb-0 text-center bg-transparent">
          <button class="btn btn-submit pt-2 pb-2 pl-3 pr-3" data-toggle="modal" data-target="#videoModal" onclick="appendAgendaVideo('<?php echo $value['id'];?>');"><i class="fa fa-play-circle"></i> PLAY</button>
        </div>
        <?php }?>
        <?php }?>
        <?php }?>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $(".carousel-agenda").mThumbnailScroller();
});
</script>