<div class="modal-header bg-white text-black-50">
        <h5 class="modal-title" id="videoModalLabel"><?php echo $agendaDetail['title'];?></h5>
        <button type="button" class="close text-dark" onclick="clearmodelpopup('3');"> <span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""/></span> </button>
      </div>
      <div class="modal-body p-0">
        <div class="embed-responsive embed-responsive-16by9">
          <video id="agenda-video1" class="embed-responsive-item" controls playsinline  width="100%" height="100%">
              <source src="<?php echo $mediaUrl.$agendaDetail['videoUrl'];?>" type=video/mp4>
            <div style="border: 1px solid black; padding: 8px;">Sorry, your browser does not support the &lt;video&gt; tag used in this demo.</div>
          </video>
        </div>
      </div>
<script>
// $(document).ready(function(){
// $('#videoModal').on('shown.bs.modal', function () {
//  alert("hello");   
//  $('#agenda-video1')[0].play();
//})
//$('#videoModal').on('hidden.bs.modal', function () {
//  $('#agenda-video1')[0].pause();
//}) 
//});    
$(document).keyup(function(e) {
  if (e.keyCode === 27){
    clearmodelpopup('3');
  } 
});

</script>    