<input type="hidden" id="imatchUserIdnew" value="">
<div class="row no-gutters">
    <?php foreach ($results as $key=>$value){ ?>
            <div class="col-12">
              <div class="single-speakers">
                <div class="img-holder">
                  <div class="img-container"><img src="<?php echo $mediaUrl.'profile/'.$value['userId'].'.png' ?>" class="img-fluid" alt=""></div>
                </div>
                <div class="info">
                  <div class="btn-group-toggle btn-select">
                    <label class="btn btn-outline-secondary">
                      <input type="checkbox" name="sel_attendee1" value="<?php echo $value['userId']; ?>"  data-id="<?php echo $value['userId'] ?>">
                      Select </label>
                  </div>
                  <h3><?php echo $value['firstName'] ?></h3>
                  <span class="position"><?php echo $value['designation'] ?></span> <span class="company"><?php echo $value['companyName'] ?></span>
                  <p><?php echo $value['country'] ?></p>
                </div>
              </div>
            </div>
          <?php } ?>
          </div>
<script>
    
 $('.btn-group-toggle :input').change(function() {
var noofchecked=$('.btn-group-toggle :input:checked').length;
if(noofchecked>1){
$("#lbl1AttendeeNew").html('');

$( $('.btn-group-toggle :input') ).each(function( index,element ) {
$(this).parent().removeClass('focus');
$(this).parent().removeClass('active');
$(this).prop("checked", false);
});

$(this).parent().addClass('focus');
$(this).parent().addClass('active');
$(this).prop("checked", true);
closeselectattendeeForNetwork();
showselectedattendeesNew();

return;

}else{   
$("#lbl1AttendeeNew").html('');
if (!$(this).is(':checked')) {
	  $(this).parent().removeClass('active');
	  $(this).parent().removeClass('focus');
    }
	else{
	$(this).parent().addClass('active');
	closeselectattendeeForNetwork();
	}
	showselectedattendeesNew();
}
}); 


function showselectedattendeesNew(){
  var peoples_attendes = [];
  //var peoples_attendes_id = [];
  $( $('.btn-group-toggle :input') ).each(function( index,element ) {
  if (!$(this).is(':checked')) {	
  }else{
  peoples_attendes.push($(element).parent().parent().next('h3').text());
  //peoples_attendes_id.push($(element).attr('data-id'));
  $("#imatchUserIdnew").val($(element).attr('data-id'));
  }
  if(peoples_attendes.length > 0){
  $("#lblMeetingRequestedWithNew").html("Meeting selected: "+ peoples_attendes.join(", "))
  //$("#lblMeetingRequestedWithNew_id").html(peoples_attendes_id.join(", "))
  }
  else{
  $("#lblMeetingRequestedWithNew").html('');
  $("#imatchUserIdnew").val("");
   //$("#lblMeetingRequestedWithNew_id").html('');
  }
  console.log($("#imatchUserIdnew").val());
  });
  }
  
  




function closeselectattendeeForNetwork(){

if ($('#network-schedule-meeting').is(':visible')) {
 $("#NetworkScheduleMeetingModal").modal('hide');
} else {
$("#network-sel-list-attendees").css('display','none');
$("#network-schedule-meeting").css('display','block');
$("#NetworkSelAttendeeLabel").css('display','none');
$("#NetworkScheduleMeetingModalLabel").css('display','block');
$("#NetworkScheduleMeetingModal").modal('show');
}
}

</script>    



<!--<script>
$('.btn-group-toggle :input').change(function() {
var noofchecked=$('.btn-group-toggle :input:checked').length;
if(noofchecked>1){
$("#lbl1Attendee").html('');

$( $('.btn-group-toggle :input') ).each(function( index,element ) {
$(this).parent().removeClass('focus');
$(this).parent().removeClass('active');
$(this).prop("checked", false);
});

$(this).parent().addClass('focus');
$(this).parent().addClass('active');
$(this).prop("checked", true);
closeselectattendee();
showselectedattendees();

return;
}
else{   
$("#lbl1Attendee").html('');
if (!$(this).is(':checked')) {
	  $(this).parent().removeClass('active');
	  $(this).parent().removeClass('focus');
    }
	else{
	$(this).parent().addClass('active');
	closeselectattendee();
	}
	showselectedattendees();
}
});


function showselectedattendees(){
  var peoples_attendes = [];
  var peoples_attendes_id = [];
  $( $('.btn-group-toggle :input') ).each(function( index,element ) {
  if (!$(this).is(':checked')) {	}
  else{
  peoples_attendes.push($(element).parent().parent().next('h3').text());
  peoples_attendes_id.push($(element).attr('data-id'));
  }
  if(peoples_attendes.length > 0){
  $("#lblMeetingRequestedWith").html("Meeting selected: "+ peoples_attendes.join(", "))
  $("#lblMeetingRequestedWith_id").html(peoples_attendes_id.join(", "))
  }
  else{
  $("#lblMeetingRequestedWith").html('');
  $("#lblMeetingRequestedWith_id").html('');
  }
  });
  }
    
    
     function closeselectattendee(){

if ($('#schedule-meeting').is(':visible')) {
$("#ScheduleMeetingModal").modal('hide');
} else {
 $("#sel-list-attendees").css('display','none');
$("#schedule-meeting").css('display','block');
$("#SelAttendeeLabel").css('display','none');
$("#ScheduleMeetingModalLabel").css('display','block');
//$("#ScheduleMeetingModal").css('display','block');
$("#ScheduleMeetingModal").modal('show');
}
}
</script>    -->

