<div class="row">
  <div id="list-title" class="col-12">
    <div class="bg-purple text-white p-2">
      <h4 class="m-0">MAY 26<sup>th</sup></h4>
    </div>
  </div>
</div>
<div class="row time-slot">
  <div id="list-title" class="col-12 mb-3">
    <div class="bg-blue text-white p-2">
      <h4 class="m-0">11:30 - 12:30</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-9">
    <h4>Panel Discussion: Preparing for an Uncertain Future: Redefining the Employee Experience</h4>
    <p></p>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker5.jpg" class="rounded-circle d-block" width="60" height="60">Neville Postwalla, Associate Vice President - Talent Management at Harbinger Group</div>
  </div>
  <div class="col-12 col-md-3 text-md-right"> <a class="btn btn-live pt-2 pb-2 pl-3 pr-3" href="https://eventapeweb.approutes.com/users/meeting" target="new">LIVE</a> </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-9">
    <h4>Case Study: Aligning your Purpose, Brand, and Culture for business goals during COVID-19</h4>
    <p></p>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker4.jpg" class="rounded-circle d-block" width="60" height="60">Raj Narayan CHRO, Titan</div>
  </div>
  <div class="col-12 col-md-3 text-md-right"> <a class="btn btn-live pt-2 pb-2 pl-3 pr-3" href="https://eventapeweb.approutes.com/users/meeting" target="new">LIVE</a> </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-9">
    <h4>Welcome and Context setting- Changing business priorities in the times of COVID-19: What employee experience means now?</h4>
    <p></p>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker2.jpg" class="rounded-circle d-block" width="60" height="60"> Aaron Green, Senior Vice President & Head of SuccessFactors | Asia Pacific & Japan, SAP SuccessFactors</div>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker1.jpg" class="rounded-circle d-block" width="60" height="60">Girish Menon, Head – Human Resources, Swiggy</div>
  </div>
  <div class="col-12 col-md-3 text-md-right">
    <button class="btn btn-submit pt-2 pb-2 pl-3 pr-3" data-toggle="modal" data-target="#videoModal"><i class="fa fa-play-circle"></i> PLAY</button>
  </div>
</div>
<hr>
<div class="row time-slot">
  <div id="list-title" class="col-12 mb-3">
    <div class="bg-blue text-white p-2">
      <h4 class="m-0">11:30 - 12:30</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-9">
    <h4>Opening Keynote- Workplace post-COVID-19: Engagement and Effectiveness</h4>
    <p></p>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker3.jpg" class="rounded-circle d-block" width="60" height="60"> Aadesh Goyal, CHRO, TATA Communications</div>
  </div>
  <div class="col-12 col-md-3 text-md-right">
    <button class="btn btn-submit pt-2 pb-2 pl-3 pr-3" data-toggle="modal" data-target="#videoModal2"><i class="fa fa-play-circle"></i> PLAY</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-9">
    <h4>Workshop: Designing a foolproof employee experience strategy</h4>
    <p></p>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker1.jpg" class="rounded-circle d-block" width="60" height="60">Jason Averbook, CEO & Co-Founder at Leapgen, Thought Leader, Author, Futurist, Entrepreneur, Board Member</div>
  </div>
  <div class="col-12 col-md-3 text-md-right">
    <button class="btn btn-submit pt-2 pb-2 pl-3 pr-3" data-toggle="modal" data-target="#videoModal3"><i class="fa fa-play-circle"></i> PLAY</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-9">
    <h4>Closing Keynote & Interactive Q&A: "Happily” but “not ever after”</h4>
    <p></p>
    <div class="presenter"  data-toggle="modal" data-target="#speakerModal"> <img src="/eventTap/images/speaker2.jpg" class="rounded-circle d-block" width="60" height="60"> Aaron Green, Senior Vice President & Head of SuccessFactors | Asia Pacific & Japan, SAP SuccessFactors</div>
  </div>
  <div class="col-12 col-md-3 text-md-right">
    <button class="btn btn-submit pt-2 pb-2 pl-3 pr-3" data-toggle="modal" data-target="#videoModal4"><i class="fa fa-play-circle"></i> PLAY</button>
  </div>
</div>
<hr>


