<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Event</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL LIBS -->
<!--    <link rel="icon" href="/webchat/assets/images/icon_nkD_icon_1.ico" type="image/x-icon">-->
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-32x32.png" sizes="32x32" />
<link rel="icon" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://eventap.co/wp-content/uploads/2020/03/cropped-app-icon_2@3x-180x180.png" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
    <link href="/webchat/css/components.css" rel="stylesheet"type="text/css" />
    <link href="/webchat/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/webchat/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/webchat/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/webchat/css/custom.css" rel="stylesheet"  type="text/css" >
    <link href="/webchat/css/ciaoFont.css" rel="stylesheet"  type="text/css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <!-- image croppie -->
    <script src="/webchat/js/croppie.js" type="text/javascript"></script>
    <link href="/webchat/css/croppie.css" rel="stylesheet" type="text/css">

    <!-- date format -->
    <script src="/webchat/js/dateFormat.js" type="text/javascript"></script>
    <script src="/webchat/js/jquery.dateFormat.js" type="text/javascript"></script>
    <!-- captureimage -->
    <script src="/webchat/js/capture_img.js" type="text/javascript"></script>
    <script type="text/javascript" src="/webchat/js/webcam.js"></script>

    <!-- emoji convert -->
    <script src="/webchat/js/js-emoji-master/lib/emoji.js" type="text/javascript"></script>

    <!-- Begin emoji-picker Stylesheets -->
    <link href="/webchat/js/emoji-picker/lib/css/emoji.css" rel="stylesheet" type="text/css">
    <link href="/webchat/js/emoji-picker/lib/css/nanoscroller.css" rel="stylesheet" type="text/css"/>
    <!-- End emoji-picker Stylesheets -->

    <!-- file transfer -->
    <script src="/webchat/js/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="/webchat/js/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="/webchat/js/jquery.fileupload.js?v=0.1.8" type="text/javascript"></script>
    <script src="/webchat/js/ciaoim/chatFiles.js?v=0.1.8" type="text/javascript"></script>
    <script src="/webchat/js/webcam.js" type="text/javascript"></script>
    <!-- Begin emoji-picker JavaScript -->
     <script src="/webchat/js/emoji-picker/lib/js/nanoscroller.min.js" type="text/javascript"></script>
      <script src="/webchat/js/emoji-picker/lib/js/tether.min.js" type="text/javascript"></script>
      <script src="/webchat/js/emoji-picker/lib/js/config.js" type="text/javascript"></script>
      <script src="/webchat/js/emoji-picker/lib/js/util.js" type="text/javascript"></script>
      <script src="/webchat/js/emoji-picker/lib/js/jquery.emojiarea.js" type="text/javascript"></script>
      <script src="/webchat/js/emoji-picker/lib/js/emoji-picker.js" type="text/javascript"></script>
    <!-- End emoji-picker JavaScript -->

     <!--QBCSS-->
    <link rel="stylesheet" href="/webchat/js/quickblox/libs/cssgram.min.css">
    <link rel="stylesheet" href="/webchat/js/quickblox/styles.css">

    <!-- END LIBS -->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
</head>
<!-- BEGIN CONTAINER -->
<body class="page-header-fixed">
<div id="indexHide">
<div id="startup_load">
    <div id="syncLoader">
    <svg class="spinner-container-load" width="65px" height="65px" viewBox="0 0 52 52">
      <circle class="path_load" cx="26px" cy="26px" r="20px" fill="none" stroke-width="3px" />
    </svg>
    </div>
  </div>
</div><!--indexHide-->

<div id="IndexRetryPhoneDiv">
<div id="retryPhoneDiv">
    <div class="modal fade" id="retryPhoneModel" role="dialog">
        <div class="modal-dialog modal-lg send_confirm_popup">
            <div class="modal-content send_confirm_box">
            <h1 class="confrim_qus">Trying to connect phone</h1>
            <div id="retryTime"></div>
            <p class="retryTimeMsg">Make sure your phone has an active internet connection</p>
 <div class="btn_float" style="margin-top:35px;">

                <button type="submit" class="btn btn-white"  onclick="return logout();">Logout</button>
                <button type="submit" class="btn btn-primary" style="text-transform: uppercase;"  onclick="return retryDeviceSyncNow();">Retry Now</button>
            </div>
            </div><!---modal-content-->
        </div><!---modal-dialog-->
    </div><!---modal-->

 </div>
</div><!--IndexRetryPhoneDiv-->

<div id="indexShow">
<!-- QBDIV -->
<div>
<?php include 'qbcall.phtml';?>
</div>
<div class="modal fade unselect" id="myModaluser" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 400px;margin:4% auto !important;">
        <div class="modal-content" style="border-radius: 6px !important;background-color: #f7f7f7;">
            <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 45px;padding: 12px 15px !important;border-top-left-radius: 4px !important;border-top-right-radius: 4px !important;" >
                <div>
                    <div class="modal_header_text">Profile</div>
                    <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
                </div>
            </div>
            <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
                <div id="userpicContainer" style="padding-bottom:15px;">
                <img class="img-circle hover_set" id="userpic" src="/webchat/assets/images/user.png" alt="" height="175px" width="175px">
                <img class="img-circle hover_set" id="userCroppedPic" src="/webchat/assets/images/user.png" alt="" height="175px" width="175px" style="display: none;">
                </div>

                <button class="basic-result" style="display:none; ">Result</button>
                <a href="#" class="dropdown-toggle hover_show" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <div class="group_hover">
                <span class="camera_group"></span>
                <p class="add_icon">Change Profile Photo</p>
                 </div>
                 </a>

                 <ul class="dropdown-menu photo_setting">
                                           <li onclick="viewMyProfile()" class="dropdownSet">View Photo</li>
                                           <li><p onclick="openPhotoWebCamera()" id="open_webcamera" data-toggle="modal" data-dismiss='modal' data-target="#takephoto"  class="dropdownSet">Take Photo </p></li>
                                             <li class="dropdownSet"><p id="profilepicBtn">Upload Photo</p>
                                             <input type="file" id="profilepicUpload" accept="image/*" data-url="/chat/profileimageupload" style="display:none" />
                                             </li>
                                            <li class="dropdownSet" onclick="upload_profilepic()">Remove Photo</li>
                   </ul>
                 <input style="display:none" type="file" id="fileupload1" />
                     <p id="picUpdatedOn" class="hidden"></p>
                   <div class="profileHeader">
                    <h4>Name</h4>
                    <div id="statusborder" class="status_border">
                    <div id="mynick" class="status_setN" spellcheck="false"></div>
                    <div id="nameCounter" class="counter_set"> </div>
                     <img src="/webchat/assets/images/edit_ikcon.png" id="pencil" onclick="updateNick(this)" type="submit" class="edit_icon">
                     <p class="tick_grey" id="tick" onclick="saveProfileNick()" type="submit" class="edit_icon" style="display: none;">
                    </div>
                </div>
                <div class="profileHeader">
                    <h4>Status</h4>
                    <div id="statusborder" class="status_border">
                    <div id="mystatus" class="status_set" spellcheck="false"></div>
                    <div id="statusCounter" class="counter_set"></div>
                      <img src="/webchat/assets/images/edit_ikcon.png" id="pencil1" onclick="updateStatus(this)" type="submit" class="edit_icon">
                      <p class="tick_grey" id="tick1" onclick="saveProfileStatus()" type="submit" class="edit_icon" style="display: none;">
                    </div>
                </div>
                <div class="profileHeader">
                    <h4>Phone</h4>
                    <p id="myphone"></p>

                </div>
             </div><!---modal-body-->

        </div><!---modal-content-->
    </div><!---modal-dialog-->
</div><!---modal-->

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href=""> <img src="/eventTap/images/eventap-logo-horizontal.svg"
                             height="40" width="92" alt="logo" class="logo-default unselect" />
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler"
           data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu unselect">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user"><a href="#"
                                                      class="dropdown-toggle" data-toggle="dropdown"
                                                      data-hover="dropdown" data-close-others="true">

                                                      <div class='compatible_set' style='width:41px;float:left;'>
                                                     <!-- <div class='icon_set'>-->
                                                      <img id=<?php echo $getUserDetail[0]['userId'];?>_avtar  class="media-object profile_setting" src="/webchat/assets/images/user.png" alt="">
                                                     <!-- </div>-->
                                                      </div>
                                                      <span id="userNick" class="username username-hide-on-mobile"></span>
                                                      <i class="fa fa-angle-down" style="color: #000000;"></i>
                </a>
                    <ul class="dropdown-menu">
                        <li data-toggle="modal" onClick="setSub()" data-target="#myModalgroup"><a href="#"><i class="fa fa-users"></i>
                            New Group
                        </a></li>
                        <!-- <li data-toggle="modal" data-target="#myModalbroadcast" onClick="broadcast_list()"><a href="#"> <i class="fa fa-bullhorn" ></i>
                            New Broadcast
                        </a></li>-->
                                                <li data-toggle="modal" id="profilepic" data-target="#myModaluser" onclick="getMyProfile(userId)">

                            <a href="#" > <i class="fa fa-user font_setting" style="margin-right: 8px;"></i>My Profile </a>
                        </li>
                        <li><a href="#"> <i class="fa fa-cog font_setting"></i>
                            Settings
                        </a></li>

                        <!--<li><a href="#"> <i
                                class="fa fa-info-circle font_setting"></i> Help
                        </a></li>-->
                        <li>
                        <a href="javascript:void(0)" onclick="logout()">
                        <i class="fa fa-key font_setting"></i> Log
                            Out
                        </a></li>
                    </ul></li>
                <!-- END USER LOGIN DROPDOWN -->

            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix"></div>

<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">

                <div id="contacts-cal" class="col-xs-4 col-md-3 col-sm-4 col-lg-3 unselect" style="padding: 0 !important;">
                     <div class="portlet light" id="chat-user-list">

                         <div class="form-group search_btn">
                            <div class="icon-addon addon-md" style="padding:12px 0 0px;">
<!--
                               <input type="text" placeholder="Search" class="form-control"  onblur="highlightme()" id="Search" />
-->
                               <input type="text" placeholder="Search" class="form-control" spellcheck="false"  id="Search" />
                                       <img src="/webchat/assets/images/icon/search.jpg" alt="search_icon" class="image_setting">
                            </div>
                        </div>
                            <!--Notification section-->
                            <div id="notification-height">
        <!--notifiction on-->
            <div class="notifiedMsg notifiedColor">
                 <div class="notifiedIcon notifiedIconImg">

                 </div>
                 <div class="noti-msg">
                 <p><strong>Get Notified of New Messages</strong></p>
                 <p id="notiTurnOn">Turn on desktop notifications</p>
                 </div>
            </div>
            <!--notifiction on end-->
            <!--phone not connected-->
            <div id="deviceConnectStatus" class="notifiedMsg connection hide">
                 <div class="notifiedIcon connectionImg">

                 </div>
                 <div class="noti-msg">
                 <p><strong>Phone Not Connected</strong></p>
                 <p >Make sure your phone has an active Internet connection.</p>
                 </div>
            </div>
            <!--phone not connected end-->
            <!--computer not connected -->
            <div id="systemConnectStatus" class="notifiedMsg connection hide">
                 <div class="notifiedIcon computerImg">

                 </div>
                 <div id="systemstatus" class="noti-msg">
                 <p><strong>Computer Not Connected</strong></p>
                 <p>Make sure your computer has an Internet connection
                    <u id="notiTurnOn">Reconnect</u>
                 </p>
                 </div>
            </div>
            <!--computer not connected end-->
            <!--computer connected -->
            <div id="xmppState" class="notifiedMsg connection">
                 <div class="notifiedIcon computerImg">

                 </div>
                 <div class="noti-msg ">
                 <p><strong></strong></p>
                 </div>
            </div>
            <!--computer connected end-->
                <!--Batery low-->
            <div class="notifiedMsg batterLow">
                 <div class="notifiedIcon batterLowIcon">

                 </div>
                 <div class="noti-msg ">
                 <p><strong>Phone Battery Low</strong></p>
                 <p>Charge your phone to keep using CioaWeb</p>
                 </div>
            </div>
            <!--battery low end-->
            </div><!--notification-height-->
    <!--Notification section end-->
                        <div id="contact_tab">
                            <div class="btn-group" role="group" aria-label="/webchat." id="recent_tab">
                                <button type="button"  class="btn btn-default recent"  onclick="set_tab('contacts')" id="btnContact">Contacts</button>
                                <button type="button"  class="btn btn-default recent active" onclick="set_tab('recent')" id="btnRecnt">Recent</button>
                            </div>
                        </div>

                        <div class="portlet-body" id="contactBodys" onload="startloader()">
                            <div id="contacts" class="scroller" style="height: 519px; width: 100%;"
                                 data-always-visible="1" data-rail-visible1="1">
                                <div class="page-quick-sidebar-wrapper">
                                    <div class="page-quick-sidebar">
                                        <div class="page-quick-sidebar-chat-users chat_users"
                                             data-rail-color="#ddd"
                                             data-wrapper-class="page-quick-sidebar-list" id="contactsView">
                                           <!--  <div id="contact2">
                                       <img id="recentimg" src="/webchat/assets/images/recentimg.png" alt="" >
                                       <h3 id="no_msg">No Message, yet!</h3>
                                       <p id="contactText">To start chat with your friends, Tap contacts.</p>
                                   </div>-->

                                   <div id="contact3">
                                       <img src="/webchat/assets/images/contactimg.png" alt="" >
                                       <p id="contactText">CiaoIM doesn’t have access to your Contacts.</p>
                                   </div>
                                            <!-- Chat users append here -->
                                        </div>
                                        <div class="noRecentMsg" id="nocontact"></div>
                                        <!---page-quick-sidebar--->
                                    </div>
                                </div>
                            </div>
                            <!---scroller--->
                        </div>
                        <!---portlet-body--->
                    </div>
                    <!---portlet--->
                </div>
                <!---col--->
                <!-- Default-chat-theme -->

              <div class="col-xs-8 col-md-9 col-sm-8 col-lg-9 unselect" style="padding:0 !important;" id="default_chat_theme">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light no_chat_wrapper" id="chatBody" style="height: 630px;">
                        <div class="no_chat">
                      <!--  Below only single line code you need to comment before commit-->
                            <div class="pw hidden" ><?php echo $xmppDetail;?></div>
                            <h1 class="heading_setting"> Welcome to Event Tab</h1>
                            <img src="/webchat/assets/images/imgpsh_fullsize.png" class="img-responsive center-block" alt=""/>
                            <p>Select a contact to start your conversation.</p>
                        </div>
                        <!-- END PORTLET -->
                    </div>
                </div>

                <!-- user-chat-theme1 -->

                 <div class="col-xs-8 col-md-9 col-sm-8 col-lg-9" style="padding:0 !important; display:none;" id="user_chat_theme1" >

			<div class="portlet light chat_theme" style="position: relative;">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet-title unselect">
                            <div>
                                <div class="list_header">
               <!--<div id="capture-image" style="display: none;">
                              <div class="panel panel-primary">
                                      <div class="panel-heading"><h2><a href="#" class="close-btn">&times;</a> Capture Image</h2></div>
                                      <div class="panel-body"></div>
                                      <div class="panel-footer text-center">
                                          <a href="javascript:void();" class="btn-capture"><img src="http://local.webchat.com/webchat/assets/images/camera_icon.png" style="height:30px;"></a>
                                      </div>
                                  </div>
                            </div> -->                     <ul class="list_data">
                                        <li>

                                        <!--<div class='icon_set' style="width:42px;max-height: 42px;">-->
                                        <img id="friendProfilePic" class="avtar_contact profile_pic" onclick="getFriendProfile()"
                                                 src="" height="45" width="45" data-toggle="modal" data-target="#myModalprofile">
                                                <!-- </div>-->
 						<div class="headerlist_data" style="margin-left: 52px; margin-top: -35px;"><p id="friendName" class="frndNameSet" title=""></p>
 						<span id="friendLastSeen" class="lastseen_set"></span>
 						                </div>
                                             </li>

                                           <!-- Modal user profile-->
 <div class="modal fade" id="myModalprofile" role="dialog">
                                                <div class="modal-dialog modal-lg" style="width: 400px;margin:4% auto 0 !important;">
                                                    <div class="modal-content shadow_effect_set" style="border-radius: 6px !important;background:#fbfbfb !important;">

                                                        <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 52px;border-top-left-radius: 4px;border-top-right-radius: 4px;" >
                                                            <div>
                                                                <div class="modal_header_text">Contact Info</div>
                                                                <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
                                                        <div style="width: 175px;margin: 19px auto;">
                                                            <img class="profile_pic_set" id="friendprofileimg" onclick="viewFrndProfile()" alt="" src="/webchat/assets/images/user.png" height="150px" width="150px" style="border-radius: 50% !important; cursor: pointer;"/>
                                                        </div>
                                                            <div class="profileHeader">
                                                                <h4>Status</h4>

                                                                <p id="frndstatus"></p>
                                                            </div>
                                                            <div class="profileHeader">
                                                                <h4 id="PhoneOrId"></h4>
                                                                <p id="frndphone"></p>
                                                            </div>
                                                            <button type="submit" class="btn  btn-lg btn-block button_settingss" style="border-radius: 5px!important;width: 100% !important;" data-target='#myModalClearChatConfrm' onclick="confirm_box()" data-toggle='modal' data-dismiss="modal">Clear Messages</button>
                                                            <button type="submit" class="btn btn-primary btn-lg btn-block button_setting block_btn block_user" style="border-radius: 5px!important;width: 100% !important;" data-target='#myModalBlockConfrm' onclick="confirm_box()" data-toggle='modal' data-dismiss="modal">Block This Contact</button>
                                                            <button type="submit" class="btn btn-primary btn-lg btn-block button_setting unblock_btn block_user hidden" style="border-radius: 5px!important;width: 100% !important; "  data-target='#myModalUnBlockConfrm' onclick="confirm_box()" data-toggle='modal' data-dismiss="modal">Unblock This Contact</button>
                                                        </div><!---modal-body-->

                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
  </div><!---modal-->

<!--new broadcast profile info popup-->

<div class="modal fade" id="broadcastModalprofile" role="dialog">
<div class="modal-dialog modal-lg" style="position: relative;width:100%;margin: 0 auto; ">
<div class="modal-content" style="border-radius: 6px !important;height:548px !important; width:400px; margin:0 auto;">
            <div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 52px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
            <div>
                <div class="modal_header_text">Broadcast Info</div>
                <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
            </div>
            </div>
            <div class="modal-body" style="padding: 0px;">
            <div class="modal_select_Country">
                <div class=" " style="padding:6px 15px !important;background-color: #fbfbfb;">
                </div>
                <div style="width: 175px;margin: 19px auto;">
                      <img class="profile_pic_set" id="friendprofileimg" alt="" src="/webchat/assets/images/user.png" height="175px" width="175px" style="border-radius: 50% !important;"/>
                </div>

            <div id="contactBody" class="portlet-body">
							<div data-rail-visible1="1" data-always-visible="1" style="height: 465px;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper" style="height: 275px;overflow-y: auto !important;">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list" data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc">
							Chat users append here
							</div>
							</div>
							</div>
							</div>
            </div>
            </div>
            </div>
</div>
</div>
</div>
                                                <!-- Modal for group profile info 2nd in blow -->
                                            <div class="modal fade" id="myModalGroupProfile" role="dialog">
                                                <div class="modal-dialog modal-lg" style="width: 400px;margin:4% auto !important;">
                                                    <div class="modal-content" style="border-radius: 6px !important;height: auto; border:none;background :#f7f7f7;">
                                                        <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 52px;border-top-left-radius: 4px;border-top-right-radius: 4px;" >
                                                            <div>
                                                                <div class="modal_header_text">Group Info</div>
                                                                <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body" id="grpScrollModal" style="padding: 0px;text-align: center;margin:15px;overflow-x: auto">
                                                        <div style="width: 175px;margin:0px auto; cursor: pointer;">


                <div id="GrpUserpicContainer" style="padding-bottom:15px;">
               <img class="img-circle hover_set" id="grpuserpic" src="/webchat/assets/images/group_pic.png" alt="" height="175px" width="175px">
               <img class="img-circle hover_set" id="groupUserCroppedPic" src="" alt="" style="display: none;">
                </div>


                <button class="basic-result" style="display:none; ">Result</button>
                                                            <a href="#" class="dropdown-toggle hover_show" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
               <div class="group_hover" style="top: 0px;left: 98px;">
                <span class="camera_group"></span>
                <p class="add_icon">Change Group Photo</p>
                 </div>
                 </a>
                                                            <ul class="dropdown-menu photo_setting">
                                          <li onclick="myViewProfileGrp()" class="dropdownSetGrp">View Photo</li>
                                           <li><p onclick="openPhotoWebCameraG()" id="open_webcamera" data-toggle="modal" data-dismiss='modal' data-target="#takephotog"  class="dropdownSetGrp">Take Photo </p></li>
                                             <li class="dropdownSetGrp"><p id="GrprofilepicBtn">Upload Photo</p>
                                             <input type="file" id="GrprofilepicUpload" accept="image/*" data-url="/chat/GroupProfileimageuploadcapture" style="display:none" />
                                             </li>
                                            <li class="dropdownSetGrp" onclick="upload_group_profilepic()">Remove Photo</li>
                                                             </ul>
                                                            </div>
                                                            <div>
                                                            <div class="profileHeader">
                                                                <h4>Subject</h4>
                                                                <div style="position: relative;">
                                                               <p id="grpSubject" class="subject_height"></p>
                                                               <div id="groupCounter" class="counter_set"> </div>
                                                               <img src="/webchat/assets/images/edit_ikcon.png" id="pencil2" onclick="updateGroupSubject(this)" type="submit" class="edit_icon_frnd">
                                                               <p class="tick_grey" id="tick2" onclick="saveGroupSubject()" type="submit" class="edit_icon" style="display: none;">
                                                            </div>
                                                            </div>
                                                           <div id="createTime" style="font-size: 12px;color: rgba(0,0,0,.6);"></div>
                                                           <div class="profileHeader" style="background: transparent;padding: 0px 14px;">
                                                            <div id="add_member_icon" style="position:relative;">
                                                                </div>
                                                             </div>
                                                              <div class="memberIcon">
                                                                <img src="/webchat/assets/images/add_friend_icon.png" class="add_member_icon" onclick="showMembersList()" data-toggle="modal" data-target="#myModalgroup2" data-dismiss="modal"/>
                                                                                           <h4>Add Participants..</h4>
                                                                                        </div>
                                                             <div id="contactBody" class="portlet-body">

							<div data-rail-visible1="1" data-always-visible="1" style="height: auto;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper" style="height: auto;overflow-y: auto !important;">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list" data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc">
							Chat users append here
							</div>
							<!-- -page-quick-sidebar- -->
							</div>
							</div>
							</div>
					</div>
                                                        </div><!---modal-body-->
                                                       <div class="modal-footer no_padding custom_modalFooter">
                       <div class="col-xs-12 pd-0" style="height: 68px;background-color: transparent;border-radius: 0px 0px 4px 4px !important;">
                                <div class="col-md-12" style="padding-top: 8px;">
                                <div class="form-group ">
                                     <button  class="btn  btn-lg button_settingss" id="leaveGroup" type="submit" data-target='#myModalLeaveGrpConfrm' onclick="leave_grpname()" data-toggle='modal' data-dismiss="modal" >Leave Group</button>
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->


<!--broadcast contact info in below-->
 <div class="modal fade" id="myModalContactBroadcast" role="dialog">
                                                <div class="modal-dialog modal-lg" style="width: 400px; margin:4% auto 0;">
                                                    <div class="modal-content" style="border-radius: 6px !important;">
                                                        <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 45px;padding: 12px 15px !important;border-top-left-radius: 4px;border-top-right-radius: 4px;" >
                                                            <div>
                                                                <div class="modal_header_textb">BroadCast Contact Info</div>
                                                                <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
                                                            <img class="img-circle" id="friendProfileContactB" alt="" height="175px" width="175px" src="/webchat/assets/images/user.png" style="border-radius: 50% !important;"/>
                                                            <div class="profileHeader">
                                                                <h4>Name</h4>
                                                                <p id="contactNameB" spellcheck="false"></p>
                                                            </div>
                                                            <div class="profileHeader">
                                                                <h4>Phone</h4>
                                                                <p id="contactPhoneB"></p>
                                                            </div>
                                                        </div><!---modal-body-->

                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->
<!-- broadcast contact info in above-->

<!--contact share confirmation modal in below-->
 <div class="modal fade" id="myModalContactShareConfrm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup" >
                                                    <div class="modal-content send_confirm_box" >
                                                        <div id="contactSend"></div>
                                                        <div class="btn_float">
                                                     <button type="submit" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="return sendContacts();">OK</button>
                                                      </div>
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->
<!--clear messages confirmation modal in below-->
 <div class="modal fade" id="myModalClearChatConfrm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup">
                                                    <div class="modal-content send_confirm_box">
                                                       <!-- <div class="modal-body" style="padding:auto;text-align: center;margin:15px;">-->
                                                       <h1 class="confrim_qus">Are you sure?</h1>
                                                        <div id="clearmsg"></div>
                                                        <div class="btn_float">
                                                     <button type="submit" class="btn btn-white"   data-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-primary" style="text-transform: uppercase;" data-dismiss="modal" onclick="return clearChatmessages(0);">clear</button>
                                                       </div>
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->
<!--Delete chat confirmation modal in below-->
 <div class="modal fade" id="myModalDeleteChatConfrm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup">
                                                    <div class="modal-content send_confirm_box">
                                                       <h1 class="confrim_qus">Are you sure?</h1>
                                                        <div id="delchat"></div>
                                                        <div class="btn_float">
                                                     <button type="submit" class="btn btn-white"   data-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-primary" style="text-transform: uppercase;" data-dismiss="modal" onclick="return clearChatmessages(1);">delete</button>
                                                       </div>
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->

 <!--Block confirmation modal in below-->
 <div class="modal fade" id="myModalBlockConfrm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup">
                                                    <div class="modal-content send_confirm_box">
                                                       <h1 class="confrim_qus">Block</h1>
                                                        <div id="blockname"></div>
                                                        <div class="btn_float">
                                                     <button type="submit" class="btn btn-white"   data-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-primary" style="text-transform: uppercase;" data-dismiss="modal" onclick="return blockUnblockUser()">block</button>
                                                       </div>
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->
 <!--UnBlock confirmation modal in below-->
 <div class="modal fade" id="myModalUnBlockConfrm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup">
                                                    <div class="modal-content send_confirm_box">
                                                       <div id="unblockname"></div>
                                                        <div class="btn_float">
                                                     <button type="submit" class="btn btn-white"   data-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-primary" style="text-transform: uppercase;" data-dismiss="modal" onclick="return blockUnblockUser()">unblock</button>
                                                       </div>
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->
<!--Leave Group confirmation modal in below-->
 <div class="modal fade" id="myModalLeaveGrpConfrm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup">
                                                    <div class="modal-content send_confirm_box">
                                                       <h1 class="confrim_qus">Are you sure?</h1>
                                                        <div id="leave_confirm"></div>
                                                        <div class="btn_float">
                                                     <button type="submit" class="btn btn-white"   data-dismiss="modal">Cancel</button>
                                                      <button type="submit" class="btn btn-primary" style="text-transform: uppercase;" data-dismiss="modal" onclick="return leaveGroup()">leave</button>
                                                       </div><!---modal-body-->
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->

                                            <!-- Modal for contact -->
                                            <div class="modal fade" id="myModalContact" role="dialog" style="overflow:hidden;">
                                                <div class="modal-dialog modal-lg" style="width: 400px;margin:4% auto 0;">
                                                    <div class="modal-content" style="border-radius: 6px !important;max-height: 450px;min-height: 450px;background: #f4f5f5;">
                                                        <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 45px;padding: 12px 15px !important;border-top-left-radius: 4px;border-top-right-radius: 4px;" >
                                                            <div>
                                                                <div class="modal_header_text">View Contact</div>
                                                                <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body" style="padding: 0px;text-align: center;padding:10px;background:#fff;text-align:left;">

                                                         <div class="view-contact">
                                                         <img  class="avtar_contact profile_pic_view" id="friendProfileContact" src="/webchat/assets/images/user.png" width="45" height="45">
                                                         <p style="margin-bottom: 1px" id="contactName"></p>
                                                         </div>
                                                         <div id="viewContact">
                                                        <!-- -->
                                                            </div>
                                                        </div><!---modal-body-->
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->

                                        </li>
                                    </ul>
                                </div>
                                <div class="ellipsis_icon">
                                    <div class="dropdown dropdown-user">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                           data-hover="dropdown" data-close-others="true"> <i
                                                class="fa fa-ellipsis-v custom_icons" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                        <div id="drop_option">
                                        </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                       <div class="portlet-body chatbody-main caputreImageHide" id="chatBody">

                             <!--   <div id="chat_load" class="notification_bubble" style="display: none">
                                     <div class="loader-bubble" style="position: relative;">
                                     <div class="notification_body">
                                     <span class="body unselect" >
                                     <svg class="spinner-container-load circlePosition" width="30px" height="30px" viewBox="0 0 52 52" style="margin-top: 7px;">
                                     <circle class="path_load" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px" />
                                     </svg>
                                     </span>
                                     </div>
                                     </div><div class="clearfix"></div>
                                </div>
                                <div id="load_more" hidden="hidden"></div>
                                <div id="load_new" class="notification_bubble" hidden="hidden">
                                     <div class="loader-bubble" style="position: relative;">
                                     <div class="notification_body">
                                     <span class="body unselect" style="padding-top: 7px  ">
                                     <svg class="spinner-container-load" width="30px" height="30px" viewBox="0 0 52 52" style="position: absolute;top: 7px;left: 8px;">   +
                                     <circle class="path_load" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px" />   +
                                     </svg>
                                     </span>
                                     </div>
                                     </div><div class="clearfix"></div>
                                </div>-->

                                  <div id="chats" >
                                <ul id="ulchatdemo" class="chats demo" class="scroller" style="" data-always-visible="1" data-rail-visible1="1">


                                 <!--  <div id="chats" onscroll="BottomMsg()">
                                <ul id="ulchatdemo" onscroll="BottomMsg()" class="chats demo" class="scroller" style="" data-always-visible="1" data-rail-visible1="1">
                                  -->

                                    <!-- Chats goes here-->
                                </ul> <div id=""></div>
                            </div>
				            <div class="emojidiv"></div>
                            <div id="blocking_msg" class="chat-form">
                            </div><!--chat-form-->
                            <div id="block1" class="block_msg"></div>
                        </div>
                        <div id="capture-image" class="captureImageShow" style="display: none;">
                             <div class="panel panel-primary">
                                     <div class="panel-heading"><h2><a href="#" class="close-btn" onclick="captureImageClose()"><img src="/webchat/assets/images/close.png" alt="" width="15px" height="15px" /></a> Capture Image</h2></div>
                                      <div class="panel-body" style="padding:0 0 6px;">
                                        <div class="profileHeader"  id="show_web" style="padding:0 !important;background:none !important;">
                                        </div>
                                       <div class="profileHeader" id="capture_img" style=" margin:0 !important; padding:0 !important;background:none !important;">
                                           <img  id="image_aftercapture" alt="" style="width:640px; height:420px;margin:0 auto;text-align: center;display:none;" >
                                       </div>
                                     </div>
                                      <div class="panel-footer text-center" style="background: #ddd;">
                                          <a href="javascript:void(0);" class="btn-capture" id="capture_button"><img src="http://local.webchat.com/webchat/assets/images/camera_icon.png" onclick="take_snapshot()" style="height:30px;"></a>
                                          <a href="javascript:void(0);" class="btn-capture" id="send_image"><img src="http://local.webchat.com/webchat/assets/images/go_white.png" onclick="addcaptureFileLoader()" style="height:30px;"></a>

                                      </div>
                                  </div>
                            </div>

                             <!--msg bottom circle-->
                                                    <div id ="bottom-msg"></div>
                                                <!-- end msg bottom circle-->
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <!--col -->
        </div>
        <!---row--->
    </div>
    <!---page-content--->
</div>
</div><!--indexShow-->
<div class="modal fade unselect" id="myLocation12">
    <div class="modal-dialog" style="width: 533px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">\D7</button>
                <h4 class="modal-title">Map</h4>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div id="map-canvas_large" class=""></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade unselect" id="myModalocation">
    <div class="modal-dialog" style="position: relative;margin:0 auto; ">
        <div class="modal-content" style="border-radius: 6px !important;height:512px !important; width:400px; margin:0 auto;">
         <div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 45px;padding: 12px 15px !important; border-top-left-radius: 4px; border-top-right-radius: 4px;">
<div>
<div class="modal_header_text">Location Share</div>
<div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
</div>
</div>
            <div class="modal-body" style="padding:0 !important;">
                <div class="modal_select_Country">
                    <div class="form-group " style="margin: 5px 3px 0 3px; padding:4px 7px 0  7px!important;">
                        <div class="icon-addon addon-md" id="focusInput">
                            <input type="text" id="searchContactloc" style="padding-left:37px; border-radius: 6px !important;" placeholder="Search" spellcheck="false" class="form-control" />
                            <img src="/webchat/assets/images/icon/search.jpg" alt="search_icon" class="image_setting_contact">
                        </div>
                    </div>

                    <div class="" >
                        <div class="">
                            <div id="map-canvas" class=""></div>
                        </div>
                        <div class="select_location" style="height:auto;margin-top:10px;">
                            <div class="scroller" style="height:280px;overflow-y:auto;" data-always-visible="1" data-rail-visible1="1">
                                <ul id="myId" class="countryList">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---content-wrapper--->
<!---page-container--->

<div class="modal fade unselect" id="mystickers" role="dialog">
</div>

<div class="modal fade unselect" id="myModalcontacts" role="dialog">
<div class="modal-dialog modal-lg" style="position: relative;margin:4% auto 0;">
<div class="modal-content" style="border-radius: 6px !important;height:548px !important;margin: 1% auto;width: 400px;">
<div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 52px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
<div>
<div class="modal_header_text">Contact Share</div>
<div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
</div>
</div>
<div class="modal-body" style="padding: 0px;">
<div class="modal_select_Country">
<div class=" " style="padding:6px 15px !important;background-color: #fbfbfb;">
<div class="icon-addon addon-md" id="focusInput">
<input type="text" id="searchContacts" style="padding-left:37px; border-radius: 6px !important; border: 0px;" placeholder="Search contacts" spellcheck="false" class="form-control" />
<img src="/webchat/assets/images/icon/search.jpg" alt="search_icon" class="image_setting_contact">
</div>
</div>


 <div id="contactBody" class="portlet-body">

							<div data-rail-visible1="1" data-always-visible="1" style="height: 444px;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper" style="height: 444px;overflow-y: auto !important;">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list" data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc">
							Chat users append here
							</div>
							<div class="noRecentMsg" id="nocontactShare"></div>
							<!-- -page-quick-sidebar- -->
							</div>
							</div>
							</div>
</div>
</div>
<!---modal-body-->
</div>
<!---modal-content-->
</div>
<!---modal-dialog-->
</div>
</div>
<!-- popup for forward image-->

<div class="modal fade unselect" id="myModalForwardImage" role="dialog">
<div class="modal-dialog modal-lg" style="position: relative;margin:0 auto;">
<div class="modal-content" style="border-radius: 6px !important;height:548px !important; width:400px; margin:0 auto;">
<div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 52px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
<div>
<div class="modal_header_text">Forward Image To</div>
<div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
</div>
</div>
<div class="modal-body" style="padding: 0px;">
<div class="modal_select_Country">
<div class=" " style="padding:6px 15px !important;background-color: #fbfbfb;">
</div>
 <div id="contactBody" class="portlet-body">
							<div data-rail-visible1="1" data-always-visible="1" style="height: 444px;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper" style="height: 444px;overflow-y: auto !important;">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list" data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc">
							<!--Chat users append here-->
							</div>
							</div>
							</div>
							</div>
					</div>
</div>
</div><!---modal-body-->
</div><!---modal-content-->
</div><!---modal-dialog-->
</div>

<!--forward image confirmation modal in below-->
 <div class="modal fade" id="myModalFwdImageConfirm" role="dialog">
                                                <div class="modal-dialog modal-lg send_confirm_popup" >
                                                    <div id="confirm-box" class="modal-content send_confirm_box" >
                                                    </div><!---modal-content-->
                                                </div><!---modal-dialog-->
                                            </div><!---modal-->


	 <!--modal for broadcast-->
   <div class="modal fade unselect" id="myModalbroadcast" role="dialog">
        <div class="modal-dialog modal-lg" style="position: relative;margin:0 auto;">
<div class="modal-content" style="border-radius: 6px !important; height:505px !important; width:400px;margin:6% auto 0;">
<div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 45px; border-top-left-radius: 4px; border-top-right-radius: 4px;padding: 12px !important;">
<div>
<div class="modal_header_text">Broadcast List</div>
<div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
</div>
</div>
<div class="modal-body" style="padding: 0px;">
                   <div class=" " style="padding: 6px 15px !important;background-color: #FBFBFB;">
<div class="icon-addon addon-md" id="focusInput">
                            <input type="text" id="searchContactb" style="padding-left:46px; border-radius: 6px !important;" placeholder="Search" spellcheck="false" class="form-control" />
                            <img src="/webchat/assets/images/icon/search.jpg" alt="search_icon" class="image_setting_contact">
                        </div>
</div>


 <div id="contactBody" class="portlet-body">

							<div data-rail-visible1="1" data-always-visible="1" style="height: 344px;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list"  data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc" style="height: 337px;overflow-y: scroll;">
							Chat users append here
							</div>
							<div class="noRecentMsg" id="nocontactBroadcast"></div>
							<!-- -page-quick-sidebar- -->
							</div>
							</div>
							</div>
					</div>
</div>


                    <!--model for broadcast-->
                       <div class="col-md-12"  style="padding-top: 13px;height: 68px;background-color: transparent;border-radius:0 0 4px 4px;">
                                <div class=" no_padding">
                                    <button type="submit" class="btn btn-default btn-lg button_setting" data-dismiss="modal" onclick="return createBroadCast()">Create</button>
                                </div>
                           <!-- </div>-->
                        </div>
                    </div>
                     </div>
                <!---modal-body-->

            </div>
            <!---modal-content-->

        </div>
        <!---modal-dialog-->
    </div>

<!-- Group Chat popup in below-->
    <div class="modal fade unselect" id="myModalgroup" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 400px;margin:4% auto;">
        <div class="modal-content" style="border-radius: 6px !important;height:auto; border:none;">
            <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 52px;border-top-left-radius: 4px !important;border-top-right-radius: 4px !important;" >
                <div>
                    <div class="modal_header_text">Create Group</div>
                    <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
                </div>
            </div>
            <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
            <div style="width: 175px;margin: 19px auto;height: auto;">

            <div id="GrpUserpicContainer1" style="padding-bottom:15px;">
               <img class="img-circle hover_set" id="grpuserpic1" src="/webchat/assets/images/group_pic.png" alt="" height="175px" width="175px">
               <img class="img-circle hover_set" id="groupUserCroppedPic1" src="" alt="" style="display: none;">
                </div>

                <button class="basic-result" style="display:none; ">Result</button>

            <a href="#" class="dropdown-toggle hover_show" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
               <div class="group_hover" style="top:0px;left: 98px;">
                <span class="camera_group"></span>
                <p class="add_icon">Add Group Photo</p>
                 </div>

                 </a>
                 <ul class="dropdown-menu photo_setting">
                                        <li><p onclick="openPhotoWebCameraGps()" id="open_webcamera" data-toggle="modal" data-target="#takephotogroup"  class="dropdownSet">Take Photo </p></li>
                                             <li class="dropdownSet"><p id="profilepicgroup">Upload Photo</p>
                                             <input type="file" id="profilepicUploadgroup" accept="image/*" data-url="/chat/GroupProfileimageuploadcapture" style="display:none" />
                                             </li>
                   </ul>
                 </div>
                <div id="grpSubArea" class="profileHeader">
                </div>
                </div><!---modal-body-->
    <div class="modal-footer no_padding custom_modalFooter">
                        <div class="col-xs-12 " style="height: 68px;background-color: transparent;border-radius: 0px 0px 4px 4px !important;">
<div class="col-md-12" style="padding-top: 5px;">
                                <div class="form-group ">
                                     <button id="nextbtn" class="btn btn-primary btn-lg button_setting" type="submit" data-toggle="modal" data-target="#myModalgroup2" onclick="group_list()" data-dismiss="modal">NEXT</button>
                                </div>
                                </div>
                            </div>
                        </div>
        </div><!---modal-content-->
    </div><!---modal-dialog-->
</div><!---modal-->

 <!-- Modal for take profile-photo -->
			<div class="modal fade unselect" id="takephoto" role="dialog">
			    <div class="modal-dialog modal-lg" style="width: 355px;">
			        <div class="modal-content" style="border-radius: 6px !important;">
			            <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 45px;border-top-left-radius: 4px;border-top-right-radius: 4px;padding:12px 15px !important;" >
			                <div>
			                    <div class="modal_header_text">Take Photo</div>
			                    <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
			                </div>
			            </div>
			            <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
			                <div class="profileHeader"  id="show_webp" style="padding:0 !important;background:none !important;">
			                </div>
			                <div class="profileHeader" id="capture_imgp" style=" margin:0 !important; padding:0 !important;background:none !important;">
			                    <img  id="image_aftercapturep" alt=""  style="width:322px;height:242px;" >
			                </div>
			                <div class="panel-footer text-center" style="background: #ddd;">
                                          <a href="javascript:void(0);" class="btn-capture" id="capture_buttonp"><img src="http://local.webchat.com/webchat/assets/images/camera_icon.png" onclick="take_photo()" style="height:30px;"></a>
                                          <a href="javascript:void(0);" class="btn-capture" id="send_imagep"><img src="http://local.webchat.com/webchat/assets/images/go_white.png" onclick="uploadCapturePic()" style="height:30px;"></a>

                                      </div>

			            </div><!---modal-body-->

			        </div><!---modal-content-->
			    </div><!---modal-dialog-->
			</div><!---modal-->
	<!-- end model take profile-photo->


<!-- Modal for take profile-photo for group -->
			<div class="modal fade unselect" id="takephotog" role="dialog">
			    <div class="modal-dialog modal-lg" style="width: 400px;margin:6% auto 0;">
			        <div class="modal-content" style="border-radius: 6px !important;">
			            <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 45px;border-top-left-radius: 4px;border-top-right-radius: 4px;padding:12px 15px !important;" >
			                <div>
			                    <div class="modal_header_text">Take Photo</div>
			                    <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
			                </div>
			            </div>
			            <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
			                <div class="profileHeader"  id="show_webG" style="/* margin:0 !important; */ padding:0 !important;background:none !important;">


			                </div>
			                <div class="profileHeader" id="capture_imgG" style=" margin:0 !important; padding:0 !important;background:none !important;">
			                    <img  id="image_aftercaptureG" alt="" height="263px;"  style="width:322px;" >
			                </div>
			                <div class="panel-footer text-center" style="background: #ddd;">
                                          <a href="javascript:void(0);" class="btn-capture" id="capture_buttonp"><img src="http://local.webchat.com/webchat/assets/images/camera_icon.png" onclick="take_photoG()" style="height:30px;"></a>
                                          <a href="javascript:void(0);" class="btn-capture" id="send_imagep"><img src="http://local.webchat.com/webchat/assets/images/go_white.png" onclick="update_snapshotGps()" style="height:30px;"></a>

                                      </div>

			            </div><!---modal-body-->

			        </div><!---modal-content-->
			    </div><!---modal-dialog-->
			</div><!---modal-->
			<!-- end model take profile-photo for group->


<!-- Modal for take profile-photo for group at create time -->
			<div class="modal fade unselect" id="takephotogroup" role="dialog">
			    <div class="modal-dialog modal-lg" style="width: 400px;margin:6% auto 0;">
			        <div class="modal-content" style="border-radius: 6px !important;">
			            <div class="modal-header" style="border-top: none !important;background: #2766ff;min-height: 45px;border-top-left-radius: 4px;border-top-right-radius: 4px;padding:12px 15px !important;" >
			                <div>
			                    <div class="modal_header_text">Take Photo</div>
			                    <div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
			                </div>
			            </div>
			            <div class="modal-body" style="padding: 0px;text-align: center;margin:15px;">
			                <div class="profileHeader"  id="show_webGps" style="/* margin:0 !important; */ padding:0 !important;background:none !important;">


			                </div>
			                <div class="profileHeader" id="capture_imgGps" style=" margin:0 !important; padding:0 !important;background:none !important;">
			                    <img  id="image_aftercaptureGps" alt="" height="263px;"  style="width:322px;" >
			                </div>
			               <div class="panel-footer text-center" style="background: #ddd;">
                                          <a href="javascript:void(0);" class="btn-capture" id="capture_buttonp"><img src="http://local.webchat.com/webchat/assets/images/camera_icon.png" onclick="take_photoGps()" style="height:30px;"></a>
                                          <a href="javascript:void(0);" class="btn-capture" id="send_imagep"><img src="http://local.webchat.com/webchat/assets/images/go_white.png" onclick="update_snapshotGps()" style="height:30px;"></a>

                                      </div>
			            </div><!---modal-body-->

			        </div><!---modal-content-->
			    </div><!---modal-dialog-->
			</div><!---modal-->
			<!-- end model take profile-photofor group at create time->



<!-- Group Chat 2 popup in below-->

    <div class="modal fade unselect" id="myModalgroup2" role="dialog">
        <div class="modal-dialog modal-lg" style="position:relative;margin: 4% auto; ">
<div class="modal-content" style="border-radius: 6px !important;height:auto; width:400px;margin:0 auto;">

<div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 52px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
<div>
<div class="modal_header_text">New Group</div>
<div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
</div>
</div>

<div id="MemberAdd" class="selected_overflow">
</div>
<div class="clearfix"></div>

<div class="modal-body unselect" style="padding: 0px;">
                   <div class=" " style="padding:6px 15px !important;background-color: #fbfbfb;">

<div class="icon-addon addon-md" id="focusInput">
<input type="text" id="searchContactgrp" style="padding-left:73px; border-radius: 6px !important; border: 0px;" placeholder="Search contacts" spellcheck="false" class="form-control" />
<img src="/webchat/assets/images/icon/search.jpg" alt="search_icon" class="image_setting_contact">
</div>

</div>


 <div id="contactBody" class="portlet-body">

							<div data-rail-visible1="1" data-always-visible="1" style="height: 337px;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper" style="height: 337px;overflow-y: auto !important;">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list" data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc">
							Chat users append here
							</div>
							<div class="noRecentMsg" id="nocontactNewGrp"></div>
							<!-- -page-quick-sidebar- -->
							</div>
							</div>
							</div>
					</div>
					<!--modal_select_contact in group-->
                     <div class="modal-footer no_padding custom_modalFooter">
                        <div class="col-md-12 " style="height: 68px;background-color: transparent;border-radius: 0px 0px 4px 4px !important;">
                                <div class="col-md-12"  style="padding-top: 11px;">
                                <div id='grpAction' class="form-group ">
                                 <!--    <button type="submit" class="btn btn-default btn-lg button_setting " data-dismiss="modal" onclick="createNewGroup()">Create Group</button>-->
                                </div>
                                </div>
                            </div>
                        </div>
</div>
 </div>
            <!---modal-content-->

        </div>
        <!---modal-dialog-->
    </div>


               <!-- Add new member popup in below-->

   <!-- <div class="modal fade unselect" id="myModalAddMember" role="dialog">
        <div class="modal-dialog modal-lg" style="position: relative;margin: 0 auto;width:100%; ">
<div class="modal-content" style="border-radius: 6px !important;height:auto !important; width:400px;margin:0 auto;">
<div class="modal-header" style="border-top: none !important; background: #2766ff; min-height: 52px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
<div>
<div class="modal_header_text">Add New Member</div>
<div class="fa fa-times close modal_header_icon" data-dismiss="modal"></div>
</div>
</div>
<div id="MemberAdd" class="selected_overflow">
</div>
<div class="modal-body" style="padding: 0px;">
                   <div class=" " style="padding:6px 15px !important;background-color: #fbfbfb;">
<div class="icon-addon addon-md" id="focusInput">
<input type="text" id="searchContactgrp" style="padding-left:73px; border-radius: 6px !important; border: 0px;" placeholder="Search contacts" spellcheck="false" class="form-control" />
<img src="/webchat/assets/images/icon/search.jpg" alt="search_icon" class="image_setting_contact">
</div>

</div>

<div id="contactBody" class="portlet-body">

							<div data-rail-visible1="1" data-always-visible="1" style="height: 337px;" class="scrollers" id="contacts">
							<div class="page-quick-sidebar-wrapper" style="height: 337px;overflow-y: auto !important;">
							<div class="page-quick-sidebar">
							<div id="contactsView" data-wrapper-class="page-quick-sidebar-list" data-rail-color="#ddd" class="page-quick-sidebar-chat-user chat_usersc">
							Chat users append here
							</div>
							&lt;!&ndash; -page-quick-sidebar- &ndash;&gt;
							</div>
							</div>
							</div>
					</div>
</div>

                     <div class="modal-footer no_padding custom_modalFooter">
                        <div class="col-md-12 " style="height: 68px;background-color: transparent;border-radius: 0px 0px 4px 4px !important;">
<div class="col-md-12"  style="padding-top: 11px;">
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-default btn-lg button_setting " onclick="addMembersInGroup()" data-dismiss="modal">Add</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     </div>
                &lt;!&ndash;-modal-body&ndash;&gt;

            </div>-->
            <!---modal-content-->
<div class="row mg-0" id="view-image" style="display: none;">



                              <div class="panel panel-primary" style="border:none;border-radius: 0px;">
                                      <div class="panel-heading viewProfileHeader">
                                        <div style="height: 100%;">
                                        <ul class="list_data" style="display: inline-block;">
                                            <li>
                                       <img  class="avtar_contact profile_pic" id="myprofileID" src="/webchat/assets/images/user.png"  width="45" height="45">

                                         <div class="headerlist_data" style="margin-left: 52px; margin-top: -35px;"><p id="userName1" style="margin-bottom: 1px"></p>
 						                </div>
                                             </li>
                                        </ul>

                                            <a href="#" class="close-btn" onclick="viewImageClose()" style="float: right;padding: 11px 9px 0 0;">
                                                <img src="/webchat/assets/images/cross_black.png" alt="" width="15px" height="15px">
                                            </a>
                                        </div>
                                       </div>
                                      <div class="panel-body" style="padding-top:0;height:auto;text-align: center; " id="viewProfileDiv">

    <img id="myprofileIDS" src="/webchat/assets/images/user.png" alt="" />


</div>
                                  </div>
</div>

<div class="row mg-0" id="view-image-frnd" style="display: none;">



                              <div class="panel panel-primary">
                                      <div class="panel-heading" id="friendProfileView">
                                        <div style="height: 100%;">
                                        <ul class="list_data" style="display: inline-block;">
                                            <li>
                                       <img  class="avtar_contact profile_pic" id="myprofileFrndID" src="/webchat/assets/images/user.png"  width="45" height="45">

                                         <div class="headerlist_data" style="margin-left: 52px; margin-top: -35px;"><p id="userNameFrnd" style="margin-bottom: 1px"></p>
 						                </div>
                                             </li>
                                        </ul>

                                            <a href="#" class="close-btn" onclick="viewImageCloseFrnd()" style="float: right;padding: 11px 9px 0 0;">
                                                <img src="/webchat/assets/images/cross_black.png" alt="" width="15px" height="15px">
                                            </a>
                                        </div>
                                       </div>
                                      <div class="panel-body" style="padding-top:0;height:auto;text-align: center; " id="friendProfileViewDiv">

    <img id="myprofileFrndIDS" src="/webchat/assets/images/user.png" alt="" />


        </div>
    </div>
</div>

<div class="row mg-0" id="viewimagegrp" style="display: none;">
 <div class="panel panel-primary">
          <div class="panel-heading" id="grpProfileView">
            <div style="height: 100%;">
             <ul class="list_data" style="display: inline-block;">
              <li>
                <img  class="avtar_contact profile_pic" id="grpProfile" src="/webchat/assets/images/user.png"  width="45" height="45">

                   <div class="headerlist_data" style="margin-left: 52px; margin-top: -35px;"><p id="groupname" style="margin-bottom: 1px"></p>
 		 </div>
                 </li>
                </ul>

       <a href="#" class="close-btn" onclick="viewImageCloseGroup()" style="float: right;padding: 11px 9px 0 0;">
        <img src="/webchat/assets/images/cross_black.png" alt="" width="15px" height="15px">
          </a>
          </div>
         </div>
    <div class="panel-body" style="padding-top:0;height:auto;text-align: center; " id="viewGrpProfileDiv">

    <img id="groupProfile" src="/webchat/assets/images/user.png" alt="" />
        </div>
    </div>
</div>

<script>
    
    
    var userName = "159163zq42e";
    var sid = "TZmTLA1GM1GXr7vSMZyxXLveVTiSnPe4";
    var userNickName="Palak";
    var ciaoId="Palak@123";
    var phone="+919716964762";
    var userStatus="Available";
</script>

<script src="/webchat/js/jquery.slimscroll.min.js" type="text/javascript"></script>
 <script src="/webchat/js/jquery.panzoom.js"></script>
 <script src="/webchat/js/jquery.mousewheel.js"></script>
<script src="/webchat/js/jquery.picEyes.js"></script>
<!--<script src="/webchat/js/google_map.js" type="text/javascript"></script>-->
<script src="/webchat/js/stanzaio.bundle.js"></script>
<script src="/webchat/js/highlightText.js" type="text/javascript"></script>
<script src="/webchat/js/contact_share.js" type="text/javascript"></script>
<script src="/webchat/js/blockUser.js" type="text/javascript"></script>
<script src="/webchat/js/MUCmanager.js" type="text/javascript"></script>
<script src="/webchat/js/broadcast.js" type="text/javascript"></script>
<script src="/webchat/js/GroupChat.js" type="text/javascript"></script>

<script src="/webchat/js/voicememo/src/recorder.js" type="text/javascript"></script>
<script src="/webchat/js/voicememo/src/Fr.voice.js" type="text/javascript"></script>
<script src="/webchat/js/voicememo/js/apps.js" type="text/javascript"></script>

<script src="/webchat/js/ciaoim/xmppmanager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/chathelper.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/syncmanager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/uimanager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/uihelper.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/contactmanager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/ChatWindowManager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/chatmessagehelper.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/xmpphelper.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/s3manager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/filehelper.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/networkmanager.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/chatView.js" type="text/javascript"></script>
<script src="/webchat/js/ciaoim/Stickers.js" type="text/javascript"></script>

<!--<script src="/webchat/js/ciaoim/ciaoim.min.js" type="text/javascript"></script>-->

<script>
try{
   document.getElementById('<?php echo "159163zq42e";?>_avtar').onerror = function () {
document.getElementById('<?php echo "159163zq42e";?>_avtar').src = "/webchat/assets/images/profile.jpg";
}
}
catch (e){}
try{
function reloadimg(images){
    document.getElementById('<?php echo "159163zq42e";?>_avtar').setAttribute('src',images);
};
}
catch(e){}
jQuery(document).ready(function($){
//onConnect();
//onAuthenticated();
});
</script>

</body>
<!-- END BODY chat.phtml -->
</html>
