<div class="modal-header bg-white text-black-50">
    <?php if(empty($getBoothVideos[0]['boothVideoTitle'])){ ?>
         <h5 class="modal-title" id="videoModalLabel3">Welcome and Context setting- Changing business priorities in the times of COVID-19: What employee experience means now?</h5>
    <?php }else{ ?>
          <h5 class="modal-title" id="videoModalLabel3"><?php echo $getBoothVideos[0]['boothVideoTitle']; ?></h5>
    <?php } ?>
          <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""/></span> </button>
        </div>'
<div class="embed-responsive embed-responsive-16by9">
            <video id="agenda-video3" class="embed-responsive-item" playsinline controls  width="100%" height="100%">
              <?php if(empty($getBoothVideos[0]['media'])){  ?>  
              <source src="https://riyalstory.s3-eu-west-1.amazonaws.com/agendaVideo/Agenda3.mp4" type=video/mp4>
              <?php }else{ ?>
               <source src="<?php echo $mediaUrl.$getBoothVideos[0]['media'] ?>" type=video/mp4>
              <?php } ?>
              <div style="border: 1px solid black; padding: 8px;">Sorry, your browser does not support the &lt;video&gt; tag used in this demo.</div>
            </video>
          </div>