<style>
.profile-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    background: #630868;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
}

.profile-body {
    height: 500px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

</style>

      <!-- Multistep Form (START) JUNE 05 2020 -->
      <div class="profile-body">
        <div class="stepwizard">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step"> <a href="#step-1" class="btn btn-primary btn-circle"></a>
              <p>Step 1</p>
            </div>
            <div class="stepwizard-step"> <a href="#step-2"  class="btn btn-default btn-circle">2</a>
              <p>Step 2</p>
            </div>
            <div class="stepwizard-step"> <a href="#step-3"  class="btn btn-default btn-circle" >3</a>
              <p>Step 3</p>
            </div>
          </div>
        </div>
        <form role="form" enctype="multipart/form-data" method="post" action="<?php echo htmlspecialchars("/users/edit-detail");?>" name="sendNotification" id="signupFirst">
          <div class="row setup-content" id="step-1">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-3">
                  <div class="profile-img"><img id="preview2" src="<?php echo $mediaUrl."profile/".$userDetail['userId'].".png";?>" alt=""></div>
                  <div class="btncolumns1">
                    <button type="button" class="browse1 btn btn-primary"><i class="fa fa-camera"></i></button>
                    <button class="btn btn-primary btn-lg d-none" type="submit" id="btn-save1">Save</button>
                  </div>
                  <div class="custom-file-upload">
                    <div id="msg"></div>
                    <input type="file" name="attachment[]" class="file" accept="image/*" id="fup3">
                    <div class="input-group">
                      <input type="text" class="form-control file-upload border-0" disabled placeholder="Upload File" id="file3">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-9">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>First Name</label>
                        <input  pattern="[A-Za-z ]{3,25}" type="text" name="fname" id="fname" class="form-control" placeholder="" required value="<?php echo $userDetail['firstName']?>"/>
                        <div class="invalid-feedback">Please enter your first name.</div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input pattern="[A-Za-z ]{3,25}" type="text" name="lname" id="lname" class="form-control" required placeholder="" value="<?php echo $userDetail['lastName']?>"/>
                        <div class="invalid-feedback">Please enter your last name.</div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12">
                      <div id="select-user-type" class="form-group">
                        <label>Type of user</label>
                        <div class="style1">
                          <select id="user-type" class="form-control" name="userType" required>
                            <option selected="selected" value="">Select User Type</option>
                            <option value="VIP" <?php if($userDetail['attendeType']=="VIP"){ echo "selected";}?>>VIP</option>
                            <option value="HRPRAC" <?php if($userDetail['attendeType']=="HRPRAC"){ echo "selected";}?>>HRPRAC</option>
                            <option value="SERVICEPRO" <?php if($userDetail['attendeType']=="SERVICEPRO"){ echo "selected";}?>>SERVICEPRO</option>
                          </select>
                          <div class="invalid-feedback">Please select type of user.</div>
                        </div>
                        <label id="event-change" class="d-none"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)" type="email" name="email" id="regemail" class="form-control" placeholder="" required value="<?php echo $userDetail['email']?>" disabled/>
                    <div class="invalid-feedback">Please provide valid email.</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder=""/>
                    <div class="invalid-feedback">Please provide valid password.</div>
                  </div>
                </div>
              </div>
                
              <div class="row">
                <div class="col-12 col-md-6">
                  <div id="select-country-code" class="form-group list-country">
                    <label>Country Code</label>
                    <select id="Country-Code" class="form-control" name="countryCode">
                      <option value="+91" selected>India (+91)</option>
                      <?php foreach($countryList as $phonecode){?>
                      <option value="<?php echo '+'.$phonecode['phonecode']?>" <?php if('+'.$phonecode['phonecode']== $userDetail['countryCode']){ echo "selected";}?>><?php echo $phonecode['nicename']." (+".$phonecode['phonecode'].")"?></option>
                      <?php }?>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Mobile Number</label>
                    <!--<input pattern="[0-9]{10}" maxlength="10" type="tel" name="mobile" id="mobile" class="form-control" placeholder=""  value="<?php echo $userDetail['phone']?>" disabled/>-->
                        <input type="number" name="mobile" id="mobile" class="form-control" placeholder=""  value="<?php echo $userDetail['phone']?>" disabled/>
               
                    <div class="invalid-feedback">Please provide valid mobile number.</div>
                  </div>
                </div>
              </div>
             
            </div> <div class="button-row d-flex mt-0">
                <button class="nextBtn btn btn-primary ml-auto js-btn-next float-right" type="button" >Next</button>
              </div>
          </div>
          <div class="row setup-content" id="step-2">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" name="companyName" class="form-control" placeholder="" required value="<?php echo $userDetail['companyName']?>"/>
                    <div class="invalid-feedback">Please provide company name.</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Designation</label>
                    <input type="text" name="designation" class="form-control" placeholder="" value="<?php echo $userDetail['designation']?>"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" placeholder="" value="<?php echo $userDetail['city']?>"/>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div id="select-country" class="form-group list-country">
                    <label>Country</label>
                    <select id="country" class="form-control sel-custom" name="country">
                      <option  value="India" selected>India</option>
                      <?php foreach($countryList as $phonecode){?>
                      <option value="<?php echo $phonecode['nicename']?>" <?php if($phonecode['nicename']== $userDetail['country']){ echo "selected";}?>><?php echo $phonecode['nicename']?></option>
                      <?php }?>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div id="select-gender" class="form-group">
                    <label>Gender</label>
                    <select id="gender" class="form-control sel-custom"  name="gender" required>
                      <option value="" selected>Select Gender</option>
                      <option value="Male" <?php if($userDetail['gender']=="Male"){ echo "selected";}?>>Male</option>
                      <option value="Female" <?php if($userDetail['gender']=="Female"){ echo "selected";}?>>Female</option>
                      <option value="Other" <?php if($userDetail['gender']=="Other"){ echo "selected";}?>>Other</option>
                    </select>
                  </div>
                </div>
              </div>
             
            </div> <div class="button-row d-flex mt-0">
                <button data-target-id="#step-1" class="prevBtn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                <button class="nextBtn btn btn-primary ml-auto js-btn-next float-right" type="button" >Next</button>
              </div>
          </div>
          <div class="row setup-content" id="step-3">
               <div id="form-step-4" class="w-100" style="display:block;">
           <div class="col-12">
                <div class="form-group">
                  <label>Area of Interest</label>
                  <select id="ddlAreaofInterest" class="js-example-basic-multiple form-control" name="areaOfInterest[]" multiple="multiple">
                    <?php foreach($skills as $skill){?>
                    <option value="<?php echo $skill['id']?>" <?php  if (in_array($skill['id'],$userskills)){echo 'selected=selected';}?>><?php echo $skill['name']?></option>
                    <?php }?>
                  </select>
                </div>
                <div class="form-group">
                  <label>How would you describe your role</label>
                  <textarea class="form-control h-auto" rows="4" name="role"><?php echo $userDetail['description']?></textarea>
                </div>
               
              </div>
              
                <div class="button-row row-submit d-flex mt-0 col-12">
                    <button data-target-id="#step-2" class="prevBtn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                    <button type="submit" class="btn btn-success ml-auto float-right" type="SUBMIT" >SUBMIT</button>
                  </div></div>
<!--              <div class="col-12" id="payment-info" style="display:none;">
              <div>
                <div class="row">
                  <div class="col-12">
                    <h4 class="text-center mb-4">Select Your Subscription Plan</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="card border shadow-sm mb-3">
                      <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="22500">
                          <label class="custom-control-label" for="customRadio1"><span class="plan-price">₹ 22,500</span><br>
                            1-3 Participants<br>
                            Savings - ₹ 7500</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card border shadow-sm mb-3">
                      <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="32500">
                          <label class="custom-control-label" for="customRadio2"><span class="plan-price">₹ 32,500</span><br>
                            1-3 Participants<br>
                            Savings - ₹ 7500</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card border shadow-sm">
                      <div class="card-body p-0">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="52500">
                          <label class="custom-control-label" for="customRadio3"><span class="plan-price">₹ 52,500</span><br>
                            1-3 Participants<br>
                            Savings - ₹ 7500</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button type="button" class="btn btn-purple pl-5 pr-5 pt-3 pb-3 mt-4" onclick="subscrptionplan();">Choose Plan</button>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </form>
      </div>
      
      <!-- Multistep Form (END) JUNE 05 2020 -->
      
      <select class="pick-animation__select form-control d-none">
        <option value="scaleIn" selected="selected">ScaleIn</option>
        <option value="scaleOut">ScaleOut</option>
        <option value="slideHorz">SlideHorz</option>
        <option value="slideVert">SlideVert</option>
        <option value="fadeIn">FadeIn</option>
      </select>
<script src="/eventTap/js/custom.js"></script>
<script>    
//   function showsubs(){
//
////$("#form-step-4").css('display','none');
////$("#payment-info").css('display','block');
////$("#pgbar").css('display','none');
//
//}  
   $(document).ready(function (e) { 
   var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
	 $(document).on("click", ".browse1", function() { 
  $("#fup3").trigger("click"); 
}); 
	$('#fup3').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file3").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
    // get loaded data and render thumbnail.
    document.getElementById("preview2").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
  
 // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
});
  $('#ddlAreaofInterest').select2(); 
  
  $('#Country-Code').select2({dropdownPosition: 'above',dropdownParent: $('#select-country-code')});
  $('#user-type').select2({dropdownParent: $('#select-user-type')});
  $('#country').select2({dropdownParent: $('#select-country')});
  $('#gender').select2({dropdownPosition: 'above',dropdownParent: $('#select-gender')});
  
       
   $("#signupFirst").on('submit',(function(e) {
        e.preventDefault();
    $.ajax({
                type: "POST",
                url: '/users/edit-detail',
                data:  new FormData(this), 
                datatype:'json',
                contentType: false,       
                 cache: false,             
                processData:false,
    success: function (data) {
           // alert(data); return false;
                  if(data.send.status==1){
                     $("#edit-user-profile").css('display','none');
                     $("#newedituser").html("");
                     $("#btnShowFS").css('display','block');  
                   return true;
                  }else{
                   alert("Email already exist");
                   return false;
                  }

               },
//                failure: (function () { alert("Failure!!"); })
          });
  }));
     });
// $(document).ready(function() {  
// 
////   $("#mobile").keypress(function(e){
////    var keyCode = (e.keyCode ? e.keyCode : e.which);
////    if ( (keyCode != 8 || keyCode ==32 ) && (keyCode < 48 || keyCode > 57)) {
////      return false;
////    }
////  });
//  
//  
//// $("#fname, #lname").keypress(function(e){
//// var regex = new RegExp("^[a-zA-Z ]+$");
////        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
////        if (regex.test(str)) {
////            return true;
////        }
////        else
////        {
////        e.preventDefault();
////        return false;
////        }
////  });
//   
////    var isMobile = window.matchMedia("only screen and (max-width: 900px)").matches;
////	 $(document).on("click", ".browse", function() { 
////  $("#fup1").trigger("click"); 
////}); 
////	$('#fup1').change(function(e) {
////  var fileName = e.target.files[0].name;
////  $("#file1").val(fileName);
////
////  var reader = new FileReader();
////  reader.onload = function(e) {
////    // get loaded data and render thumbnail.
////    document.getElementById("preview").src = e.target.result;
////  };
////  // read the image file as a data URL.
////  reader.readAsDataURL(this.files[0]);
////  
//// // $(".btncolumns1").append("<button class='btn btn-primary btn-block mb-2' type='submit' id='btn-remove1'>Remove</button>");
////});
// });
//$(function()
//{
//    $(document).on('click', '.btn-add', function(e)
//    {
//        e.preventDefault();
//		if($('.controls .entry').length < 5){
//			var controlForm = $('.controls:first'),
//				currentEntry = $(this).parents('.entry:first'),
//				newEntry = $(currentEntry.clone()).appendTo(controlForm);
//			$(this).parent().children('.fileName').css('background-image','url("")');
//			newEntry.find('input').val('');
//			controlForm.find('.entry:not(:first) .btn-add')
//				.removeClass('btn-add').addClass('btn-remove')
//				.html('<span class="fa fa-minus"></span>');
//		}
//    }).on('click', '.btn-remove', function(e)
//    {
//      $(this).parents('.entry:first').remove();
//
//		e.preventDefault();
//		return false;
//	}).on('change', '.attachment', function(e)
//    {
////        var fileName = e.target.files[0].name;
////        $(this).parent().parent().children('.fileName').html(fileName);
//		 readURL(this);
//	});
//function readURL(input) {
//
//  if (input.files && input.files[0]) {
//    var reader = new FileReader();
//
//    reader.onload = function(e) {
//      $(input).parents('.entry').children('#blah').css('background-image', 'url("'+ e.target.result+'")');
//    }
//
//    reader.readAsDataURL(input.files[0]);
//  }
//}	
//});
function isValidEmail(emailText) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(emailText);
};
</script>