<div class="modal-header bg-white text-black-50">
  <h5 class="modal-title" id="videoModalLabel"><?php if(!empty($getBoothVideos[0]['boothVideoTitle'])){ echo $getBoothVideos[0]['boothVideoTitle']; }else{ echo $getBoothVideos[0]['mediaName']; } ?></h5>
        <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""/></span> </button>

 </div>
<div class="embed-responsive embed-responsive-16by9">
          <video id="agenda-video1" class="embed-responsive-item" controls playsinline  width="100%" height="100%">
            <!--<source src="https://riyalstory.s3-eu-west-1.amazonaws.com/agendaVideo/Agenda1.mp4" type=video/mp4>-->
            <source src="<?php echo $mediaUrl.$getBoothVideos[0]['media'] ?>" type=video/mp4>
            
            <div style="border: 1px solid black; padding: 8px;">Sorry, your browser does not support the &lt;video&gt; tag used in this demo.</div>
          </video>
        </div>