<table class="table table-striped  table-hover table-sm m-0">
              <tbody>
                  
                 <?php foreach ($getExhibitorDoc as $key=>$val){ ?>
                  

                <tr>
                  <td width="70%"><img src="/eventTap/images/pdf.svg" width="24" class="mr-2"><?php if(!empty($val['Title'])){ echo $val['Title'];}else{ echo $val['mediaName']; } ?>,</td>
                  <td width="30%" align="right"><a href="<?php echo $mediaUrl.$val['media'];?>" target="_blank" class="btn btn-success">View</a></td>
                </tr>
                
                
                
                 <?php } ?> 
   
              </tbody>
            </table>




<script>

    
 </script>   