<table class="table table-striped  table-hover table-sm m-0">
              <tbody>
                  
                 <?php foreach ($getExhibitorVideos as $key=>$val){ ?>
                  
                <tr>
                  <td width="70%"><?php if(!empty($val['boothVideoTitle'])){ echo $val['boothVideoTitle'];}else{ echo $val['mediaName']; } ?>,</td>
                  <td width="30%" align="right"><button class="btn btn-success" type="button" data-toggle="modal" data-target="#videoModal3" data-dismiss="modal" onclick="playBoothVideo('<?php echo $val['id'] ?>');"><i class="fa fa-youtube-play"></i> Play</button></td>
                </tr>
                 <?php } ?> 
   
              </tbody>
            </table>




<script>

    
 </script>   