<div class="row">
          <div class="col-12 col-md-6">
            <div class="widget widgetleftbox">
              <div class="widget-title">
                <h3>Exhibitors Index</h3>
              </div>
              <div class="widget-content">
                <div class="list-group"> <a href="#" class="list-group-item list-group-item-action rounded-0">Cras justo odio</a> <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a> <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a> <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a><a href="#" class="list-group-item list-group-item-action">Cras justo odio</a> <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a> <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a> <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a><a href="#" class="list-group-item list-group-item-action">Cras justo odio</a> <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a> <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a> <a href="#" class="list-group-item list-group-item-action rounded-0">Porta ac consectetur ac</a> </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="widget widgetmiddlebox">
              <div class="widget-title">
                <h3>How it Works</h3>
              </div>
              <div class="widget-content bg-white">
                <ol>
                  <li>Scroll the exhibitor booths above from left to right, or top to bottom in the Exhibitor's Index to the left.</li>
                  <li>Click on the pictures to learn more about each exhibitor.</li>
                  <li>Click "Chat" to join a group discussion and click on a user name for individual chat or to schedule a video meeting.</li>
                  <li>Click "Chat" to join a group discussion and click on a user name for individual chat or to schedule a video meeting.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-md d-none">
            <div class="widget widgetrightbox bg-white" style="height:210px;">
              <div class="widget-content bg-white"><img src="/eventTap/images/exhibit hall image.png" width="390" height="175" class="img-fluid" alt=""/></div>
            </div>
          </div>
        </div>