<?php // echo  '<pre>'; print_r($getBoothDetail);  die(' lol'); ?>

<div class="row">
  <div class="col-12">
    <div class="card rounded-0 main-large-view-booth bg-transparent border-0">
      <div class="card-body p-0 text-center view-booth-img d-flex justify-content-center align-items-center">
        <button id="btnBackExpZone" type="button" class="btn btn-success btnBackExpZone" value="Go Back" onClick="backboothlist();"><img src="/eventTap/images/back_white.svg" class="mr-2" width="16" alt="">Go Back</button>
        <?php if(!empty($getBoothDetail[0]['meetingUrl'])){ ?>
        <a href="<?php echo $getBoothDetail[0]['meetingUrl']; ?>" target="_blank" class="btn btn-live btnmeeting" onclick="getCountOfUser('<?php echo $getBoothDetail[0]['id']; ?>');"><i class="fa fa-connectdevelop mr-2"></i>Connect Live</a>
        <?php }else{ ?>
        <a href="https://meet.google.com/" target="_blank" class="btn btn-live btnmeeting" onclick="getCountOfUser('<?php echo $getBoothDetail[0]['id']; ?>');"><i class="fa fa-connectdevelop mr-2"></i>Connect Live</a>
        <?php } ?>
        <?php // if($getBoothDetail[0]['type']=="1"){ ?>
        <?php if(empty($getBoothDetail[0]['media'])){ ?>
        <a><img src="/eventTap/images/preview-booth.png"  height="350" alt=""/></a>
        <?php }else{ ?>
        <a><img class="mb-3" src="<?php echo $mediaUrl.$getBoothDetail[0]['media']; ?>" height="350" alt=""/></a>
        <?php } ?>
        <?php // }}else{ ?>
        <?php // } ?>
      </div>
      <div class="card-footer booth-buttons-next-prev mt-0 mb-0 border-0 pl-3 pr-3">
        <div class="row">
          <div class="col col-md-2 bg-dark text-center d-flex justify-content-center align-items-center"><a class="text-white" href="javascript:void(0);" onclick="callprev('<?php echo $getBoothDetail[0]['id'] ?>','prev');" style="padding:.75rem 1.25rem;"><i class="fa fa-arrow-left"></i> Prev</a></div>
          <div class="col col-md-8 pl-0 pr-0 bg-white text-center">
            <ul class="list-group list-group-horizontal d-flex justify-content-start booth-main-menu h-100">
              <?php foreach ($menuItems as $key=>$val){ ?>
              <li class="list-group-item"><a href="<?php echo $val['url']; ?>" target="_blank"><?php echo $val['menuName']; ?></a></li>
              <?php } ?>
            </ul>
          </div>
          <div class="col col-md-2 text-right bg-dark text-center d-flex justify-content-center align-items-center"><a class="text-white" href="javascript:void(0);" onclick="callnext('<?php echo $getBoothDetail[0]['id'] ?>','next');" style="padding:.75rem 1.25rem;">Next <i class="fa fa-arrow-right"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-2 home-container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-building"></i> Description</a> </li>
        <li class="nav-item" role="presentation"> <a class="nav-link" id="video-tab" data-toggle="tab" href="#booth-videos" role="tab" aria-controls="booth-videos" aria-selected="false"><i class="fa fa-play-circle-o"></i> Videos</a> </li>
        <li class="nav-item" role="presentation"> <a class="nav-link" id="doc-tab" data-toggle="tab" href="#booth-docs" role="tab" aria-controls="booth-docs" aria-selected="false"><i class="fa fa-file-text-o"></i> Documents</a> </li>
      </ul>
      <div class="tab-content bg-white" id="myTabContent">
        <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h1><?php echo $getBoothDetail[0]['title']; ?></h1>
          <p><?php echo $getBoothDetail[0]['description']; ?></p>
        </div>
        
        <!--vdo strt-->
        <div class="tab-pane fade p-0" id="booth-videos" role="tabpanel" aria-labelledby="video-tab">
          <ul class="list-group list-videos-docs">
            <?php foreach($getBoothVideos as $key=>$val){ ?>
            <li class="list-group-item"><?php if(!empty($val['boothVideoTitle'])){ echo $val['boothVideoTitle'];}else{ echo $val['mediaName']; } ?>
              <button class="btn btn-view float-right btn-sm" type="button" data-toggle="modal" data-target="#videoModal" onclick="playBoothVideo('<?php echo $val['boothId']; ?>','<?php echo $val['id']; ?>');"><i class="fa fa-youtube-play"></i>Play</button>
            </li>
            <?php } ?>
           
          </ul>
        </div>
        <!--vdo ends here--> 
        
        <!--Docs Start-->
        <div class="tab-pane fade p-0" id="booth-docs" role="tabpanel" aria-labelledby="doc-tab">
          <ul class="list-group list-videos-docs">
            <?php foreach($getBoothDocument as $key=>$val){ ?>
            <li class="list-group-item"><?php if(!empty($val['Title'])){ echo $val['Title'];}else{ echo $val['mediaName'];} ?> <a href="<?php echo $mediaUrl.$val['media'] ?>" target="_blank" onclick="getBoothContentLogs('<?php echo base64_encode($val['id'].'-'.$val['boothId']);?>','1');">
              <button  class="btn btn-view float-right btn-sm" >View</button>
              </a> 
              <!--<td width="30%" align="right"><a class="btn btn-success" href="<?php echo $mediaUrl.$val['media'] ?>" target="_blank"><i class="fa fa-file-text-o"></i> View</a></td>--> 
            </li>
            <?php }  ?>
          </ul>
        </div>
        <!--Ends  Here--> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

        
      <div class="modal-body p-0">
        <div id="boothVideo"></div>
      </div>
    </div>
  </div>
</div>



<script>
var nextpArray=new Array();
//nextpArray[0]='img_scroll1';
//nextpArray[1]='img_scroll2';
//nextpArray[2]='img_scroll3';
//nextpArray[3]='img_scroll4';
//nextpArray[4]='img_scroll5';
//nextpArray[5]='img_scroll6';
var currentclickindex=0;
var timeoutvalue=100;
</script>

<script>
    
function callnext(boothId,type){
//          alert(boothId); return false;
    if(boothId==""){
     $("#main-large-view-booth").css('display','block');   
           return true;    
    }
    
   $.ajax({
            type: "POST",
            url: '/users/check-is-booth-exsit',
            datatype:'json',
            data: {boothId:boothId,type:type},
            async: true,
            success:function(data){
//                alert(data); return false;
          if(data.send.status==0){   
           $("#main-large-view-booth").css('display','block');   
           return false;
        }else{
         var boothId=(data.send.id);  
       $("#mainbooth-container").css('display','none');
       $("#pbBooth").css('display','none');
       $("#osponsor-section").css('display','none');

            $.ajax({
            type: "POST",
            url: '/users/exhibitor-detail-view',
            datatype:'json',
            data: {boothId:boothId,type:type},
            async: true,
            success:function(data){
//                alert(data); return false;
              $("#main-large-view-booth").css('display','block');
                 $("#pbBooth").css('display','block');
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
                $('#exhibitorDetail').html("");
                $('#exhibitorDetail').html(data);
              
		setTimeout ( function(){ 
//		currentclickindex++;		
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
                 $('#exhibitorDetail').html("");
                $('#exhibitorDetail').html(data);
		$("#pbBooth").css('display','none');
		},timeoutvalue);
//                        return true;

//          }    
            
           },

            failure: (function () { alert("Failure!!"); })
        }); 
        
        
        (function($){
			$("#pbBooth").css('display','flex');
			$("#osponsor-section").css('display','none');
			$(window).load(function(){
				//$("#pbBooth").css('display','block');
				setTimeout ( function(){ 
				$("#content-1").mThumbnailScroller();
				$("#pbBooth").css('display','none');
				$("#content-1").css('display','block');
				$("#osponsor-section").css('display','block');
				},100);
			});
		})(jQuery);    
                
                
                
                
              }
            },

            failure: (function () { alert("Failure!!"); })
        });   
    
};

  function callprev(boothId,type){
//      alert(boothId); return false;
      if(boothId==""){
     $("#main-large-view-booth").css('display','block');   
           return true;    
    }
      
      $.ajax({
            type: "POST",
            url: '/users/check-is-prev-booth-exsit',
            datatype:'json',
            data: {boothId:boothId,type:type},
            async: true,
            success:function(data){
//                alert(data); return false;
          if(data.send.status==0){   
           $("#main-large-view-booth").css('display','block');   
           return false;
        }else{
            
         var boothId=(data.send.id);  
        $.ajax({
            type: "POST",
            url: '/users/exhibitor-detail-view',
            datatype:'json',
            data: {boothId:boothId,type:type},
            async: true,
            success:function(data){
//                alert(data); return false;
		$("#pbBooth").css('display','block');
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
	        $('#exhibitorDetail').html("");
                $('#exhibitorDetail').html(data); 
                //htm.("")
		setTimeout ( function(){ 
		if(currentclickindex==1){
		$("#show-booth-video").addClass("show");
		}
		
//		currentclickindex=currentclickindex-1;
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
                $('#exhibitorDetail').html("");
                $('#exhibitorDetail').html(data);
		$("#pbBooth").css('display','none');
		},timeoutvalue);
		
            },

            failure: (function () { alert("Failure!!"); })
        }); 
         }
            },

            failure: (function () { alert("Failure!!"); })
        });   
    
};
         

    
    function getCountOfUser(boothId){
            
        $.ajax({
            type: "POST",
            url: '/users/save-user-count-for-meeting',
            datatype:'json',
            data: {boothId:boothId},
            async: true,
            success:function(data){
//         alert(data); return false;       
                return true;
           },

            failure: (function () { alert("Failure!!"); })
        });        
                
 
    } 
    
    
  
    
    
    
//    function callprev(obj){		
//		if(currentclickindex==0){
//		//alert('You are already in first slide');		
//		}
//		else{
//		$("#pbBooth").css('display','block');
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');  
//                //htm.("")
//		setTimeout ( function(){ 
//		if(currentclickindex==1){
//		$("#show-booth-video").addClass("show");
//		}
//		
//		currentclickindex=currentclickindex-1;
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
//		$("#pbBooth").css('display','none');
//		},timeoutvalue);
//		}
//		};
                
          

                
    function playBoothVideo(boothId,videoId){

$.ajax({
            type: "POST",
            url: '/users/exhibitorsBoothVideo',
            datatype:'json',
            data: {boothId:boothId,videoId:videoId},
            async: true,
            success:function(data){
               $('#boothVideo').html("");
                $('#boothVideo').html(data);
                return true;
                
           },

            failure: (function () { alert("Failure!!"); })
        });


} 



 function getBoothContentLogs(itemId,type){
            
        $.ajax({
            type: "POST",
            url: '/users/save-user-count-for-booth-doc',
            datatype:'json',
            data: {itemId:itemId,type:type},
            async: true,
            success:function(data){
//         alert(data); return false;       
                return true;
            
           },

            failure: (function () { alert("Failure!!"); })
        });        
                
 
    }  
    
    
  function getBoothVdoLogs(itemId,type){
        $.ajax({
            type: "POST",
            url: '/users/save-user-count-for-booth-vdo',
            datatype:'json',
            data: {itemId:itemId,type:type},
            async: true,
            success:function(data){
//         alert(data); return false;       
                return true;
            
           },

            failure: (function () { alert("Failure!!"); })
        });        
                
 
    }   
    
                
</script> 