<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Event</title>
<link rel="icon" href="/eventTap/images/expoodle/expoodle-icon-32x32.png" sizes="32x32" />
<link rel="icon" href="/eventTap/images/expoodle/expoodle-icon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/eventTap/images/expoodle/expoodle-icon-180x180.png" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/eventTap/css/bootstrap.min.css">
<link rel="stylesheet" href="/eventTap/css/flyout.css">
<link rel="stylesheet" href="/eventTap/css/jquery.mThumbnailScroller.css">
<link rel="stylesheet" href="/eventTap/css/custom.css">
<style>
.navbar.navbar-dark
{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0 );
}

#experience-zone .mTS_horizontal .mTSContainer, #experience-zone .main-large-view-booth .view-booth-img
{
	background: url("/eventTap/images/hall-chicago.jpg") top left repeat-x;
	height: 519px;
	position:relative;
}
#experience-zone .mainbooth-container.card
{
	border: 1px solid #d8dee6;
	background: #fbfbfc;
}
#experience-zone .mTS_horizontal .mTSThumbContainer, #experience-zone .mTS_horizontal ul.mTSContainer > li
{
	float: left;
	margin-top: 235px;
	padding: 0 15px;
}
.widget
{
	border: 1px solid #e0e1e3;
	margin-bottom: 15px;
}
.widget-title h3
{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	background: #000;
	padding: 7px 10px;
	margin: 0;
}
.widget-content
{
	width: 100%;
	margin: 0;
	padding: 0px 0px 0px 0px;
	overflow: auto;
	height: 250px;
}
.widget .list-group-item { padding: .35rem .5rem; }
.widget-content ol { padding: 15px 30px; }
.widget-content ol li
{
	text-align: left;
	border-bottom: none;
	padding-left: 0;
	padding-bottom: 10px;
	line-height: 22px;
}
.btn:focus { box-shadow: none; }
#experience-zone .booth-main-menu a { color: #000; }
#experience-zone .home-container p { font-size: 14px; }
#experience-zone .list-videos-docs .list-group-item { padding: .5rem; }
.progace-bar
{
	color: #9e9e9e;
	padding: 10px 10px;
	margin: 0px auto 0px auto;
	text-decoration: none;
	border: 1px solid #000000;
	position: absolute;
	z-index: 9999999 !important;
	background: #ffffff;
	border: 1px solid #ffffff;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.progace-bar .left
{
	margin: 0 auto;
	padding: 0;
	width: auto;
	height: auto;
	text-align: center;
}
.progace-bar .right
{
	width: 900px;
	height: 40px;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	text-align: center;
}
.filter-overlay
{
	width: 100%;
	display: flex;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	position: absolute;
	z-index: 100;
	position: fixed;
	overflow: hidden;
}
.filter-overlay-menu
{
	width: 100%;
	display: flex;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	position: absolute;
	z-index: 999;
	position: fixed;
	overflow: hidden;
}

@media only screen and (max-width: 767px) {
.filter-overlay { display: none !important; }
}
#show-booth-video, .show-booth-video
{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 99;
}
#booth-video
{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	height: 520px;
	width: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
#experience-zone .home-container .nav-tabs { border-bottom: 0px solid #dee2e6; }
#experience-zone.home-container .nav-tabs .nav-item { margin-bottom: 0; }
#experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, #experience-zone .home-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus
{
	color: #fff;
	background: #630868;
	background: -moz-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: -webkit-linear-gradient(-45deg, #630868 0%, #8f1596 99%);
	background: linear-gradient(135deg, #630868 0%, #8f1596 99%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630868', endColorstr='#8f1596', GradientType=1 );
	border: 0 none;
	border-radius: 0;
}
#experience-zone .home-container .nav-tabs .nav-link
{
	padding: 15px 20px;
	border: 0 none;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}
#experience-zone .home-container .nav-tabs .nav-item { margin-bottom: 0; }
#experience-zone .home-container .tab-content>.tab-pane h1
{
	font-size: 18px;
	font-weight: normal;
	text-align: left;
	line-height: 21px;
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #3e3e3e;
}
#experience-zone .home-container p { font-size: 14px; }
.btnBackExpZone {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1;
    font-size: 13px;
    letter-spacing: normal;
	text-transform:capitalize;
}
.flyout .navbar-nav .dropdown-menu
{
	position: relative !important;
	float: none;
	top: 0px!important;
	transform: none !important;
}
#fullscreen
{
	position: absolute;
	right: 15px;
	top: 18px;
	z-index: 99999;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
}
.booth-links
{
	position: absolute;
	width: 143px;
	height: 144px;
}
a.close-panel, .boothmodal .close
{
	background-color: transparent;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 14px;
	top: 10px;
	z-index: 9;
	border: none 0 #ccc;
}
#show-booth-video .close-panel, .show-booth-video .close-panel, .boothmodal .close
{
	position: absolute;
	top: 17px;
	right: 50px;
	border-radius: 100%;
	background-color: #f00;
	border: solid 1px #f00;
}
.modal-header { padding: 5px 15px; }

@media only screen and (max-width: 767px) {
.dropdown-toggle::after
{
	float: right;
	margin-top: 7px;
	border-top: .35em solid;
	border-right: .35em solid transparent;
	border-bottom: 0;
	border-left: .35em solid transparent;
}
}

@media (min-width: 576px) {
.modal-dialog { margin: 0 auto; }
}
#map-section
{
	position: absolute;
	max-width: 1300px;
	left: 50%;
	margin-left: -650px;
	top: 80px;
	z-index: 101;
}
.modal-open .boothmodal.modal { padding: 0 !important; }

@media (min-width: 1366px) {
.boothmodal .modal-xl { max-width: 100%; }
}

@media (min-width: 1920px) {
.boothmodal .modal-xl { max-width: 1300px; }
}
.btnmeeting
{
	position: absolute;
	top: 80px;
	right: 50%;
	z-index: 1;
}
#show-booth-video .btnmeeting
{
	right: 25%;
	top: auto;
	bottom: 3px;
	height: 42px;
}
.modal-open .boothmodal.modal { padding: 0 !important; }
#show-booth-video .close-panel, .show-booth-video .close-panel, .boothmodal .close
{
	position: absolute;
	top: 12px;
	right: 10px;
	border-radius: 100%;
	background-color: #f00;
	border: solid 1px #f00;
}
#BoothModalOne .btnmeeting {
    position: absolute;
    bottom: 15px;
    right: 20%;
    z-index: 1;
    top: auto;
    left: auto;
    margin-left: auto;
}
.btn-live {
    background-color: #187801;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0px;
    /* padding: 5px 10px; */
    text-align: center;
    width: auto;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
 0% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #47cf73;
-webkit-box-shadow: 0 0 3px #47cf73;
}
}
 @-moz-keyframes glowing {
 0% {
background-color: #47cf73;
-moz-box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #47cf73;
-moz-box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #47cf73;
-moz-box-shadow: 0 0 3px #187801;
}
}
 @-o-keyframes glowing {
 0% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #187801;
box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
}
 @keyframes glowing {
 0% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
 50% {
background-color: #187801;
box-shadow: 0 0 40px #187801;
}
 100% {
background-color: #187801;
box-shadow: 0 0 3px #187801;
}
}
.btn-success
{
	letter-spacing: 1px;
	padding: 5px 15px 5px 15px;
}
.btn.btn-live.btnmeeting {
    width: 130px;
    margin-left: -60px;
    left: 50%;
	bottom:20px;
	top:auto;
}
.list-group-horizontal>.list-group-item:first-child, .list-group-horizontal>.list-group-item:last-child
{
	border-radius: 0;
	border-top: 0 none;
	border-bottom: 0 none;
	height: 100%;
}
.mTSContainer .btn-live.btnmeeting {
    bottom: -45px;
    top: auto;
    width: 130px;
    letter-spacing: normal;
    margin-left: -65px;
	    font-size: 12px;
}
</style>
</head>
<body style="background-color:#000;">
<div id="filter-overlay" class="filter-overlay" style="display:none;"></div>
<div id="filter-overlay-menu" class="filter-overlay" style="display:none;"></div>
<input type="hidden" name="page" id="currentPage" value="1">
<input type="hidden" name="type" id="filter" value="">
<input type="hidden" name="usernameonw" id="usernameonw" value="">
<input type="hidden" name="agendaType" id="agendaType" value="">
<div id="fullscreen" class="d-none d-sm-flex"><a id="showfs" href="#" onclick="openFullscreen2();"><img src="/eventTap/images/fullscreen.svg" width="18"></a><a id="closefs" href="#" onclick="closeFullscreen();"><img src="/eventTap/images/exit-fullscreen.png" width="18"></a></div>
<header>
  <nav class="navbar navbar-expand-md navbar-dark text-uppercase"> <a class="navbar-brand d-none" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="flyout" data-target="#mobilemenu"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mr-md-5">
        <li class="nav-item"> <a class="nav-link" id="navLV" href="/users/hall#lobby">Lobby</a> </li>
        <li class="nav-item "> <a class="nav-link" href="/users/hall#auditorium">Auditorium</a></li>
        <li id="menu-exhibitors" class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Exhibitors </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="javascript:void(0);" onclick="javascript:showZones(true);"><img src="/eventTap/images/experience-zone.png" class="mr-2" width="30" alt=""> Experience Zone</a> <a class="dropdown-item" href="/users/hall#event-partners"><img src="/eventTap/images/partners.png" width="30" class="mr-2" alt=""> Partners</a> <a class="dropdown-item" href="javascript:void(0);"  data-toggle="modal" data-target="#MapModal"><img src="/eventTap/images/map.png" width="30" class="mr-2" alt="">Map</a> </div>
        </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Users </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/users/hall#event-speakers"><img src="/eventTap/images/speakers.png" class="mr-2" width="30" alt=""> Speakers</a> <a class="dropdown-item" href="/users/hall#event-mentors"><img src="/eventTap/images/mentors.png" class="mr-2" width="30" alt=""> Mentors</a> <a class="dropdown-item" href="/users/hall#event-attende"><img src="/eventTap/images/attendees.png" class="mr-2" width="30" alt=""> Attendees</a> </div>
        </li>
        <li class="nav-item"> <a class="nav-link" href="/users/hall#agenda-container">Agenda</a> </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Resources </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/users/hall#VideoVaultModal"><img src="/eventTap/images/video.png" class="mr-2" width="30" alt=""> Video Vault</a> <a class="dropdown-item" href="/users/hall#DocModal"><img src="/eventTap/images/documents.png" class="mr-2" width="30" alt=""> Documents</a> </div>
        </li>
        <li class="nav-item "> <a class="nav-link" href="/users/networking">Networking</a></li>
        <!--<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Networking </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/users/networking"><img src="/eventTap/images/networking.png" class="mr-2" width="30" alt=""> Networking</a> <a class="dropdown-item" href="#"><img src="/eventTap/images/help.png" class="mr-2" width="30" alt=""> Help Center</a> <a class="dropdown-item" href="/users/hall#NetworkScheduleMeetingModal" ><img src="/eventTap/images/meeting.png" class="mr-2" width="30" alt=""> Schedule Meeting</a> </div>
        </li>-->
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Feedback </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="/users/hall#quickpoll-section" ><img src="/eventTap/images/help.png" class="mr-2" width="30" alt=""> Quick Poll</a> <a class="dropdown-item" href="/users/hall#survey-section" ><img src="/eventTap/images/help.png" class="mr-2" width="30" alt=""> Survey</a> </div>
        </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="<?php echo $mediaUrl."profile/".$userDetail[0]['userId'].".png";?>" class="rounded-circle mr-2" width="32"> My Profile </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/users/hall#my-profile"><i class="fa fa-user"></i> My Profile</a> <a class="dropdown-item"  href="/users/hall#imatch-main" ><i class="fa fa-bullseye"></i> iMatch</a> <a class="dropdown-item" href="/users/hall#agenda-container"><i class="fa fa-th-list"></i> My Agenda</a> <a class="dropdown-item" href="/users/hall#mymeeting"><i class="fa fa-suitcase"></i> My Meetings</a> <a class="dropdown-item" href="/application/index/logout"><i class="fa fa-sign-out"></i> Logout</a> </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="flyout navbar-flyout right" id="mobilemenu">
    <div class="mobile-menu-close" data-toggle="flyout" data-target="#mobilemenu"> <span class="ti-close"><img src="<?php echo $mediaUrl."profile/".$userDetail[0]['userId'].".png";?>" width="20px" alt=""/></span> </div>
    <ul class="navbar-nav">
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="<?php echo $mediaUrl."profile/".$userDetail[0]['userId'].".png";?>" class="rounded-circle mr-2" width="32"> My Profile </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#registrationModal" data-dismiss="modal" onclick="edituser('1');"><i class="fa fa-user"></i> My Profile</a> <a class="dropdown-item"  href="/users/hall#imatch-main" ><i class="fa fa-bullseye"></i> iMatch</a> <a class="dropdown-item" href="/users/hall#agenda-container"><i class="fa fa-th-list"></i> My Agenda</a> <a class="dropdown-item" href="/users/hall#mymeeting"><i class="fa fa-suitcase"></i> My Meetings</a> <a class="dropdown-item" href="/application/index/logout"><i class="fa fa-sign-out"></i> Logout</a> </div>
      </li>
      <li class="nav-item"> <a class="nav-link" id="navLV" href="/users/hall#lobby">Lobby</a> </li>
      <li class="nav-item "> <a class="nav-link" href="/users/hall#auditorium">Auditorium</a></li>
      <li id="menu-exhibitors" class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Exhibitors </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="javascript:void(0);" onclick="javascript:showZones(true);"><img src="/eventTap/images/experience-zone.png" class="mr-2" width="30" alt=""> Experience Zone</a> <a class="dropdown-item" href="/users/hall#event-partners"><img src="/eventTap/images/partners.png" width="30" class="mr-2" alt=""> Partners</a> <a class="dropdown-item" href="javascript:void(0);"  data-toggle="modal" data-target="#MapModal"><img src="/eventTap/images/map.png" width="30" class="mr-2" alt="">Map</a> </div>
      </li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Users </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/users/hall#event-speakers"><img src="/eventTap/images/speakers.png" class="mr-2" width="30" alt=""> Speakers</a> <a class="dropdown-item" href="/users/hall#event-mentors"><img src="/eventTap/images/mentors.png" class="mr-2" width="30" alt=""> Mentors</a> <a class="dropdown-item" href="/users/hall#event-attende"><img src="/eventTap/images/attendees.png" class="mr-2" width="30" alt=""> Attendees</a> </div>
      </li>
      <li class="nav-item"> <a class="nav-link" href="/users/hall#agenda-container">Agenda</a> </li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Resources </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#" data-toggle="modal" data-target="#VideoVaultModal"><img src="/eventTap/images/video.png" class="mr-2" width="30" alt=""> Video Vault</a> <a class="dropdown-item" href="#" data-toggle="modal" data-target="#DocModal"><img src="/eventTap/images/documents.png" class="mr-2" width="30" alt=""> Documents</a> </div>
      </li>
      <li class="nav-item "> <a class="nav-link" href="/users/networking">Networking</a></li>
     <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Networking </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/users/hall#networking-section"><img src="/eventTap/images/networking.png" class="mr-2" width="30" alt=""> Networking</a> <a class="dropdown-item" href="#"><img src="/eventTap/images/help.png" class="mr-2" width="30" alt=""> Help Center</a> <a class="dropdown-item" href="javascript:void(0);" onclick="javascript:openNetworkschedulemeetingmodal();"><img src="/eventTap/images/meeting.png" class="mr-2" width="30" alt=""> Schedule Meeting</a> </div>
      </li>-->
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Feedback </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="/users/hall#quickpoll-section" ><img src="/eventTap/images/help.png" class="mr-2" width="30" alt=""> Quick Poll</a> <a class="dropdown-item" href="/users/hall#survey-section" ><img src="/eventTap/images/help.png" class="mr-2" width="30" alt=""> Survey</a> </div>
      </li>
    </ul>
  </div>
</header>
<main class="main-content">
  <div class="progace-bar" id="pbBooth">
    <div>
      <div class="left"><img src="/eventTap/images/expoodle/Expoodle_1A-768x125.png" height="40" alt=""/></div>
      <div class="right" id="LoadingBooths">Loading Booths...</div>
    </div>
  </div>
  <!-- Experience Zone (START) -->
  <div id="experience-zone" class="container-fluid" style="background-color:#000;">
    <div id="mainbooth-container">
      <div class="row">
        <div class="col-12 p-0 pb-3">
          <div class="card rounded-0 border-0">
            <div class="card-body p-0"> 
              <!--  <div id="booth-video">
              <video playsinline="playsinline" autoplay muted loop>
                <source src="/eventTap/videos/booth_background.mp4" type="video/mp4">
              </video>
            </div>--> 
              <a class="btn-prev d-none" href="javascript:void(0);"><img src="/eventTap/images/back2.svg" alt="Back" width="30"></a> <a class="btn-next d-none" href="javascript:void(0);"><img src="/eventTap/images/next.svg" alt="Next" width="30"></a>
              <div id="content-1" class="content" style="display:none;">
                <ul>
                  <li class="position-relative"><a id="img_scroll110" href="#BoothModalOne" data-toggle="modal" data-target="#BoothModalOne"><img src="/eventTap/images/booth/booth-01.png"></a><a href="https://meet.google.com/" target="_blank" class="btn btn-live btnmeeting" onclick="getCountOfUser('<?php echo $getBoothDetail[0]['id']; ?>');"><i class="fa fa-connectdevelop mr-2"></i>Connect Live</a></li>
                  
                 
                  
                  
                   <?php foreach ($getBoothMedia as $key=>$val){  ?>
                  <li class="position-relative"><a href="javascript:void(0);" id="img_scroll2"  onclick="callimgclick('<?php echo $val['boothId']?>');"><img src="<?php echo $mediaUrl.$val['media'] ?>"></a>
                    <?php if(!empty($val['meetingUrl'])){ ?>
                      <a href="<?php echo $val['meetingUrl']; ?>" target="_blank" class="btn btn-live btnmeeting" onclick="getCountOfUser('<?php echo $getBoothDetail[0]['id']; ?>');"><i class="fa fa-connectdevelop mr-2"></i>Connect Live</a>
                    <?php }else{ ?>
                      <a href="https://meet.google.com/" target="_blank" class="btn btn-live btnmeeting" onclick="getCountOfUser('<?php echo $getBoothDetail[0]['id']; ?>');"><i class="fa fa-connectdevelop mr-2"></i>Connect Live</a>
                    <?php } ?>
                  </li>
                  <?php } ?>
                  
                  
                  
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="osponsor-section" class="pb-2 home-container w-100" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-6">
            <!--<div class="widget widgetleftbox">-->
            <div class="widget widgetleftbox bg-white">
            
              <div class="widget-title">
                <h3>Exhibitors Index</h3>
              </div>
                
              <div class="widget-content">
                  
                  
                <div class="list-group"> 
                    

                 <?php foreach ($getBoothMedia as $key=>$val){ ?>
                <a href="#" class="list-group-item list-group-item-action rounded-0"><?php echo $val['boothName']?></a> 
                 <?php } ?>    
                </div>
                  
                  
              </div>
            </div>
          </div>
            
          <div class="col-12 col-md-6">
            <div class="widget widgetmiddlebox">
              <div class="widget-title">
                <h3>How it Works</h3>
              </div>
              <div class="widget-content bg-white">
                <ol>
                  <li>Scroll the exhibitor booths above from left to right, or top to bottom in the Exhibitor's Index to the left.</li>
                  <li>Click on the pictures to learn more about each exhibitor.</li>
                  <li>Click "Chat" to join a group discussion and click on a user name for individual chat or to schedule a video meeting.</li>
                  <li>Click "Chat" to join a group discussion and click on a user name for individual chat or to schedule a video meeting.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-md d-none">
            <div class="widget widgetrightbox bg-white" style="height:210px;">
              <div class="widget-content bg-white"><img src="/eventTap/images/exhibit hall image.png" width="390" height="175" class="img-fluid" alt=""/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <section style="display:none;" data-target-id="#img_scroll1"> </section>
    
    <section id="main-large-view-booth" class="main-large-view-booth position-relative" style="display:none;" data-target-id="#img_scroll2">
      <div id="exhibitorDetail"></div>
    </section>
    
  </div>
</main>
</div>
<div class="modal fade" id="MapModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-white text-black-50">
        <button type="button" class="close text-dark" data-dismiss="modal"> <span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""></span> </button>
      </div>
      <div class="modal-body p-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 p-0 position-relative"> <a id="img_scroll7" class="booth-links" href="javascript:void(0);" style="top: 47px; left: 72px;"></a> <a id="img_scroll8" class="booth-links" href="javascript:void(0);" style="top: 47px; left: 286px;"></a> <a id="img_scroll9" class="booth-links" href="javascript:void(0);" style="top: 47px; left: 713px;"></a> <a id="img_scroll10" class="booth-links" href="javascript:void(0);" style="top: 238px;left: 286px;"></a> <a id="img_scroll11" class="booth-links" href="javascript:void(0);" style="top: 238px; left: 500px;"></a> <a id="img_scroll12" class="booth-links" href="javascript:void(0);" style="top: 238px;right: 70px;"></a> <img id="map-view" src="/eventTap/images/map-full.jpg" class="img-fluid"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="display:none;" data-target-id="#img_scroll110">
  <div id="show-booth-video" class="collapse"> <a href="javascript:void(0);" class="close-panel"><img src="/eventTap/images/close2.svg" width="20" onclick="closeexpzone();" alt="Close"></a> <a href="https://us04web.zoom.us/j/5857029942?pwd=TEMvQzhuSHlWKzZVOGFua3h5MDRIdz09" target="_blank" class="btn btn-live btnmeeting">Connect Live</a>
    <iframe src="https://xs-worldwide.com/file/mtu/index.htm" frameborder="0" width="100%" height="100%" style="height:100%; width:100%;"></iframe>
  </div>
</section>

<div class="modal fade boothmodal" id="BoothModalOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close text-dark" data-dismiss="modal"> <span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt=""></span> </button>
        <div class="embed-responsive embed-responsive-16by9"><a href="https://us04web.zoom.us/j/5857029942?pwd=TEMvQzhuSHlWKzZVOGFua3h5MDRIdz09" target="_blank" class="btn btn-live btnmeeting">Connect Live</a>
          <iframe class="embed-responsive-item" src="https://xs-worldwide.com/file/mtu/index.htm" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/eventTap/js/jquery.min.js"></script> 
<script src="/eventTap/js/bootstrap.bundle.min.js"></script> 
<script src="/eventTap/js/flyout.js"></script> 
<script src="/eventTap/js/jquery.mThumbnailScroller.js"></script> 
<script src="https://use.fontawesome.com/a53b434e78.js"></script> 
<script src="/eventTap/js/customQuery.js"></script>

<script>
var nextpArray=new Array();
nextpArray[0]='img_scroll1';
nextpArray[1]='img_scroll2';
nextpArray[2]='img_scroll3';
nextpArray[3]='img_scroll4';
nextpArray[4]='img_scroll5';
nextpArray[5]='img_scroll6';
var currentclickindex=0;
var timeoutvalue=100;
</script> 
<script>

//function closeexpzone(){
//	$("#show-booth-video").removeClass('show');
//	$("section[data-target-id='#img_scroll1']").css('display','none');
//	showZones(true);
//}


function closeexpzone(){
	$("#show-booth-video").removeClass('show');
	$("section[data-target-id='#img_scroll110']").css('display','none');
	showZones(true);
}


function backboothlist(){
showZones(true);
}

function showmap(){ 
	$("#MapModal").modal('show');
	$("#filter-overlay").css('display','none'); 
	$("#survey-section, #quickpoll-section, #event-speakers, #agenda-container, #event-partners, #imatch-main, #event-mentors, #mymeeting, #event-attende, #favourite-users-list, #my-schedule").css('display','none');
	return true;
}



function showZones(tf){
$( nextpArray ).each(function( index,element ) {
$("section[data-target-id='#"+nextpArray[index]+"']").css('display','none');
});	
$('#resultDataAgenda').html("");
$("#mTS_1, #btnShowFS, #filter-overlay, #video-one, #event-speakers, #agenda-container, #event-partners, #imatch-main, #favourite-users-list, #my-schedule, #networking-section, #map-section").css('display','none');

if(tf){
$("#experience-zone").css('display','block');

$("#auditorium-section").css('display','none');
$("#mTS_1").css('display','block');
$("#mainbooth-container").css("display","block");
$("#osponsor-section").css('display','block');
$("#main-large-view-booth").css('display','none');	
		
}
else{
$("#experience-zone").css('display','block');
$("#mainbooth-container").css("display","block");
$("#osponsor-section").css('display','none');	
$("#main-large-view-booth").css('display','none');	
		
}
}
var elem = document.documentElement;


function openFullscreen() {
  document.getElementById("filter-overlay").style.display="none";
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
}
else{
 document.getElementById("myvideomultiple2").play();
 $("#entry-view").css('display','none');
$("#lobby-view").css('display','none');
}

}

document.getElementById("closefs").style.display="none";

function openFullscreen2() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
  document.getElementById("showfs").style.display="none";
  document.getElementById("closefs").style.display="block";

 resizefunction();
 $("body").addClass('overflow-hidden');
  
}
/* Close fullscreen */
function closeFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.mozCancelFullScreen) { /* Firefox */
    document.mozCancelFullScreen();
  } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE/Edge */
    document.msExitFullscreen();
  }
  document.getElementById("showfs").style.display="block";
  document.getElementById("closefs").style.display="none";
  $("body").removeClass('overflow-hidden');
}
function resizefunction(){
	//alert('resfunct');
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 // some code..
}
else{

}

}

$(document).ready(function(){

if(window.location.hash) {
      var hash = window.location.hash.substring(1);
      if(hash=='experience-zone'){
	  showZones(true);
	  }
	  if(hash=='event-partners'){
	  showspartners();
	  }
	  if(hash=='MapModal'){
	  showmap();
	  }	
	  
      // hash found
  } else {
      // No hash found
  }
  
function checkismobile(){
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 return true;
}
else{
return false;
}
}
if(!checkismobile()){}});

function callimgclickMap(obj,indexid,secid){
		$("#map-section, #video-one, #filter-overlay, #auditorium-section, #networking-section").css('display','none');
		$("#pbBooth").css('display','block');	
		$("section[data-target-id='#img_scroll1'],  section[data-target-id='#img_scroll2'], section[data-target-id='#img_scroll3']").css('display','none');
		$("section[data-target-id='#img_scroll4'],  section[data-target-id='#img_scroll5'], section[data-target-id='#img_scroll6']").css('display','none');
		$("#mainbooth-container").css('display','none');
		setTimeout ( function(){ 
		$("#experience-zone").css('display','block');
		$("#osponsor-section").css('display','none');
		$("section[data-target-id='#"+secid+"']").css('display','block');
		currentclickindex=indexid;
		$("#pbBooth").css('display','none');}, timeoutvalue );
}



//function callimgclick(obj){
//		$("#pbBooth").css('display','block');
//		$("#mainbooth-container").css('display','block');
//		setTimeout ( function(){ 
//		$("#osponsor-section").css('display','none');
//		$("section[data-target-id='#"+$(obj).attr('id')+"']").css('display','block');
//		$(obj).parent().parent().parent().css('display','none');
//		currentclickindex=$(obj).parent('li').index();
//		$("#pbBooth").css('display','none');}, timeoutvalue );
//		}
                
                
                
                
   function callimgclick(boothId){
            
    $("#mainbooth-container").css('display','none');
    $("#pbBooth").css('display','none');
   $("#osponsor-section").css('display','none');
        $.ajax({
            type: "POST",
            url: '/users/exhibitor-detail-view',
            datatype:'json',
            data: {boothId:boothId},
            async: true,
            success:function(data){
//         alert(data); return false;       
            $("#main-large-view-booth").css('display','block');
              $('#exhibitorDetail').html("");
              $('#exhibitorDetail').html(data);
                return true;
            
           },

            failure: (function () { alert("Failure!!"); })
        });        
                
 
    }        
                
                
                
		
		function callprev(obj){		
		if(currentclickindex==0){
		//alert('You are already in first slide');		
		}else{
		$("#pbBooth").css('display','block');
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
		setTimeout ( function(){ 
		if(currentclickindex==1){
		$("#show-booth-video").addClass("show");
		}
		
		currentclickindex=currentclickindex-1;
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
		$("#pbBooth").css('display','none');
		},timeoutvalue);
		}
		};
                
                
//		function callnext(obj){
//		if(currentclickindex==nextpArray.length-1){
//		//alert('You are already in last slide');		
//		}
//		else{
//		$("#pbBooth").css('display','block');
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
//		setTimeout ( function(){ 
//		currentclickindex++;		
//		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
//		$("#pbBooth").css('display','none');
//		},timeoutvalue);
//		}
//		};
//                
//                
//		(function($){
//			$("#pbBooth").css('display','flex');
//			$("#osponsor-section").css('display','none');
//			$(window).load(function(){
//				//$("#pbBooth").css('display','block');
//				setTimeout ( function(){ 
//				$("#content-1").mThumbnailScroller();
//				$("#pbBooth").css('display','none');
//				$("#content-1").css('display','block');
//				$("#osponsor-section").css('display','block');
//				},100);
//			});
//		})(jQuery);



        
		function callnext(boothId){
                    
                  //Ajax call  
//             send one id greater then this id:- get one id from db for this id :-
                    
                    
		if(currentclickindex==nextpArray.length-1){
		//alert('You are already in last slide');		
		}
		else{
		$("#pbBooth").css('display','block');
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
		setTimeout ( function(){ 
		currentclickindex++;		
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
		$("#pbBooth").css('display','none');
		},timeoutvalue);
		}
		};
                
                
		(function($){
			$("#pbBooth").css('display','flex');
			$("#osponsor-section").css('display','none');
			$(window).load(function(){
				//$("#pbBooth").css('display','block');
				setTimeout ( function(){ 
				$("#content-1").mThumbnailScroller();
				$("#pbBooth").css('display','none');
				$("#content-1").css('display','block');
				$("#osponsor-section").css('display','block');
				},100);
			});
		})(jQuery);
                
                
                
                
$(document).ready(function() { 

$("ul.navbar-nav li").find('a').click(function(){
$("ul.navbar-nav li").removeClass('active');
$(this).parents('li').addClass('active');
});
$('.nav-item').on('show.bs.dropdown', function () { $("#filter-overlay-menu").css('display','block'); }); 
$('.nav-item').on('hide.bs.dropdown', function () { $("#filter-overlay-menu").css('display','none'); });

function closemap(){ 
$("#map-section, #filter-overlay").css('display','none'); 
return true;
}


});
</script>
</body>
</html>