<input type="hidden" id="imatchUserId" value="">
<div class="row">
  <div class="col-12 pt-2 pl-0 pr-0">
  <a href="javascript:void(0);" class="btn btn-success btn-block text-uppercase rounded-0" onClick="showrequestmeeting('<?php echo $result['userId']?>');">Request for Meeting</a>
    <div id="carouselImatch" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <?php foreach($imatch as $key=>$result){?>
        <div class="carousel-item <?php if($key==0){echo "active";}?>">
          <div class="card w-100 border-0 rounded-0">
            <div class="imatch-img position-relative"><img src="<?php echo $mediaUrl."profile/".$result['userId'].".png"?>" class="card-img-top rounded-0" alt="...">
              <div class="card-img-overlay">
                <div class="media"> <img src="/eventTap/images/skills2.svg" width="16" class="mr-1" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0 text-white float-left">Total Skill Match: <?php echo $result['totalSkillMatch'];?></h5>
                    <h5 class="mt-0 float-right" style="color: #ed982b;"><?php echo ucfirst($result['loginType']);?></h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body card-main-content p-4">
              <h5 class="card-title"><?php echo $result['firstName'];?></h5>
              <p class="card-text designation"><?php echo $result['designation'];?></p>
              <ul class="list-unstyled">
                <!--<li class="media"> <img src="/eventTap/images/location.svg" class="mr-2" width="20" alt="...">
                  <div class="media-body">
                    <p class="mt-0 mb-1"><?php //echo $result['city'];?></p>
                  </div>
                </li>-->
                <li class="media my-1 my-md-2"> <img src="/eventTap/images/industry.svg" width="20" class="mr-2" alt="...">
                  <div class="media-body">
                    <p class="mt-0 mb-1"><?php echo $result['companyName'];?></p>
                  </div>
                </li>
                <li class="media"> <img src="/eventTap/images/skills.svg" width="20" class="mr-2" alt="...">
                  <div class="media-body w-100">
                    <p class="mt-0 mb-1"><strong>Skills Match</strong></p>
                    <div style="width: 90%;overflow-x:auto;overflow-y:hidden;white-space:nowrap;padding: 10px 10px 10px 0;">
					<?php foreach($result['skills'] as $value){?>
                    <span class="bg-yellow text-white p-1 mr-1 mt-1 mb-1 rounded d-inline-block"><?php echo $value['name']?></span> 
                    <!--                            <span class="bg-purple text-white p-1 mr-1 mt-1 mb-1 rounded d-inline-block">Digital Transformation</span>-->
                    <?php }?>
                  </div></div>
                </li>
                <li class="media my-1 my-md-2"> <img src="/eventTap/images/description.svg" width="20" class="mr-2" alt="...">
                  <div class="media-body">
                    <p class="mt-0 mb-1"><strong>Description</strong></p>
                    <?php echo $result['description'];?> </div>
                </li>
              </ul>
            </div>
             </div>
        </div>
        <?php }?>
      </div>
    </div>
  </div>
</div>
<script>
 //var imgH=$('.imatch-img').outerHeight();
 //var navH=$('nav').outerHeight();
 //var wbH5=$(window).outerHeight()-(navH+imgH+100);
 //$(".card-main-content").css('height',wbH5+'px');
 $(document).ready(function(){
  $("#imatchcounter").html("<?php echo $totalCounter;?>");
 });
 </script>