<!-- -- --> 
<script src="/eventTap/js/jquery.min.js"></script> 
<script src="/eventTap/js/bootstrap.bundle.min.js"></script> 
<script src="/eventTap/js/flyout.js"></script> 
<script src="/eventTap/js/jquery.mThumbnailScroller.js"></script> 
<script src="https://use.fontawesome.com/a53b434e78.js"></script> 
<script src="/eventTap/js/select2.min.js"></script> 
<script src="/eventTap/js/customQuery.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script> 
<script src="/eventTap/js/bootstrap-datetimepicker.min.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
<!--<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    //google.charts.setOnLoadCallback(drawChart);
   // google.charts.setOnLoadCallback(drawAnthonyChart);
    function drawChart(option1,option2,option3,option4) {
      var data = google.visualization.arrayToDataTable([
        ["Options", "Answer", { role: "style" } ],
        ["yes",option1 , "#a84a7e"],
        ["no",option2, "#e02b10"],
        ["no yes",option3, "#67d8d6"],
        ["yes no",option4, "#0292c7"]
      ]);
      var view = new google.visualization.DataView(data);
//      view.setColumns([0, 1,
//                       { calc: "stringify",
//                         sourceColumn: 1,
//                         type: "string",
//                         role: "annotation" },
//                       2]);

      var options = {
       title: "Question: " + 'We are testing quick poll',
        width: "100%",
        height: 480,
        bar: {groupWidth: "60%"},
        legend: { position: "none"},
        vAxis: {
    format: '#'
    //title : 'Option'
}
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  // Callback that draws the pie chart for Anthony's pizza.
   function drawAnthonyChart(option1,option2,option3,option4) {
        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Options');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['yes', option1],
          ['no', option2],
          ['no yes', option3],
          ['yes no', option4]
        ]);
        // Set options for Anthony's pie chart.
        var options = { title: "Question: " + 'We are testing quick poll',
                       width:"100%",
                       height:480,
                       is3D: true,
                       pieStartAngle: 100,
                       sliceVisibilityThreshold: .2

 };

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('columnchart_values'));
        chart.draw(data, options);
  }
  
 function pollchart(){
     var charttype = $("#myselect option:selected").val();
       var pushdata;
       pushdata = {pera:'My0xNTc0NzQ0OGdtaA=='}; 
        $.ajax({
            type: "POST",
            //url: "/quickpolltimeout",
            datatype:'json',
            data: pushdata,
            success: function (data) {
                 $("#columnchart_values").html("");
                 if(charttype=="bar"){   
                    drawChart(data.option1,data.option2,data.option3,data.option4);
                 } else{
                    drawAnthonyChart(data.option1,data.option2,data.option3,data.option4);
                 }
            },
            failure: (function () { alert("Failure!!"); })
        });
  }
  
  $(function(){
     pollchart();
  });
  setInterval(function() {
       pollchart();
  }, 10000); 
  </script> --> 
<script>
var nextpArray=new Array();
nextpArray[0]='img_scroll1';
nextpArray[1]='img_scroll2';
nextpArray[2]='img_scroll3';
nextpArray[3]='img_scroll4';
nextpArray[4]='img_scroll5';
nextpArray[5]='img_scroll6';
var currentclickindex=0;
var timeoutvalue=100;
$('#videoModal').on('shown.bs.modal', function () {
  $('#agenda-video1')[0].play();
})
$('#videoModal').on('hidden.bs.modal', function () {
  $('#agenda-video1')[0].pause();
}) 

$('#videoModal2').on('shown.bs.modal', function () {
  $('#agenda-video2')[0].play();
})
$('#videoModal2').on('hidden.bs.modal', function () {
  $('#agenda-video2')[0].pause();
}) 

$('#videoModal3').on('shown.bs.modal', function () {
  $('#agenda-video3')[0].play();
})
$('#videoModal3').on('hidden.bs.modal', function () {
  $('#agenda-video3')[0].pause();
}) 

$('#videoModal4').on('shown.bs.modal', function () {
  $('#agenda-video4')[0].play();
})
$('#videoModal4').on('hidden.bs.modal', function () {
  $('#agenda-video4')[0].pause();
}) 
$('#videoModal5').on('shown.bs.modal', function () {
  $('#agenda-video5')[0].play();
})
$('#videoModal5').on('hidden.bs.modal', function () {
  $('#agenda-video5')[0].pause();
}) 
</script> 
<script>

//function showpollquestion(){
//$("#qrcode-form").css('display','none'); 
//$("#quick-poll-questions").css('display','block'); 
//
//drooly.getQuickPollQuestions();
//return true;
//}

function showpollquestion(){
//$("#qrcode-form").css('display','none'); 
//$("#quick-poll-questions").css('display','block'); 

//drooly.getQuickPollQuestions();
//return true;

drooly.getQuickPoll();
return true;

}



function useranswer1(id){
//                    alert(id); return false;

$("#qrcode-form").css('display','none'); 
$("#quick-poll-questions").css('display','none'); 
$("#quick-poll-graph").css('display','block'); 

var useranswer = $("input[name='customRadio']:checked").val();
       $.ajax({
            type: "POST",
            url: '/users/useranswer',
            data: {id:id,useranswer:useranswer},
            success: function (data) {
//                alert(data); return false;
//               $('#requestmeetingdata').html(data);
          window.location.href = '/users/quickpollgraph/'+id;
            },
               failure: (function () { alert("Failure!!"); })
            });
return true;
}


function cancelform(){
$("#qrcode-form").css('display','block'); 
$("#quick-poll-graph, #quick-poll-questions").css('display','none'); 
}
function showsurveyquestions(){
$("#survey-questions").css('display','block'); 	
$("#survey-code, #thank-you").css('display','none'); 	
}
function showthanku(){
$("#survey-code, #survey-questions").css('display','none'); 	
$("#thank-you").css('display','block'); 	
}
function showspeakers(){ 
$("#filter-overlay").css('display','block'); 
$("#event-speakers").css('display','flex'); 
$("#agenda-container, #event-partners, #imatch-main, #event-mentors, #mymeeting, #event-attende, #favourite-users-list, #my-schedule").css('display','none');
drooly.getSpeakerListLogin();
return true;
}
function showfavorites(){
$("#filter-overlay").css('display','block'); 
$("#favourite-users-list").css('display','block');
$("#event-speakers, #agenda-container, #event-partners, #imatch-main, #event-mentors, #mymeeting, #event-attende, #my-schedule").css('display','none');
drooly.getSpeakerListLogin();
return true;
}

function showmyschedule(){ 
$("#filter-overlay").css('display','block'); 
$("#my-schedule").css('display','block');
$("#event-speakers, #agenda-container, #event-partners, #imatch-main, #event-mentors, #mymeeting, #event-attende, #favourite-users-list").css('display','none');
return true;
}

function showagenda(type){ 
$("#filter-overlay").css('display','block');
$("#agenda-container").css('display','flex'); 
$("#event-speakers, #event-partners, #imatch-main, #event-mentors, #mymeeting, #event-attende, #favourite-users-list, #my-schedule").css('display','none');
$("#agendaType").val(type);
drooly.getAgendaListLogin();
return true;
}

function showspartners(){ 
$("#filter-overlay").css('display','block'); 
$("#event-partners").css('display','block');
$("#event-speakers, #agenda-container, #imatch-main, #event-mentors, #mymeeting, #event-attende, #favourite-users-list").css('display','none');

return true;
}
function showiMatch(){ 
$("#filter-overlay").css('display','block'); 
$("#imatch-main").css('display','block');
$("#event-speakers, #agenda-container, #event-mentors, #mymeeting, #event-attende, #favourite-users-list, #event-partners").css('display','none');
drooly.getImatchList();
return true;
}
function showmentors(){ 
$("#filter-overlay").css('display','block'); 
$("#event-mentors").css('display','flex');
$("#event-speakers, #agenda-container, #mymeeting, #event-attende, #favourite-users-list, #event-partners, #imatch-main").css('display','none');
drooly.getMentorsListLogin();
return true;
}

function showmymeeting(){ 
$("#filter-overlay").css('display','block'); 
$("#mymeeting").css('display','flex');
$("#event-speakers, #agenda-container, #event-attende, #favourite-users-list, #event-partners, #imatch-main, #event-mentors").css('display','none');
drooly.getMyMeetingLogin();
return true;
}

function showattende(){ 
$("#filter-overlay").css('display','block'); 
$("#event-attende").css('display','flex');
$("#event-speakers, #agenda-container, #mymeeting, #favourite-users-list, #event-partners, #imatch-main, #event-mentors").css('display','none');
drooly.getAttendeListLogin();
return true;
}
function shownetworkingvid(){ 
$("#networking-section").css('display','block'); 
$("#filter-overlay, #event-partners, #auditorium-section, #experience-zone, #event-speakers, #event-mentors, #mymeeting, #event-attende, #agenda-container, #imatch-main, #favourite-users-list, #my-schedule, #video-one").css('display','none');
return true;
}
function showmap(){ 
$("#map-section").css('display','block'); 
$("#filter-overlay").css('display','block'); 
$("#survey-section, #quickpoll-section, #event-speakers, #agenda-container, #event-partners, #imatch-main, #event-mentors, #mymeeting, #event-attende, #favourite-users-list, #my-schedule").css('display','none');
return true;
}
function closemap(){ 
$("#map-section, #filter-overlay").css('display','none'); 
return true;
}

//QuickPoll
//function showQuickPoll(){ 
//$("#filter-overlay").css('display','block');
//$("#event-partners, #event-speakers, #event-mentors, #mymeeting, #event-attende, #agenda-container, #imatch-main, #favourite-users-list, #my-schedule").css('display','none');
//drooly.getQuickPoll();
//return true;
//}


//QuickPoll
function showQuickPoll(){ 
//$("#btnCloseFS").css('display','block'); 
$("#filter-overlay").css('display','block'); 
$("#QuickPollModal").css('display','flex'); 
$("#event-attende").css('display','none'); 
$("#agenda-container").css('display','none');
$("#event-partners").css('display','none');
$("#imatch-main").css('display','none');
//$("body").addClass('overflow-hidden');
$("#event-speakers").css('display','none');
$("#event-mentors").css('display','none');
$("#mymeeting").css('display','none');
$("#favourite-users-list").css('display','none'); 
$("#my-schedule").css('display','none'); 
}


$('.btn-group-toggle :input').change(function() {
var noofchecked=$('.btn-group-toggle :input:checked').length;
if(noofchecked>1){
$("#lbl1Attendee").html('');

$( $('.btn-group-toggle :input') ).each(function( index,element ) {
$(this).parent().removeClass('focus');
$(this).parent().removeClass('active');
$(this).prop("checked", false);
});

$(this).parent().addClass('focus');
$(this).parent().addClass('active');
$(this).prop("checked", true);
closeselectattendee();
showselectedattendees();

return;
}
else{   
$("#lbl1Attendee").html('');
if (!$(this).is(':checked')) {
	  $(this).parent().removeClass('active');
	  $(this).parent().removeClass('focus');
    }
	else{
	$(this).parent().addClass('active');
	closeselectattendee();
	}
	showselectedattendees();
}
});

function showselectedattendees(){
  var peoples_attendes = [];
  var peoples_attendes_id = [];
  $( $('.btn-group-toggle :input') ).each(function( index,element ) {
  if (!$(this).is(':checked')) {	}
  else{
  peoples_attendes.push($(element).parent().parent().next('h3').text());
  peoples_attendes_id.push($(element).attr('data-id'));
  }
  if(peoples_attendes.length > 0){
  $("#lblMeetingRequestedWith").html("Meeting selected: "+ peoples_attendes.join(", "))
  $("#lblMeetingRequestedWith_id").html(peoples_attendes_id.join(", "))
  }
  else{
  $("#lblMeetingRequestedWith").html('');
  $("#lblMeetingRequestedWith_id").html('');
  }
  });
  }
  

  
  
  
function openNetworkschedulemeetingmodal(){
$("#NetworkScheduleMeetingModal").modal('show');
$("#network-sel-list-attendees").css('display','none');
}



function closeselectattendeeForNetwork(){

if ($('#network-schedule-meeting').is(':visible')) {
$("#NetworkScheduleMeetingModal").modal('hide');
} else {
 $("#network-sel-list-attendees").css('display','none');
$("#network-schedule-meeting").css('display','block');
$("#NetworkSelAttendeeLabel").css('display','none');
$("#NetworkScheduleMeetingModalLabel").css('display','block');
$("#NetworkScheduleMeetingModal").modal('show');
}
}

function showlistattendeesForNetwork(){
$("#network-sel-list-attendees").css('display','block');
$("#network-schedule-meeting").css('display','none');
$("#NetworkSelAttendeeLabel").css('display','block');
$("#NetworkScheduleMeetingModalLabel").css('display','none');

drooly.getAttendeListForMeeting();
return true;
}
  
  
  
  function closeselectattendee(){

if ($('#schedule-meeting').is(':visible')) {
$("#ScheduleMeetingModal").modal('hide');
} else {
 $("#sel-list-attendees").css('display','none');
$("#schedule-meeting").css('display','block');
$("#SelAttendeeLabel").css('display','none');
$("#ScheduleMeetingModalLabel").css('display','block');
$("#NetworkScheduleMeetingModalLabel").css('display','block');
$("#ScheduleMeetingModal").modal('show');
}
}

function openschedulemeetingmodal(){
$("#ScheduleMeetingModal").modal('show');
$("#sel-list-attendees").css('display','none');
}

function showlistattendees(){
$("#sel-list-attendees").css('display','block');
$("#schedule-meeting").css('display','none');
$("#SelAttendeeLabel").css('display','block');
$("#ScheduleMeetingModalLabel").css('display','none');
}


function showaudcon(){
$("#auditorium-banner").css('display','block');
$("#auditorium-main-content").css('display','block');
drooly.getAuditoriumBanner();
return true;
}


function showaudcon2(){
$("#auditorium-banner").css('display','block');
$("#auditorium-main-content").css('display','none');

//$("#auditorium-webinar-list").css('display','none');


}

function showspeakers2(){
$("#event-speakers").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}

function showmentors2(){
$("#event-mentors").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}
function showmymeetings2(){
$("#mymeeting").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}

function showattende2(){
$("#event-attende").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}

function closepartners(){
$("#event-partners").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}

function closefavorites(){
$("#favourite-users-list").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}

function closemyschedule(){
$("#my-schedule").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
}


 




function closeimatch(){
$("#imatch-main").css('display','none');
$("#filter-overlay").css('display','none'); 
//$("body").removeClass('overflow-hidden');
//$("#imatch-wrapper").css('display','block');
$("#request-meeting").css('display','none'); 
$('#resultDataImatch').html("");
return true;
}

function showagenda2(){
$("#filter-overlay").css('display','none'); 
$("#agenda-container").css('display','none');
//$("body").removeClass('overflow-hidden');
}

function closeexpzone(){
//$("#show-booth-video").css('display','none'); 
$("#show-booth-video").removeClass('show');
$("section[data-target-id='#img_scroll1']").css('display','none');
showZones(true);
}

function backboothlist(){
//$("section[data-target-id='#img_scroll1']").css('display','none');
showZones(true);
}


function showrequestmeeting(userId){
$("#request-meeting").css('display','block'); 
$(".carousel-control-prev").css('display','none'); 
$(".carousel-control-next").css('display','none');
$("#imatchUserId").val(userId);
var imatchUserId = $("#imatchUserId").val();
$.ajax({
            type: "POST",
            url: '/users/request-meeting',
            data: {imatchUserId:imatchUserId},
            success: function (data) {
               $('#requestmeetingdata').html(data);
                    
            },
                    
               failure: (function () { alert("Failure!!"); })
            });


return true;
}
function closereqmeet(){
$("#request-meeting").css('display','none'); 
$(".carousel-control-prev").css('display','flex'); 
$(".carousel-control-next").css('display','flex'); 

}




function showZones(tf){
$( nextpArray ).each(function( index,element ) {
$("section[data-target-id='#"+nextpArray[index]+"']").css('display','none');
});	

$("#mTS_1").css('display','none');
	
$("#btnShowFS").css('display','none');
$("#filter-overlay").css('display','none');
$("#video-one").css('display','none');
$("#event-speakers").css('display','none'); 
$("#agenda-container").css('display','none'); 
$("#event-partners").css('display','none');
$("#imatch-main").css('display','none');
$("#favourite-users-list").css('display','none');
$("#my-schedule").css('display','none'); 
$("#networking-section").css('display','none'); 
if(tf){
$("#experience-zone").css('display','block');

$("#auditorium-section").css('display','none');
$("#mTS_1").css('display','block');
$("#mainbooth-container").css("display","block");
$("#osponsor-section").css('display','block');
		
}
else{
$("#experience-zone").css('display','none');
$("#auditorium-section").css('display','block');
$("#auditorium-banner").css('display','block');
$("#auditorium-main-content").css('display','none');

//$("#mTS_1").css('display','none');
$("#mainbooth-container").css("display","none");
$("#osponsor-section").css('display','none');
		
		
}




}
var elem = document.documentElement;
function openFullscreen() {
  document.getElementById("btnShowFS").style.display="none";
  document.getElementById("filter-overlay").style.display="none";
 document.getElementById("myvideomultiple2").play();
}


document.getElementById("closefs").style.display="none";

function openFullscreen2() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
  document.getElementById("showfs").style.display="none";
  document.getElementById("closefs").style.display="block";

 resizefunction();
 $("body").addClass('overflow-hidden');
  
}
/* Close fullscreen */
function closeFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.mozCancelFullScreen) { /* Firefox */
    document.mozCancelFullScreen();
  } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE/Edge */
    document.msExitFullscreen();
  }
  document.getElementById("showfs").style.display="block";
  document.getElementById("closefs").style.display="none";
  $("body").removeClass('overflow-hidden');
 $(".list-event-items").css('height','auto');
}
function resizefunction(){
	//alert('resfunct');
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 // some code..
}
else{
var docH=$(window).outerHeight();
var navH=$('nav').outerHeight();
var wbH=docH-(navH);
$("#auditorium-webinar-list").css('height',wbH+'px');


var wbH2=docH-(navH+60);
$(".list-event-items").css('height',wbH2+'px');


var filterH=$('#filter-agenda').outerHeight();
var wbH3=docH-(navH+filterH+90);
$("#resultDataAgenda").css('height',wbH3+'px');

var wbH4=docH-(navH+20);
$("#partners-data").css('height',wbH4+'px');
$("#partnersdetailModal .modal-content").css('height',wbH4+'px');
}

var wbH5=docH-(navH);
$("#imatch-wrapper").css('height',wbH5+'px');
	
}
//window.onresize=resizefunction();

$(document).ready(function(){

function checkismobile(){
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 return true;
}
else{
return false;
}
}

if(!checkismobile()){
$("nav").css('display','none');
}


//var my_video0 = document.getElementById("myvideomultiple0");
//var my_video1 = document.getElementById("myvideomultiple1");
var my_video2 = document.getElementById("myvideomultiple2");
var my_video3 = document.getElementById("myvideomultiple3");



function videoclick2()
    {
$("#dvida").remove();
my_video2.play();

 my_video3.setAttribute('class', 'hidden');
 // my_video0.setAttribute('class', 'hidden');
  //my_video1.setAttribute('class', 'hidden');
  my_video2.setAttribute('class', '');
}

	function videoclick4()
    {
		if(!checkismobile()){
$("nav").css('display','flex');
}


  //my_video0.setAttribute('class', 'hidden');
  //my_video1.setAttribute('class', 'hidden');
  my_video2.setAttribute('class', 'hidden');
  my_video3.setAttribute('class', 'hidden');
   $("#video-one").css('display','none'); 
  $("#experience-zone").css('display','block'); 
  $("#auditorium-section").css('display','none'); 
  
  //$("#mTS_1").css('display','block');
$("#mainbooth-container").css("display","block");
$("#osponsor-section").css('display','block');
		$("section[data-target-id='#img_scroll1']").css('display','none');
		$("section[data-target-id='#img_scroll2']").css('display','none');
		
}
function videoclick4_2()
    {
		
		if(!checkismobile()){
$("nav").css('display','flex');
}
 //my_video0.setAttribute('class', 'hidden');
 // my_video1.setAttribute('class', 'hidden');
  my_video2.setAttribute('class', 'hidden');
  my_video3.setAttribute('class', 'hidden');
  $("#video-one").css('display','none'); 
  $("#experience-zone").css('display','none'); 
  $("#auditorium-section").css('display','block'); 
  
  //$("#mTS_1").css('display','none');
$("#mainbooth-container").css("display","none");
$("#osponsor-section").css('display','none');
		
				$( nextpArray ).each(function( index,element ) {
$("section[data-target-id='#"+nextpArray[index]+"']").css('display','none');
});
}

function nextVideo3() {
$("#dvida4, #dvida5, #dvida6").remove();
my_video3.play();
my_video3.setAttribute('class', '');
my_video2.setAttribute('class', 'hidden');
$("nav").css('display','flex');

$("#dvvideo3").append('<a id="dvida4"></a><a id="dvida5"></a><a id="dvida6"></a>');
document.getElementById('dvida4').addEventListener('click',videoclick4,false);
document.getElementById('dvida5').addEventListener('click',shownetworkingvid,false);
document.getElementById('dvida6').addEventListener('click',videoclick4_2,false);
}

document.querySelector("#myvideomultiple2").addEventListener("ended", nextVideo3, false);


$("#navLV").click(function(){
	if(!checkismobile()){
$("nav").css('display','none');
}
	
        nextVideo3();
		$("#video-one").css('display','block'); 
		$("#btnShowFS").css('display','none');
$("#filter-overlay").css('display','none');
$("#auditorium-section, #experience-zone, #agenda-container, #event-speakers, #imatch-main, #networking-section").css('display','none');
     });
   
	 $("#img_scroll1").click(function(){
	 $("section[data-target-id='#img_scroll1']").css('display','block');
	 currentclickindex=0;
	 });     

$("#entry-video").click(function (){
$("#dvida4, #dvida5, #dvida6").remove();
my_video3.play();
my_video3.setAttribute('class', '');
my_video2.setAttribute('class', 'hidden');
$("nav").css('display','flex');

$("#dvvideo3").append('<a id="dvida4"></a><a id="dvida5"></a><a id="dvida6"></a>');
document.getElementById('dvida4').addEventListener('click',videoclick4,false);
document.getElementById('dvida5').addEventListener('click',shownetworkingvid,false);
document.getElementById('dvida6').addEventListener('click',videoclick4_2,false);
});

});

function callimgclickMap(obj,indexid,secid){
		$("#map-section, #video-one, #filter-overlay, #auditorium-section, #networking-section").css('display','none');
		$("#pbBooth").css('display','block');	
		$("section[data-target-id='#img_scroll1'],  section[data-target-id='#img_scroll2'], section[data-target-id='#img_scroll3']").css('display','none');
		$("section[data-target-id='#img_scroll4'],  section[data-target-id='#img_scroll5'], section[data-target-id='#img_scroll6']").css('display','none');
		$("#mainbooth-container").css('display','none');
		setTimeout ( function(){ 
		$("#experience-zone").css('display','block');
		$("#osponsor-section").css('display','none');
		$("section[data-target-id='#"+secid+"']").css('display','block');
		currentclickindex=indexid;
		$("#pbBooth").css('display','none');}, timeoutvalue );
		}




function callimgclick(obj){

		$("#pbBooth").css('display','block');
		$("#mainbooth-container").css('display','none');
		setTimeout ( function(){ 
		$("#osponsor-section").css('display','none');
		$("section[data-target-id='#"+$(obj).attr('id')+"']").css('display','block');
		$(obj).parent().parent().parent().css('display','none');
		currentclickindex=$(obj).parent('li').index();
		$("#pbBooth").css('display','none');}, timeoutvalue );
		}
		
		function callprev(obj){		
		if(currentclickindex==0){
		//alert('You are already in first slide');		
		}
		else{
		$("#pbBooth").css('display','block');
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
		setTimeout ( function(){ 
		if(currentclickindex==1){
		$("#show-booth-video").addClass("show");
		}
		
		currentclickindex=currentclickindex-1;
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
		$("#pbBooth").css('display','none');
		},timeoutvalue);
		}
		};
		function callnext(obj){
		if(currentclickindex==nextpArray.length-1){
		//alert('You are already in last slide');		
		}
		else{
		$("#pbBooth").css('display','block');
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','none');
		setTimeout ( function(){ 
		currentclickindex++;		
		$("section[data-target-id='#"+nextpArray[currentclickindex]+"']").css('display','block');
		$("#pbBooth").css('display','none');
		},timeoutvalue);
		}
		};
		(function($){
			$(window).load(function(){
				$("#pbBooth").css('display','block');
				setTimeout ( function(){ 
				$("#content-1").mThumbnailScroller();
				$("#pbBooth").css('display','none');
				$("#content-1").css('display','block');
				},1000);
			});
		})(jQuery);


$(document).ready(function() { 

$("ul.navbar-nav li").find('a').click(function(){
$("ul.navbar-nav li").removeClass('active');
$(this).parents('li').addClass('active');
});


$('.nav-item').on('show.bs.dropdown', function () { $("#filter-overlay-menu").css('display','block'); }); 
$('.nav-item').on('hide.bs.dropdown', function () { $("#filter-overlay-menu").css('display','none'); });


//$("#carousel-imatch").mThumbnailScroller({
//					//type:"click-100",
//					//theme:"buttons-in"
//				});

   
$("#agenda-schedule-date").find('button').click(function(){ 
$("#agenda-schedule-date").find('button').removeClass('active');
 $(this).addClass('active');
 var filterDate = $("#agenda-schedule-date .active").val();
 $("#filterDate").val(filterDate);
 drooly.getAgendaListLogin();
 });
 $('#ddlfilterLocation').select2({dropdownParent: $('#filter-location')});
 $('#ddlfilterSessionType').select2({dropdownParent: $('#filter-session')});
 $('#ddlfilterTheme').select2({dropdownParent: $('#filter-theme')});

 $('#filter-video-vault').select2({dropdownParent: $('#video-filter')});



 
$("#form-filter").on("show.bs.collapse", function(event){
  //$("#form-search").collapse('hide');
  //$("#filter-overlay").css({'display':'block'});
  
});

$("#form-search").on("show.bs.collapse", function(event){
 // $("#form-filter").collapse('hide');
 // $("#filter-overlay").css({'display':'block'});
});

$("#form-search").on("hide.bs.collapse", function(event){
//  $("#filter-overlay").css({'display':'none'});
});
$("#form-filter").on("hide.bs.collapse", function(event){
//  $("#filter-overlay").css({'display':'none'});
});		


});

function clearmodelpopup(type){
 if(type==1){
   $('#speakerModal .speakerdetail').html("");  
   $('#speakerModal').modal('hide'); 
   return true; 
 }else if(type==2){
   $('#agendaModal .appendAgenda').html("");
   $('#agendaModal').modal('hide');
   return true;
 }else{
   $('#registrationModal .edituser').html("");
   $('#registrationModal').modal('hide');
   return true;
 }
}
</script> 
<script>
$(document).ready(function () {
$('.meeting-date').datetimepicker();	
	
 $( ".partners_list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 });
 $("#lblPartnersTitle").css({'display':'none'});
 $("#btnGoBack").css({'display':'none'});
showText=function(obj){
$("#lblPartnersTitle").css({'display':'block'});
 $("#lblPartnersTitle2").css({'display':'none'});

$(".close-panel").css({'display':'none'});
$("#btnGoBack").css({'display':'block'});
$("#lblPartnersTitle").text($(obj).find('a').text());
 $( ".partners_list, .card-list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 });
 var pidd=$(obj).attr('data-target');
 $(pidd).css({'display':'block'});
};

$("#btnGoBack").click(function(e){
$( ".partners_list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 
 });
 $( ".card-list" ).each(function( index,element ) {
 $(this).css({'display':'block'});
  $("#lblPartnersTitle").css({'display':'none'});
 $("#btnGoBack").css({'display':'none'});
 $(".close-panel").css({'display':'flex'});
 $("#lblPartnersTitle2").css({'display':'block'});

 
 
 });
});
});


//(function($){
//			$(window).load(function(){
//				$("#carousel-imatch").mThumbnailScroller();
//			});
//		})(jQuery);	



//I added event handler for the file upload control to access the files properties.
document.addEventListener("DOMContentLoaded", init, false);

//To save an array of attachments
var AttachmentArray = [];

//counter for attachment array
var arrCounter = 0;

//to make sure the error message for number of files will be shown only one time.
var filesCounterAlertStatus = false;

//un ordered list to keep attachments thumbnails
var ul = document.createElement("ul");
ul.className = "thumb-Images";
ul.id = "imgList";

function init() {
  //add javascript handlers for the file upload event
  document
    .querySelector("#files")
    .addEventListener("change", handleFileSelect, false);
}

//the handler for file upload event
function handleFileSelect(e) {
  //to make sure the user select file/files
  if (!e.target.files) return;

  //To obtaine a File reference
  var files = e.target.files;

  // Loop through the FileList and then to render image files as thumbnails.
  for (var i = 0, f; (f = files[i]); i++) {
    //instantiate a FileReader object to read its contents into memory
    var fileReader = new FileReader();

    // Closure to capture the file information and apply validation.
    fileReader.onload = (function(readerEvt) {
      return function(e) {
        //Apply the validation rules for attachments upload
        ApplyFileValidationRules(readerEvt);

        //Render attachments thumbnails.
        RenderThumbnail(e, readerEvt);

        //Fill the array of attachment
        FillAttachmentArray(e, readerEvt);
      };
    })(f);

    // Read in the image file as a data URL.
    // readAsDataURL: The result property will contain the file/blob's data encoded as a data URL.
    // More info about Data URI scheme https://en.wikipedia.org/wiki/Data_URI_scheme
    fileReader.readAsDataURL(f);
  }
  document
    .getElementById("files")
    .addEventListener("change", handleFileSelect, false);
}

//To remove attachment once user click on x button
jQuery(function($) {
  $("div").on("click", ".img-wrap .close", function() {
    var id = $(this)
      .closest(".img-wrap")
      .find("img")
      .data("id");

    //to remove the deleted item from array
    var elementPos = AttachmentArray.map(function(x) {
      return x.FileName;
    }).indexOf(id);
    if (elementPos !== -1) {
      AttachmentArray.splice(elementPos, 1);
    }

    //to remove image tag
    $(this)
      .parent()
      .find("img")
      .not()
      .remove();

    //to remove div tag that contain the image
    $(this)
      .parent()
      .find("div")
      .not()
      .remove();

    //to remove div tag that contain caption name
    $(this)
      .parent()
      .parent()
      .find("div")
      .not()
      .remove();

    //to remove li tag
    var lis = document.querySelectorAll("#imgList li");
    for (var i = 0; (li = lis[i]); i++) {
      if (li.innerHTML == "") {
        li.parentNode.removeChild(li);
      }
    }
  });
});

//Apply the validation rules for attachments upload
function ApplyFileValidationRules(readerEvt) {
  //To check file type according to upload conditions
  if (CheckFileType(readerEvt.type) == false) {
    alert(
      "The file (" +
        readerEvt.name +
        ") does not match the upload conditions, You can only upload jpg/png/gif files"
    );
    e.preventDefault();
    return;
  }

  //To check file Size according to upload conditions
  if (CheckFileSize(readerEvt.size) == false) {
    alert(
      "The file (" +
        readerEvt.name +
        ") does not match the upload conditions, The maximum file size for uploads should not exceed 300 KB"
    );
    e.preventDefault();
    return;
  }

  //To check files count according to upload conditions
  if (CheckFilesCount(AttachmentArray) == false) {
    if (!filesCounterAlertStatus) {
      filesCounterAlertStatus = true;
      alert(
        "You have added more than 10 files. According to upload conditions you can upload 10 files maximum"
      );
    }
    e.preventDefault();
    return;
  }
}

//To check file type according to upload conditions
function CheckFileType(fileType) {
  if (fileType == "image/jpeg") {
    return true;
  } else if (fileType == "image/png") {
    return true;
  } else if (fileType == "image/gif") {
    return true;
  } else {
    return false;
  }
  return true;
}

//To check file Size according to upload conditions
function CheckFileSize(fileSize) {
  if (fileSize < 300000) {
    return true;
  } else {
    return false;
  }
  return true;
}

//To check files count according to upload conditions
function CheckFilesCount(AttachmentArray) {
  //Since AttachmentArray.length return the next available index in the array,
  //I have used the loop to get the real length
  var len = 0;
  for (var i = 0; i < AttachmentArray.length; i++) {
    if (AttachmentArray[i] !== undefined) {
      len++;
    }
  }
  //To check the length does not exceed 10 files maximum
  if (len > 9) {
    return false;
  } else {
    return true;
  }
}

//Render attachments thumbnails.
function RenderThumbnail(e, readerEvt) {
  var li = document.createElement("li");
  ul.appendChild(li);
  li.innerHTML = [
    '<div class="img-wrap"> <span class="close">&times;</span>' +
      '<img class="thumb" src="',
    e.target.result,
    '" title="',
    escape(readerEvt.name),
    '" data-id="',
    readerEvt.name,
    '"/>' + "</div>"
  ].join("");

  var div = document.createElement("div");
  div.className = "FileNameCaptionStyle";
  li.appendChild(div);
  div.innerHTML = [readerEvt.name].join("");
  document.getElementById("Filelist").insertBefore(ul, null);
}

//Fill the array of attachment
function FillAttachmentArray(e, readerEvt) {
  AttachmentArray[arrCounter] = {
    AttachmentType: 1,
    ObjectType: 1,
    FileName: readerEvt.name,
    FileDescription: "Attachment",
    NoteText: "",
    MimeType: readerEvt.type,
    Content: e.target.result.split("base64,")[1],
    FileSizeInBytes: readerEvt.size
  };
  arrCounter = arrCounter + 1;
}


 $('#searchWebinarSpeaker').keypress(function (e) {
      if (e.which == 13) {
       drooly.getSpeakerListLogin();
        return false;    //<---- Add this line
      }
    });
    
    
    $('#searchWebinarMentors').keypress(function (e) {
      if (e.which == 13) {
       drooly.getMentorsListLogin();
        return false;    //<---- Add this line
      }
    });
    
    
      $('#searchWebinarAttende').keypress(function (e) {
      if (e.which == 13) {
       drooly.getAttendeListLogin();
        return false;    //<---- Add this line
      }
    });
   $('#searchWebinarMyMeeting').keypress(function (e) {
      if (e.which == 13) {
       drooly.getMyMeetingLogin();
        return false;    //<---- Add this line
      }
    }); 
    
</script> 