<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Event</title>
<link rel="icon" href="/eventTap/images/cropped-app-icon_2@3x-32x32.png" sizes="32x32" />
<link rel="icon" href="/eventTap/images/cropped-app-icon_2@3x-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/eventTap/images/cropped-app-icon_2@3x-180x180.png" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/eventTap/css/bootstrap.min.css">

<style>
.cover-image { background: url(/eventTap/images/eventech-bg.jpg) no-repeat center center / cover; }
.cover-image h1
{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
}
.cover-image h3
{
	color: #fff;
	font-size: 21px;
}
.cover-image:before {
    content: "";
    background: rgba(0, 0, 0, .5);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
header, footer{display:none;}
</style>
</head>
<body>
<main class="main-content">
  <section class="cover-image vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 text-center">
          <h5 class="text-uppercase mt-3 text-white">Please close the window and Go Back to the Event</h5>
         <a href="#" onclick="window.close();" type="button" class="btn btn-light mt-3 pl-5 pr-5">CLOSE</a>
        </div>
      </div>
    </div>
  </section></main>
  </body>
  </html>