<button type="button" class="close"  aria-label="Close" onclick="clearmodelpopupspeaker();"><span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt=""></span> </button>
<div class="profile-img-holder"><img src="<?php echo $mediaUrl."profile/".$myLastEvents['userTagList'][0]['userId'].".png"?>" alt="" class="modal-img img-fluid"></div>
<div class="modal-body">
  <h3 class="modal-name mt-3"><?php echo $myLastEvents['title'];?></h3>
  <p class="text-seagreen pr-3" style="font-size: 15px;line-height: 1.2;"> <span class="modal-designation"><?php echo $myLastEvents['dateTime'];?></span> <br>
      <span class="modal-company"><?php echo ucfirst($myLastEvents['userTagList'][0]['isAttending']);?></span> </p>
  <div class="desc"><?php echo $myLastEvents['description'];?></div>
</div> 
<script>
 $(document).keyup(function(e) {
  if (e.keyCode === 27){
    clearmodelpopupspeaker();
  } 
});
function clearmodelpopupspeaker(){
  $('#speakerModalNew .speakerdetail').html("");
  $('#speakerModalNew').modal('hide');
  return true;   
}
</script>