<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>Meeting</title>
  </head>
  <body>
 <div id="zmmtg-root"></div>
<script src="https://source.zoom.us/1.7.8/lib/vendor/react.min.js"></script> 
<script src="https://source.zoom.us/1.7.8/lib/vendor/react-dom.min.js"></script> 
<script src="https://source.zoom.us/1.7.8/lib/vendor/redux.min.js"></script> 
<script src="https://source.zoom.us/1.7.8/lib/vendor/redux-thunk.min.js"></script> 
<script src="https://source.zoom.us/1.7.8/lib/vendor/jquery.min.js"></script> 
<script src="https://source.zoom.us/1.7.8/lib/vendor/lodash.min.js"></script> 
<script src="https://source.zoom.us/zoom-meeting-1.7.8.min.js"></script> 
<script src="/eventTap/js/tool.js"></script> 
<!--<script src="/eventTap/js/index.js"></script>-->
<script>
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }
        console.log('checkSystemRequirements');
    	console.log(JSON.stringify(ZoomMtg.checkSystemRequirements()));
        ZoomMtg.preLoadWasm();
        ZoomMtg.prepareJssdk();
        testTool = window.testTool;
        $(document).ready(function() {
            var API_SECRET = 'SHlqJ7pk982U2wyiPrJeqBNoHlpzvZhVecab';
            var API_KEY = 'lyDaLKmeQCS87wMjgdRHlg';
            var meetingNumber = '<?php echo $agendaDetail['meetingNumber']?>';
            var userName = '<?php echo $agendaDetail['userName']?>';
            var passWord = '<?php echo $agendaDetail['passWord']?>';
            // http://127.0.0.1:9999/index.html?meetingNo=9391332997&password=eW1xME45eEEyWTRka1BHOHhIbHAxdz09&username=parvinder
            var meetConfig = {
                apiKey: API_KEY,
                apiSecret: API_SECRET,
                //meetingNumber: '5766776533',
               // userName: 'Test Meeting',
               // passWord: 'cUpnTUlvWForTkJ6OHVOUll4VDY1QT09',
               meetingNumber:meetingNumber,
               userName: userName,
               passWord: passWord,
               leaveUrl: "/users/leave-meeting",
               role: 0
            };
            testTool.setCookie("meeting_number", meetConfig.meetingNumber);
            testTool.setCookie("meeting_pwd", meetConfig.passWord);


            var signature = ZoomMtg.generateSignature({
                meetingNumber: meetConfig.meetingNumber,
                apiKey: meetConfig.apiKey,
                apiSecret: meetConfig.apiSecret,
                role: meetConfig.role,
                success: function(res){
                    console.log(res.result);
                }
            });
            ZoomMtg.init({
                leaveUrl: '/users/leave-meeting',
                success: function () {
                    ZoomMtg.join(
                        {
                            meetingNumber: meetConfig.meetingNumber,
                            userName: meetConfig.userName,
                            signature: signature,
                            apiKey: meetConfig.apiKey,
                            passWord: meetConfig.passWord,
                            success: function(res){
                                $('#nav-tool').hide();
                                console.log('join meeting success');
                            },
                            error: function(res) {
                                console.log(res);
                            }
                        }
                    );
                },
                error: function(res) {
                    console.log(res);
                }
            });
        });
     
    </script> 
  </body>
</html>