
<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">
<div class="row">
  <?php 
//if($this->results['page']==1){
//       
//        $page = $this->results['page'];
//    }else{
//        $page = ($this->results['page']-1)*$this->results['pageCount'];  
//        $page+=1;
//    }
        foreach ($this->results['allData'] as $result){ ?>
  <div class="col-12 col-md-12"> 
      <!--<a href="javascript:void(0);" class="add-to-fav"><i class="heart fa fa-heart-o"></i></a>-->
    <div class="single-speakers" data-toggle="modal" data-target="#speakerModalNew" onclick="appendUserDetailNew('<?php echo base64_encode($result['userId']);?>','investor');">
      <div class="img-holder">
        <div class="img-container"><img src="<?php echo $mediaUrl."profile/".$result['userId'].".png"?>" class="img-fluid" alt=""></div>
      </div>
      <div class="info">
        <h3><?php echo $result['firstName'];?></h3>
        <span class="position"><?php echo $result['designation'];?></span> <span class="company"><?php echo $result['companyName'];?></span>
        <p><?php echo $result['country'];?></p>
        <!--<p class="desc d-none d-sm-block"><?php echo $result['description'];?></p>--> 
      </div>
    </div>
  </div>
  <?php  } ?>
</div>
<div class="pagination-centered">
  <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/mentorspagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'users','action' => 'mentor-data-list-login'));
 ?>
</div>
<script>
$(".heart.fa").click(function() {
  $(this).toggleClass("fa-heart fa-heart-o");
});
</script> 
