<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">
<div class="row">
  <?php 
     foreach ($this->results['allData'] as $result){ ?>
  <div class="col-12 col-md-12"> 
    <div class="single-speakers" data-toggle="modal" data-target="#speakerModalNew" onclick="appendMeetingDetail('<?php echo base64_encode($result['meetingId']);?>');">
      <div class="img-holder">
        <div class="img-container"><img src="<?php echo $mediaUrl."profile/".$result['userId'].".png"?>" class="img-fluid" alt=""></div>
      </div>
      <div class="info">
        <h3><?php echo $result['firstName'];?></h3>
        <span class="position"><?php echo $result['title'];?></span> <span class="company"><?php echo $result['dateTime'];?></span>
        <p><?php echo ucfirst($result['isAttending']);?></p>
        <!--<p class="desc d-none d-sm-block"><?php echo $result['description'];?></p>--> 
      </div>
    </div>
  </div>
  <?php  } ?>
</div>
<div class="pagination-centered">
  <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/mymeetingpagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'users','action' => 'mymeeting-data-list-login'));
 ?>
</div>
<script>
$(".heart.fa").click(function() {
  $(this).toggleClass("fa-heart fa-heart-o");
});
</script> 