<style>
.cover-image { background: url(/eventTap/images/bg1.jpg) no-repeat center center / cover; }
.cover-image h1
{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 55px;
}
.cover-image h3
{
	color: #fff;
	font-size: 21px;
}
#event-partners h3
{
	font-size: 18px;
	margin: 0;
}
#event-partners .card .card-body
{
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 85px;
}

@media (max-width: 767px) {
#event-partners .card .card-body { min-height: auto; }
}
.single-partners
{
	margin-bottom: 0px;
	color: #929FA8;
}
.single-partners .info { padding: 10px; }
.single-partners .info h3
{
	font-size: 18px;
	font-weight: bold;
	color: #374045;
	margin-bottom: 5px;
}
.single-partners .info span.position
{
	color: #929FA8;
	margin-bottom: 0;
	display: block;
	font-size: 14px;
}
.single-partners .info p
{
	color: #929FA8;
	margin-bottom: 0;
	font-size: 14px;
}
.single-partners .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: 95%;
	height: auto;
	margin-top: 8px;
	padding: 10px;
	border-bottom: 1px solid #dee2e6;
}
.single-partners .img-holder img
{
	border-radius: 0;
	box-shadow: none;
	width: 100%;
}
.single-partners
{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	border: 1px solid #dee2e6;
	font-size: 14px;
}
#event-registration h2 { font-size: 40px; }
.partners-logo{text-align:center;}
.partners-logo img {
    max-width: 300px; width:100%;
}
@media only screen and (max-width: 767px) {
.list-view .single-partners
{
	margin-top: 10px;
	padding: 0;
	margin-bottom: 0px;
}
.list-view .single-partners .info
{
	text-align: left;
	font-size: 14px;
}
.list-view .single-partners .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: flex;
	max-width: 100%;
	height: auto;
	border-radius: 0;
	width: 100%;
	margin: 0;
	justify-content: center;
	align-items: center;
}
.list-view .single-partners
{
	display: flex;
	border: 1px solid #dee2e6;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.list-view .single-partners .img-holder
{
	width: 30%;
	display: flex;
	padding: 5px;
}
.list-view .single-partners .info
{
	width: 70%;
	padding: 15px;
}
.single-partners .img-holder .img-container
{
	padding: 0;
	border-bottom: 0 none;
}
.single-partners .img-holder { border-right: 1px solid #dee2e6; }
.grid-view .single-partners .img-holder .img-container
{
	overflow: hidden;
	position: relative;
	display: inline-block;
	max-width: none;
	height: auto;
	border-radius: 0;
	border-right: 1px solid #dee2e6;
	border-bottom: 0 none;
}
.grid-view .single-partners
{
	margin-top: 0;
	padding: 0;
	margin-bottom: 0;
	border: 0 none;
	box-shadow: none;
}
.grid-view .single-partners .info { padding: 5px 0 10px; }
.grid-view .col-12
{
	padding: 0;
	max-width: 50%;
}
.btn-list-view.active, .btn-grid-view.active, .btn-list-view:focus, .btn-grid-view:focus
{
	background-color: #dae0e5;
	box-shadow: none;
	outline: 0 none;
}
.modal-dialog, .modal-content, .modal .card
{
	height: 100%;
	margin: 0;
}
}
</style>
<main class="main-content">
    
    

    
    
    
    <section id="parallax-1" class="page-header parallax has-overlay pt-4 d-flex justify-content-center align-items-center" data-image-src="/eventTap/images/registration-bg.jpg">
      <div class="container pt-4 pb-3">
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2 text-center">
            <h1 class="page-title mt-0 mt-md-3 text-white text-uppercase">Partners</h1>
            <p class="page-subtitle text-white">Asia's largest HR and work tech conference where world's leading companies in HR, and business & work technology take centerstage.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="event-partners">
      <div class="container">
        <div class="row">
          <div class="col-12 pl-2 pr-2">
            <div class="card-deck mb-3 mt-4 mt-md-5">
                
                  <div class="col-12 col-md-2 col-lg-3 col-xl-3 mt-2 d-flex align-items-center justify-content-end">
      <div class="btn-group">
        <button class="btn btn-primary rounded mr-2" type="button" id="inputGroupFileAddon04" data-toggle="modal" data-target="#importModal"><i class="fa fa-download d-none"></i> Import</button>
<!--        <button class="btn btn-primary rounded" type="button" onclick="convertlisttoexcel();"><i class="fa fa-file-excel-o d-none"></i> Export to Excel</button>-->
      </div>
    </div>  
                
                
              <div class="card card-list card-list1" style="background-color:#1a2751;border-color:#1a2751;" data-target="#partners-list1" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Presenting Partners</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#a2bb39;border-color:#a2bb39;" data-target="#partners-list2" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Powered by Partners</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#f04040;border-color:#f04040;" data-target="#partners-list3" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Diamond Partners</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#fdba11;border-color:#fdba11;" data-target="#partners-list4" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Gold Partners</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#ada8ae;border-color:#ada8ae;" data-target="#partners-list5" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Silver Partners</h3>
                </div>
              </div>
            </div>
            <div class="card-deck">
              <div class="card card-list" style="background-color:#093566;border-color:#093566;" data-target="#partners-list6" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Category Partners</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#3babac;border-color:#3babac;" data-target="#partners-list7" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Exhibitors</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#af3542;border-color:#af3542;" data-target="#partners-list8" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Startups</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#41c3c5;border-color:#41c3c5;" data-target="#partners-list9" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Community & Media Partners</h3>
                </div>
              </div>
              <div class="card card-list" style="background-color:#ce9512;border-color:#ce9512;" data-target="#partners-list10" onclick="showText(this);">
                <div class="card-body text-center">
                  <h3 class="text-white">Study Tour Partners</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="event-partners-list" class="container list-view" >
    <div class="row">
    	<div class="col-12 mb-3 mb-md-0 mt-0 mt-md-4"><button id="btnGoBack" type="button" class="d-sm-none btn p-0 float-left mr-3" value="Go Back" ><img src="/eventTap/images/back.svg" width="30" alt=""/></button><h3 class="partner-title mt-0"><label id="lblPartnersTitle">Presenting Partners</label></h3>
		
		</div>
    </div>
      <div class="partners_list" id="partners-list1">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" data-toggle="modal" data-target="#partnersdetailModal">
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" data-toggle="modal" data-target="#partnersdetailModal">
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/cornerstone.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Cornerstone</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" data-toggle="modal" data-target="#partnersdetailModal">
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" data-toggle="modal" data-target="#partnersdetailModal">
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/cornerstone.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Cornerstone</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" data-toggle="modal" data-target="#partnersdetailModal">
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" data-toggle="modal" data-target="#partnersdetailModal">
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/cornerstone.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Cornerstone</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list2" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	   <div class="partners_list" id="partners-list3" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list4" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list5" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list6" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list7" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list8" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list9" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
	  
	  <div class="partners_list" id="partners-list10" style="display:none;">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2 pl-2 pr-2">
            <div class="single-partners" >
              <div class="img-holder">
                <div class="img-container"><img src="/eventTap/images/partners/alight.png" class="img-fluid" alt=""></div>
              </div>
              <div class="info">
                <h3>Alight</h3>
                <p>Category: Partner</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<div class="modal fade" id="partnersdetailModal" tabindex="-1" role="dialog" aria-labelledby="partnersdetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="partnersdetailModalLabel">Partners</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body p-0">
        <div class="card border-0 rounded-0">
          <div class="partners-logo p-3"><img src="/eventTap/images/partners/alight.png" class="card-img-top" alt="Alight"></div>
          <div class="card-body pt-0">
            <h5 class="card-title">Alight Solutions</h5>
            <p class="card-text"><a href="http://www.alight.com" target="_blank">http://www.alight.com</a></p>
            <p class="card-text">Alight Solutions is a leading provider of integrated benefits, payroll and cloud solutions.</p>
          </div>
          <div class="card-footer text-muted border-0 rounded-0"> Booth Number p1 </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Import Modal -->
<!--<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white rounded-0">
        <h5 class="modal-title" id="importModalLabel">Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <h4>Upload Users</h4>
        <p>The contact list can in Microsoft Excel format, however, we recommend that you save the file in xlsx format. The columns can be in any order.</p>
        <p class="text-center"> <a href="/uploadedFiles/SampleXls/WorkshopSample.xlsx">
          <button type="button" class="btn btn-outline-secondary mt-3 mb-3"><i class="fa fa-download"></i> Download Example File (xlsx)</button>
          </a> </p>
        <p class="text-center">Maximum 20,000 rows</p>
        <form enctype="multipart/form-data" method="post" role="form" class="text-center" action="/users/partners">
          <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="file">
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
            </div>
          </div>
        </form>
        <p>You can remove previously opted-out Line items from this list after the import by clicking the Remove Opted-out Line items button</p>
      </div>
        
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>-->

<script>
$(document).ready(function () {


if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 $( ".partners_list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 });
 $("#lblPartnersTitle").css({'display':'none'});
 $("#btnGoBack").css({'display':'none'});


showText=function(obj){
$("#lblPartnersTitle").css({'display':'block'});
$("#btnGoBack").css({'display':'block'});
$("#lblPartnersTitle").text($(obj).find('h3').text());
 $( ".partners_list, .card-list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 });
 var pidd=$(obj).attr('data-target');
 $(pidd).css({'display':'block'});
};

$("#btnGoBack").click(function(e){
$( ".partners_list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 });
 
 $( ".card-list" ).each(function( index,element ) {
 $(this).css({'display':'block'});
  $("#lblPartnersTitle").css({'display':'none'});
 $("#btnGoBack").css({'display':'none'});
 });
});
}
else{

showText=function(obj){
$("#lblPartnersTitle").text($(obj).find('h3').text());
 $( ".partners_list" ).each(function( index,element ) {
 $(this).css({'display':'none'});
 });
 var pidd=$(obj).attr('data-target');
 $(pidd).css({'display':'block'});
};
}
});
</script>