<div class="row">
            <div class="col-12">
              <div class="question-row">
                <h4><strong>Question:</strong><?php echo $quickPollDetail[0]['question'];?></h4>
                <p>Vote For Your Choice</p>
              </div>
              <ul class="list-group answer-choice">
                  <?php if(!empty($quickPollDetail[0]['option1'])){?>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" aria-disabled="true" style="background-color:#103f77;">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="<?php echo "option1";?>">
                    <label class="custom-control-label" for="customRadio1">Option1: <?php echo $quickPollDetail[0]['option1'];?></label>
                  </div>
                </li>
                  <?php } ?>
                 <?php if(!empty($quickPollDetail[0]['option2'])){?>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" aria-disabled="true" style="background-color:#a3bc3a;">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="<?php echo "option2";?>">
                    <label class="custom-control-label" for="customRadio2">Option2: <?php echo $quickPollDetail[0]['option2'];?></label>
                  </div>
                </li>
                 <?php } ?>
                <?php if(!empty($quickPollDetail[0]['option3'])){?>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" aria-disabled="true" style="background-color:#fbb515;">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="<?php echo "option3";?>">
                    <label class="custom-control-label" for="customRadio3">Option3: <?php echo $quickPollDetail[0]['option3'];?></label>
                  </div>
                </li>
                <?php } ?>
              <?php if(!empty($quickPollDetail[0]['option4'])){?>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" aria-disabled="true" style="background-color:#44bfc6;">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" value="<?php echo "option4";?>">
                    <label class="custom-control-label" for="customRadio4">Option4: <?php echo $quickPollDetail[0]['option4'];?></label>
                  </div>
                </li>
              <?php } ?>
              </ul>
            </div>
            <div class="col-12">
              <div class="form-group margindate" style="border:none;">
                <div class="heightdate text-center">
                  <button type="submit" name="submit" value="" class="date_cancel btn btn-primary btn-success" onclick="useranswer1('<?php echo $quickPollId ?>');">SAVE</button>
                  <button type="button" class="date_cancel btn btn-cancel btn-outline-secondary" onclick="cancelform();">CANCEL</button>
                </div>
              </div>
            </div>
          </div>


