<!--<div class="container p-0">
  <input type="hidden" name="pera"  id="pera" value="<?php echo $pera; ?>">
  <div class="row">
    <div class="col-12 mt-4 col-md-6 offset-md-6 text-right">
      <select class="custom-select" onchange="pollchart()" id="myselect">
        <option value="bar">Bar Graph</option>
        <option value="pie">Pie Chart</option>
      </select>
    </div>
    <div class="col-12">
      <div id="columnchart_values"></div>
    </div>
  </div>
</div>-->
<?php if($chartType=="bar"){?>
<script type="text/javascript">
    //$("#columnchart_values").html("");
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Options", "Answer", { role: "style" } ],
        ["<?php echo $quickPollDetail[0]['option1']?>",<?php echo $option1;?> , "#a84a7e"],
        ["<?php echo $quickPollDetail[0]['option2']?>",<?php echo $option2;?> , "#e02b10"],
        ["<?php echo $quickPollDetail[0]['option3']?>",<?php echo $option3;?> , "#67d8d6"],
        ["<?php echo $quickPollDetail[0]['option4']?>",<?php echo $option4;?>, "#0292c7"]
      ]);
      var view = new google.visualization.DataView(data);
      var options = {
       title: "Question: " + '<?php echo $quickPollDetail[0]['question'];?>',
        width: "100%",
        height: 480,
        bar: {groupWidth: "60%"},
        legend: { position: "none"},
        vAxis: {
    format: '#',
    title : 'Questions',
    gridlines: { count: 4 }
    
   },

  hAxis: {
    format: '#',
    title : 'Answers'
//    baseline:'automatic'
     }
                

      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
</script>
<?php }else{?>
<script type="text/javascript">
    //$("#columnchart_values").html("");
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawAnthonyChart);
  // Callback that draws the pie chart for Anthony's pizza.
   function drawAnthonyChart() {
        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Options');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['<?php echo $quickPollDetail[0]['option1']?>', 1],
          ['<?php echo $quickPollDetail[0]['option2']?>', 2],
          ['<?php echo $quickPollDetail[0]['option3']?>', 3],
          ['<?php echo $quickPollDetail[0]['option4']?>', 4]
        ]);
        // Set options for Anthony's pie chart.
        var options = { title: "Question: " + '<?php echo $quickPollDetail[0]['question'];?>',
                       width:"100%",
                       height:480,
                       is3D: true,
                       pieStartAngle: 100,
                       sliceVisibilityThreshold: .2,
					   legend: { position: "bottom"}

 };

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('columnchart_values'));
        chart.draw(data, options);
  }  
</script>
<?php } ?>
