<?php // echo '<pre>'; print_r($isExist); 
//echo '<pre>'; print_r($msg); 
//die(' kjk'); ?>

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Colorlib Templates">
<meta name="author" content="Colorlib">
<meta name="keywords" content="Colorlib Templates">

<!-- Title Page-->
<title>Registration</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- Icons font CSS-->

<link href="/edbrand/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/edbrand/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="/edbrand/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/edbrand/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="/edbrand/css/main.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<style>
.dobpicker span {
	position: absolute;
	right: 14px;
	top: 47px;
}
.alert-mesg {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
.input-group-registration .select2.select2-container.select2-container--default {
	width: 100% !important;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--multiple:focus {
	min-height: 50px;
	background-color: #fafafa;
	border: 0 none;
	border-radius: 4px;
	cursor: text;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
</style>
</head>
<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <div id="email-alert" style="color:red">
          <div class="text-center" > <?php echo  $this->partial("flash/message"); ?> </div>
        </div>
        <h2 class="title">Registration Form</h2>
        <form  role="form" name="redirect" action="/users/registration"  method="post" id="registrationForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="label">first name</label>
                <input class="input--style-4" type="text" id="fname" name="first_name">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="label">last name</label>
                <input class="input--style-4" type="text" name="last_name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="label">Type of User</label>
                <div class="rs-select2 js-select-simple select--no-search">
                  <select class="select-user-type" id="userType" name="userType" onchange="showDataNew();">
                    <option disabled="disabled" selected="selected">Select User Type</option>
                    <?php foreach ($userRoleType as $key=>$val){ ?>
                    <option value="<?php echo $val['id'] ?>"><?php echo $val['role'] ?></option>
                    <?php } ?>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="label">Email</label>
                <input class="input--style-4" id="emailAddress" type="email" name="email">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="label">Password*</label>
                <input class="input--style-4" type="password" id="password" name="password">
                <small>Must contain at least 4 or more characters</small> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="label">Country Code</label>
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="country_code" id="countryCode">
                    <option value="+91" selected>India (+91)</option>
                    <?php foreach($countryList as $phonecode){?>
                    <!--<option value="<?php echo $val['id'] ?>"><?php echo $val['major'] ?></option>-->
                    
                    <option value="<?php echo '+'.$phonecode['phonecode']?>"><?php echo $phonecode['nicename']." (+".$phonecode['phonecode'].")"?></option>
                    <?php } ?>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="label">Mobile Number</label>
                <input type="tel" class="input--style-4"  name="mobile" id="mobile" maxlength="10">
              </div>
            </div>
          </div>
          <div id="studentregform" class="students registration" style="display:none;">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Parent Email</label>
                  <input class="input--style-4" type="email" name="studentParentEmail" id="studentParentEmail">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Parent Mobile</label>
                  <input class="input--style-4" type="tel" name="studentParentMobile" id="studentParentMobile">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">School</label>
                  <input class="input--style-4" type="text" name="studentSchool" id="studentSchool">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">City</label>
                  <input class="input--style-4" type="text" name="studentCity" id="studentCity">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Class/Grade</label>
                  <input class="input--style-4" type="text" name="studentclass" id="studentclass">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group dobpicker">
                  <label class="label">Date Of Birth</label>
                  <input type="text" class="input--style-4" id="datepicker"  data-date-format="yyyy-mm-dd"  name="studentDob">
                  <span class="fa fa-calendar"></span> </div>
              </div>
              <div class="col-12">
                <div class="form-group input-group-registration" style="width:100%; max-width:550px;">
                  <label class="label">Countries Interested In</label>
                  <select class="js-example-basic-multiple" name="studentIntrestedCountry[]" id="studentIntrestedCountry" multiple="multiple">
                    <?php foreach ($intrestedCountries as $key=>$val){ ?>
                    <option value="<?php echo $val['id'] ?>"><?php echo $val['country'] ?></option>
                    <?php } ?>
                  </select>
                  <small>Can be selected multiple by pressing control key</small> </div>
                <div class="form-group input-group-registration" style="width:100%; max-width:550px;">
                  <label class="label">Majors Interested In</label>
                  <select  class="js-example-basic-multiple" name="studentInterestedMajors[]" id="studentInterestedMajors" multiple="multiple">
                    <?php foreach ($interestedMajors as $key=>$val){ ?>
                    <option value="<?php echo $val['id'] ?>"><?php echo $val['major'] ?></option>
                    <?php } ?>
                  </select>
                  <small>Can be selected multiple by pressing control key</small> </div>
                <div class="form-group input-group-registration" style="width:100%; max-width:550px;">
                  <label class="label">What are you interested to find out more about?</label>
                  <select  class="js-example-basic-multiple" name="studentInterest[]" id="studentInterest" multiple="multiple">
                    <?php foreach ($studentInterest as $key=>$val){ ?>
                    <option value="<?php echo $val['id'] ?>"><?php echo $val['name'] ?></option>
                    <?php } ?>
                  </select>
                  <small>Can be selected multiple by pressing control key</small> </div>
                
                  <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="customCheck1" class="custom-control-input" id="customCheck1">
                    <!--<label class="custom-control-label" for="customCheck1">Please accept <a href="#" data-toggle="modal" data-target="#disclaimerModal">Disclaimer</a></label>-->
                 <label class="custom-control-label" for="customCheck1">I acknowledge the <a href="#" data-toggle="modal" data-target="#disclaimerModal">data privacy disclaimer</a></label>
                 
                  </div>
                </div>
                  
                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
              </div>
            </div>
          </div>
          <div id="collegeform" class="college registration" style="display:none;">
            <div class="row">
              <div class="col-12">
                <div class="form-group input-group-registration" style="width:100%; max-width:550px;">
                  <label class="label">Country</label>
                  <div class="rs-select2 js-select-simple select--no-search">
                    <select class="select-user-type"  name="collegeCountry" id="collegeCountry">
                      <option disabled="disabled" selected="selected">Select Country</option>
                      <?php foreach ($collegeAdmissionCountries as $key=>$val){ ?>
                      <option value="<?php echo $val['id'] ?>"><?php echo $val['country'] ?></option>
                      <?php } ?>
                    </select>
                    <div class="select-dropdown"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Designation</label>
                  <input class="input--style-4" type="text" name="collegeDesignation" id="collegeDesignation">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">College Name</label>
                  <input class="input--style-4" type="text" name="college" id="college">
                </div>
              </div>
            </div>
            <div class="input-group input-group-registration" style="width:100%; max-width:550px;">
              <label class="label">Interested In Meeting</label>
              <select class="js-example-basic-multiple" name="InterestedCollegeMeeting[]" id="InterestedCollegeMeeting" multiple="multiple">
                <?php foreach ($interestedMeetings as $key=>$val){ ?>
                <option value="<?php echo $val['id'] ?>"><?php echo $val['meeting'] ?></option>
                <?php } ?>
              </select>
              <small>Can be selected multiple by pressing control key</small> </div>
            <div class="input-group input-group-registration" style="width:100%; max-width:550px;">
              <label class="label">Popular Majors</label>
              <select class="js-example-basic-multiple" name="collegePopularMajors[]" id="collegePopularMajors" multiple="multiple">
                <?php foreach ($popularMajor as $key=>$val){ ?>
                <option value="<?php echo $val['id'] ?>"><?php echo $val['name'] ?></option>
                <?php } ?>
              </select>
              <small>Can be selected multiple by pressing control key</small> </div>
            
            <!--subject-->
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="customCheck2" class="custom-control-input" id="customCheck2">
                <!--<label class="custom-control-label" for="customCheck2">Please accept <a href="#" data-toggle="modal" data-target="#disclaimerModal">Disclaimer</a></label>-->
                <label class="custom-control-label" for="customCheck2">I acknowledge the <a href="#" data-toggle="modal" data-target="#disclaimerModal">data privacy disclaimer</a></label>
             
              </div>
            </div>
            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
          </div>
          <div id="counsellorsform" class="counsellors registration" style="display:none;">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Organisation Name</label>
                  <input class="input--style-4" type="text" name="CounsellorOrganisation" id="CounsellorOrganisation">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Designation</label>
                  <input class="input--style-4" type="text" name="CounsellorDesignation" id="CounsellorDesignation">
                </div>
              </div>
            </div>
            
            <!--subject-->
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="customCheck3" class="custom-control-input" id="customCheck3">
                <!--<label class="custom-control-label" for="customCheck3">Please accept <a href="#" data-toggle="modal" data-target="#disclaimerModal">Disclaimer</a></label>-->
                <label class="custom-control-label" for="customCheck3">I acknowledge the <a href="#" data-toggle="modal" data-target="#disclaimerModal">data privacy disclaimer</a></label>
           
              </div>
            </div>
            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
          </div>
          <div id="organizationsform" class="organizations registration" style="display:none;">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Organisation Name</label>
                  <input class="input--style-4" type="text" name="organizationsOrganisation" id="organizationsOrganisation">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="label">Designation</label>
                  <input class="input--style-4" type="text" name="organisationDesignation" id="organisationDesignation">
                </div>
              </div>
            </div>
            <div class="input-group input-group-registration" style="width:100%; max-width:550px;">
              <label class="label">Area Of service</label>
              <select  class="js-example-basic-multiple" name="organisationAreaOfService[]" id="organisationAreaOfService" multiple="multiple">
                <?php foreach ($areaOfInterest as $key=>$val){ ?>
                <option value="<?php echo $val['id'] ?>"><?php echo $val['name'] ?></option>
                <?php } ?>
              </select>
              <small>Can be selected multiple by pressing control key</small> </div>
            <div class="input-group input-group-registration" style="width:100%; max-width:550px;">
              <label class="label">Interested In Meeting</label>
              <select  class="js-example-basic-multiple" name="organisationIterestedMeeting[]" id="organisationIterestedMeeting" multiple="multiple">
                <?php foreach ($organisationInterestedMeetings as $key=>$val){ ?>
                <option value="<?php echo $val['id'] ?>"><?php echo $val['name'] ?></option>
                <?php } ?>
              </select>
              <small>Can be selected multiple by pressing control key</small> </div>
            
            <!--subject-->
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="customCheck4" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4">I acknowledge the <a href="#" data-toggle="modal" data-target="#disclaimerModal">data privacy disclaimer</a></label>
              </div>
            </div>
            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <p>Edbrand recognize their responsibilities under the Data Privacy Act, with respect to the data they collect, record, organize, update, use,</p>
        <p>consolidate or destruct from the users. The personal data obtained from this portal is entered and stored within the Edbrand's authorized</p>
        <p>information and communications system and will only be accessed by the authorized personnel. The Ed brand have instituted appropriate</p>
        <p>organizational, technical and physical security measures to ensure the protection of the users’ personal data.</p>
      </div>
    </div>
  </div>
</div>
<!-- Jquery JS--> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
<script src="/edbrand/vendor/jquery/jquery.min.js"></script> 
<!-- Vendor JS--> 
<script src="/edbrand/vendor/select2/select2.min.js"></script> 
<script src="/edbrand/vendor/datepicker/moment.min.js"></script> 
<script src="/edbrand/vendor/datepicker/daterangepicker.js"></script> 

<!-- Main JS--> 
<!--<script src="/edbrand/js/jquery.min.js"></script>--> 

<script src="/edbrand/js/global.js"></script> 
<script src="/edbrand/js/custom.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script> 
<script>
 
     $(document).ready(function (e) {    
     $("#registrationForm").on('submit',(function(e) {
            var fname = $.trim($("#fname").val());
            var userType = $.trim($("#userType").val());
//            alert(userType); return false;
            var email = $.trim($("#emailAddress").val());
            var password = $.trim($("#password").val());
            
            var countryCode        = $.trim($("#countryCode").val());
            var mobile        = $.trim($("#mobile").val());
           
            var studentParentEmail       = $.trim($("#studentParentEmail").val());
            var studentParentMobile  = $.trim($("#studentParentMobile").val());
            var studentSchool=  $.trim($("#studentSchool").val());
            var studentCity=  $.trim($("#studentCity").val());
            
            var studentclass        = $.trim($("#studentclass").val());
            var date        = $.trim($("#datepicker").val());
            var studentIntrestedCountry       = $.trim($("#studentIntrestedCountry").val());
            var studentInterestedMajors  = $.trim($("#studentInterestedMajors").val());
            var collegeCountry=  $.trim($("#collegeCountry").val());
            var college=  $.trim($("#college").val());


            var collegeDesignation        = $.trim($("#collegeDesignation").val());
            var InterestedCollegeMeeting        = $.trim($("#InterestedCollegeMeeting").val());
            var collegePopularMajors       = $.trim($("#collegePopularMajors").val());
            var CounsellorOrganisation  = $.trim($("#CounsellorOrganisation").val());
            var CounsellorDesignation=  $.trim($("#CounsellorDesignation").val());
            var organizationsOrganisation=  $.trim($("#organizationsOrganisation").val());

            var organisationDesignation        = $.trim($("#organisationDesignation").val());
            var organisationAreaOfService        = $.trim($("#organisationAreaOfService").val());
            var organisationIterestedMeeting       = $.trim($("#organisationIterestedMeeting").val());
            var studentInterest =       $.trim($("#studentInterest").val());
             
//
//              if(intRegex.test(mobile) || floatRegex.test(mobile)) {
//                  alert('I am a number');
//               } 
            
           
       if(userType=="1"){     
//          alert('1');return false;   
        if(fname===""){
                alert('First Name is Required');
                return false;
                
        }else if(email===""){
                alert('Email address is Required');
                return false;
                
        }else if(password===""){
                alert('Password is Required');
                return false;
         }else if(countryCode===""){
                alert('countryCode is Required');
                return false;
//         }else if((mobile==="") || (intRegex.test(mobile) || floatRegex.test(mobile))){
             
         } else if(mobile===""){
                alert('Mobile Number is Required');
                return false;
                
        }else if(studentParentEmail===""){
                alert('ParentEmai is Required');
                return false;
        }else if(studentParentMobile===""){
                alert('ParentMobile is Required');
                return false;
        }else if(studentSchool===""){
                alert('School is Required');
                return false;
        }else if(studentCity===""){
                alert('City is Required');
                return false;
        }else if(studentclass===""){
                alert('Class/Grade is Required');
                return false;
        }else if(date===""){
                alert('Date Of Birth is Required');
                return false;
        }else if(studentIntrestedCountry===""){
                alert('Countries Interested In is Required');
                return false;
        }else if(studentInterestedMajors===""){
                alert('Majors Interested In is Required');
                return false;
        }else if(studentInterest===""){
                alert('Student Interests is Required');
                return false;
        }else if(document.getElementById('customCheck1').checked == false){ 
                 alert("Please accept data privacy dislaimer !!"); 
                 return false;
            }
        
    }else if(userType=="2"){       
//            alert('2');return false;
       if(fname===""){
                alert('First Name is Required');
                return false;
                
        }else if(email===""){
                alert('Email address is Required');
                return false;
                
        }else if(password===""){
                alert('Password is Required');
                return false;
         }else if(countryCode===""){
                alert('countryCode is Required');
                return false;
         }else if(mobile===""){
                alert('Mobile Number is Required');
                return false;
                 
                
        }else if(collegeCountry===""){
                alert('Country is Required');
                return false;
        }else if(college===""){
                alert('College Name is Required');
                return false;
        }else if(collegeDesignation===""){
                alert('Designation is Required');
                return false;
        }else if(InterestedCollegeMeeting===""){
                alert('Interested In Meeting is Required');
                return false;
        }else if(collegePopularMajors===""){
                alert('Popular Majors is Required');
                return false;
        }else if(document.getElementById('customCheck2').checked == false){ 
                 alert("Please accept data privacy dislaimer !!"); 
                 return false;
            }
    }else if(userType=="3"){
//           alert('3');return false;
        if(fname===""){
                alert('First Name is Required');
                return false;
                
        }else if(email===""){
                alert('Email address is Required');
                return false;
                
        }else if(password===""){
                alert('Password is Required');
                return false;
         }else if(countryCode===""){
                alert('countryCode is Required');
                return false;
         }else if(mobile===""){
                alert('Mobile Number is Required');
                return false;    
           
        }else if(CounsellorOrganisation===""){
                alert('Organisation Name is Required');
                return false;
        }else if(CounsellorDesignation===""){
                alert('Designation is Required');
                return false;
        }else if(document.getElementById('customCheck3').checked == false){ 
                 alert("Please accept data privacy dislaimer !!"); 
                 return false;
            }
    }else if(userType=="4"){
//        alert('4'); return false;
        if(fname===""){
                alert('First Name is Required');
                return false;
                
        }else if(email===""){
                alert('Email address is Required');
                return false;
                
        }else if(password===""){
                alert('Password is Required');
                return false;
         }else if(countryCode===""){
                alert('countryCode is Required');
                return false;
         }else if(mobile===""){
                alert('Mobile Number is Required');
                return false;    
            
            }else if(organizationsOrganisation===""){
                alert('Organisation Name is Required');
                return false;
        }else if(organisationDesignation===""){
                alert('Designation is Required');
                return false;
        }else if(organisationAreaOfService===""){
                alert('Area Of Service is Required');
                return false;
        }else if(organisationIterestedMeeting===""){
                alert('Iterested In Meeting is Required');
                return false;
        }else if(document.getElementById('customCheck4').checked == false){ 
                 alert("Please accept data privacy dislaimer !!"); 
                 return false;
            }
        
        }
        
        
        
        

     e.preventDefault();
    $.ajax({
                type: "POST",
                url: '/users/saveUsers',
                data:  new FormData(this), 
                datatype:'json',
                contentType: false,       
                 cache: false,             
                processData:false,
    success: function (data) {
//                    alert(data); return false;
                 if(data.send.status==1){
                     
                  window.location.href="/users/thank-you"
                  return true;

                  }else{
                   alert("Email already exist");
                   return false;
                  }
               },
          });
//      $('input').val('').removeAttr('checked').removeAttr('selected');
        
          
          
  }));
     }); 



function showDataNew(){
    
var userType = $("#userType").val();    
//alert(userType); return false;

if(userType=="1"){
    $("#collegeform").hide();  
    $("#counsellorsform").hide();  
    $("#organizationsform").hide();  
    $("#studentregform").show();
  
}else if(userType=="2"){
    $("#studentregform").hide();  
    $("#counsellorsform").hide();  
    $("#organizationsform").hide();
      $("#collegeform").show();  
}else if(userType=="3"){
     $("#studentregform").hide();  
     $("#collegeform").hide();  
     $("#organizationsform").hide();
     $("#counsellorsform").show();  
}else{
      $("#studentregform").hide();  
     $("#collegeform").hide();  
     $("#counsellorsform").hide();
      $("#organizationsform").show();  
    
}
}

$(function () {
  $("#datepicker").datepicker({ 
        autoclose: true, 
        todayHighlight: true,
        endDate: "today", 
        maxDate: "today",     
  }).datepicker('update', new Date());
});

$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});

  $('.js-example-basic-multiple').select2({dropdownParent: $('.input-group-registration')}); 
</script>
</body>
</html>
<!-- end document-->