    <div class="row">
        <div class="col-12">
          <div class="imatch-title">
            <h3 class="mt-2 mb-0 text-center"><a href="javascript:void(0);" class="float-left"><img src="/eventTap/images/back.svg" width="20" onclick="closereqmeet();" alt=""/></a>Meeting Request</h3>
          </div>
          <p class="text-center mt-2">Your request meeting with <?php echo $name;?></p>
        </div>
      </div>
      <div id="meeting-schedule-success" class="text-center p-5" style="display:none">
          <img src="/eventTap/images/thank-you.svg" width="100" class="mb-3"><br>
          <span id="message"></span>
      </div>
      <div class="row" id="request-meeting-content">
        <div class="col-12 bg-grey mb-2"><div class="form-group m-0"><label class="mb-2 mt-2">Create your own Pitch</label></div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" placeholder="Type here..." id="meetingTitle">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Select Date and Time</label>
            <input class="form-control meeting-date" type="text" placeholder="Please select date and time" id="meetingDate">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" placeholder="Type here..." id="meetingDescrption"></textarea>
          </div>
        </div>
        <div class="col-12"> <a href="javascript:void(0);" class="btn btn-success btn-block text-uppercase mb-4" onclick="sendMeetingRequest();">Send Request</a></div>
      </div>
<script>
$(document).ready(function () {
$('#meetingDate').datetimepicker({
    format:'YYYY-MM-DD HH:mm',
	collapse:true
});
});
</script>
