  <div class="container">
            <div class="row bg-grey">
              <div class="col-12">
                <label class="m-0 p-2">Create your own Pitch</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 d-none">
                <div class="form-group m-0">
                  <label class="mb-3 mt-3">Select an image or video</label>
                  <span class="btn btn-primary fileinput-button rounded-circle mt-2"> <span><i class="fa fa-camera"></i></span>
                  <input type="file" name="files[]" id="files" multiple accept="image/jpeg, image/png, image/gif,">
                  <br />
                  </span> </div>
              </div>
              <div class="col-12 bg-grey mb-3 d-none">
                <div class="form-group row mb-0 pt-2 pb-2">
                  <label class="col col-md-3 d-flex justify-content-center align-items-center"><i class="fa fa-star mr-3"></i>Tip</label>
                  <span class="col col-md-9 text-center">We highly recommend to record videos, it will increase your chance to win a meeting.</span>
                  <div class="file-upload-custom">
                    <output id="Filelist"></output>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" id="meetingTitle" type="text" placeholder="Type here...">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Select Date and Time</label>
                  <input id="meetingDate" class="form-control meeting-date" type="text" placeholder="Please select date and time">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" id="meetingDescrption" rows="3" placeholder="Type here..."></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="text-primary" id="lblMeetingRequestedWithNew"></label>
                  <label class="text-primary" id="lblMeetingRequestedWithNew_id" style="display:none;"></label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <button class="btn btn-success btn-block text-uppercase mb-0 mt-3" onclick="sendMeetingRequest();">Send Request</button>
                </div>
              </div>
            </div>
          </div>