<!--<div class="modal-header bg-white text-dark">
          <h5 class="modal-title" id="NetworkScheduleMeetingModalLabel">Schedule Meeting</h5>
          <button type="button" class="close"  aria-label="Close"> <span aria-hidden="true"><img onclick="closeselectattendeeForNetwork();" src="/eventTap/images/close.svg" width="20" alt=""/></span> </button>
        </div>
        <div id="network-schedule-meeting" class="modal-body p-0">
          <div class="container">
            <div class="row bg-grey">
              <div class="col-12">
                <label class="m-0 p-2">Create your own Pitch</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 d-none">
                <div class="form-group m-0">
                  <label class="mb-3 mt-3">Select an image or video</label>
                  <span class="btn btn-primary fileinput-button rounded-circle mt-2"> <span><i class="fa fa-camera"></i></span>
                  <input type="file" name="files[]" id="files" multiple accept="image/jpeg, image/png, image/gif,">
                  <br />
                  </span> </div>
              </div>
              <div class="col-12 bg-grey mb-3 d-none">
                <div class="form-group row mb-0 pt-2 pb-2">
                  <label class="col col-md-3 d-flex justify-content-center align-items-center"><i class="fa fa-star mr-3"></i>Tip</label>
                  <span class="col col-md-9 text-center">We highly recommend to record videos, it will increase your chance to win a meeting.</span>
                  <div class="file-upload-custom">
                    <output id="Filelist"></output>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" id="meetingTitleAttende" type="text" placeholder="Type here...">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Select Date and Time</label>
                  <input id="meetingDateAttende" class="form-control meeting-date" type="text" placeholder="Please select date and time">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" id="meetingDescrptionAttende" rows="3" placeholder="Type here..."></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <button class="btn btn-success btn-block text-uppercase mb-0 mt-3" onclick="sendMeetingRequestAttende();">Send Request</button>
                </div>
              </div>
            </div>
          </div>
        </div>-->
<div class="row">
        <div class="col-12">
          <p class="text-center mt-2">Your request meeting with <?php echo $name;?></p>
        </div>
      </div>
<div class="row bg-grey">
        <div class="col-12">
          <label class="m-0 p-2">Create your own Pitch</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 d-none">
          <div class="form-group m-0">
            <label class="mb-3 mt-3">Select an image or video</label>
            <span class="btn btn-primary fileinput-button rounded-circle mt-2"> <span><i class="fa fa-camera"></i></span>
            <input type="file" name="files[]" id="files" multiple accept="image/jpeg, image/png, image/gif,">
            <br>
            </span> </div>
        </div>
        <div class="col-12 bg-grey mb-3 d-none">
          <div class="form-group row mb-0 pt-2 pb-2">
            <label class="col col-md-3 d-flex justify-content-center align-items-center"><i class="fa fa-star mr-3"></i>Tip</label>
            <span class="col col-md-9 text-center">We highly recommend to record videos, it will increase your chance to win a meeting.</span>
            <div class="file-upload-custom">
              <output id="Filelist"></output>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" id="meetingTitleAttende" type="text" placeholder="Type here...">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Select Date and Time</label>
            <input id="meetingDateAttende" class="form-control meeting-date" type="text" placeholder="Please select date and time">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" id="meetingDescrptionAttende" rows="3" placeholder="Type here..."></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <button class="btn btn-success btn-block text-uppercase mb-0 mt-3" onclick="sendMeetingRequestAttende();">Send Request</button>
          </div>
        </div>
      </div>
<script>
$(document).ready(function () {
$('#meetingDateAttende').datetimepicker({
    format:'YYYY-MM-DD HH:mm',
	collapse:true
});
});
</script>