<div class="col-12 text-center mt-4">
        <p><strong>Please Enter QR Code Here.</strong></p>
        <input class="form-control" id="qrCode" name="qrCode"  autofocus>
      </div>
      <div class="col-12 pt-5 mt-4 mb-4">
        <button class="btn btn-submit btn-block btn-primary" onClick="showpollquestion();">Submit</button>
      </div>