<input type="hidden" name="page" id="currentPage" value="<?php echo $this->results['page'];?>">
<div class="row">
  <?php 
//if($this->results['page']==1){
//       
//        $page = $this->results['page'];
//    }else{
//        $page = ($this->results['page']-1)*$this->results['pageCount'];  
//        $page+=1;
//    }
        foreach ($this->results['allData'] as $result){ ?>
  <div class="col-12 col-md-4 col-lg-3">
    <div class="single-speakers col-eq draw meet" data-toggle="modal" data-target="#speakerModal" onclick="appendUserDetail('<?php echo base64_encode($result['userId']);?>','speaker');">
      <div class="img-holder">
        <div class="img-container"><img src="<?php echo $mediaUrl."profile/".$result['userId'].".png"?>" class="img-fluid" alt=""></div>
      </div>
      <div class="info">
        <h3><?php echo $result['firstName'];?></h3>
        <span class="position"><?php echo $result['designation'];?></span> <span class="company">
        <?php  $result['companyName'];?>
        </span>
        <p><?php echo $result['country'];?></p>
      </div>
    </div>
  </div>
  <?php
             //$page++;
         } ?>
</div>
<div class="pagination-centered">
  <?php
   // add at the end of the file after the table
   echo $this->paginationControl(
   // the paginator object
  $this->paginator, 
  // the scrolling style
   'sliding', 
  // the partial to use to render the control
  'layout/pagination.phtml', 
   // the route to link to when a user clicks a control link
   array('route'=>'users','action' => 'speaker-data-list'));
 ?>
</div>
<script type="text/javascript">
var maxHeight = 0;

jQuery(".col-eq").each(function(){
   if (jQuery(this).outerHeight() > maxHeight) { maxHeight = jQuery(this).outerHeight(); }
});

jQuery(".col-eq").outerHeight(maxHeight);


jQuery(window).resize(function(){
   jQuery(".col-eq").outerHeight(maxHeight);
});

</script>