<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Colorlib Templates">
<meta name="author" content="Colorlib">
<meta name="keywords" content="Colorlib Templates">

<!-- Title Page-->
<title>Registration</title>


<!-- Icons font CSS-->
<link href="/edbrand/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/edbrand/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="/edbrand/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/edbrand/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="/edbrand/css/main.css" rel="stylesheet" media="all">
</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" style="display:flex; justify-content:center; align-items:center;">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body text-center" style="display:flex; justify-content:center; align-items:center;">
      <div><img src="/edbrand/images/thank-you.svg" class="" width="110" style="display: block; margin: 0 auto 20px;">
       <!--<p class="text-center">Congratulations !! You have successfully registered with us.</p>-->
        <p class="text-center">Thank you for Registering. We look forward to seeing you at collEDGE Fair on the 21st of August.</p>
      
       
  </div>
      </div>
    </div>
  </div>
</div>


<!-- Jquery JS--> 
<script src="/edbrand/vendor/jquery/jquery.min.js"></script> 
<!-- Vendor JS--> 
<script src="/edbrand/vendor/select2/select2.min.js"></script> 
<script src="/edbrand/vendor/datepicker/moment.min.js"></script> 
<script src="/edbrand/vendor/datepicker/daterangepicker.js"></script> 


<!-- Main JS--> 
<script src="/edbrand/js/global.js"></script> 






</body>
</html>
<!-- end document-->