<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<title>Quick Poll</title>
<style>
html, body
{
	background-color: #ededed;
	font-family: 'Roboto', sans-serif;
}
.answer-choice .list-group-item-secondary
{
	color: #202020;
	background-color: #d5d5d5;
	border-color: #fff;
}
.answer-choice .list-group-item
{
	padding: .75rem 1.25rem;
	margin-bottom: 10px;
	border-radius: 5px;
}
.answer-choice .list-group-item:first-child, .answer-choice .list-group-item:last-child { border-radius: 5px; }
ul.answer-choice li
{
	font-size: 18px;
	font-weight: 500;
}
.answer-choice .custom-control
{
	min-height: 1.75rem;
	padding-left: 1.75rem;
}
.answer-choice .custom-control-label::before
{
	top: .05rem;
	left: -1.5rem;
	width: 1.75rem;
	height: 1.75rem;
	content: "0";
	background-color: #6c6c6c;
	border: #adb5bd solid 0px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after { background-image: none; }
.custom-control-input:checked~.custom-control-label::before
{
	color: #fff;
	border-color: #000;
	background-color: #000;
	content: '1';
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before
{
	border-color: transparent;
	box-shadow: none;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before
{
	background-color: #000;
	border-color: transparent;
	outline: 0 none;
}
.custom-control-label:focus { outline: 0 none; }
.chart-col img.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.bg-purple, .bg-yellow, .bg-blue, .bg-green{float:left; width:40px; height:25px; margin-right:20px; vertical-align:middle}
.bg-purple{background-color:#a654da;}
.bg-yellow{background-color:#ddb10a;}
.bg-blue{background-color:#00aaff;}
.bg-green{background-color:#27b60c;}
.chart-stats li {
    margin-bottom: 25px;
    margin-left: 15px;
}
.custom-control-label::after {
    top: .05rem;
    left: -1.5rem;
    width: 1.75rem;
    height: 1.75rem;
}
.custom-control-label {cursor: pointer;}
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mt-3 mb-4"><?php echo $message;?></h2>
    </div>
  </div>
</div>
<script src="/ostrich/js/jquery-1.10.2.min.js"></script>    
<script>
 $(document).ready(function(){
      setTimeout(function() {
       window.location.href = '/quickpollgraph/'+'<?php echo $pera;?>';
      },5000);
    });
</script>    
</body>
</html>