<div class="row">
        <div class="col-md-11 offset-md-1">
          <div class="row p-0 m-0">
            <div class="col-md-4 m-0 p-3 bg-light text-center border-right">
              <div class="profile-img-holder"><img src="<?php echo $mediaUrl."profile/".$userDetail['userId'].".png"?>" alt="" class="modal-img img-fluid"></div>
              <h3 class="modal-name mt-3"><?php echo $userDetail['firstName'];?></h3>
              <p class="text-seagreen" style="font-size: 16px;line-height: 1.2;"> <span class="modal-designation"><?php echo $userDetail['designation'];?></span> <br>
                <span class="modal-company"><?php echo $userDetail['companyName'];?></span> </p>
            </div>
            <div class="col-md-6 p-4 m-0 bg-white">
                <button type="button" class="close"  aria-label="Close" onclick="clearmodelpopup('1');"><span aria-hidden="true"><img src="/eventTap/images/close.svg" width="15" alt=""></span> </button>
              <div class="modal-body">
                <div class="desc mt-4"><?php echo $userDetail['description'];?></div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
 $(document).keyup(function(e) {
  if (e.keyCode === 27){
    clearmodelpopup('1');
  } 
});
</script>    