<?php // echo '<pre>'; print_r($getRequest); die(' lol'); ?>
<form id="surveyForm" action="" method="post">
    
    <input type="hidden" name="itemId" value="<?php echo $getRequest['itemId'] ?>"  
    <input type="hidden" name="itemType" value="<?php echo $itemType; ?>"    
          
<div class="row">
            <div class="col-12 pt-4">
              <!--<p><strong>Based on your experience with <span class="highlight">Designing Effective Ticket Tagging to Make Friends and Influence People</span>, how likely are you to recommend this to your fellow attendees?</strong></p>-->
              <p><strong>Based on your experience with <span class="highlight"><?php echo $agendaDetail[0]['title']?></span>, how likely are you to recommend this to your fellow attendees?</strong></p>
            
            </div>
            <div class="col-12 pt-4">
              <div class="feedback-score text-center">
                <div class="rating-system">
                  <input type="radio" name='agenda' id="star5_2"  value="5"/>
                  <label for="star5_2">5</label>
                  <input type="radio" name='agenda' id="star4_2" value="4"/>
                  <label for="star4_2">4</label>
                  <input type="radio" name='agenda' id="star3_2" value="3"/>
                  <label for="star3_2">3</label>
                  <input type="radio" name='agenda' id="star2_2" value="2"/>
                  <label for="star2_2">2</label>
                  <input type="radio" name='agenda' id="star1_2" value="1"/>
                  <label for="star1_2">1</label>
                  <div class="text"></div>
                  <div class="smiley"><img src="/eventTap/images/smiley.png" width="36" height="36" alt=""/></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pt-4">
              <p><strong>Which Speaker would you liked the most?</strong></p>
            </div>
              <?php $i=0;foreach ($speakerList as $list){$i++?>  
<!--            <div class="col-12">
              <p><strong>1- SHAQUILLE  O'NEAL</strong></p>
              <div class="feedback-score text-center pt-4">
                <div class="rating-system">
                  <input type="radio" name='rate[157564juh04]' id="157564juh04-1" value="5"/>
                  <label for="157564juh04-1">5</label>
                  <input type="radio" name='rate[157564juh04]' id="157564juh04-2" value="4"/>
                  <label for="157564juh04-2">4</label>
                  <input type="radio" name='rate[157564juh04]' id="157564juh04-3" value="3"/>
                  <label for="157564juh04-3">3</label>
                  <input type="radio" name='rate[157564juh04]' id="157564juh04-4" value="2"/>
                  <label for="157564juh04-4">2</label>
                  <input type="radio" name='rate[157564juh04]' id="157564juh04-5" value="1"/>
                  <label for="157564juh04-5">1</label>
                  <div class="text"></div>
                  <div class="smiley"><img src="/eventTap/images/smiley.png" width="36" height="36" alt=""/></div>
                </div>
              </div>
            </div>-->


<div class="col-12 mt-4">
      <p><strong><?php echo $i;?>- <?php echo $list['firstName']?></strong></p>
      <div class="feedback-score text-center pt-4">
        <div class="rating-system">
            <input type="radio" name='rate[<?php echo $list['userId']?>]' id="<?php echo $list['userId']."-1"?>" value="5"/>
          <label for="<?php echo $list['userId']."-1"?>">5</label>
          <input type="radio" name='rate[<?php echo $list['userId']?>]' id="<?php echo $list['userId']."-2"?>" value="4"/>
          <label for="<?php echo $list['userId']."-2"?>">4</label>
          <input type="radio" name='rate[<?php echo $list['userId']?>]' id="<?php echo $list['userId']."-3"?>" value="3"/>
          <label for="<?php echo $list['userId']."-3"?>">3</label>
          <input type="radio" name='rate[<?php echo $list['userId']?>]' id="<?php echo $list['userId']."-4"?>" value="2"/>
          <label for="<?php echo $list['userId']."-4"?>">2</label>
          <input type="radio" name='rate[<?php echo $list['userId']?>]' id="<?php echo $list['userId']."-5"?>" value="1"/>
          <label for="<?php echo $list['userId']."-5"?>">1</label>
          <div class="text"></div>
          <div class="smiley"><img src="/techHr/img/smiley.png" width="36" height="36" alt=""/></div>
        </div>
      </div>
    </div>



           <?php }?>     
              
          </div>
          <div class="row">
            <div class="col-12 pt-5 mt-4">
              <!--<button  type="submit" class="btn btn-submit btn-block btn-primary" onClick="showthanku('<?php echo $idArr ?>','<?php echo $userId ?>','<?php echo $speakerList ?>');">Submit</button>-->
             <button  type="submit" class="btn btn-submit btn-block btn-primary">Submit</button>
            </div>
          </div>
            </form>
        

<!--<div id="thank-you" style="display:none;">
          <div class="row">
            <div class="col-12 text-center"> <img src="/eventTap/images/thank-you.svg" width="100" alt=""/>
              <h2 class="mt-3 mb-4">Thank You for your Response.</h2>
            </div>
          </div>
        </div>-->

<script>
  $(document).ready(function (e) { 
   

  
   $("#surveyForm").on('submit',(function(e) {
        e.preventDefault();
    $.ajax({
                type: "POST",
                url: '/users/saveSessionFeedback',
                data:  new FormData(this), 
                datatype:'json',
                contentType: false,       
                 cache: false,             
                processData:false,
    success: function (data) {
//                    alert(data); return false;
        $("#survey-code, #survey-questions").css('display','none'); 	
        $("#thank-you").css('display','block'); 
          return true;
                  
               },
          });
  }));
     });
     
     </script>