<button type="button" class="close"  aria-label="Close" onclick="clearmodelpopupspeaker();"><span aria-hidden="true"><img src="/eventTap/images/close2.svg" width="15" alt=""></span> </button>
<div class="profile-img-holder"><img src="<?php echo $mediaUrl."profile/".$userDetail['userId'].".png"?>" alt="" class="modal-img img-fluid"></div>
<div class="modal-body">
  <h3 class="modal-name"><?php echo $userDetail['firstName'];?></h3>
  <p class="text-seagreen pr-3" style="font-size: 15px;line-height: 1.2;"> <span class="modal-designation"><?php echo $userDetail['designation'];?></span> <br>
    <span class="modal-company"><?php echo $userDetail['companyName'];?></span> </p>
  <div class="desc"><?php echo $userDetail['description'];?></div>
</div>
<!--<div class="row">
  <div class="col-12">
    <div class="row p-0 m-0">
      <div class="col-12 m-0 p-2 bg-light text-center border-right">
       
      </div>
      <div class="col-12 p-4 m-0 bg-white">
        
       
      </div>
    </div>
  </div>
</div>--> 
<script>
 $(document).keyup(function(e) {
  if (e.keyCode === 27){
    clearmodelpopupspeaker();
  } 
});
function clearmodelpopupspeaker(){
  $('#speakerModalNew .speakerdetail').html("");
  $('#speakerModalNew').modal('hide');
  return true;   
}
</script>